.docs-list-main .docs-main-content,
body.section-registry {
    h1 {
        font-family: Gilroy;
        line-height: 1.5;
        font-weight: 400;
        font-size: 30px;
        color: map-get($gray, 950);
        margin: 16px 0;
    }

    div.special-h1 {
        display: inline-block;
    }

    div.h1-gradient {
        width: calc(100% - 32px);
        height: 12px;
        background: linear-gradient(90deg, map-get($brand, "yellow") 0%, map-get($brand, "salmon") 18.23%, map-get($brand, "fuchsia-darker") 38.02%, map-get($brand, "purple") 53.65%, map-get($brand, "violet") 74.48%, map-get($brand, "blue-lighter") 100%);
        opacity: 0.1;
        position: relative;
        top: -34px;
    }

    section.docs-content {
        h1, h2, h3, h4, h5, h6 {
            font-family: Gilroy;
            line-height: 1.5;
        }

        h2, h3, h4, h5, h6 {
            margin: 18px 0 !important;
        }

        h1 + h2,
        h2 + h2,
        h2 + h3,
        h3 + h3,
        h3 + h4,
        h4 + h4,
        h5 + h6,
        h5 + h5,
        h6 + h6 {
            margin-top: 0 !important;
        }

        h1 {
            font-weight: 400;
            font-size: 30px;
            color: map-get($gray, 950);
            margin: 16px 0;
        }

        h2 {
            font-weight: 400;
            font-size: 24px;
            color: map-get($gray, 950);
        }

        h3 {
            font-weight: 600;
            font-size: 21px;
            color: map-get($gray, 950);
        }

        h4 {
            font-weight: 600;
            font-size: 18px;
            color: map-get($gray, 650);
        }

        h5 {
            font-weight: 400;
            font-size: 18px;
            color: map-get($gray, 950);
        }

        h6 {
            font-weight: 600;
            font-size: 16px;
            color: map-get($gray, 600);

        }

        p {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            color: map-get($gray, 950);
            padding: 0 0 12px 0;
            margin: 0;
            line-height: 1.6;
        }

        table {
            margin-bottom: 16px;
        }

        p a:not(.btn-secondary),
        ul li a[href]  {
            color: map-get($brand, "blue");
            background: linear-gradient(90deg,rgba(142, 143, 151, 0),rgba(142, 143, 151, 0)),linear-gradient(90deg,map-get($gray, 450),map-get($gray, 450));
            background-position: 100% 100%,0 100%;
            background-repeat: no-repeat;
            background-size: 100% 0.1em,0 0.1em;
            padding-bottom: 0.2rem;
            transition: background-size .3s;
            transition-timing-function: ease-in;

            &:hover {
                color: map-get($brand, "blue-darker");
                text-decoration: none;
                background-size: 0 0.1em,100% 0.1em;
            }
        }

        div.highlight pre,
        code,
        .font-mono {
            font-family: 'Iosevka';
            font-weight: 400;
        }
    }
}

.docs-list-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .docs-main-nav-toggle-wrapper {
        z-index: 2;

        .docs-main-nav {
            border: none;
            display: block;
            padding-bottom: 24px;
            flex-shrink: 0;
            margin: 0;
            width: 32px;
            flex-basis: 32px;
            overflow-y: auto;
            height: calc(100vh - 38px);
            position: sticky;
            left: 0;
            top: 0;

            nav.main-nav div:first-of-type {
                margin-top: 0;
            }

            nav.main-nav {
                display: none;
                padding: 32px 0 0 0;
            }

            h2,
            ul h2 {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 16px;
                line-height: 14px;
                color: #5f6065;
                margin-top: 22px;
                margin-left: 14px;

                &.featured-packages-heading {
                    margin-top: 6px;
                }

                &.az-packages-heading {
                    margin-top: 0;
                }

                &.api-docs-heading {
                    margin-top: 24px;
                }
            }

            div.featured-packages {
                margin-bottom: 26px;
            }

            div.featured-packages ul,
            div.az-packages ul {
                border-left: #e5e5e9 1px solid;
                margin-left: 8px;
            }

            div.all-packages-icon-link {
                a.all-packages {
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 16px;
                    color: #2f3032;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0 16px 24px 0;
                    padding-bottom: 14px;
                    border-bottom: 1px solid #dcdcdc;
                    gap: 8px;
                }
            }

            ul li a {
                display: flex;
                align-items: center;
                gap: 4px;

                span.count-badge {
                    font-size: 11px;
                    padding: 0px 4px;
                    border: 1px solid #364098;
                    border-radius: 6px;
                }
            }

            @media (min-width: 1280px) {
                width: 240px;
                flex-basis: 240px;
                box-shadow: none;
                margin: 0 6px 0 16px;
                border-right: 1px solid map-get($gray, 150);
                box-shadow: none;
                position: sticky;

                nav.main-nav {
                    display: block !important;
                }
            }
        }

        .docs-nav-toggle {
            z-index: 100;
            width: 32px;
            height: 40px;
            background: $white;
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: map-get($gray, 150);
            box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.08);
            border-radius: 0px 4px 4px 0px;
            cursor: pointer;
            display: flex;
            position: sticky;
            align-items: center;
            justify-content: center;
            margin-top: 94px;
            margin-left: -1px;

            &:hover {
                .docs-nav-toggle-icon {
                    background-color: map-get($gray, 900);
                }
            }
        }

        .docs-main-nav-wrapper {
            position: relative;
            display: flex;
        }

        &.docs-nav-show {
            display: flex;

            .docs-main-nav-wrapper {
                border-right: 1px solid map-get($gray, 150);
            }

            .docs-main-nav-wrapper .docs-main-nav {
                width: 240px;
                flex-basis: 240px;
                overflow-y: auto;
                height: calc(100vh);
                padding-left: 16px;
                background-color: $white;
                box-shadow: 6px 0px 36px rgba(0, 0, 0, 0.08);
                justify-content: space-between;

                @media (min-width: 768) {
                    height: calc(100vh - 38px);
                }
            }

            nav.main-nav {
                display: block !important;
            }
        }

        &.docs-nav-hide {
            .docs-nav-toggle {
                left: 0px;
            }

            &.docs-nav-hide .docs-main-nav-wrapper {
                display: none;
            }
        }

        @media (min-width: 1297px) {
            display: flex;
            position: relative;
            top: 0;

            .docs-nav-toggle {
                display: none;
            }

            + div.docs-main-content-wrapper {
                margin-left: 0;
            }
        }
    }

    .docs-main-content-wrapper {
        display: flex;
        gap: 0;
        justify-content: center;
        flex-grow: 2;
        height: fit-content;
        position: relative;
        min-width: 0;

        .docs-content-width-expanded {
            @media (min-width: 1526px) {
                max-width: 1200px !important;
                &.expand-registry {
                    width: 100%;
                    max-width: 1200px !important;
                }
            }
        }

        .docs-content-width-collapsed {
            @media (min-width: 1526px) {
                max-width: 700px !important;
            }
        }

        .docs-main-content {
            min-width: 0;
            flex-shrink: 1;
            flex-grow: 1;
            width: 700px;
            max-width: 700px;
            min-width: 0;
            margin: 32px 24px 0 16px;
            padding-bottom: 24px;
            min-height: 100vh;

            @media (min-width: 1024px) {
                max-width: 634px;
                flex-direction: column;
            }

            @media (min-width: 1280px) {
                margin-left: 24px;
                max-width: 700px;
                min-width: 0;
            }

            &.registry-package-list {
                max-width: 1064px;
                width: 1064px;
            }
        }

        .docs-table-of-contents {
            max-width: 700px;
            min-width: 0;
            display: flex;

            .table-of-contents {
                display: none;
            }

            .content {
                display: flex;
            }

            .table-of-contents,
            .content {
                flex-direction: column;
                flex: auto;
            }

            label {
                display: flex;
                cursor: pointer;
            }

            .icon-heading-wrapper {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
            }

            .heading {
                justify-content: space-between;
                flex: auto;
            }

            .content {
                border: none;
                margin: 0;
                padding: 0
            }

            div.expand-more-18-18 {
                display: flex;
            }

            .table-of-contents {
                border-top: 1px solid map-get($gray, 150);
                border-bottom: 1px solid map-get($gray, 150);
                padding: 8px 0;
            }

            @media (min-width: 1024px) {
                width: 240px;
            }

            @media (min-width: 1280px) {
                min-width: 340px;
            }
        }

        .docs-toc-mobile {
            display: flex;

            div.table-of-contents {
                display: flex;
                margin-bottom: 16px;
            }
        }

        .table-of-contents-feedback,
        #docsFeedbackContainer,
        .docs-marketing-ad,
        .docs-toc-desktop {
            display: none;
        }


        @media (min-width: 1024px) {
            flex-direction: row;
            gap: 24px;

            .docs-main-content .docs-toc-mobile {
                display: none;
            }

            .docs-main-content .docs-toc-desktop {
                display: flex;
            }

            .table-of-contents-list {
                display: flex;
            }

            .table-of-contents-feedback,
            #docsFeedbackContainer,
            .docs-marketing-ad  {
                display: block;
            }

            .docs-table-of-contents {
                margin-top: 38px;
                padding: 16px 0 16px 0;
                overflow-y: auto;
                height: 90vh;
                position: sticky;
                top: 94px;
                display: block;
                margin-right: 10px;

                .table-of-contents {
                    display: flex;
                    border: none;
                    margin: 0;
                    padding: 0;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding-bottom: 24px;
                    margin-bottom: 4px;
                    border-bottom: 1px solid map-get($gray, 300);
                }

                div.expand-more-18-18 {
                    display: none;
                }
            }
        }
    }
}

.docs-list-main,
body.section-registry {
    div#accordion-package-card {
        padding: 18px;
        background: #f9f9f9;
        border: 1px solid #dcdcdc;
        box-shadow: 0px 4px 4px rgba(220, 220, 220, 0.25);
        border-radius: 4px;
        margin-top: 24px;
    }

    div.package-card-top-of-page {
        justify-content: space-between;
        align-items: center;
        display: flex;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        color: #5a5a5a;
        background: transparent;

        div.img-name-version {
            display: flex;
            gap: 24px;
            align-items: center;

            img {
                height: 24px;
            }

            p {
                margin: 0;
            }
        }
    }

    div.table-of-contents div.package-card,
    div#accordion-package-card div.package-card {
        background: #fff;
        border: 1px solid #f2f2f4;
        border-radius: 4px;
        padding: 18px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 24px;

        img {
            height: 24px;
        }

        .note {
            margin: 0;
        }

        div.version-info,
        .note {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 12px;
            color: #131314;
        }

        div.package-link {
            display: flex;
            gap: 8px;

            a {
                display: flex;
                gap: 4px;
                font-family: 'Inter';
                font-weight: 500;
                font-size: 12px;
                color: #4D5BD9;
                align-items: center;

                span {
                    text-decoration-line: underline;
                }
            }
        }
    }

    div#accordion-package-card {
        display: flex;

        > div {
            flex: 1;
        }

        div.package-card-top-of-page {
            flex: 1;
        }

        @media (min-width: 1024px) {
            display: none;
        }
    }

    div#accordion-package-card {
        div.accordion-content,
        input,
        label.hide,
        input:checked ~ label.show  {
            display: none;
        }

        input:checked ~ div.accordion-content,
        input:checked ~ label.hide {
            display: flex;
        }

        div.package-card {
            img {
                display: none;
            }
            box-shadow: none;
            margin-bottom: 0;
            border: none;
            background-color: #fff;
            padding-left: 0;
        }

        @media (min-width: 1024px) {
            div.package-card {
                background-color: #f9f9f9;
            }
        }
    }

    div.table-of-contents {
        display: flex;

        div.package-card {
            display: none;
            box-shadow: 0px 4px 4px 0px #DCDCDC40;

            @media (min-width: 1024px) {
                display: flex;
            }
        }

        div.content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid #dcdcdc;
        }

        .icon-heading-wrapper {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
        }

        div.heading {
            display: flex;
            gap: 8px;
            align-items: center;

            h2 {
                font-family: 'Inter';
                font-weight: 600;
                font-size: 12px;
                color: #8e8f97;
                margin: 0 !important;
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
                position: relative;
                margin: 0;
            }

            li a {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 14px;
                color: #364098;
            }

            li.h3 {
                margin-left: 16px;
            }
        }

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
            ul li.active a {
                font-weight: 700;

                &::before {
                    background-color: #805ac3;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-right: 8px;
                    position: absolute;
                    left: -19px;
                    top: 7px;
                    content: "";
                }
            }
        }
    }

    div#accordion-table-of-contents {
        div.accordion-content,
        input,
        label.hide,
        input:checked ~ label.show  {
            display: none;
        }

        input:checked ~ div.accordion-content,
        input:checked ~ label.hide {
            margin-bottom: 24px;
            display: flex;
        }

        .heading:hover {
            div.icon {
                background-color: map-get($gray, 900);
            }

            .icon-heading-wrapper {
                h2 {
                    color: map-get($gray, 900);
                }
            }
        }

        @media (min-width: 1024px) {
            .accordion-checkbox-table-of-contents,
            label {
                pointer-events: none;
            }

            div.accordion-content {
                display: flex;

                div.content {
                    min-height: 0;
                    overflow-y: auto;
                }
            }

            label {
                margin-bottom: 24px;
            }
        }
    }
}
