div.icon {
    display: block;
    position: relative;
    text-indent: -9999px;
}

div.icon-12-12 {
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
}

div.icon-14-14 {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;   
}


div.icon-16-16 {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;   
}

div.icon-18-18 {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;   
}

div.icon-21-21 {
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
}

div.icon-24-24 {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}

div.icon-32-32 {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}

div.icon-35-35 {
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
}

div.icon-52-16 {
    width: 52px;
    height: 16px;
    background-size: 52px 16px;
}

div.icon-78-24 {
    width: 78px;
    height: 24px;
    background-size: 78px 24px;
}

div.badge-gray {
    background: url(/images/docs/icons/badge-gray.svg);
}

div.recycle-gray-21-21 {
    background: url(/images/docs/icons/recycle-gray-21-21.svg);
}

div.recycle-gray-24-24 {
    background: url(/images/docs/icons/recycle-gray-24-24.svg);
}

div.question-medium-gray {
    background: url(/images/docs/icons/question-medium-gray.svg);
}

div.ruler-triangle-gray {
    background: url(/images/docs/icons/ruler-triangle-gray.svg);
}

div.puzzle-piece-gray {
    background: url(/images/docs/icons/puzzle-piece-gray.svg);
}

div.right-arrow-gray {
    background: url(/images/docs/icons/right-arrow-gray.svg);
}

div.play-blue {
    background: url(/images/docs/icons/play-blue.svg);
}

div.question-small-black {
    background: url(/images/docs/icons/question-small-black.svg);
}

div.book-small-black {
    background: url(/images/docs/icons/book-small-black.svg);
}

div.gear-small-black {
    background: url(/images/docs/icons/gear-small-black.svg);
}

div.page-small-black {
    background: url(/images/docs/icons/page-small-black.svg);
}

div.github-small {
    background: url(/images/docs/icons/github-small.svg);
}

div.light-bulb-small-gray {
    background: url(/images/docs/icons/light-bulb-small-gray.svg);
}

div.aws-18-18 {
    background: url(/images/docs/icons/clouds/aws-18-18.svg);
}

div.google-cloud-18-18 {
    background: url(/images/docs/icons/clouds/google-cloud-18-18.svg);
}

div.digitalocean-18-18 {
    background: url(/images/docs/icons/clouds/digitalocean-18-18.svg);
}

div.aws-35-35 {
    background: url(/images/docs/icons/clouds/aws-35-35.svg);
}

div.azure-52-16 {
    background: url(/images/docs/icons/clouds/azure-52-16.svg);
}

div.azure-78-24 {
    background: url(/images/docs/icons/clouds/azure-78-24.svg);
}

div.google-cloud-35-35 {
    background: url(/images/docs/icons/clouds/google-cloud-35-35.svg);
}

div.kubernetes-35-35 {
    background: url(/images/docs/icons/clouds/kubernetes-35-35.svg);
}

div.keyboard-arrow-down-gray {
    background: url(/images/docs/icons/keyboard-arrow-down-gray.svg);
}

div.keyboard-arrow-up-gray {
    background: url(/images/docs/icons/keyboard-arrow-up-gray.svg);
}

div.open-docs-main-nav {
    background: url(/images/docs/icons/open-docs-main-nav.svg);
    -webkit-mask-image: url(/images/docs/icons/open-docs-main-nav.svg);
    mask-image: url(/images/docs/icons/open-docs-main-nav.svg);
}

div.close-docs-main-nav {
    background: url(/images/docs/icons/close-docs-main-nav.svg);
    -webkit-mask-image: url(/images/docs/icons/close-docs-main-nav.svg);
    mask-image: url(/images/docs/icons/close-docs-main-nav.svg);
}

div.expand-more-18-18 {
    background: url(/images/docs/icons/expand-more-18-18.svg);
    -webkit-mask-image: url(/images/docs/icons/expand-more-18-18.svg);
    mask-image: url(/images/docs/icons/expand-more-18-18.svg);
}

div.customize-expand-more-18-18 {
    background: url(/images/docs/icons/customize-expand-more-18-18.svg);
    -webkit-mask-image: url(/images/docs/icons/customize-expand-more-18-18.svg);
    mask-image: url(/images/docs/icons/customize-expand-more-18-18.svg);
}

div.customize-expand-less-18-18 {
    background: url(/images/docs/icons/customize-expand-less-18-18.svg);
    -webkit-mask-image: url(/images/docs/icons/customize-expand-less-18-18.svg);
    mask-image: url(/images/docs/icons/customize-expand-less-18-18.svg);
}

div.icon-on-this-page {
    background: url(/icons/on-this-page.svg);
    -webkit-mask-image: url(/icons/on-this-page.svg);
    mask-image: url(/icons/on-this-page.svg);
}

div.robot-outline {
    background: url(/images/docs/icons/robot-outline.svg);
    top: -1px;
}

div.book-outline {
    background: url(/images/docs/icons/book-outline.svg);
    top: -1px;
}

div.packages-outline {
    background: url(/images/docs/icons/packages-outline.svg);
    top: -1px;
}

div.keyboard-arrow-right-gray {
    background: url(/images/docs/icons/keyboard-arrow-right-gray.svg);
}

div.keyboard-arrow-down-gray-14-14 {
    background: url(/images/docs/icons/keyboard-arrow-down-gray-14-14.svg);
}

div.icon-pulumi-logo {
    background: url(/images/docs/footer/pulumi-dark-logo.svg);
    margin-right: 12px;
}

div.arrow-back-gray-14-14 {
    background: url(/images/docs/icons/arrow-back-gray-14-14.svg);
}

div.lightbulb-16-16 {
    background: url(/images/docs/icons/lightbulb-16-16.svg);
}

div.grad-cap-18-18 {
    background: url(/images/docs/icons/grad-cap-18-18.svg);
}

div.width-expand-18-18 {
    &:hover {
        filter: unset;
    }
    // gray 800 equivalent.
    filter: invert(22%) sepia(6%) saturate(94%) hue-rotate(201deg) brightness(94%) contrast(86%);
    background: url(/images/docs/icons/width-expand.svg);
}

div.width-collapse-18-18 {
    &:hover {
        filter: unset;
    }
    // gray 800 equivalent.
    filter: invert(22%) sepia(6%) saturate(94%) hue-rotate(201deg) brightness(94%) contrast(86%);
    background: url(/images/docs/icons/width-collapse.svg);
}

div.swap-blue-21-21 {
    background: url(/images/docs/icons/swap-blue-21-21.svg);
}

div.terminal-blue-21-21 {
    background: url(/images/docs/icons/terminal-blue-21-21.svg);
}

div.lightbulb-blue-21-21 {
    background: url(/images/docs/icons/lightbulb-blue-21-21.svg);
}

div.code-tree-blue-21-21 {
    background: url(/images/docs/icons/code-tree-blue-21-21.svg);
}

div.cloud-blue-21-21 {
    background: url(/images/docs/icons/cloud-blue-21-21.svg);
}

div.aws-40 {
    background: url(/images/docs/icons/clouds/aws-40.svg);
    width: 68px;
    height: 40px;
    background-size: 68px 40px;
}

div.azure-40 {
    background: url(/images/docs/icons/clouds/azure-40.svg);
    width: 130px;
    height: 40px;
    background-size: 130px 40px;
}

div.google-cloud-40 {
    background: url(/images/docs/icons/clouds/google-cloud-40.svg);
    width: 253px;
    height: 40px;
    background-size: 253px 40px;
}

div.kubernetes-40 {
    background: url(/images/docs/icons/clouds/kubernetes-40.svg);
    width: 234px;
    height: 40px;
    background-size: 234px 40px;
}

div.dotnet-color-32-32 {
    background: url(/images/docs/icons/languages/dotnet-color-32-32.svg);
}

div.go-color-32-32 {
    background: url(/images/docs/icons/languages/go-color-32-32.svg);
}

div.java-color-32-32 {
    background: url(/images/docs/icons/languages/java-color-32-32.svg);
}

div.node-color-32-32 {
    background: url(/images/docs/icons/languages/node-color-32-32.svg);
}

div.python-color-32-32 {
    background: url(/images/docs/icons/languages/python-color-32-32.svg);
}

div.yaml-color-32-32 {
    background: url(/images/docs/icons/languages/yaml-color-32-32.svg);
}