div.table-of-contents {
    display: none;

    div.content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid #dcdcdc;
    }

    div.heading {
        display: flex;
        gap: 8px;
        align-items: center;

        h2 {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 12px;
            color: #8e8f97;
            margin: 0 !important;
        }
    }

    div.icon {
        display: block;
        text-indent: -9999px;
    }

    div.icon-12-12 {
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
    }

    div.icon-on-this-page {
        background: url(/icons/on-this-page.svg);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
            position: relative;
            margin: 0;
        }

        li a {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            color: #364098;
        }

        li.h3 {
            margin-left: 16px;
        }

        li.active a {
            font-weight: 700;

            &::before {
                background-color: #805ac3;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 8px;
                position: absolute;
                left: -19px;
                top: 7px;
                content: "";
            }
        }
    }
}

