{{ define "hero" }}
    <header class="header-hero">
        <div class="container mx-auto text-center flex-col">
            <img class="block mx-auto max-w-xs lg:max-w-md mb-12" src="/images/product/PulumiCrosswalkWhite.png">
            <h1>Well-Architected Infrastructure as Code for AWS</h1>
            <p>
                The easiest way to AWS &mdash; from development to production.
            </p>
            <span>
                <a data-tracking-id="crosswalk-aws-read-blog" class="mx-auto font-bold text-xl" href="{{ relref . "/blog/introducing-pulumi-crosswalk-for-aws-the-easiest-way-to-aws" }}">Read the blog</a>.
            </span>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <nav class="nav-section-sticky">
        <div class="container mx-auto uppercase">
            <ul>
                <li><a data-tracking-id="crosswalk-aws-anchor-benefits" href="#benefits">Benefits </a></li>
                <li><a data-tracking-id="crosswalk-aws-anchor-case-study" href="#case-study">Case Study </a></li>
                <li><a data-tracking-id="crosswalk-aws-anchor-architecture" href="#architecture">Architecture </a></li>
                <li><a data-tracking-id="crosswalk-aws-anchor-application" href="#applications">Applications </a></li>
                <li><a data-tracking-id="crosswalk-aws-anchor-infrastructure" href="#infrastructure">Infrastructure</a></li>
            </ul>
        </div>
    </nav>

    <section id="benefits" class="py-16 px-4 px-4">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl mb-8">
                <div class="md:w/13 p-4">
                    <img class="inline-block h-10 mb-4" src="/icons/immutable_infastrc_icon.svg">
                    <h3 class="mt-2">Easiest Way to AWS</h3>
                    <p class="text-sm text-gray-600">
                        Provision services that are Well-Architected by default. Benefit
                        from patterns that worked for customers who have gone to
                        production. Easy to get started, and easy to do the right thing.
                    </p>
                </div>
                <div class="md:w/13 p-4 md:mx-8">
                    <img class="inline-block h-10 mb-4" src="/icons/reusable-component.svg">
                    <h3 class="mt-2">Desktop to Production</h3>
                    <p class="text-sm text-gray-600">
                        Best in class productivity means you can rapidly deploy
                        applications and infrastructure, with the confidence that what you
                        build is production ready out-of-the-box.
                    </p>
                </div>
                <div class="md:w/13 p-4">
                    <img class="inline-block h-10 mb-4" src="/icons/realCode_icon.svg">
                    <h3 class="mt-2">Use Familiar Languages</h3>
                    <p class="text-sm text-gray-600">
                        Pulumi's unique approach to infrastructure as code uses familiar
                        languages you already know and love, meaning you can use your
                        favorite tools and engineering practices.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="case-study" class="bg-gray-200 py-16 px-4">
        <div class="container mx-auto text-center px-4">
            <div class="flex justify-center mb-4">
                <img class="md:max-w-sm" src="/logos/customers/tableau_logo.png" alt="Tableau Software">
            </div>
            <blockquote class="border-orange-500 italic text-gray-800 mb-8 max-w-5xl mx-auto">
                We've been happily using Pulumi’s EKS support for more than three months
                now. Our team was looking for an end-to-end solution to tame the
                complexity of Kubernetes on AWS and ensure we adhere to AWS best
                practices. Pulumi’s Crosswalk effort has equipped our team to scale far
                better than the alternative approaches of home-grown solutions, scripts
                and DSLs. Our delivery is now automated and we can now deliver new
                application and infrastructure features with much faster turn-around,
                sometimes in just a few hours. Pulumi is a key contributor to our team’s
                improvement in productivity.
            </blockquote>
            <div class="text-sm">
                <div class="text-black font-bold">Pankaj Dhingra, Senior Director of Cloud Engineering</div>
                <a data-tracking-id="crosswalk-aws-tableau" class="link" href="http://tableau.com/">Tableau Software</a>
            </div>
        </div>
    </section>

    <section id="architecture" class="py-16 px-4">
        <div class="container mx-auto">
            <img class="block mx-auto lg:max-w-5xl" src="/images/docs/reference/crosswalk/aws/arch.png" alt="Pulumi Crosswalk architecture">
        </div>
    </section>

    <section id="applications" class="bg-gray-200 py-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Containers and Serverless</h2>
                    <p>
                        Get up and running on "day one" with containers -- using Amazon
                        Elastic Container Service (ECS), including "Fargate" or Kubernetes
                        (EKS) -- or serverless -- using AWS Lambda or API Gateway. Benefit
                        from secure and reliable defaults, and customize only where you
                        need to.
                    </p>
                    <p>
                        With Pulumi's unique approach to infrastructure as code, you'll
                        focus more on code and business logic, and less on YAML or DSL
                        configuration languages.
                    </p>
                    <p>
                        <a data-tracking-id="crosswalk-aws-containers-get-started" class="btn inline-block my-2" href="{{ relref . "/docs/guides/crosswalk/aws" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `// Create a load balanced ECS "Fargate" service.
import * as awsx from "@pulumi/awsx";

// Spin up two instances of NGINX on port 80.
const lb = new awsx.lb.ApplicationListener("nginx", { port: 80 });
const nginx = new awsx.ecs.FargateService("nginx", {
    taskDefinitionArgs: {
        containers: {
            nginx: {
                image: "nginx",
                memory: 128,
                portMappings: [ lb ],
            },
        },
    },
    desiredCount: 2,
});

// Export the service's URL so that it's easy to access.
export const url = lb.endpoint.hostname;` }}

                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        </div>
    </section>

    <section id="infrastructure" class="bg-gray-100 py-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Secure Infrastructure as Code</h2>
                    <p>
                        Create, manage, and integrate "day two and beyond" infrastructure
                        for security, networking, clusters, and monitoring. Instead of
                        relearning best practices time and time again, use hardened
                        packages that automatically encapsulate Well-Architected patterns
                        and practices.
                    </p>
                    <p>
                        Pulumi's unique approach to infrastructure as code means you can
                        leverage highly configurable and extensible components to enforce
                        best practices within your team.
                    </p>
                    <p>
                        <a data-tracking-id="crosswalk-aws-secure-get-started" class="btn inline-block my-2" href="{{ relref . "/docs/guides/crosswalk/aws" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `// Create a new VPC with public, private, and isolated subnets.
import * as awsx from "@pulumi/awsx";

// Allocate a new VPC with a public and private subnet per AZ,
// plus two isolated subnets without Internet access, one for our
// DB instances and another for our Redis instances.
const vpc = new awsx.ec2.Vpc("custom", {
    subnets: [
        { type: "public" },
        { type: "private" },
        { type: "isolated", name: "db" },
        { type: "isolated", name: "redis" },
    ],
});

// Export the VPC ID and subnet IDs for easy consumption:
export const vpcId = vpc.id;
export const vpcPrivateSubnetIds = vpc.privateSubnetIds;
export const vpcPublicSubnetIds = vpc.publicSubnetIds;` }}

                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        </div>
    </section>

{{ end }}
