pulumi-chooser {

    // Headless choosers' option lists are hidden.
    &[option-style="none"] {
        > ul {
            display: none;
        }
    }

    // Immediate descendents inherit the display property to allow them to be rendered
    // inline as well.
    > * {
        display: inherit;
    }

    pulumi-choosable {
        display: inherit;
    }
}
