languageCode: en-us
title: Pulumi - Modern Infrastructure as Code

refLinksErrorLevel: WARNING

module:
  imports:
    - path: github.com/pulumi/theme
      mounts:
        - source: assets
          target: assets
        - source: static
          target: static
        - source: layouts
          target: layouts
    - path: github.com/pulumi/registry/themes/default
      mounts:
        - source: content
          target: content
        - source: static
          target: static
        - source: layouts
          target: layouts
        - source: data
          target: data
        - source: assets
          target: assets
    - path: github.com/pulumi/pulumi-hugo/themes/default
      mounts:
        - source: content
          target: content
        - source: static
          target: static
        - source: layouts
          target: layouts
        - source: data
          target: data
        - source: assets
          target: assets
        - source: archetypes
          target: archetypes

security:
  funcs:
    getenv:
      - ASSET_BUNDLE_ID
      - REPO_THEME_PATH
      - PULUMI_CONVERT_URL

disableKinds:
  - category
  - taxonomyTerm

sectionPagesMenu: main
pygmentsCodeFences: true
pygmentsUseClasses: true

# We always generate the robots.txt file. But based on the environment
# built, it may disallow crawling.
enableRobotsTXT: true

# Enabling Git info allows us to have Hugo automatically set the lastmod date in sitemap
# XML with the date the file was last changed (according to Git).
enableGitInfo: true

# Some of our API docs pages are very large with many shortcodes, which can take
# a while to generate (especially in CI), so we raise the limit from the default
# 10 seconds to avoid timeouts when generating the site.
timeout: 300000

outputFormats:
  rss:
    baseName: rss

# We set the outputs explicitly to just "HTML" as otherwise they default to both
# "HTML" and "RSS", and we only want to generate RSS for the blog section -- not
# all sections/taxonomies. We enable RSS as an output for the blog section alone
# in the front matter of content/blog/_index.md and have a custom RSS template
# in layouts/blog/rss.xml.
outputs:
  home:
    - HTML
  section:
    - HTML

taxonomies:
  author: authors
  tag: tags

permalinks:
  authors: /blog/author/:slug/
  tags: /blog/tag/:slug/

markup:
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: false
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      autoHeadingID: true
      autoHeadingIDType: "github"
      attribute:
        block: false
        title: true
    renderer:
      hardWraps: false
      unsafe: true
      xhtml: false

params:
    canonicalURL: https://www.pulumi.com
    contentRepositoryURL: https://github.com/pulumi/pulumi-hugo
    contentRepositoryBaseBranch: master
    registryRepositoryURL: https://github.com/pulumi/registry
    registryRepositoryBaseBranch: master
    meta_desc: |
        Pulumi's open source infrastructure as code SDK enables you to create, deploy,
        and manage infrastructure on any cloud, using your favorite languages.
