{{ define "hero" }}
    <header class="header-hero header-hero-glow">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>{{ .Params.hero.title }}</h1>
                {{ .Params.hero.body | markdownify }}
            </div>
            <div class="header-hero-item">
                {{ partial "code" (dict "code" .Params.hero.code "lang" "js" "mode" "dark" "chrome" true) }}
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{ partial "section-nav" (dict "sections" .Params.sections) }}

    <section id="what-is-container-management" class="py-16 bg-gray-200 px-4">
        <div class="container md:mx-auto md:max-w-4xl">
            <h2>What is Container Management?</h2>
            <p>
                Docker, and containers more generally, transformed the way that developers
                could build, ship, and run applications. As a standardized unit of
                delivery, containers have all of the libraries, code, and runtime
                knowledge they need to work, and so can be deployed and scaled into any
                environment.
            </p>
            <p>
                For DevOps teams, container management is an important capability whether
                delivering containers into bespoke environments, or more likely through a
                managed cloud offering such as AWS Fargate, AWS ECS, and Microsoft ACI, or
                through Kubernetes - either on-premises or AWS EKS, Microsoft AKS, or
                Google GKE.
            </p>
        </div>
    </section>
    <section id="deploying-containers" class="py-16 px-4">
        <div class="container md:mx-auto md:max-w-4xl">
            <h2>Deploying containers with Pulumi</h2>
            <p>
                Container management solutions are broadly split into two options:
                low-management solutions for ease of deployment, and Kubernetes-based
                solutions for complete control.
            </p>
            <h3>Low Cluster Management</h3>
            <p>
                AWS Fargate, and Microsoft ACI are examples of services that enable the
                deployment of containers without having to manage servers or clusters.
                This means teams can very easily build container applications and deploy
                them into production without worrying about infrastructure, but gaining
                the benefits of seamless scaling.
            </p>
            <h3>Kubernetes Management</h3>
            <p>
                While running Kubernetes on-premises is a viable, and well-used solution,
                the major cloud vendors also offer Kubernetes sevices: Amazon EKS,
                Microsoft AKS, and Google GKE.
            </p>
            <p>
                Pulumi makes it simple to interact with any of the services available from
                the major cloud vendors, and with Kubernetes.
            </p>
        </div>
    </section>
    <section id="code" class="py-16 bg-gray-200 px-4">
        {{ range .Params.examples }}
            <div class="container md:mx-auto md:flex">
                <div class="md:w-1/2">
                    <h2>{{ .title }}</h2>
                    <p>
                        {{ .body | safeHTML }}
                    </p>
                    <a class="btn inline-block my-2" href="{{ .cta.url }}">
                        {{ .cta.label }}
                    </a>
                </div>
                <div class="md:w-1/2">
                    {{ partial "code" (dict "code" .code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        {{ end }}
    </section>

    {{ partial "how-pulumi-works.html" . }}

    {{ partial "get-started.html" . }}

    {{ partial "form-section" (dict "form" .Params.contact_us_form) }}

    {{ partial "more-from-pulumi.html" . }}
{{ end }}
