:host {
  display: block;
}

pulumi-event-list-item {
  width: 420px;
}

.event-list-filter {
  ul {
    padding: 0.5rem;

    @media (min-width: 640px) {
      padding: 0;
    }
  }

  li {
    cursor: pointer;

    &.active {
      i, p {
        color: #52A6DA;
      }
    }

    &:hover {
      i, p {
        color: #52A6DA;
      }
    }

    .event-filter-item p {
      display: hidden;

      @media (min-width: 640px) {
        display: block;
      }
    }
  }
}
