<section class="mt-8 px-4 md:px-0">
    <div class="container mx-auto max-w-4xl">
        <h3>Pulumi Insights</h3>
        <p class="py-4">
            Use Pulumi Insights to gain visibility into your cloud infrastructure's configuration to assess {{ .Params.framework }} compliance.
            Pulumi Insights is Intelligence for Infrastructure as Code. It adds advanced search, analytics, and AI to 
            infrastructure as code.
        </p>
        <img src="https://www.pulumi.com/uploads/pulumi-insights-search.gif" />
        <p class="py-4">
            Use Copilot to assist configuring your infrastructure to make it compliance ready. You can tap into the Pulumi Copilot's
            deep understanding of your organization's context to gain visibility into the configuration of resources and assess their
            compliance.
        </p>
        <img src="/images/compliance/co-pilot-1.png" />
    </div>
</section>


<section class="mt-8 py-4 px-4 md:px-0">
    <div class="container mx-auto max-w-4xl">
        <h3>Compliance Ready Policies</h3>
        <p class="py-4">
            With comprehensive coverage of {{ .Params.cloud }}, <a href="/docs/using-pulumi/crossguard/compliance-ready-policies/">Pulumi Compliance Ready Policies</a>
            provide an enhanced level of control and governance over your cloud resources.
        </p>
    </div>
</section>

<section id="sa-form" class="container mx-auto justify-center text-center m-4">
    <div class="w-full flex flex-col items-center lg:w-1/2 card bg-white mx-auto p-8">
        <h3>Talk to a Solutions Architect</h3>
        <p>Get in touch with our Solutions Architects to get all your resources in use with Pulumi Insights</p>
        <pulumi-hubspot-form form-id="e4258f4f-359c-471b-8d2d-cdb81ad45f3d"></pulumi-hubspot-form>
    </div>
</section>
