<section class="mt-8 px-4 md:px-0">
    <div class="container mx-auto max-w-4xl">
        <h3>Pulumi Insights</h3>
        <p class="py-4">
            Use Pulumi Insights to gain visibility into your cloud infrastructure's configuration to assess compliance.
            Pulumi Insights is Intelligence for Infrastructure as Code. It adds advanced search, analytics, and AI to 
            infrastructure as code.
        </p>
        <img src="https://www.pulumi.com/uploads/pulumi-insights-search.gif" />
        <p class="py-4">
            Use Copilot to assist configuring your infrastructure to make it compliance ready. You can tap into the Pulumi Copilot's
            deep understanding of your organization's context to gain visibility into the configuration of resources and assess their
            compliance.
        </p>
        <img src="/images/compliance/co-pilot-1.png" />
    </div>
</section>


<section class="mt-8 py-4 px-4 md:px-0">
    <div class="container mx-auto max-w-4xl">
        <h3>Compliance Ready Policies</h3>
        <p class="py-4">
            With comprehensive coverage of {{ .Params.cloud }}, Pulumi Compliance Ready Policies
            provide an enhanced level of control and governance over your cloud resources.
        </p>
    </div>
</section>
