{{ define "hero" }}
    <header class="header-hero">
        <div class="container mx-auto text-center flex-col">
            <img class="block mx-auto max-w-xs lg:max-w-md mb-12" src="/images/product/PulumiCrosswalkK8sWhite.png">
            <h1>Production-Ready Kubernetes for Teams</h1>
            <p>
                Work as a team to delivery Kubernetes to any cloud, AWS, Azure, Google Cloud, or private.
            </p>
            <span>
                <a class="mx-auto font-bold text-xl" href="{{ relref . "/blog/crosswalk-kubernetes" }}">Read the blog</a>.
            </span>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <nav class="nav-section-sticky">
        <div class="container mx-auto uppercase">
            <ul>
                <li><a href="#benefits">Benefits </a></li>
                <li><a href="#case-study">Case Study </a></li>
                <li><a href="#architecture">Architecture </a></li>
                <li><a href="#infrastructure">Infrastructure</a></li>
                <li><a href="#applications">Applications </a></li>
            </ul>
        </div>
    </nav>

    <section id="benefits" class="py-16 px-4 md:px-0 px-4 md:px-0">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl mb-8">
                <div class="md:w/13 p-4">
                    <img class="inline-block h-10 mb-4" src="/icons/immutable_infastrc_icon.svg">
                    <h3 class="mt-2">Production-Ready</h3>
                    <p class="text-sm text-gray-600">
                        Create, deploy, and manage clusters and their associated infrastructure
                        in any cloud, including Amazon EKS, Azure AKS, and Google Cloud GKE.
                        Leverage built-in security, scale, and manageability.
                    </p>
                </div>
                <div class="md:w/13 p-4 md:mx-8">
                    <img class="inline-block h-10 mb-4" src="/icons/reusable-component.svg">
                    <h3 class="mt-2">Easy Development</h3>
                    <p class="text-sm text-gray-600">
                        Eliminate walls of YAML and mountains of Bash, using
                        real programming languages and world class tools. Share and
                        reuse patterns with a growing community of practitioners.
                    </p>
                </div>
                <div class="md:w/13 p-4">
                    <img class="inline-block h-10 mb-4" src="/icons/realCode_icon.svg">
                    <h3 class="mt-2">Operational Insights</h3>
                    <p class="text-sm text-gray-600">
                        Continuously deliver your applications and infrastructure, and
                        tackle Day Two and beyond challenges. Gain operational insights
                        in realtime using Cloud Query Language (CQL).
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="case-study" class="bg-gray-200 py-16 px-4 md:px-0">
        <div class="container mx-auto text-center px-4 md:px-0">
            <div class="flex justify-center mb-4">
                <img class="h-20" src="/logos/customers/credijusto_logo.png" alt="Credijusto">
            </div>
            <blockquote class="border-orange-500 italic text-gray-800 mb-8 max-w-5xl mx-auto">
                Pulumi enables our teams to deploy, scale and manage Kubernetes clusters in a
                fraction of the time that it took them previously, by giving them the ability
                to work with the languages they already know, bypassing YAML and unwieldy DSLs.
                It helps bring together application and infrastructure developers by eliminating
                silos and reducing friction in their workflows and interactions. We're excited
                that Pulumi Crosswalk for Kubernetes will simplify our infrastructure provisioning
                even further, advancing application lifecycle management throughout our organization.
            </blockquote>
            <div class="text-sm">
                <div class="text-black font-bold">Fernando Carletti, Head of DevOps</div>
                <a class="link" href="https://credijusto.com/">Credijusto</a>
            </div>
        </div>
    </section>

    <section id="architecture" class="py-16 px-4 md:px-0">
        <div class="container mx-auto">
            <img class="block mx-auto lg:max-w-5xl" src="/images/docs/quickstart/kubernetes/cake.svg" alt="Pulumi Crosswalk for Kubernetes Architecture">
        </div>
    </section>

    <section id="infrastructure" class="bg-gray-200 py-16 px-4 md:px-0">
        <div class="container mx-auto">
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Playbooks for Infrastructure</h2>
                    <p>
                        Create, deploy, and manage production-ready infrastructure leveraging
                        hosted Kubernetes offerings such as Amazon Elastic Kubernetes Service (EKS),
                        Azure Kubernetes Service (AKS), or Google Kubernetes Engine (GKE). Benefit
                        from tried-and-true Day Two and beyond integrations and playbooks, improving
                        your organization's security, manageability, and cost effectiveness.
                    </p>
                    <p>
                        With Pulumi's unique approach to infrastructure as code, you'll
                        focus more on code and business logic, and less on YAML or DSL
                        configuration languages.
                    </p>
                    <p>
                        <a class="btn inline-block my-2" href="{{ relref . "/docs/guides/crosswalk/kubernetes" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `import * as gcp from "@pulumi/gcp";
import * as k8s from "@pulumi/kubernetes";

// Create a GKE cluster.
const cluster = new gcp.container.Cluster("gke-cluster");

// Create a performant node pool in the cluster.
const performantNodes = new gcp.container.NodePool("performant-nodes", {
    cluster: cluster.name,
    nodeConfig: { machineType: "n1-standard-16"}
});

// Create an Apps namespace.
const appsNamespace = new k8s.core.v1.Namespace("apps");

// Create a quota.
const quotaAppNamespace = new k8s.core.v1.ResourceQuota("apps", {
    spec: {hard: {cpu: "200", memory: "1Gi", pods: "10"}},
})

// Create a restrictive PodSecurityPolicy.
const restrictivePSP = new k8s.policy.v1beta1.PodSecurityPolicy("restrictive", {
    spec: { privileged: false,
        runAsUser: { rule: "RunAsAny" }, fsGroup: { rule: "RunAsAny" },
        seLinux: { rule: "RunAsAny" }, supplementalGroups: { rule: "RunAsAny" },
    }
});` }}

                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        </div>
    </section>

    <section id="applications" class="bg-gray-100 py-16 px-4 md:px-0">
        <div class="container mx-auto">
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Simplified Application Configuration</h2>
                    <p>
                        Using libraries, you can focus on the most important parts of
                        your application configuration, eliminating toil and boilerplate.
                        Instead of walls of YAML and mountains of Bash, you can write
                        infrastructure as code in a general purpose language, benefiting
                        from world class tools and ecosystems.
                    </p>
                    <p>
                        Pulumi's unique approach to infrastructure as code means you can
                        also leverage highly configurable and extensible components to enforce
                        best practices within your team.
                    </p>
                    <p>
                        <a class="btn inline-block my-2" href="{{ relref . "/docs/guides/crosswalk/kubernetes" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `import * as kx from "@pulumi/kubernetesx";

// Define a Pod.
const pb = new kx.PodBuilder({
    containers: [{ image: "nginx" }]
});

// Create a Kubernetes Deployment using the previous Pod definition.
const deployment = new kx.Deployment("nginx", {
    spec: pb.asDeploymentSpec()
});

// Expose the Deployment using a load balanced Kubernetes Service.
const service = deployment.createService({
    type: kx.types.ServiceType.LoadBalancer,
});` }}

                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        </div>
    </section>

{{ end }}
