{{ define "hero" }}
<header class="header-hero-home text-center mb-8 relative px-4">
        <div class="flex relative container mx-auto z-10">
            <div class="w-1/2 text-left">
                <h1>{{ .Params.hero.title }}</h1>
                <p class="text-xl leading-relaxed">
                    {{ .Params.hero.text | markdownify }}
                </p>
            </div>
            <div class="w-1/2">
                <img class="w-64 mx-auto" src="/images/mascot/pulumipus.svg" />
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{ $pageContext := . }}

    <!-- What is a Cloud Engineer? -->
    <a id="what"></a>
    <section class="bg-white pt-6 px-4 justify-center">
        <div class="container mx-auto flex flex-col lg:mx-auto lg:flex lg:flex-row lg:items-center lg:justify-center">
            <div class="lg:w-1/2">
                <h3 class="mt-4 text-4xl text-gray-800">
                        {{ .Params.cloud_engineering.title }}
                </h3>
                <p>{{ .Params.cloud_engineering.text | markdownify }}</p>
            </div>
            <div class="lg:w-1/2">
                <img class="w-64 mx-auto" src="/images/mascot/pulumipus.svg" />
            </div>
        </div>
    </section>

    <a id="essentials"></a>
    <section class="bg-gray-100 pt-24 px-4 justify-center">
        <div class="container mx-auto">
            <h3 class="mt-4 text-4xl text-gray-800">Ten Essentials of Cloud Engineering</h3>
            <div class="container mx-auto flex flex-col lg:mx-auto lg:flex-row lg:flex-wrap lg:items-center lg:justify-center">
                {{ range $i, $item := .Params.essentials }}
                    <div class="lg:w-1/2 mt-3 text-left">
                        <h3 class="flex align-center">
                            <span class="inline-block flex align-center justify-center w-12 h-12 rounded-full bg-purple-500 px-4 py-1 text-white font-bold mr-3">{{ add $i 1 }}</span>
                            {{ $item.title }}
                        </h3>
                        <p class="px-16 mb-5">
                            {{ $item.description | markdownify }}
                        </p>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    {{ range $index, $item := .Params.themes }}
        {{ $bgColor := "bg-white" }}
        {{ $iconColor := "text-orange-300" }}
        {{ $ctaButtonColor := "btn-purple" }}
        {{ if not (modBool $index 2) }}
            {{ $bgColor = "bg-gray-100" }}
            {{ $iconColor = "text-purple-100" }}
            {{ $ctaButtonColor = "btn-orange" }}
        {{ end }}

        <section class="{{ $bgColor }} pt-24 pb-16 px-4">
            <div class="container mx-auto lg:flex">
                <div class="lg:w-1/2 lg:mr-8">
                    <h2 class="text-center lg:text-left md:px-24 lg:px-0">{{ $item.title }}</h2>
                    <p class="text-xl md:px-24 lg:px-0">{{ $item.description }}</p>
                    <a class="hidden btn block text-center lg:inline-block {{ $ctaButtonColor }} my-4" href="{{ relref $pageContext $item.cta_url }}">
                        {{ $item.cta }}
                    </a>
                </div>
                <div class="my-8 lg:my-0 lg:w-1/2 lg:flex flex-wrap">
                    {{ range $i, $row := $item.items }}
                        <div class="lg:w-1/2 lg:pr-4 mb-8 lg:mb-0">
                            <div class="flex flex-col lg:flex-row items-center lg:items-start">
                                <div class="lg:w-1/4 text-center">
                                    <i class="inline-block mb-2 lg:mb-0 fas fa-2x {{ $row.icon }} {{ $iconColor }}"></i>
                                </div>
                                <div class="lg:w-3/4">
                                    <h5 class="text-center lg:text-left">{{ $row.title }}</h5>
                                    <p class="lg:text-sm md:px-24 lg:px-0">{{ $row.description }}</p>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="container mx-auto md:px-24 lg:hidden lg:px-0">
                <a class="btn block text-center {{ $ctaButtonColor }} my-4" href="{{ relref $pageContext $item.cta_url }}">
                    {{ $item.cta }}
                </a>
            </div>
        </section>
    {{ end }}

    <!-- Split Section List -->
    <a id="talks"></a>
    {{ partial "split-section-list" (dict "Page" . "data" .Params.video_list) }}

    <!-- Form -->
    {{ partial "form-section" (dict "form" .Params.form) }}
{{ end }}
