{{ define "main" }}
    {{ partial "contact-us.html" . }}

<section class="content-block">
        
    <div class="content-header text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="content">
                        <h2>Find Pulumi at</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="content">
                        {{ partial "social.html" (dict "classes" "expanded" ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{{ end }}