{{ define "main" }}
    {{ $pageContext := . }}


    <section>
        <div class="container mx-auto py-12">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-24 items-center">
                <div class="p-6">
                    <h1 class="heading-xl mb-6 max-w-lg">{{ .Params.overview.title }}</h1>
                    <ul class="body-xl max-w-xl">
                        {{ range $detail := .Params.overview.details }}
                            <li>{{ $detail }}</li>
                        {{ end }}
                    </ul>

                    <div class="flex flex-wrap justify-center items-center mt-12 max-w-lg">
                        {{ range $logo := .Params.customer_logos.logos }}
                            <div class="w-1/4 p-3">
                                {{ if $logo.link }}
                                    <a href="{{ relref $pageContext $logo.link }}">
                                        {{ partial "customer-logo.html" (dict "logo" $logo.name "hoverable" true) }}
                                    </a>
                                {{ else }}
                                    {{ partial "customer-logo.html" (dict "logo" $logo.name "hoverable" true) }}
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div class="p-6 flex items-center">
                    <div class="card mt-10 md:mt-0 p-12 mx-auto">
                        <h4>Request a demo</h4>
                        <pulumi-hubspot-form form-id="{{ .Params.form.form_id }}"></pulumi-hubspot-form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
