{{ define "hero" }}
    <header class="header-hero header-hero-glow">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>{{ .Params.hero.title }}</h1>
                <div class="text-base md:text-lg">{{ .Params.hero.body | markdownify }}</div>
                <div class="header-hero-actions w-full">
                    <a class="btn btn-lg" href="{{ .Params.hero.cta.url }}">
                        {{ .Params.hero.cta.label }}
                    </a>
                </div>
            </div>
            <div class="hidden md:inline-block header-hero-item">
                {{ partial "code" (dict "code" .Params.hero.code "lang" "js" "mode" "dark" "chrome" true) }}
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}

    <div class="container mx-auto px-5">
        <!-- Carousel -->
        {{ partial "carousel" . }}
    </div>

    {{ partial "get-started.html" . }}

    {{ partial "form-section" (dict "form" .Params.contact_us_form) }}
{{ end }}
