{{ define "hero" }}
    <header class="header-hero">
        <div class="container mx-auto text-center flex-col max-w-2xl">
            <h1>Pulumi for every team and individual.</h1>
            <div class="container mx-auto lg:flex justify-center mt-8">
                <div class="px-8 lg:w-1/2 text-center flex flex-col text-gray-300">
                    <div class="text-lg uppercase rounded text-blue-300 font-bold">Open source</div>
                    <p>
                        Pulumi is an
                        <a href="https://github.com/pulumi/pulumi" class="text-orange-500 hover:text-orange-400 font-bold">
                            open source project</a>.
                        The <a href="#community-edition" class="text-orange-500 hover:text-orange-400 font-bold">
                            Community Edition</a> is available for free,
                        or you can
                        <a href="{{ relref . "/docs/intro/concepts/state#self-managed-backend" }}"
                            class="text-orange-500 hover:text-orange-400 font-bold">
                            run Pulumi offline</a> and manage state yourself.
                    </p>
                </div>
                <div class="px-8 lg:w-1/2 text-center flex flex-col">
                    <div class="text-lg uppercase rounded text-blue-300 font-bold">Great for teams.</div>
                    <p>
                        <a href="#team-edition" class="text-orange-500 hover:text-orange-400 font-bold">
                            Team Starter and Pro</a> help teams collaborate on shared projects.
                        <a href="#enterprise-edition" class="text-orange-500 hover:text-orange-400 font-bold">
                            Pulumi Enterprise</a> adds security controls and self-host options.
                    </p>
                </div>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <section class="bg-purple-800 pt-24 text-white px-4 lg:px-0 justify-center text-center">
        <h2 class="text-gray-300 mb-8">Pulumi Editions</h2>
        <div class="container mx-auto lg:flex justify-center">
            <div class="bg-white rounded py-8 px-8 lg:w-1/4 mb-4 lg:mb-0" id="community-edition">
                <div class="text-center flex flex-col justify-between h-full">
                    <div class="text-lg text-purple-500 font-bold">COMMUNITY</div>
                    <div class="text-black font-display font-bold text-3xl">$0</div>
                    <div class="text-sm">&nbsp;</div>
                    <p class="text-sm text-gray-700">
                        The basics of Pulumi infrastructure as code
                        for unlimited individual use.
                    </p>
                    <ul class="list-none mt-0 mb-auto mx-auto justify-center text-left text-sm text-gray-700 px-0">
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">Any cloud</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">State management</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-infinity text-orange-500"></i>
                            <span class="flex-1">Unlimited deployments</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">Deployment history</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">Secrets management</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">CI/CD integrations</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-heart text-orange-500"></i>
                            <span class="flex-1">Free forever</span>
                        </li>
                    </ul>
                    <a class="text-center btn btn-lg btn-purple mx-auto mt-8 py-4 px-6" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                </div>
            </div>
            <div class="bg-white rounded py-8 px-8 lg:mx-5 lg:w-1/4 lg:mr-3 mb-4 lg:mb-0" id="team-edition">
                <div class="text-center flex flex-col justify-between h-full">
                    <div class="text-lg text-purple-500 font-bold">TEAM STARTER</div>
                    <div class="text-black font-display font-bold text-3xl">$50</div>
                    <div class="text-sm text-gray-700 font-bold">per month, 3 users included</div>
                    <p class="text-sm text-gray-700">
                        For teams just starting to collaborate on shared projects.
                    </p>
                    <ul class="list-none mt-0 mb-auto mx-auto justify-center text-left text-sm text-gray-700 px-0">
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-arrow-left text-blue-500"></i>
                            <span class="flex-1">Everything in Community</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">Includes 3 users</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">1 <a href="{{ relref . "/docs/intro/console/accounts-and-organizations/organizations" }}">organization</a></span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">Up to 20 project stacks</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-infinity text-orange-500"></i>
                            <span class="flex-1">Unlimited deployment history</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-orange-500"></i>
                            <span class="flex-1">Team activity dashboard</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-heart text-orange-500"></i>
                            <span class="flex-1">Try it free for 14 days</span>
                        </li>
                    </ul>
                    <a class="text-center btn btn-lg btn-orange mx-auto mt-8 py-4 px-6" href="https://app.pulumi.com/site/organizations/add">
                        Start Your Free Trial
                    </a>
                </div>
            </div>
            <div class="bg-white rounded py-8 px-8 lg:mx-5 lg:ml-2 lg:w-1/4 mb-4 lg:mb-0">
                <div class="text-center flex flex-col justify-between h-full">
                    <div class="text-lg text-purple-500 font-bold">TEAM PRO</div>
                    <div class="text-black font-display font-bold text-3xl">$75</div>
                    <div class="text-sm text-gray-700 font-bold">per user/month</div>
                    <p class="text-sm text-gray-700">
                        For medium to large teams with many people and projects.
                    </p>
                    <ul class="list-none mt-0 mb-auto mx-auto justify-center text-left text-sm text-gray-700 px-0">
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-arrow-left text-blue-500"></i>
                            <span class="flex-1">Everything in Team Starter</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-blue-500"></i>
                            <span class="flex-1">Up to 25 users (minimum of 3)</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-blue-500"></i>
                            <span class="flex-1">Teams and roles</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-infinity text-blue-500"></i>
                            <span class="flex-1">Unlimited project stacks</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-blue-500"></i>
                            <span class="flex-1">APIs and webhooks</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-blue-500"></i>
                            <span class="flex-1">12×5 support available</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-heart text-blue-500"></i>
                            <span class="flex-1">Try it free for 14 days</span>
                        </li>
                    </ul>
                    <a class="text-center btn btn-lg mx-auto mt-8 py-4 px-6" href="https://app.pulumi.com/site/organizations/add">
                        Start Your Free Trial
                    </a>
                </div>
            </div>
            <div class="bg-white rounded py-8 px-8 lg:w-1/4 mb-4 lg:mb-0" id="enterprise-edition">
                <div class="text-center flex flex-col justify-between h-full">
                    <div class="text-lg text-purple-500 font-bold">ENTERPRISE</div>
                    <div class="text-black font-display font-bold text-3xl">Custom</div>
                    <div class="text-sm">&nbsp;</div>
                    <p class="text-sm text-gray-700">
                        For organizations with advanced security and deployment needs.
                    </p>
                    <ul class="list-none mt-0 mb-auto mx-auto justify-center text-left text-sm text-gray-700 px-0">
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-arrow-left text-purple-500"></i>
                            <span class="flex-1">Everything in Team Pro</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-infinity text-purple-500"></i>
                            <span class="flex-1">Unlimited users</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-purple-500"></i>
                            <span class="flex-1">Organization policies</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-purple-500"></i>
                            <span class="flex-1">SAML/SSO</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-purple-500"></i>
                            <span class="flex-1">Self-host available</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-check-square text-purple-500"></i>
                            <span class="flex-1">24×7 support available</span>
                        </li>
                        <li class="flex items-center">
                            <i class="w-8 text-center fas fa-heart text-purple-500"></i>
                            <span class="flex-1">Custom trials available</span>
                        </li>
                    </ul>
                    <a class="text-center btn btn-lg btn-purple mx-auto mt-8 py-4 px-6" href="#contact">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="text-center mt-12">
            <a class="mt-8 text-orange-500 hover:text-orange-400 text-lg font-bold" href="#grid">Compare premium plans</a>
            <span class="text-purple-200">&rarr;</span>
        </div>
    </section>

    <img class="w-full" src="/images/waves.svg">

    <section id="grid" class="py-16">
        <div class="container mx-auto">
            <div class="mx-auto text-center max-w-4xl px-4 lg:px-0 mb-12">
                <h2>Plan details</h2>
                <p>
                    From teams just getting started, to established organizations running Pulumi at scale, we have an option for you.
                </p>
                <p>
                    And remember,
                    <a class="rounded text-blue-500 font-bold underline md:font-normal md:no-underline md:border-2 border-blue-500 md:py-1 md:px-2 md:mx-1 hover:text-blue-400 hover:border-blue-400 transition-all"
                        href="#community-edition">Pulumi Community Edition</a>
                    is free forever for single user scenarios.
                </p>
            </div>

            <div class="sticky top-0 md:static bg-purple-700">
                <div class="flex items-center text-xs md:text-base">
                    <div class="w-1/4"></div>
                    <div class="w-1/4 font-display text-center text-gray-200 uppercase py-2 md:py-4">
                        Team <br class="block md:hidden"> Starter
                    </div>
                    <div class="w-1/4 font-display text-center text-gray-200 uppercase py-2 md:py-4">
                        Team <br class="block md:hidden"> Pro
                    </div>
                    <div class="w-1/4 font-display text-center text-gray-200 uppercase py-2 md:py-4">
                        Enterprise
                    </div>
                </div>
            </div>

            <div class="pricing-item-heading">
                Fundamentals
            </div>

            <div class="pricing-item">
                <span class="pricing-item-label">Price</span>
                <span class="pricing-item-value">$50/mo</span>
                <span class="pricing-item-value">Starting at $225/mo</span>
                <span class="pricing-item-value">Custom (<a class="link" href="#contact">Contact Us</a>)</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Team Members</span>
                <span class="pricing-item-value">3 Included</span>
                <span class="pricing-item-value">Up to 25 (Minimum 3)</span>
                <span class="pricing-item-value">Unlimited (Minimum 10)</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Extra Team Members</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">$75/user/mo</span>
                <span class="pricing-item-value">Custom (<a class="link" href="#contact">Contact Us</a>)</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console/accounts-and-organizations/organizations" }}" class="link">Organizations</a></span>
                <span class="pricing-item-value">1 included</span>
                <span class="pricing-item-value">1 included</span>
                <span class="pricing-item-value">Unlimited</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console/collaboration/project-and-stack-management" }}" class="link">Project Stacks</a></span>
                <span class="pricing-item-value">Up to 20</span>
                <span class="pricing-item-value">Unlimited</span>
                <span class="pricing-item-value">Unlimited</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro" }}" class="link">Infrastructure as Code</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/cloud-providers" }}" class="link">Any Cloud</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/languages" }}" class="link">Any Language</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/guides/self-hosted" }}" class="link">Self-Hosting</a> <span class="badge badge-preview">PREVIEW</span></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">Available</span>
            </div>

            <div class="pricing-item-heading">
                Continuous Delivery
            </div>

            <div class="pricing-item">
                <span class="pricing-item-label">Deployments</span>
                <span class="pricing-item-value">Unlimited</span>
                <span class="pricing-item-value">Unlimited</span>
                <span class="pricing-item-value">Unlimited</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Deployment History</span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console" }}" class="link">Pulumi Console</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/guides/continuous-delivery" }}" class="link">CI/CD Integrations</a></span>
                <span class="pricing-item-value">
                    AWS Code Services, Azure DevOps, Codeship, CircleCI,
                    GitHub, GitLab, Google Cloud Build, Jenkins, Travis, more
                </span>
                <span class="pricing-item-value">
                    AWS Code Services, Azure DevOps, Codeship, CircleCI,
                    GitHub, GitLab, Google Cloud Build, Jenkins, Travis, more
                </span>
                <span class="pricing-item-value">Custom</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Timeline</span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">GitOps Workflows</span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console/extensions/webhooks" }}" class="link">APIs and Webhooks</a></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>

            <div class="pricing-item-heading">
                Policy ("CrossGuard") <span class="badge badge-preview">PREVIEW</span>
            </div>

            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/guides/crossguard" }}" class="link">Policy as Code</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Gated Deployments</span>
                <span class="pricing-item-value">Local Enforcement</span>
                <span class="pricing-item-value">Server-Side Enforcement</span>
                <span class="pricing-item-value">Server-Side Enforcement</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Organization-wide Policies</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">Available</span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>

            <div class="pricing-item-heading">
                Security
            </div>

            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/concepts/config" }}" class="link">Secrets and Encryption</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>

            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console/accounts-and-organizations/accounts" }}" class="link">Identity Providers</a></span>
                <span class="pricing-item-value">
                    <ul class="inline-flex flex-wrap items-center list-none p-0 justify-center">
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/github.svg" alt="github" title="GitHub">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/gitlab.svg" alt="gitlab" title="GitLab">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/atlassian.svg" alt="atlassian identity" title="Atlassian Identity">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/email.svg" alt="Email" title="Email">
                        </li>
                    </ul>
                </span>
                <span class="pricing-item-value">
                    <ul class="inline-flex flex-wrap items-center list-none p-0 justify-center">
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/github.svg" alt="github" title="GitHub">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/gitlab.svg" alt="gitlab" title="GitLab">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/atlassian.svg" alt="atlassian identity" title="Atlassian Identity">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/email.svg" alt="Email" title="Email">
                        </li>
                    </ul>
                </span>
                <span class="pricing-item-value">
                    <ul class="inline-flex flex-wrap items-center list-none p-0 justify-center">
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/github.svg" alt="github" title="GitHub">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/gitlab.svg" alt="gitlab" title="GitLab">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/atlassian.svg" alt="atlassian identity" title="Atlassian Identity">
                        </li>
                        <li class="mx-2">
                            <img class="w-4 md:w-6" src="/logos/tech/email.svg" alt="Email" title="Email">
                        </li>
                        <li class="mx-2">
                            <img class="w-2 md:w-4" src="/logos/tech/saml.svg" alt="SAML/SSO identity" title="SAML/SSO Identity">
                        </li>
                    </ul>
                </span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console/collaboration/teams" }}" class="link">Team Management</a></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Multiple Admins</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/intro/console/collaboration/organization-roles" }}" class="link">Role Based Access Control</a></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label"><a href="{{ relref . "/docs/guides/saml" }}" class="link">SAML/SSO</a></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">
                    <a href="{{ relref . "/docs/guides/saml/aad" }}" class="link">Azure Active Directory</a>,
                    <a href="{{ relref . "/docs/guides/saml/gsuite" }}" class="link">G Suite</a>,
                    <a href="{{ relref . "/docs/guides/saml/okta" }}" class="link">Okta</a>,
                    <a href="{{ relref . "/docs/guides/saml/sso" }}" class="link">any SAML SSO 2.0 identity provider</a>
                </span>
            </div>

            <div class="pricing-item-heading">
                Support
            </div>

            <div class="pricing-item">
                <span class="pricing-item-label"><a href="https://slack.pulumi.com" class="link">Community Slack</a></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Onboarding and Training</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">Available</span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">12×5 Support</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">Available</span>
                <span class="pricing-item-value">Available</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">24×7 Support</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value">Available</span>
            </div>
            <div class="pricing-item">
                <span class="pricing-item-label">Enterprise Invoicing</span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-times text-grey"></i></span>
                <span class="pricing-item-value"><i class="fas fa-check-square text-green-500"></i></span>
            </div>
        </div>
    </section>

    <section id="faq" class="bg-gray-100 py-16 px-4 lg:px-0">
        <div class="container mx-auto max-w-4xl">
            <h2>FAQ</h2>
            <h3>Can I use Pulumi for free? </h3>
            <p>
                Yes! There are three ways to use Pulumi for free.
            </p>
            <p>
                First, the <a href="#community-edition">Pulumi Community Edition</a> is free to use, now and
                forever, for single user scenarios. You get all of the convenience of automatic state management,
                unlimited deployments, and many other great features, without needing to pay anything at all for it..
            </p>
            <p>
                Second, Pulumi is an <a href="https://github.com/pulumi/pulumi">open source project</a>. You can
                <a href="{{ relref . "/docs/intro/concepts/state#self-managed-backend" }}">run Pulumi entirely offline</a>,
                and manage state yourself, instead of using the online service. There are no restrictions &mdash;
                it's all there in the open source for you to use freely as you'd like.
            </p>
            <p>
                Finally, all paid editions offer a 14-day free trial. If this isn't a sufficient duration for
                your project, <a href="{{ relref . "/contact" }}">please contact us</a>, and we are happy to work
                out a custom trial period for you that makes sense given your proof-of-concept timeline. After your
                trial expires, no data will be lost, and there is a grace period with soft enforcement.
            </p>
            <h3>How do I get started? </h3>
            <p>
                To get started with a team-based plan, simply <a
                href="https://app.pulumi.com/signup">sign up for free</a> using your
                identity provider of choice (ideally the same one your organization will
                be backed by). From there, <a href="https://app.pulumi.com/site/organizations/add">create
                an organization</a> that your team members will use.
            </p>
            <p>
                You can also sign up as an individual for
                <a href="#community-edition">Pulumi Community Edition</a>, either directly at
                <a href="https://app.pulumi.com/signup">app.pulumi.com</a>
                or by following the <a href="{{ relref . "/docs/get-started" }}">Get
                Started guide</a>, which walks you through creating
                and deploying your first Pulumi project.
            </p>
            <h3>What is an organization? </h3>
            <p>
                An organization is a shared workspace for your business
                to collaborate across multiple projects at once. Organizations may be backed by
                your existing source control system (GitHub, GitLab, Atlassian), identity provider
                (any SAML/SSO provider, including Okta and Active Directory), or managed manually.
                Organization owners and administrators can manage access to the organization’s
                projects with security and administrative features.
            </p>
            <p>
                The key distinction between Pulumi's free Community Edition and its paid offerings
                -- Team Starter, Team Pro, and Enterprise -- is the presence of an organization.
                The Community Edition is great for single users with private projects, however
                if you are working within a team, you'll typically want to share your projects.
                This is precisely what organizations provide. The advanced Team and Enterprise tiers offer more
                sophisticated organization management facilities, including RBAC for advanced policy controls.
            </p>
            <h3>What are projects and stacks? </h3>
            <p>
                Pulumi <a href="{{ relref . "/docs/intro/concepts/project" }}">projects</a> and <a href="{{ relref . "/docs/intro/concepts/stack" }}">stacks</a> are a way to organize
                Pulumi code. You can consider a Pulumi Project to be analogous to a GitHub repo: a
                single place for code -- and a Stack to be an instance of that code which has
                separate configuration. For instance, Project Foo may have multiple stacks for
                Dev, Test, Prod, or perhaps for different cloud configurations (e.g. geographic
                region). Please <a href="{{ relref . "/docs/intro/concepts/organizing-stacks-projects" }}"></a> for some best practices on organizing your Pulumi
                projects and stacks.
            </p>
            <h3>How much will Pulumi cost?</h3>
            <p>
                The Team Starter edition of Pulumi has a single price
                that includes 3 users. You cannot extend your account beyond these 3 users.
            </p>
            <p>
                The Team Pro and Enterprise editions are priced per user, with a minimum number of
                users per organization. Team Pro offers up to 25 team members, while Enterprise
                offers unlimited number of seats in your organization.
            </p>
            <p>
                All editions are available as annual subscriptions. You may purchase monthly
                subscriptions for an additional 20% per month.
            </p>

            <p>
                For large numbers of users and custom pricing, support options, on-premises, or to
                discuss training and services options, please <a href="#contact"><a href="#contact">contact us</a></a>.
            </p>
            <h3>Can I start small and upgrade later?</h3>
            <p>
                Yes! We designed the editions to make it easy
                to get started with Team Starter, and once you’ve outgrown it, upgrading to Team
                Pro is a single click away. To upgrade to Enterprise, please <a href="#contact">contact us</a>.
            </p>
            <h3>What payment options do you accept? </h3>
            <p>
                Monthly subscriptions are payable by credit
                card (we use Stripe for processing). Annual subscriptions may be paid via credit
                card, bank transfer, or check. Please <a href="#contact">contact us</a> for those options.
            </p>
            <h3>What if I have billing or account issues? </h3>
            <p>
                For any billing or related issues,
                please <a href="#contact">contact us</a>.
            </p>
            <h3>What if I am not satisfied with my Pulumi purchase? </h3>
            <p>
                If you're not satisfied with
                Pulumi, we offer a 30-day money-back guarantee. No questions asked. <a href="#contact">Contact us</a>
                here.
            </p>
            <h3>How do I get support for Pulumi? </h3>
            <p>
                We support Pulumi via online means (our Slack
                community, or via email, or web).
            </p>
            <p>
                If you’re using our Team and Enterprise editions, then you can also purchase
                support - either 12×5 7am-7pm PDT, or 24×7×365 - with a private Slack channel, and
                dedicated support for your team. If you’d like to purchase support for the
                SDK/Framework only, talk with us and we’ll help you out.
            </p>
            <p>
                For all of these options, <a href="#contact">contact us</a>.
            </p>
        </div>
    </section>

    {{ partial "form-section" (dict "form" .Params.form  )}}

    {{ partial "newsletter.html" . }}
{{ end }}
