{{ define "hero" }}
    <header class="header-hero header-hero-glow">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>Pulumi provides a platform for building modern cloud software.</h1>
                <p>
                    Create, deploy, and manage applications and infrastructure on any cloud.
                    Easily go to production with modern cloud architectures, and break down
                    silos inhibiting innovation within your organization.
                </p>
                <div class="header-hero-actions">
                    <a class="btn btn-lg" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                    <a class="btn btn-lg btn-orange-translucent" href="{{ relref . "/pricing" }}">View Pricing</a>
                </div>
            </div>

            <!-- Right side -->
            <div id="carousel" class="header-hero-item">
                <div class="relative p-10" style="height: 440px;">
                    <!-- IDE -->
                    <div class="carousel-item opacity-1 absolute top-0 right-0 left-0 transition-all-200 text-xs shadow-xl">
                        {{ partial "home/ide" . }}
                    </div>

                    <!-- CLI -->
                    <div class="carousel-item opacity-0 absolute top-0 right-0 left-0 transition-all-200 text-xs shadow-xl">
                        {{ partial "home/cli" . }}
                    </div>

                    <!-- Console -->
                    <div class="carousel-item opacity-0 absolute top-0 right-0 left-0 transition-all-200 text-xs shadow-xl">
                        {{ partial "home/console" . }}
                    </div>
                </div>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <nav class="nav-section-sticky">
        <div class="container mx-auto uppercase">
            <ul>
                <li><a href="#sdk">SDK</a></li>
                <li><a href="#teams">For Teams</a></li>
                <li><a href="#support">Support and Training</a></li>
            </ul>
        </div>
    </nav>

    <section class="py-16 px-4 md:px-0">
        <div class="container md:mx-auto text-center">
            <h2>Create, deploy, and manage modern cloud software.</h2>
            <p class="text-xl">
                A single workflow for provisioning cloud apps and infrastructure, in any cloud environment, public, private, or hybrid.
            </p>
        </div>
        <div class="container md:mx-auto md:flex my-16 text-center">
            <div class="md:w-1/3">
                <h4>CREATE</h4>
                <p class="text-gray-600">
                    Familiar languages like TypeScript, JavaScript, Python, and Go. Benefit
                    from abstraction and reuse. Use your favorite IDE, linters, and test
                    frameworks.
                </p>
                <ul class="inline-flex list-none p-0 items-center">
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-js.png" alt="js">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-python.png" alt="python">
                    </li>
                    <li class="mr-2">
                        <img class="w-16" src="/logos/tech/logo-golang.png" alt="golang">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-ts.png" alt="typescript">
                    </li>
                </ul>
            </div>
            <div class="md:w-1/3 md:mx-8 my-8 md:my-0">
                <h4>DEPLOY</h4>
                <p class="text-gray-600">
                    Deploy applications and infrastructure to any cloud with one consistent
                    workflow, fully integrated with your favorite CI system.
                </p>
                <ul class="inline-flex list-none p-0 items-center">
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-aws.png" alt="aws">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-azure.png" alt="azure">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-gd.png" alt="google cloud platform">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-kubernetes.png" alt="kubernetes">
                    </li>
                </ul>
            </div>
            <div class="md:w-1/3">
                <h4>MANAGE</h4>
                <p class="text-gray-600">
                    Unlock collaboration across your team with package sharing and reuse,
                    and Dev and DevOps policies and management features.
                </p>
                <ul class="inline-flex list-none p-0 items-center">
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-github.png" alt="github">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-vs.png" alt="vs">
                    </li>
                    <li class="mr-2">
                        <img class="w-16" src="/logos/tech/logo-npm.png" alt="npm">
                    </li>
                    <li class="mr-2">
                        <img class="w-8" src="/logos/tech/logo-travisci.png" alt="travisci">
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="sdk" class="bg-gray-100 py-16 px-4 md:px-0">
        <div class="container md:mx-auto md:flex">
            <div class="md:w-1/2 flex-shrink-0 md:mr-8">
                <h2>Pulumi SDK</h2>
                <p class="text-xl">
                    The SDK is an open source tool and framework for defining and
                    deploying cloud apps and infrastructure in code.
                </p>
                <a class="inline-block btn btn-lg my-4" href="{{ relref . "/docs/get-started" }}">
                    Get Started
                </a>
            </div>
            <div class="md:w-1/2 md:flex flex-wrap flex-shrink-0">
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-cloud text-blue-300"></i>
                        <div>
                            <h5>Many Clouds</h5>
                            <p class="text-sm">
                                Access the full breadth of services in AWS, Azure, GCP, Kubernetes,
                                and more, using shared tools.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-sticky-note text-blue-300"></i>
                        <div>
                            <h5>Many Languages</h5>
                            <p class="text-sm">
                                Code in TypeScript, JavaScript, Python, and Go, instead of YAML or
                                vendor-specific DSLs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-user-friends text-blue-300"></i>
                        <div>
                            <h5>Open Source</h5>
                            <p class="text-sm">
                                Everything is designed in the open and available on
                                GitHub. Pull Requests welcome!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-tools text-blue-300"></i>
                        <div>
                            <h5>Great Tools</h5>
                            <p class="text-sm">
                                Be productive with IDEs, syntax highlighting, error
                                checking, and testing. Share and reuse components.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="teams" class="py-16 px-4 md:px-0">
        <div class="container md:mx-auto md:flex">
            <div class="md:w-1/2 flex-shrink-0 md:mr-8">
                <h2>Pulumi for Teams</h2>
                <p class="text-xl">
                    The Pulumi web console helps teams of all sizes reliably and continuously
                    deliver and manage cloud apps and infrastructure.
                </p>
                <a class="inline-block btn btn-lg btn-orange my-4" href="{{ relref . "/pricing" }}">
                    Learn More
                </a>
            </div>
            <div class="md:w-1/2 md:flex flex-wrap flex-shrink-0">
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-car-side text-purple-100"></i>
                        <div>
                            <h5>CI/CD Workflow</h5>
                            <p class="text-sm">
                                Continuously deliver code from your favorite SCM, using your
                                favorite CI system, to the cloud.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-book text-purple-100"></i>
                        <div>
                            <h5>History & Auditing</h5>
                            <p class="text-sm">
                                Full history of cloud resource deployments, so you always who
                                changed what, when, and why.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-key text-purple-100"></i>
                        <div>
                            <h5>Secrets & Configuration</h5>
                            <p class="text-sm">
                                Manage configuration and secrets reliably in the cloud, with
                                security, auditing, and ACLs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 -ml-4 mr-4 fas fa-2x fa-people-carry text-purple-100"></i>
                        <div>
                            <h5>Organizations & Teams</h5>
                            <p class="text-sm">
                                Collaborate using organizations, projects, and stacks, with
                                full RBAC and policy management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="support" class="bg-gray-100 py-16 px-4 md:px-0">
        <div class="container md:mx-auto md:flex">
            <div class="md:w-1/2 flex-shrink-0 md:mr-8">
                <h2>Pulumi Support and Training</h2>
                <p class="text-xl">
                    Use Pulumi more effectively within your team. Learn how
                    modernize your tools, organization, and practices based on industry leaders.
                </p>
                <a class="inline-block btn btn-lg btn-purple my-4" href="{{ relref . "/contact" }}">
                    Contact Us
                </a>
            </div>
            <div class="md:w-1/2 md:flex flex-wrap flex-shrink-0">
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-user-tie text-orange-300"></i>
                        <div>
                            <h5>Solution Guidance</h5>
                            <p class="text-sm">
                                Access Pulumi's expertise and material for modern
                                cloud engineering, from Kubernetes to continuous delivery.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-phone text-orange-300"></i>
                        <div>
                            <h5>Slack with the Team</h5>
                            <p class="text-sm">
                                Get direct access to Pulumi customer engineers who
                                can help you out in realtime.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 -ml-4 mr-4 fas fa-2x fa-chalkboard-teacher text-orange-300"></i>
                        <div>
                            <h5>Training Workshops</h5>
                            <p class="text-sm">
                                Hold onsite training for your team -- for Pulumi
                                specifically, or more general modern cloud practices.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4 mb-8 md:mb-0">
                    <div class="flex items-start">
                        <i class="w-12 mr-4 fas fa-2x fa-pager text-orange-300"></i>
                        <div>
                            <h5>Enterprise Grade SLAs</h5>
                            <p class="text-sm">
                                Ensure a guaranteed rapid response to requests
                                for help when you need it the most.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ partial "how-pulumi-works.html" . }}

    {{ partial "learnmore-contactus.html" . }}

    {{ partial "newsletter.html" . }}
{{ end }}
