{{ define "main" }}
    {{ $pageContext := . }}


    <div class="banner-image flex justify-center">
        <div class="text-center py-16">
            <img src="/images/pulumiup-2023/logo.svg" alt="Pulumi UP, virtual, free" class="mx-auto mt-16 h-40" />
            <h3 class="yellow-header-text">September 18, 2024</h3>
            <div class="banner-description mx-auto mb-12 w-2/3">
                <h4>The Global Cloud and IaC Conference</h4>
                <p>
                    Dive into the future of cloud and Infrastructure as Code (IaC).<br/>Watch talks that demonstrate how to build and scale on the cloud, through Platform Engineering, with AI, and more
                </p>
            </div>
            <a class="btn-primary" href="#register">Register Now</a>
        </div>
    </div>

    <div class="below-banner-description mx-auto px-8 my-10 w-full flex-col">
        <h4>The Global Cloud and IaC Conference</h4>
        <p>
            Dive into the future of cloud and Infrastructure as Code (IaC).<br/>Watch talks that demonstrate how to build and scale on the cloud, through Platform Engineering, with AI, and more
        </p>
    </div>

    <section id="countdown" class="pt-12 mb-8">
        <pulumi-date-countdown-circles
            date-string="{{ .Params.event_date }}"
            value-label-class="block font-normal"
            container-class="flex flex-wrap justify-center items-center"
            text-class="px-3 text-4xl m-0"
        >
        </pulumi-date-countdown-circles>
    </section>

    {{ partial "pulumi-up/speakers.html" (dict "speakers" .Params.speakers "include_cta" "true" ) }}

    <section id="personas" class="my-8">
        <div class="container mx-auto px-4 py-8 text-center">
            <h2>A MUST attend for...</h2>
            <div class="mx-auto py-4 flex flex-col lg:flex-row">
                {{ range .Params.personas.groups }}
                    <div class="w-full lg:w-1/4 flex flex-row lg:flex-col">
                        {{ range .items }}
                            <div class="flex flex-col lg:flex-row px-12 my-4">
                                <div class="w-14 flex justify-center"><img src="{{ .image }}" /></div>
                                <div class="flex-col lg:px-8 text-left">
                                    <p class="text-sm text-black text-left">{{ .name }}</p>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    {{ partial "event-schedule.html" (dict "schedule" .Params.schedule "bg_color" "gray-100" ) }}

    <section id="why-attend" class="my-8">
        <div class="container mx-auto">
            <h2 class="pl-8">Why Attend</h2>
            <div class="px-4 py-8 text-center flex flex-col lg:flex-row">
                <div class="w-full lg:w-1/2 p-4 text-left">
                    {{ .Params.why_attend.description | markdownify }}
                    <div class="my-12 flex justify-center lg:justify-start">
                        <a class="btn-primary" href="#register">Register Now</a>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-8">
                    {{ range .Params.why_attend.items }}
                        <div class="flex flex-col lg:flex-row px-4">
                            <img src="{{ .icon }}" class="hidden lg:block" />
                            <img src="{{ .icon }}" class="block lg:hidden w-14" />
                            <div class="flex-col lg:px-8 text-left">
                                <p class="text-xl font-bold text-left">{{ .title }}</p>
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section id="ai-panel" class="my-12">
        <div class="container mx-auto text-center">
            <h2 class="text-center">Watch PulumiUP 2023 On-Demand</h2>
            <p class="text-center mb-8">
                Get ready for the future of cloud development! Listen to industry experts in our unfiltered panel discussion on how AI is transforming the cloud native landscape.
                Stay ahead of the curve by hearing and learning from the best in the industry.
            </p>
            <div class="container justify-center flex flex-col lg:flex-row">
                {{ range .Params.panelists }}
                    <div class="mx-2 flex flex-row lg:flex-col my-2 shadow-sm">
                        <img src="{{ .image }}" class="rounded-l-md lg:rounded-b-none lg:rounded-t-md" style="height: 220px; width: 220px;" />
                        <div class="bg-gray-100 w-full px-4 py-2 rounded-r-md lg:rounded-t-none lg:rounded-b-md text-left">
                            <h6>{{ .name }}</h6>
                            <p class="text-sm text-black my-2 flex-wrap">{{ .position }}</p>
                            <p class="text-sm text-black my-2">{{ .company }}</p>
                            <div class="flex flex-row my-4">
                                {{ range .socials }}
                                    <a href="{{ .link }}" target="_blank">
                                        <img src="/logos/tech/{{ .site }}.svg" alt="{{ .site }}" class="mr-2" href="{{ .link }}" />
                                    </a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            <h6 class="py-4">Be a part of shaping the future of cloud infrastructure!</h6>
            <a class="btn-primary" href="https://www.youtube.com/playlist?list=PLyy8Vx2ZoWlqkEzXbjUvE_CoEmBkT9Xoe" target="_blank">Watch On-Demand</a>
        </div>
    </section>

    <section id="sponsors" class="my-0 mb-16 py-4 lg:py-12 overflow-hidden px-3 white-background">
        <div class="container mx-auto text-center">
            <h2 class="text-center mb-10 hidden lg:block">{{ .Params.customer_logos.title }}</h2>
            <h6 class="text-center lg:hidden">{{ .Params.customer_logos.title }}</h6>
            {{ range $row := .Params.customer_logos.rows }}
                <div class="flex flex-wrap items-center justify-center">
                    {{ range $logo := $row.logos }}
                        <div class="w-3/4 lg:w-1/6 p-4 lg:p-10">
                            <a href="{{ $logo.link }}"><img class="w-full" src="/images/pulumiup-2023/sponsors/{{ $logo.logo }}" /></a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </section>

    <section id="register" class="bg-gray-100">
        <div class="container mx-auto pb-12">
            <div class="flex flex-col md:flex-row">
                <div class="w-full lg:w-1/2 mx-auto p-6">
                    <div class="mt-10 md:mt-0 bg-gray-200 rounded p-6 shadow">
                        <h4>
                            Register for PulumiUp 2024
                        </h4>
                        <pulumi-hubspot-form form-id="08a1925e-2f41-4bc4-baeb-88c2c9d89981" salesforce-campaign-id="701PQ00000Aa9TdYAJ"></pulumi-hubspot-form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
