{{ define "main" }}
    <div class="pulumi-up-body text-white pb-12">
        <div class="relative overflow-hidden">
            <video class="pulumiup-video" autoplay muted loop>
                <source src="/video/pulumiup-lofi.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="pulumiup-title">
                <div class="neon-container">
                    <span class="blue-neon-sign-xl">Pulumi</span>
                    <span class="green-neon-sign-xl">UP</span>
                </div>
                <div class="mt-24">
                    <pulumi-date-countdown
                        value-label-class="text-2xl"
                        text-class="date-countdown"
                        date-string="{{ .Params.countdown_date }}"
                    ></pulumi-date-countdown>
                </div>
            </div>
            <div class="absolute bottom-0 right-0 flex items-start w-16 py-4">
                <pulumi-mp3-mute-controller
                    audio-element-id="pulumiup-background-music"
                    file="http://music-bucker-d3204f7.s3-website-us-west-2.amazonaws.com/pulumiup-background-music.mp3"
                ></pulumi-mp3-mute-controller>
            </div>
        </div>
        <div class="container mx-auto">
            <section id="keynote">
                <div class="w-full flex items-center justify-center">
                    <div data-title="The Main Event" class="neon-callout-box-green max-w-full">
                        <div class="flex flex-col justify-center items-center">
                            <div class="flex flex-col lg:flex-row justify-center items-center">
                                {{ range $id := .Params.keynote.speakers }}
                                    {{ $authorPage := $.Site.GetPage (printf "/authors/%s" ($id | urlize)) }}
                                    {{ $authorData := index $.Site.Data.team.team $id }}

                                    <span class="flex items-center justify-center mx-4">
                                        <span class="speaker-image">
                                            <img src="/images/team/{{ $authorData.id }}.jpg" alt="{{ $authorData.name }}" title="{{ $authorData.name }}">
                                        </span>
                                        <span class="flex flex-col">
                                            <span class="speaker-name-blue ml-4">
                                                {{ $authorData.name }}
                                            </span>
                                            <span class="text-white">{{ $authorData.title }}, {{ $authorData.company }}</span>
                                        </span>
                                    </span>
                                {{ end }}
                            </div>
                            <div class="mt-8 px-16">
                                <p class="text-xl">
                                    This chat about modern cloud architectures and development will include a variety of topics - building blocks and abstractions; infrastructure and application boundaries; and chaos, canaries, and compliance in software delivery.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sessions">
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full lg:w-1/2 p-4">
                        <div data-title="Workshops" class="neon-callout-box-orange text-center">
                            <p class="coming-soon-sign">Coming Soon</p>
                        </div>
                    </div>

                    <div class="w-full lg:w-1/2 p-4">
                        <div data-title="Binge Content" class="neon-callout-box-blue text-center">
                            <p class="coming-soon-sign">Coming Soon</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="register">
                <div class="text-center p-4">
                    <h4 class="text-gray-100 md:mr-8 mt-2 text-2xl">{{ .Params.form.label }}</h4>
                    <div class="flex items-center justify-center">
                        <pulumi-hubspot-form form-id="{{ .Params.form.form_id }}" class="newsletter newsletter-wide"></pulumi-hubspot-form>
                    </div>
                </div>
                <div class="w-full flex items-center justify-center mt-8 p-4">
                    <div class="relative inline-block">
                        <p class="mb-12 text-2xl">{{ .Params.quote.quote }}</p>
                        <p class="absolute bottom-0 right-0 text-lg italic">~ {{ .Params.quote.name }}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Vibur" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Walter+Turncoat" />
{{ end }}
