{{ define "main" }}
    <section id="contact" class="bg-gray-200 py-8 md:py-16 px-4 md:px-0">
        <div class="container md:mx-auto md:flex">
            <div class="md:w-1/2 md:mp-8">
                <h1>Need help with an account issue?</h1>
                <p>
                    Let us know here, and we'll respond as quickly as we can.
                </p>
                <div>
                    <h3>Our Address</h3>
                    <p class="m-0">
                        Pulumi Corporation<br>
                        1525 4th Avenue, Suite 800<br>
                        Seattle, WA 98101
                    </p>
                </div>
            </div>
            <div class="md:w-1/2">
                <div class="hs-form hs-form-fg-dark">
                    {{ partial "form-section" (dict "form" .Params.form) }}
                </div>
            </div>
        </div>
    </section>

    {{ partial "social.html" . }}
{{ end }}
