{{ define "hero" }}
    <header class="header-hero header-hero-glow-bottom pb-0">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>
                    {{ .Title }}
                </h1>
                <p>
                    {{ .Params.description }}
                </p>
                <div class="header-hero-actions">
                    <a data-tracking-id="page-whitepaper-download-top" class="btn btn-lg btn-translucent" href="{{ .Params.download_url }}">
                        <i class="far fa-file-pdf mr-1"></i>
                        Download the Whitepaper
                    </a>
                </div>
            </div>
            <div class="header-hero-item text-center">
                <img class="inline-block w-64" src="{{ .Params.hero_image }}" alt="Whitepaper image">
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <nav class="nav-section-sticky">
        <div class="container mx-auto">
            <ul>
                {{ range .Params.sections }}
                    <li><a data-tracking-id="page-whitepaper-{{ .label }}" href="#{{ .anchor }}">{{ .label }}</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>

    <section id="executive-summary" class="mt-8 py-8 px-4">
        <div class="container mx-auto max-w-4xl py-8 border-b border-gray-300">
            <h2>Executive Summary</h2>
            <p>
                {{ .Params.summary }}
            </p>
        </div>
    </section>

    <section class="pb-16 px-4">
        <div class="container mx-auto max-w-4xl mb-4">
            {{ .Content }}

            <div class="text-center mt-8">
                <a data-tracking-id="page-whitepaper-download-bottom" class="btn btn-lg btn-purple" href="{{ .Params.download_url }}" target="_blank">
                    <i class="far fa-file-pdf mr-1"></i>
                    Download the Whitepaper
                </a>
            </div>
        </div>
    </section>

    {{ partial "learnmore-contactus.html" . }}
{{ end }}
