<ul class="p-0 list-none text-gray-700  text-sm">
    <li>
        {{ partial "icon.html" (dict "name" "book" "class" "text-center w-6 text-gray-500") }}
        {{ $topicCount := len (.module.CurrentSection.Pages) }}
        {{ $topicCount }}
        topic{{ if ne $topicCount 1 }}s{{ end }}
    </li>
    <li>
        {{ $timeToComplete := 0 }}
        {{ range .module.CurrentSection.Pages }}
            {{ $timeToComplete = (add $timeToComplete .Params.estimated_time) }}
        {{ end }}
        {{ partial "icon.html" (dict "name" "timer" "class" "text-center w-6 text-gray-500") }}
        About {{ $timeToComplete }} minutes
    </li>
</ul>
