language: ruby
ruby: 2.7.6
branches:
  only:
  - master
  - production
before_install:
# The Travis job is configured to use travis-cicd in the testing account.
# Deployments use AssumeRole to get temp creds to access another account.
- aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
- aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
- aws configure set region $AWS_REGION
# Work around a current issue in bundler. See:
# https://github.com/travis-ci/travis-ci/issues/8969
- gem update --system
- gem install bundler
notifications:
  webhooks: https://ufci1w66n3.execute-api.us-west-2.amazonaws.com/stage/travis
script:
  - make travis_${TRAVIS_EVENT_TYPE}
env:
  matrix:
  - AWS_ACCESS_KEY_ID=AKIAJUJPY4AUMTB3KF6Q
  # AWS_SECRET_ACCESS_KEY
  - secure: bGU9OqkpGzFV3wc/TXjsTVPpv95986nQkAi0jkumEkPg3EzZPN/ItTP8bdi/pnKPe3UOIUnQcTcvK/OPgOk3HB5zfD2aW20YvW9YOrgMzznRbl9vnJ8L158KAcrVSt90QYB3OT3lxzjWkhjzd2BKO/q3RfwT8clLYYx1IybY2/TGQ6KkaM61FKIAO0wDrWecnzPXUCv/ePCxoObzopr1FyIvSRnEsDi7Wxebpiv2CiYSVeR+D5jQLEdW3ORL91K3J/U3CP2aXM6MjIAE6XROfFyy7dDxRA3AS9soNh0Lcs2vY2lXwPMbJj9zdtGiidpv/jQkPm7mZeyLJPvi5brmX5X9DkWc8UUouEkRIrnHi1dJrRnO56g4d7qPwXA08anZ80dlQfH9fhsxfs0JcGESNRw6zExMtKZV8hDEL6K5sazQJGG1/weWfK3jG5XE/sa3g/8evgIWDD5mTAEoi54MrFUSVLneF9boKxcdKVTTbeg0Av3LcwcdQmM8b5HZWElMi0uOApOTQcEkRHRjB+IfuaE/w3lTIINYq39Joa4XTOO1vkU11lOG/eZuSdJkK81mRSpFNuK6OoqPdVF5ivGJWpx6+hfz2syT/WObwHQYOlDiHMVC5x/q1UE/GnilTh5+dWpsnZxlo0VJVf7tFD9olts0nWBrotPUHpD4oS8cVLg=
  - AWS_REGION=us-west-2
