{{ define "hero" }}
    <header class="header-hero header-hero-glow">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>Modern Infrastructure as Code for Google Cloud</h1>
                <div class="flex flex-col md:flex-row">
                    <p class="md:w-3/4 mr-4">
                        Pulumi's infrastructure as code SDK helps create, deploy, and manage
                        GCP containers, serverless functions, and infrastructure using real
                        programming languages.
                    </p>
                    <div class="top-0">
                        <img class="object-scale-down w-48 md:mr-4" src="/images/partners/gcp-partner.png" alt="Google Cloud Premium Partner">
                    </div>
                </div>
                <div class="header-hero-actions">
                    <a data-tracking-id="partner-gcp-get-started" class="btn btn-lg" href="{{ relref . "/docs/get-started/gcp" }}">Get Started</a>
                    <a data-tracking-id="partner-gcp-learn-more" class="btn btn-lg btn-orange-translucent" href="{{ relref . "#benefits" }}">Learn More</a>
                </div>
            </div>
            <div class="header-hero-item">
                {{ $code := `import * as k8s from "@pulumi/kubernetes";
import * as pulumi from "@pulumi/pulumi";
import { k8sProvider, k8sConfig } from "./cluster";

const name = pulumi.getProject() + "-" + pulumi.getStack();
const canaryLabels = { app: "canary-" + name };
const canary = new k8s.apps.v1beta1.Deployment("canary", {
    spec: {
        selector: { matchLabels: canaryLabels },
        replicas: 1,
        template: {
            metadata: { labels: canaryLabels },
            spec: { containers: [{ name, image: "nginx" }] },
        },
    },
}, { provider: k8sProvider });

export let kubeConfig = k8sConfig;` }}
                {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark" "chrome" true) }}
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <nav class="nav-section-sticky">
        <div class="container mx-auto uppercase">
            <ul>
                <li><a data-tracking-id="partner-gcp-anchor-benefits" href="#benefits">Benefits</a></li>
                <li><a data-tracking-id="partner-gcp-anchor-code" href="#code">Code</a></li>
                <li><a data-tracking-id="partner-gcp-anchor-how-it-works" href="#how-it-works">How it Works</a></li>
                <li><a data-tracking-id="partner-gcp-anchor-case-study" href="#case-study">Case Study</a></li>
                <li><a data-tracking-id="partner-gcp-anchor-get-started" href="#get-started">Get Started</a></li>
                <li><a data-tracking-id="partner-gcp-anchor-contact-us" href="#contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    {{ partial "benefits-v1.html" . }}

    <section id="code" class="bg-gray-200 py-16 px-4">
        <div class="container mx-auto">

            <!-- Example 1 -->
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Build and deploy a GKE cluster</h2>
                    <p>
                        Pulumi supports programming against Kubernetes – Minikube, custom
                        on-premises, or cloud-hosted custom clusters or in managed
                        clusters such as Google GKE.
                    </p>
                    <p>
                        This code defines a GKE cluster with configurable settings which
                        could be used in a module which could then be used to deploy an
                        app to the cluster.
                    </p>
                    <p>
                        <a data-tracking-id="partner-gcp-example-1-get-started" class="btn inline-block my-2" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `// Define a GKE cluster with configurable settings
import * as gcp from "@pulumi/gcp";
import { nodeCount, nodeMachineType, password, username } from "./config";

const engineVersion = gcp.container.getEngineVersions().then(v => v.latestMasterVersion);
export const k8sCluster = new gcp.container.Cluster("gke-cluster", {
    initialNodeCount: nodeCount,
    minMasterVersion: engineVersion,
    nodeVersion: engineVersion,
    masterAuth: { username, password },
    nodeConfig: {
        machineType: nodeMachineType,
        oauthScopes: [
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/logging.write",
            "https://www.googleapis.com/auth/monitoring"
        ],
    },
});` }}
                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>

            <!-- Example 2 -->
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Build and deploy Kubernetes apps to GKE</h2>
                    <p>
                        Pulumi supports programming against Azure's ACI container
                        orchestrator. Pulumi is entirely unopinionated about how
                        containers are built, published, and deployed to your
                        orchestrator.
                    </p>
                    <p>
                        This code makes use of our previously defined GKE cluster and
                        deploys an nginx canary onto the cluster with 1 replica.
                    </p>
                    <p>
                        <a data-tracking-id="partner-gcp-example-2-get-started" class="btn inline-block my-2" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `// Deploy an nginx canary to GKE
import * as k8s from "@pulumi/kubernetes";
import * as pulumi from "@pulumi/pulumi";
import { k8sProvider, k8sConfig } from "./cluster";

// Create a canary deployment to test that this cluster works.
const name = pulumi.getProject() + "-" + pulumi.getStack();
const canaryLabels = { app: "canary-" + name };
const canary = new k8s.apps.v1beta1.Deployment("canary", {
    spec: {
        selector: { matchLabels: canaryLabels },
        replicas: 1,
        template: {
            metadata: { labels: canaryLabels },
            spec: { containers: [{ name, image: "nginx" }] },
        },
    },
}, { provider: k8sProvider });

// Export the Kubeconfig so that clients can easily access our cluster.
export let kubeConfig = k8sConfig;` }}
                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>

            <!-- Example 3 -->
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Creating a Simple Web Server</h2>
                    <p>
                        Pulumi gives you a way to express infrastructure configuration
                        using your favorite programming language.
                    </p>
                    <p>
                        This code uses TypeScript on Node.js to define the necessary
                        environment, defines a very simple web server, and then creates
                        the instance, before exporting the IP and Hostname.
                    </p>
                    <p>
                        <a data-tracking-id="partner-gcp-example-3-get-started" class="btn inline-block my-2" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `const gcp = require("@pulumi/gcp");

const computeNetwork = new gcp.compute.Network("network", {
    autoCreateSubnetworks: true,
});

const computeFirewall = new gcp.compute.Firewall("firewall", {
    network: computeNetwork.selfLink,
    allows: [{
        protocol: "tcp",
        ports: [ "22", "80" ],
    }],
});

// Create a simple web server.
const startupScript =
    "#!/bin/bash \n" +
    "echo 'Hello, World!' > index.html \n" +
    "nohup python -m SimpleHTTPServer 80 &";

const computeInstance = new gcp.compute.Instance("instance", {
    machineType: "f1-micro",
    metadataStartupScript: startupScript,
    bootDisk: {
        initializeParams: {
            image: "debian-cloud/debian-8",
        },
    },
    networkInterfaces: [{
        network: computeNetwork.id,
        accessConfigs: [{}], // must be empty
    }],
    serviceAccount: {
      scopes: ["https://www.googleapis.com/auth/cloud-platform"],
    },
}, { dependsOn: [computeFirewall] });

exports.instanceName = computeInstance.name;
exports.instanceIP = computeInstance.networkInterfaces.apply(ni => ni[0].accessConfigs[0].natIp);` }}
                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>

            <!-- Example 4 -->
            <div class="md:flex my-8">
                <div class="md:w-1/2 md:mr-4">
                    <h2>Creating a Google Cloud Function</h2>
                    <p>
                        With Pulumi, you can combine infrastructure definitions and application code in one program. This example shows how to create a simple Google Cloud Function that returns a message when invoked.
                    </p>
                    <p>
                        <a data-tracking-id="partner-gcp-example-4-get-started" class="btn inline-block my-2" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                    </p>
                </div>
                <div class="md:w-1/2 md:ml:4">
                    {{ $code := `import * as gcp from "@pulumi/gcp";

let greetingFunction = new gcp.cloudfunctions.HttpFunction("greeting", (req, res) => {
    res.send("Greetings from " + (req.body.name || "Google Cloud Functions") + "!");
});

export let url = greetingFunction.httpsTriggerUrl;` }}
                    {{ partial "code" (dict "code" $code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        </div>
    </section>

    {{ partial "how-pulumi-works.html" . }}

    {{ partial "learning-machine.html" . }}

    {{ partial "get-started.html" . }}

    {{ partial "form-section" (dict "form" .Params.contact_us_form) }}
{{ end }}
