@import "colors";
@import "mixins";

.btn {
    @include transition;

    @apply cursor-pointer text-sm whitespace-nowrap py-2 px-3 rounded inline-block;
    @apply bg-blue-600 border-2 border-blue-600 text-white text-center;

    &:hover {
        @apply bg-blue-500 border-blue-500 text-white;
    }

    &:active {
        @apply bg-blue-500;
    }
}

.btn-secondary {
    @apply bg-white border-2 border-blue-500 text-blue-600;

    &:hover {
        @apply bg-blue-500 text-white;
    }
}

.btn-sm {
    @apply text-xs;
}

.btn-lg {
    @apply py-3 px-5;
}

.btn-orange {
    @apply bg-orange-500 border-orange-600;

    &:hover {
        @apply bg-orange-600 border-orange-700;
    }
}

.btn-translucent {
    background-color: rgba($brand-blue, 0.3);
    border-color: rgba($brand-blue, 0.5);

    &:hover {
        background-color: rgba($brand-blue, 0.7);
        border-color: $brand-blue;
    }
}

.btn-orange-translucent {
    background-color: rgba(map-get($orange, 500), 0.3);
    border-color: rgba(map-get($orange, 500), 0.5);

    &:hover {
        background-color: rgba(map-get($orange, 500), 0.7);
        border-color: map-get($orange, 500);
    }
}

.btn-brand-download {
    @apply border-gray-500 text-gray-500 bg-transparent;

    &:hover {
        @apply border-gray-700 text-gray-700 bg-transparent;
    }

    i {
        @apply mr-1;
    }
}

.btn-scroll-top {
    @apply text-white text-center opacity-75 rounded-sm bg-gray-500 mt-8 w-8 h-4;
}
