$black: #000;
$white: #fff;

$brand: (
    "yellow": #f7bf2a,
    "salmon": #f26e7e,
    "fuchsia": #bd4c85,
    "purple": #8a3391,
    "violet": #805ac3,
    "blue": #4d5bd9,
);

$brand-yellow: map-get($brand, "yellow");
$brand-salmon: map-get($brand, "salmon");
$brand-fuchsia: map-get($brand, "fuchsia");
$brand-purple: map-get($brand, "purple");
$brand-violet: map-get($brand, "violet");
$brand-blue: map-get($brand, "blue");

$gray: (
    100: #f9f9f9,
    200: #e0e0e0,
    300: #dcdcdc,
    400: #b0b0b0,
    500: #808080,
    600: #5a5a5a,
    700: #484848,
    800: #404041,
    900: #2b2b2c,
);

$yellow: (
    100: #fef9ea,
    200: #fdf2d4,
    300: #fce5aa,
    400: #fad97f,
    500: #f9cc55,
    600: $brand-yellow,
    700: #c69922,
    800: #947319,
    900: #634c11,
);

$salmon: (
    100: #fef1f2,
    200: #fce2e5,
    300: #fac5cb,
    400: #f7a8b2,
    500: #f58b98,
    600: $brand-salmon,
    700: #c25865,
    800: #91424c,
    900: #612c32,
);

$fuchsia: (
    100: #f8edf3,
    200: #f2dbe7,
    300: #e5b7ce,
    400: #d794b6,
    500: #ca709d,
    600: $brand-fuchsia,
    700: #973d6a,
    800: #712e50,
    900: #4c1e35,
);

$purple: (
    100: #f3ebf4,
    200: #e8d6e9,
    300: #d0add3,
    400: #b985bd,
    500: #a15ca7,
    600: $brand-purple,
    700: #6e2974,
    800: #531f57,
    900: #37143a,
);

$violet: (
    100: #f2eff9,
    200: #e6def3,
    300: #ccbde7,
    400: #b39cdb,
    500: #997bcf,
    600: $brand-violet,
    700: #66489c,
    800: #4d3675,
    900: #33244e,
);

$blue: (
    100: #edeffb,
    200: #dbdef7,
    300: #b8bdf0,
    400: #949de8,
    500: #717ce1,
    600: $brand-blue,
    700: #3e49ae,
    800: #2e3782,
    900: #1f2457,
);

$orange: (
    100: #fff7eb,
    200: #fde6c4,
    300: #fad49e,
    400: #f6ba7e,
    500: #ee975c,
    600: #e17d47,
    700: #d86131,
    800: #ba4a2c,
    900: #993d29,
);

$green: (
    100: #e0fff2,
    200: #b2fbe0,
    300: #81eeca,
    400: #4ce1b4,
    500: #2fc89f,
    600: #25a78b,
    700: #1d8673,
    800: #19675b,
    900: #155148,
);
