@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

@font-face {
    font-family: "StarWars";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Starjhol.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/gilroy-medium.woff2") format("woff2"), url("/fonts/gilroy-medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/gilroy-bold.woff2") format("woff2"), url("/fonts/gilroy-bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/inter-regular.woff2") format("woff2"), url("/fonts/inter-regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/inter-semibold.woff2") format("woff2"), url("/fonts/inter-semibold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/inter-bold.woff2") format("woff2"), url("/fonts/inter-bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/inter-italic.woff2") format("woff2"), url("/fonts/inter-italic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/inter-semibold-italic.woff2") format("woff2"), url("/fonts/inter-semibold-italic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/inter-bold-italic.woff2") format("woff2"), url("/fonts/inter-bold-italic.woff") format("woff");
}
