@tailwind base;
@tailwind components;

@import "colors";
@import "mixins";

body {
    @apply overflow-x-hidden;

    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-base;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // Tailwind v2 makes some changes to line-heights, one of which is that headings
        // now get line-heights of 1. This is generally a good thing, but it makes the
        // headings in our marketing pages lose some intentional vertical spacing. So we
        // override it here to avoid having to sprinkle `leading-*` utilities everywhere.
        @apply leading-snug #{!important};
    }

    p {
        @apply text-gray-700;
    }

    .large-container {
        max-width: 1680px;
    }

    .description a,
    a.link {
        @apply text-black font-semibold;

        &:hover {
            @apply underline;
        }

        &.btn-primary {
            @apply text-white;
        }
    }

    // Buttons
    a[class^="btn-"],
    a[class*=" btn-"] {
        @apply text-lg py-3 px-8 rounded-full;

        &:hover {
            @apply no-underline;
        }

        &.disabled {
            @apply cursor-default pointer-events-none;
        }
    }

    .btn-primary,
    .btn-secondary {
        @apply whitespace-normal;
    }

    .btn-primary {
        @include gradient-button;
    }

    .btn-secondary {
        @apply bg-white text-violet-600 border-2 border-violet-600;
        @include transition;

        &.disabled {
            opacity: 0.3rem;
        }

        &:hover {
            @apply bg-violet-100 text-violet-600;
        }

        &:focus {
            @apply bg-violet-200 text-violet-600;
        }
    }

    // Make the borders transparent when the button is over a background of the same color.
    .bg-violet-600 .btn-secondary {
        @apply border-transparent;
    }

    // white secondary button for violet-600 background
    .btn-secondary-home-action {
        @apply bg-violet-600 text-white border-2 border-white whitespace-normal;
        @include transition;

        &.disabled {
            opacity: 0.3rem;
        }

        &:hover {
            @apply bg-violet-500;
        }

        &:focus {
            @apply bg-violet-400;
        }
    }

    @screen md {
        h1 {
            @apply text-7xl;

            &.small-title {
                @apply text-5xl;
            }
        }
        h2 {
            @apply text-5xl;
        }
        h3 {
            @apply text-4xl;
        }
        h4 {
            @apply text-3xl;
        }
        h5 {
            @apply text-2xl;
        }
        h6 {
            @apply text-lg;
        }
    }
}

.home-page-section p {
    color: black !important;
}

.home-page-build-section-background {
    @apply w-full h-full overflow-hidden absolute top-0 left-0 bg-violet-200 shadow-lg;

    // background: rgb(255,255,255);
    // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(213,181,215,1) 30%, rgba(208,173,211,1) 50%, rgba(213,181,215,1) 70%, rgba(255,255,255,1) 100%);

    .home-page-build-section-image {
        @apply w-full h-full;
        background-image: url("/images/home/hexagons.svg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
}

.home-page-manage-section-background {
    @apply w-full h-full overflow-hidden absolute top-0 left-0 bg-yellow-200 shadow-lg;

    // background: rgb(255,255,255);
    // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,229,170,1) 30%, rgba(250,217,127,1) 50%, rgba(252,229,170,1) 70%, rgba(255,255,255,1) 100%);

    .home-page-manage-section-image {
        @apply w-full h-full;
        background-image: url("/images/home/circuits.svg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
}

.home-page-cloud-section-background {
    @apply w-full h-full overflow-hidden absolute top-0 left-0 bg-blue-200 shadow-lg;

    // background: rgb(255,255,255);
    // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(219,222,247,1) 30%, rgba(184,189,240,1) 50%, rgba(219,222,247,1) 70%, rgba(255,255,255,1) 100%);

    .home-page-cloud-section-image {
        @apply w-full h-full;
        background-image: url("/images/home/ship-wheel.svg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
    }
}

.home-page-science-section-background {
    @apply w-full h-full overflow-hidden absolute top-0 left-0 bg-gray-800 shadow-lg;

    //background: rgb(255,255,255);
    //background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,219,231,1) 30%, rgba(229,183,206,1) 50%, rgba(242,219,231,1) 70%, rgba(255,255,255,1) 100%);

    .home-page-science-section-image {
        @apply w-full h-full;
        background-image: url("/images/home/science.svg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
    }
}
