.all-packages {
    .package {
        ~ .no-results {
            @apply block;
        }

        &:not([class*="hidden"]) ~ .no-results {
            @apply hidden;
        }
    }

    .package-tags {
        @apply inline-flex flex-wrap list-none p-0;
        max-width: 430px;

        li {
            @apply mr-2 my-1 py-2 px-3 border-2 rounded text-sm border-gray-200;

            @screen md {
                @apply mr-4 px-3;
            }
        }

        &.active-tags {
            @apply mt-2;

            @screen md {
                @apply mt-0;
            }

            li {
                @apply py-1 my-0 mb-2;

                @screen md {
                    @apply mr-2;
                }
            }
        }
    }

    $cloud-color: #bfcbad;
    $database-color: #cdd96c;
    $infrastructure-color: #e2f4ac;
    $monitoring-color: #c4fee5;
    $network-color: #aae8df;
    $utility-color: #ffc482;

    [data-filter-group="type"] {
        &[data-filter-value="provider"] {
            @apply border-blue-300;

            [data-selected-types*="provider"] & {
                @apply bg-blue-300;
            }
        }

        &[data-filter-value="native-provider"] {
            @apply border-violet-300;

            [data-selected-types*="native-provider"] & {
                @apply bg-violet-300;
            }
        }

        &[data-filter-value="component"] {
            @apply border-purple-300;

            [data-selected-types*="component"] & {
                @apply bg-purple-300;
            }
        }
    }

    [data-filter-group="category"] {
        &[data-filter-value="cloud"] {
            border-color: $cloud-color; // TODO: Add to palette.

            [data-selected-categories*="cloud"] & {
                background-color: $cloud-color;
            }
        }

        &[data-filter-value="database"] {
            border-color: $database-color; // TODO: Add to palette.

            [data-selected-categories*="database"] & {
                background-color: $database-color;
            }
        }

        &[data-filter-value="infrastructure"] {
            border-color: $infrastructure-color; // TODO: Add to palette.

            [data-selected-categories*="infrastructure"] & {
                background-color: $infrastructure-color;
            }
        }

        &[data-filter-value="monitoring"] {
            border-color: $monitoring-color; // TODO: Add to palette.

            [data-selected-categories*="monitoring"] & {
                background-color: $monitoring-color;
            }
        }

        &[data-filter-value="network"] {
            border-color: $network-color; // TODO: Add to palette.

            [data-selected-categories*="network"] & {
                background-color: $network-color;
            }
        }

        &[data-filter-value="utility"] {
            border-color: $utility-color; // TODO: Add to palette.

            [data-selected-categories*="utility"] & {
                background-color: $utility-color;
            }
        }

        &[data-filter-value="version control system"] {
            @apply border-yellow-300;

            [data-selected-categories*="version control system"] & {
                @apply bg-yellow-300;
            }
        }
    }
}

.packages {
    .featured-packages .featured-package,
    .all-packages .package {
        a:hover {
            .title {
                @apply text-blue-600 underline;
            }
        }
    }

    .featured-package .content-container {
        box-shadow: 0px 4px 4px rgba(230, 222, 243, 0.25);
    }

    .package .content-container {
        box-shadow: 0px 4px 4px rgba(220, 220, 220, 0.25);
    }
}

.package-card {
    box-shadow: 0px 4px 4px rgba(220, 220, 220, 0.25);
    width: 346px;
}

.package-card-compact {
    border-color: map-get($gray, 300);
    box-shadow: 0px 4px 4px rgba(220, 220, 220, 0.25);
    width: 346px;
    @media (min-width: 768px) {
        width: 320px;
        top: 160px;
        position: absolute;
    }
    @media (min-width: 1024px) {
        width: 320px;
        top: 138px;
        position: absolute;
    }

    .caret-container {
        color: map-get($gray, 400);
    }

    .package-header {
        font-size: 12px;
        color: map-get($gray, 600);
    }
}

.package-card-compact-expanded {
    border-color: map-get($gray, 300);
    .caret-container {
        color: map-get($gray, 300);
    }
}