@import "colors";

// Override the default styles of the Swiftype input field.
.st-default-search-input {
    display: block !important;
    width: 100% !important;
    font-size: 1rem !important;
    padding: 1rem !important;
    padding-left: 2.5rem !important;
    border-radius: 0.25rem !important;
    border-color: map-get($gray, 400) !important;
    font-family: "Inter" !important;
    background: none !important;

    &::placeholder {
        color: map-get($gray, 600) !important;
    }

    @include transition;

    &.docs, &.registry {
        border-color: map-get($brand, "blue") !important;
        &:focus {
            border-color: map-get($blue, 600) !important;
        }
    }

    @screen md {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.section-blog {
    .st-default-search-input {
        font-size: 0.875rem !important;
        padding: 0.75rem !important;
        padding-left: 2.5rem !important;
        border-radius: 0.25rem !important;
    }   
}

// Override the default styles of the Swiftype autocomplete results container.
.st-default-autocomplete {
    z-index: 40 !important; /* z-40 */

    // Swiftype's JS imperatively positions the autocomplete container in relation to the top-left
    // corner of the document, which is okay if your search box scrolls with the page, but since ours
    // scrolls and sticks independently of the main content pane, this doesn't work. Overriding the
    // top and left settings allows the container to be positioned absolutely in place.
    top: auto !important;
    left: auto !important;

    @screen md {
        top: 16px !important;
        left: -650px !important;
        width: 650px !important;
    }

    .st-query-present {
        .st-ui-result {
            .st-ui-type-heading {
                font-size: 0.75rem !important; /* text-xs */
                color: $brand-blue !important; /* text-blue-600 */
                margin-bottom: 4px !important;
            }
            .st-ui-type-detail {
                color: #4a5568 !important; /* text-gray-600 */
            }
        }
    }
}

// Override the default styles of the results overlay.
.st-ui-container {
    @screen lg {
        top: 80px !important;
    }

    .st-query-present, .st-query-not-present {
        span.st-ui-type-heading, .st-ui-pagination-link {
            color: $brand-blue !important;
        }
    }
}

.search-header-container {
    background-color: map-get($gray, 100);
    border-bottom: 0px;
    height: 50px;
    
    @screen md {
        height: 51px;
        border-bottom: 1px solid #e5e5e9;
    }

    .tabs {
        .tab {
            align-items: center;
            background-color: map-get($gray, 100);
            color: map-get($gray, 500);
            cursor: pointer;
            display: flex;
            font-family: "Gilroy";
            font-size: 16px;
            font-weight: 500;
            height: 50px;
            justify-content: center;
            line-height: 26px;
            padding-bottom: 3px;
            padding-left: 24px;
            padding-right: 24px;
            .tab-icon {
                background-color: map-get($gray, 100);
                padding-right: 10px;
            }
        }

        .tab-selected {
            align-items: center;
            background-color: #F2F2F4;
            border-bottom: 3px solid map-get($brand, "violet");
            color: map-get($gray, 900);
            cursor: pointer;
            display: flex;
            font-family: "Gilroy";
            font-size: 16px;
            font-weight: 700;
            height: 50px;
            justify-content: center;
            line-height: 26px;
            padding-left: 18px;
            padding-right: 18px;
            .tab-icon {
                background-color: #F2F2F4;
                padding-right: 10px;
            }
        }
    }
}

.search-header {
    @apply justify-center;

    @screen md {
        @apply justify-between;
    }

    @screen lg {
        @apply mx-auto justify-start;
    }

    background-color: map-get($gray, 100);
    
    .search-container {
        @apply flex-grow;
        border-bottom: 1px solid map-get($gray, 300);
        @screen md {
            @apply flex-grow-0 justify-start;
            border-bottom: none;
        }
        

        background-color: map-get($gray, 100);
        height: 50px;
        padding-left: 16px;
        padding-right: 16px;
        
        .search-widget {
            @apply w-full h-full p-0;

            @screen md {
                width: 450px;
            }

            @screen lg {
                width: 600px;
            }

            @screen xl {
                @apply px-0;
                width: 800px;
            }

            #search-query {
                font-family: "Gilroy" !important;
                font-size: 16px;
                font-weight: 500;
                height: 7px;
                line-height: 26px;
            }

            form {
                width: 100%;
                @screen md {
                    width: 346px;
                }
            }

            form > i {
                font-size: 14px;
            }

            form > button {
                font-family: "Gilroy";
            }
        }
    }
}
