@import "colors";
@import "mixins";

pulumi-tooltip {
    @apply relative;

    // Use the currently applied line height and font size.
    line-height: 1em;
    font-size: 1em;

    .tooltip-content {
        @apply absolute block opacity-0 pointer-events-none w-48 py-2 mb-2 px-3 bg-gray-700 rounded shadow font-body font-normal text-center text-xs text-white leading-normal z-50;
        @include transition();

        // Position the tooltip above the target, centered.
        bottom: 108%;
        transform: translateX(-50%);
        left: 50%;

        // Draw the caret below the tooltip.
        &:after {
            @apply block bg-gray-700 -mb-3 mt-1 h-2 w-2 text-center mx-auto;
            transform: rotate(45deg);
            content: " ";
        }
    }

    .tooltip-target {
        @apply cursor-pointer;

        &.active {
            + .tooltip-content {
                opacity: 0.98;
                bottom: 100%;
            }
        }
    }

    // To prevent a flash of unstyled/understyled slotted content, we hide that content until
    // it's rendered as a child of the tooltip component.
    [slot="content"] {
        @apply hidden;
    }

    .tooltip-content {
        [slot="content"] {
            display: unset;
        }
    }
}
