$text-color: map-get($gray, 950);
$text-color-inner-card: map-get($gray, 650);
$border-color-outer-card: map-get($gray, 150);
$border-color-inner-card: map-get($gray, 300);
$border-hover: map-get($gray, 350);
$card-background: map-get($gray, 100);
$box-shadow: #5f606524;

.docs-list-main .docs-main-content-wrapper .docs-main-content {
    section.cloud-overview {
        div.accordion {
            overflow: hidden;
    
            label {
                padding-top: 12px;
                border-radius: 4px;
                display: flex;
                font-family: 'Inter';
                font-weight: 500;
                font-size: 16px;
                color: $text-color-inner-card;
                cursor: pointer;
                position: relative;
                justify-content: center;
                align-items: center;
            }
    
            div.icon {
                margin-left: 8px;
            }
        
            label:hover {
                text-decoration: underline;
            }
        }
    
        div#accordion-components {
            div.accordion-content,
            input,
            label.hide,
            input:checked ~ label.show  {
                display: none;
            }
        
            input:checked ~ div.accordion-content,
            input:checked ~ label.hide {
                display: flex;
            }
        }
    
        div#accordion-guides {
            div.accordion-content,
            input,
            label.hide,
            input:checked ~ label.show  {
                display: none;
            }
        
            input:checked ~ div.accordion-content,
            input:checked ~ label.hide {
                display: flex;
            }
        }
    
        div#accordion-templates {
            div.accordion-content,
            input,
            label.hide,
            input:checked ~ label.show  {
                display: none;
            }
        
            input:checked ~ div.accordion-content,
            input:checked ~ label.hide {
                display: flex;
            }
        }

        display: flex;
        flex-direction: column;
        gap: 24px;

        h1, h2, p {
            color: $text-color;
            margin: 0;
        }

        h1, h2 {
            font-family: 'Gilroy';
        }

        h1 {
            font-weight: 500;
            font-size: 30px;
            background-position: 0 24px;
            background-repeat: no-repeat;
            margin-bottom: 0;
        }

        h2 {
            font-size: 21px;
            font-weight: 400;
            padding-bottom: 8px;
        }

        p {
            font-family: Inter;
            font-size: 16px;
            padding: 0;
            margin: 16px 0;
        }

        > p {
            margin-top: 0;
        }

        .flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12px;

        }

        .flex-2-col {
            flex-basis: calc(50% - 6px);
            display: flex;

            a {
                display: flex;
                flex-grow: 1;
            }
        }

        .flex-1-col {
            flex-basis: 100%;
        }

        div.col,
        div.row {
            display: flex;
            gap: 12px;
        }

        div.col {
            flex-direction: column;
        }

        div.cols-2 {
            flex-direction: row;
        }

        .flex,
        div.cols-2 {
            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        div.row {
            flex-direction: row;

            a {
                flex: 1;
            }
        }

        div.card-heading {
            display: flex;

            h2 {
                margin-top: 0;
                border-bottom: 0;
            }
        }

        div.card-heading-1 {
            justify-content: space-between;
            border-bottom: 1px solid $border-color-outer-card;
            color: $text-color;
            flex: 1;

            h2 {
                margin-bottom: 12px;
                padding-bottom: 0;
            }
        }

        div.card-heading-2 {
            flex-direction: row;
            align-items: center;

            div.heading {
                display: flex;
                flex: 1;
                align-items: center;

                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        div.heading {
            display:flex;
            align-items: center;
        }

        div.card-inner {
            box-shadow: 0px 0px 12px rgba(95,96,101,.08);
            border: 1px solid $border-color-inner-card;
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;
            background: $white;
            border-radius: 4px;
            flex-basis: 100%;

            p {
                color: $text-color-inner-card;
                font-family: Gilroy;
                font-size: 18px;
                margin: 0;
            }

            &:hover {
                background: $card-background;
                border: 1px solid $border-hover;

                p {
                    color: $text-color;
                }
            }

            div.card-inner-content-1 {
                display: flex;
                flex-direction: row;
                align-items: center;

                div.icon {
                    min-width: 18px;
                }
            }

            p.inner-card-description {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 14px;
                color: $text-color;
            }
        }

        section.card-outer {
            box-shadow: 0px 2px 24px 0px $box-shadow;
            border: 1px solid $border-color-outer-card;
            border-radius: 4px;
            padding: 24px;
        }

        section.card-outer-hover {
            &:hover {
                background: $card-background;
                border: 1px solid $border-hover;
            }
        }

        .card-gradient {
                background: rgb(246, 247, 253);
                background: linear-gradient(
                    135deg,
                    rgba(246, 247, 253, 1) 0%,
                    rgba(249, 247, 252, 1) 5%,
                    rgba(249, 245, 250, 1) 10%,
                    rgba(254, 248, 249, 1) 15%,
                    rgba(255, 253, 247, 1) 20%,
                    rgba(255, 255, 255, 1) 25%,
                    rgba(255, 255, 255, 1) 75%,
                    rgba(254, 248, 249, 1) 80%,
                    rgba(254, 248, 249, 1) 85%,
                    rgba(249, 245, 250, 1) 90%,
                    rgba(249, 247, 252, 1) 95%,
                    rgba(246, 247, 253, 1) 100%
                );
            }

        section.get-started {
            display: flex;
            justify-content: center;

            div.card {
                padding: 16px 24px;
                box-shadow: 0px 2px 24px rgba(77, 91, 217, 0.14);
                border-radius: 4px;
                background: rgba(237, 239, 251, 0.5);
                border: 1px solid map-get($blue, 350);
                flex-direction: row;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    background: map-get($blue, 100);
                    border: 1px solid map-get($blue, 450);
                }

                p {
                    font-family: 'Gilroy';
                    font-weight: 500;
                    font-size: 21px;
                    margin: 0;
                }

                div.icon-get-started-arrow {
                    margin-left: 16px;
                }

                div.heading div.icon {
                    margin-right: 16px;
                }

                @media (min-width: 400px) {
                    min-width: 400px;
                }
            }
        }

        section.providers {
            h2 {
                font-size: 24px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            p {
                margin-top: 0;
                margin-bottom: 8px;
            }

            div.provider-card {
                flex-grow: 1;
                box-shadow: 0px 2px 24px 0px $box-shadow;
                border: 1px solid $border-color-outer-card;
                border-radius: 4px;
                padding: 24px;
                flex-basis: 50%;
            
                div.heading p {
                    font-family: 'Gilroy';
                    font-weight: 500;
                    font-size: 21px;
                }
        
                div.content-link {
                    background: $white;
                    border: 1px solid $border-color-inner-card;
                    box-shadow: 0px 0px 12px rgba(95, 96, 101, 0.08);
                    border-radius: 4px;
                    padding: 8px 24px;
                    flex-basis: 100%;
        
                    &:hover {
                        background: $card-background;
                        border: 1px solid $border-hover;
                    }

                    div.heading div.icon {
                        top: -1px;
                        color: $text-color-inner-card
                    }

                    div.heading p.content-name {
                        font-family: 'Gilroy';
                        font-weight: 500;
                        font-size: 18px;
                        color: $text-color-inner-card;
                        margin: 0;
                    }
                }

                a:hover {
                    p,
                    div.icon {
                        color: $text-color !important;
                    }
                }

                div.provider-heading {
                    justify-content: space-between;
                    align-items: flex-start;

                    p.provider-label {
                        font-family: 'Inter';
                        font-size: 14px;
                        text-align: right;
                        margin-top: 4px;

                        &.preview {
                            font-weight: 400;
                            color: $text-color-inner-card;
                        }

                        &.recommended {
                            font-weight: 500;
                            color: map-get($gray, 925);
                            padding: 2px 6px;
                            border: 1px solid map-get($blue, 250);
                            border-radius: 3px;
                        }
                    }
                }
            }
        }

        section.convert {
            div.recycle-gray-21-21 {
                display: none;

                @media (min-width: 450px) {
                    display: block;
                }
            }
        }

        div.icon-left-of-heading {
            position: relative;
            top: -1px;
            margin-right: 12px;
        }

        div.icon-left-of-card-label {
            position: relative;
            top: -1px;
            margin-right: 8px;
        }

        div.icon-right-of-heading {
            top: 3px;
            position: relative;
            margin-right: 2px;
        }
    }
}