// Widget showing a nicely formatted logo grid of our supported CI/CD platforms.
.supported-cicd-platforms {
    @apply flex flex-row flex-wrap;

    > a {
        @apply btn whitespace-normal bg-transparent border border-gray-300 mb-4 p-4 text-center;

        width: calc(50% - 1rem);
        &:not(:nth-child(2n)) {
            @apply mr-4;
        }

        @screen md {
            width: calc(33% - 1rem);
            &:not(:nth-child(3n)) {
                @apply mr-4;
            }
        }

        @screen xl {
            width: calc(25% - 1rem);
            &:not(:nth-child(4n)) {
                @apply mr-4;
            }
        }

        &:hover {
            @apply bg-gray-100;
        }

        img {
            @apply mx-auto w-auto;
            height: 100px;
        }

        h4 {
            @apply mt-0 w-full;
        }
    }
}
