section.docs-home {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1, h2, h3, p {
        margin: 0 !important;
        margin-top: 0;
    }

    h2 {
        margin-bottom: 12px;
    }

    h3 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 21px;
        color: var(--color-gray-950);
    }

    div.header {
        @apply flex flex-col gap-4 p-6 rounded bg-no-repeat bg-right-bottom;
        min-height: 200px;


        p {
            @apply max-w-2xl;
        }

        @include screen-xxl {
            .docs-content-width-expanded & {
                p {
                    @apply max-w-2xl;
                }
            }
        }

        div.link-buttons {
            display: flex;
            gap: 8px;
        }
    }

    h2 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 24px;
        color: var(--color-gray-950);
    }

    div.docs-home-section {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    div.blue-sparkle {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 0;
        background: var(--color-blue-100);
        border-radius: 4px;

        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        div.sparkle {
            background-image: url("/images/docs/sparkle.svg");
            width: 48px;
            height: 40px;
        }
    }

    a.full-width-card {
        @include transition;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 24px;
        background: #fff;
        border: 1px solid var(--color-gray-200);
        box-shadow: 0px 2px 24px rgba(95, 96, 101, 0.14);
        border-radius: var(--radius-lg);

        div.icon-heading {
            display: flex;
            align-items: center;
            gap: 12px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--color-gray-200);

            div.icon {
                top: -1px;
            }
        }

        &:hover {
            background: var(--color-gray-50);
            border-color: var(--color-gray-300);
        }
    }

    div.cards-logo-label-link {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        flex-direction: row;

        &.clouds a {
            flex-basis: 100%;

            div.label {
                padding: 12px;
            }

            @media (min-width: 768px) {
                flex-basis: 49%;
            }
        }

        &.secrets-integrations a {
            flex-basis: 100%;
            
            div.label {
                padding: 12px;
            }
            
            @media (min-width: 768px) {
                max-width: 49%;
            }
        }

        &.languages a {
            flex-basis: 32%;

            @media (min-width: 1240px) {
                flex-basis: 15%;
            }

            div.card-icon {
                padding: 12px 0px;
            }
            div.label {
                padding: 8px 12px;
            }
        }

        a {
            @include transition;
            flex: 1;
            border: 1px solid var(--color-gray-200);
            border-radius: var(--radius-lg);

            div.card-icon {
                background: var(--color-gray-50);
                border-bottom: 1px solid var(--color-gray-200);
                border-radius: var(--radius-lg) var(--radius-lg) 0 0;
                display: flex;
                justify-content: center;
                padding: 24px 0px;
            }

            div.label {
                background: #fff;
                border-radius: 0 0 var(--radius-lg) var(--radius-lg);
                font-family: 'Inter';
                font-weight: 400;
                font-size: 18px;
                color: var(--color-gray-950);
            }

            &:hover {
                border-color: var(--color-gray-300);
            }
        }
    }

    div.docs-home-section h2#clouds + p {
        margin-bottom: 12px !important;
    }
}

