footer.docs-footer {
    padding: 24px;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, rgba(247, 191, 42, 0.3) 0%, rgba(242, 110, 126, 0.3) 18.23%, rgba(190, 81, 136, 0.3) 38.02%, rgba(138, 51, 145, 0.3) 53.65%, rgba(128, 90, 195, 0.3) 74.48%, rgba(118, 130, 244, 0.3)) 1;
    justify-content: space-between;
    gap: 40px;

    div.icon-pulumi-logo {
        margin-right: 12px;
    }

    div.heading {
        min-width: 170px;

        p {
            margin: 8px 0;
            display: flex;
        }

        p.open-source {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 16px;       
            color: #5f6065;
            margin-top: 0;
        }

        p.copyright {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            color: #808080;
        }
    }

    ul {
        gap: 12px 24px;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        text-align: right;

        li {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            color: #5f6065;
            
            &:hover {
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-color: #8e8f97;
            }
        }
    }
}