.section-tutorials,
.section-collections {
    .gradient-card {
        background: linear-gradient(
                121deg,
                #f6f7fd 0%,
                #f9f7fc 5.24%,
                #f9f5fa 9.77%,
                #fef8f9 14.35%,
                #fffdf7 17.83%,
                #fff 22.11%,
                #fff 79.52%,
                #fffdf7 86.29%,
                #fef8f9 89.41%,
                #f9f5fa 92.9%,
                #f9f7fc 96.56%,
                #f6f7fd 100%,
                #f6f7fd 100%
            ),
            #fff;
    }

    .gradient-highlight {
        @apply relative opacity-10 h-3 -top-4;
        width: calc(100% - 2rem);
        background: linear-gradient(
            90deg,
            map-get($brand, "yellow") 0%,
            map-get($brand, "salmon") 18.23%,
            map-get($brand, "fuchsia-darker") 38.02%,
            map-get($brand, "purple") 53.65%,
            map-get($brand, "violet") 74.48%,
            map-get($brand, "blue-lighter") 100%
        );
    }

    nav.main-nav {
        div.toc-header {
            @apply ml-0;

            + .top-level-container {
                @apply ml-3;
            }
        }

        li.sidenav-topic {
            @apply mx-2 border-l-0;
        }

        ul {
            @apply pl-1;
        }

        a {
            @apply px-1 inline-block;

            &:hover {
                @apply bg-blue-100 no-underline;
            }
        }
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }
}
