.tutorials-main {
    font-family: Gilroy;
    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 21px !important;
    }

    .topic-badge {
        align-content: center;
        border-radius: 4px;
        border: 1px solid #B985BD;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        gap: 4px;
        height: 26px;
        line-height: 21px;
        margin: 0px 3px;
        padding: 6px 8px;
        text-align: left;
        width: 88px;
    }

    .tutorials-clouds {

        .cloud-cards {
            display: flex;
            width: 100%;

            >li {
                flex-basis: 48%;
                height: fit-content;

                .card-heading {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: row;

                    img {
                        height: 24px;
                    }
                }

                .cloud-card {
                    >li {
                        align-items: center;
                        border-radius: 4px;
                        border: 1px 0px 0px 0px;
                        border: 1px solid #DCDCDC;
                        display: flex;
                        flex-direction: row;
                        gap: 6px;
                        padding: 12px 24px;

                        >a {
                            color: #5F6065;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 36px;
                            text-align: left;
                        }
                    }
                }

                border-radius: 4px;
                background: linear-gradient(121deg, #F6F7FD 0%, #F9F7FC 5.24%, #F9F5FA 9.77%, #FEF8F9 14.35%, #FFFDF7 17.83%, #FFF 22.11%, #FFF 79.52%, #FFFDF7 86.29%, #FEF8F9 89.41%, #F9F5FA 92.9%, #F9F7FC 96.56%, #F6F7FD 100%, #F6F7FD 100%),
                #FFF;
                box-shadow: 0px 2px 24px 0px #5f606524;
            }

            border-radius: 4px;
            border: 1px 0px 0px 0px;
            gap: 12px;
            padding: 12px 24px;
        }
    }

    .tutorials-topics, .tutorials-all {
        .tutorial-cards {
            border-radius: 4px 0px 0px 0px;
            border: 1px 0px 0px 0px;
            gap: 12px;
            height: fit-content;
            padding: 12px 24px 12px 24px;
            >li {
                border-radius: 4px 0px 0px 0px;
                border-radius: 4px;
                border: 1px 0px 0px 0px;
                box-shadow: 0px 2px 24px 0px #5F606524;
                flex-basis: 30%;
                gap: 12px;
                height: 100%;
                padding: 12px 24px;
                
                .card-heading {
                    align-items: flex-start;
                    border-bottom: 1px solid #E5E5E9;
                    display: flex;
                    flex-direction: row;
                    
                    h3 {
                        flex-grow: 1;
                        a {
                            color: #2F3023 !important;
                        }
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}
