{{ define "hero" }}
    {{ partial "hero" (dict "title" "Pulumi for Terraform Users") }}
{{ end }}

{{ define "main" }}
    <section id="overview" class="container mx-auto px-2 my-16">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 p-6">
                <div>
                    <h2>Increase scale and productivity with programming languages</h2>
                    <p>
                        Pulumi and Terraform describe and provision infrastructure differently. Terraform uses a proprietary domain-specific language (DSL) called HashiCorp
                        Configuration Language (HCL). Pulumi uses general purpose languages that better help you tame cloud complexity and accelerate development velocity.
                    </p>
                    <p>See our <a href="/docs/intro/vs/terraform">Pulumi vs. Terraform guide</a> for detailed differences between the two platforms.</p>
                </div>
            </div>

            <div class="w-full lg:w-1/2 p-6">
                <div class="rounded shadow-md" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                    <iframe
                        src="//www.youtube.com/embed/PqAP4BunQZU?rel=0"
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                        allowfullscreen=""
                        title="Pulumi + AWS: Universal Infrastructure as Code"
                    ></iframe>
                </div>
            </div>
        </div>
    </section>

    <div class="bg-gray-100 py-24">
        <section class="container mx-auto px-8 lg:px-4">
            <h2 class="text-center">The benefits of using Pulumi</h2>
            <div class="my-24">
                <h3 class="text-center my-8">Scalability</h3>
                <p class="text-lg max-w-4xl mx-auto text-center my-12">
                    Pulumi can tame the complexity and scale of infrastructure with thousands of resources through the composability and modularity of programming languages. Pulumi
                    empowers you to test and deliver your infrastructure with all the standard best practices for shipping software.
                </p>
                <pulumi-tabs class="my-8">
                    <pulumi-tab label="Classes">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.scalability.classes.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.scalability.classes.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.scalability.classes.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                    <pulumi-tab label="Components">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.scalability.components.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.scalability.components.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.scalability.components.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                    <pulumi-tab label="Testing">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.scalability.testing.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.scalability.testing.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.scalability.testing.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                </pulumi-tabs>
            </div>
        </section>

        <section class="container mx-auto px-8 lg:px-4">
            <div>
                <h3 class="text-center my-8">Productivity</h3>
                <p class="text-lg max-w-4xl mx-auto text-center my-12">
                    Pulumi can tame the complexity and scale of infrastructure with thousands of resources through the composability and modularity of programming languages. Pulumi
                    empowers you to test and deliver your infrastructure with all the standard best practices for shipping software.
                </p>
                <pulumi-tabs class="my-8">
                    <pulumi-tab label="Loops">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.productivity.loops.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.loops.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.loops.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                    <pulumi-tab label="Conditionals">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.productivity.conditionals.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.conditionals.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.conditionals.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                    <pulumi-tab label="Event Handlers">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.productivity.eventHandlers.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.eventHandlers.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.eventHandlers.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                    <pulumi-tab label="Statement Completion">
                        <p class="my-8 text-center max-w-3xl mx-auto">
                            {{ .Params.benefits.productivity.statementCompletion.blurb }}
                        </p>
                        <div class="flex flex-col md:flex-row">
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.statementCompletion.ts "lang" "ts" "statusbar" "Pulumi TypeScript" "height" "32rem" ) }}
                            </div>
                            <div class="md:w-1/2 my-2 md:my-0 md:mx-2">
                                {{ partial "code-scrollable" (dict "code" .Params.benefits.productivity.statementCompletion.hcl "lang" "json" "statusbar" "Terraform HCL" "height" "32rem" ) }}
                            </div>
                        </div>
                    </pulumi-tab>
                </pulumi-tabs>
            </div>
        </section>
    </div>

    <div class="bg-white py-32">
        <section class="container mx-auto w-full relative overflow-visible">
            <h2 class="text-center">Next steps</h2>
            <p class="container mx-auto max-w-3xl text-lg text-center my-8">
                As a Terraform user, there are many ways that you can adopt Pulumi. You can convert existing HCL to Pulumi programs, adopt existing Terraform resource state, and
                coexist and reference Terraform stacks from within Pulumi programs.
            </p>
            <ul class="flex flex-col lg:flex-row list-none">
                <li class="lg:w-1/3">
                    <div>
                        <div class="w-full p-4 my-2">
                            <div class="card text-center py-16 px-8 relative bg-white">
                                <h5>Convert HCL to Pulumi code</h5>
                                <div class="flex flex-col lg:flex-row justify-center items-center mt-4">
                                    <div class="my-2 mx-2 w-full lg:w-auto">
                                        <a href="{{ relref . "/blog/from-terraform-to-infrastructure-as-software" }}" class="w-full block md:w-auto md:inline-block btn-secondary"
                                            >Learn more</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lg:w-1/3">
                    <div>
                        <div class="w-full p-4 my-2">
                            <div class="card text-center py-16 px-8 relative bg-white">
                                <h5>Adopt existing resource state</h5>
                                <div class="flex flex-col lg:flex-row justify-center items-center mt-4">
                                    <div class="my-2 mx-2 w-full lg:w-auto">
                                        <a href="{{ relref . "/blog/adopting-existing-cloud-resources-into-pulumi" }}" class="w-full block md:w-auto md:inline-block btn-secondary"
                                            >Learn more</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lg:w-1/3">
                    <div>
                        <div class="w-full p-4 my-2">
                            <div class="card text-center py-16 px-8 relative bg-white">
                                <h5>Coexist with Terraform state</h5>
                                <div class="flex flex-col lg:flex-row justify-center items-center mt-4">
                                    <div class="my-2 mx-2 w-full lg:w-auto">
                                        <a href="{{ relref . "/blog/using-terraform-remote-state-with-pulumi" }}" class="w-full block md:w-auto md:inline-block btn-secondary"
                                            >Learn more</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    {{ partial "hand-raise-section" . }}
{{ end }}
