body.page-404 {
    // When to switch between the layout for larger screens or smaller ones.
    $width-break: 830px;

    // Position of the content.
    $position-top: 17vw;
    $position-left: 27vw;

    @apply bg-gray-900;

    img {
        @apply max-w-none;
    }

    // The content is put inside of #clouds-and-beams.
    #clouds-and-beams {
        @apply text-white leading-normal text-xl mt-8 absolute w-1/2;

        h1,
        h2,
        p {
            text-shadow: 0 1px 2px #111;
        }

        h1 {
            @apply text-5xl mt-4 font-bold text-white;
        }

        h2 {
            @apply text-3xl text-gray-100 my-2 font-body;
        }

        p:first-of-type {
            @apply text-lg pt-4 text-white;

            a {
                @apply underline text-white;
            }
        }

        @media (max-width: $width-break) {
            top: calc(#{$position-top} * 1.5);
            left: calc(#{$position-left} * 1.5);
        }

        @media (min-width: $width-break) {
            top: $position-top;
            left: $position-left;
        }
    }

    @media (max-width: $width-break) {
        .logo {
            height: calc(4.65vw * 1.5);
            top: calc(3.06vw * 1.5);
            left: calc(3.47vw * 1.5);
        }

        .cloud1 {
            height: calc(10.49vw * 1.5);
            top: calc(3.33vw * 1.5);
            left: calc(31.8vw * 1.5);
        }

        .cloud2 {
            height: calc(13.33vw * 1.5);
            top: calc(6.6vw * 1.5);
            left: calc(63.19vw * 1.5);
        }

        .cloud3 {
            height: calc(33.82vw * 1.5);
            top: calc(2.5vw * 1.5);
            left: calc(37.99vw * 1.5);
        }

        .lightning3 {
            height: calc(53.82vw * 1.5);
            top: calc(15.5vw * 1.5);
            left: calc(50vw * 1.5);
        }

        .cloud4 {
            height: calc(42.7vw * 1.5);
            top: calc(1.67vw * 1.5);
            left: calc(22.01vw * 1.5);
        }

        .beam1 {
            height: calc(138vw * 1.5);
            top: calc(7.3vw * 1.5);
            left: calc(32.9vw * 1.5);
        }

        .beam2 {
            height: calc(186vw * 1.5);
            top: calc(11.7vw * 1.5);
            left: calc(64.65vw * 1.5);
        }

        .beam3 {
            height: calc(599vw * 1.5);
            top: calc(15.4vw * 1.5);
            left: calc(35.3vw * 1.5);
        }

        .beam4 {
            height: calc(595vw * 1.5);
            top: calc(18vw * 1.5);
            left: calc(26.8vw * 1.5);
        }
    }

    @media (min-width: $width-break) {
        .logo {
            height: 4.65vw;
            top: 3.06vw;
            left: 3.47vw;
        }

        .cloud1 {
            height: 10.49vw;
            top: 3.33vw;
            left: 31.8vw;
        }

        .cloud2 {
            height: 13.33vw;
            top: 6.6vw;
            left: 63.19vw;
        }

        .cloud3 {
            height: 33.82vw;
            top: 2.5vw;
            left: 37.99vw;
        }

        .lightning3 {
            height: 53.82vw;
            top: 15.5vw;
            left: 50vw;
        }

        .cloud4 {
            height: 42.7vw;
            top: 1.67vw;
            left: 22.01vw;
        }

        .beam1 {
            height: 138vw;
            top: 7.3vw;
            left: 32.9vw;
        }

        .beam2 {
            height: 186vw;
            top: 11.7vw;
            left: 64.65vw;
        }

        .beam3 {
            height: 599vw;
            top: 15.4vw;
            left: 35.3vw;
        }

        .beam4 {
            height: 595vw;
            top: 18vw;
            left: 26.8vw;
        }
    }

    .logo {
        @apply absolute;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes lightningframes {
        14% {
            opacity: 0;
        }
        15% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        18% {
            opacity: 0;
        }
        19% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        22% {
            opacity: 1;
        }
        23% {
            opacity: 0;
        }
    }

    @keyframes frames1 {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(0.6vw);
        }
    }

    @keyframes frames2 {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-0.75vw);
        }
    }

    @keyframes frames3 {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(1vw);
        }
    }

    @keyframes frames4 {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-0.5vw);
        }
    }

    .anim1 {
        animation: frames1 8s ease-in-out 0s infinite alternate-reverse;
        min-height: 1px;
        @apply absolute top-0 right-0 bottom-0 left-0 overflow-hidden;
    }

    .anim2 {
        animation: frames2 17s ease-in-out 0s infinite alternate-reverse;
        min-height: 1px;
        @apply absolute top-0 right-0 bottom-0 left-0 overflow-hidden;
    }

    .anim3 {
        animation: frames3 14s ease-in-out 0s infinite alternate-reverse;
        min-height: 1px;
        @apply absolute top-0 right-0 bottom-0 left-0 overflow-hidden;
    }

    .anim4 {
        animation: frames4 7s ease-in-out 0s infinite alternate-reverse;
        min-height: 1px;
        @apply absolute top-0 right-0 bottom-0 left-0 overflow-hidden;
    }

    .cloud1 {
        @apply opacity-0 absolute;
        animation: fadein 0.5s ease-in 0.6s;
        animation-fill-mode: forwards;
    }

    .cloud2 {
        @apply opacity-0 absolute;
        animation: fadein 0.5s ease-in 0.4s;
        animation-fill-mode: forwards;
    }

    .cloud3 {
        @apply opacity-0 absolute;
        animation: fadein 0.5s ease-in 0.2s;
        animation-fill-mode: forwards;
    }

    .lightning3 {
        @apply opacity-0 fixed;
        animation: lightningframes 5s linear 0.2s infinite;
    }

    .cloud4 {
        @apply opacity-0 absolute;
        animation: fadein 0.5s ease-in 0s;
        animation-fill-mode: forwards;
    }

    .beam1 {
        @apply opacity-0 fixed;
        animation: fadein 0.5s ease-in 0.6s;
        animation-fill-mode: forwards;
    }

    .beam2 {
        @apply opacity-0 fixed;
        animation: fadein 0.5s ease-in 0.4s;
        animation-fill-mode: forwards;
    }

    .beam3 {
        @apply opacity-0 fixed;
        animation: fadein 0.5s ease-in 0.2s;
        animation-fill-mode: forwards;
    }

    .beam4 {
        @apply opacity-0 fixed;
        animation: fadein 0.5s ease-in 0s;
        animation-fill-mode: forwards;
    }
}
