.about-navigation-container {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    #about-nav {
        @apply flex gap-x-9;
        
        list-style: none !important;

        li {
            > a {
                @apply inline-flex w-max text-base font-medium text-center text-gray-700 no-underline;
            }

            &:hover {
                @apply border-gray-600;

                > a {
                    @apply text-black;
                }
            }

            &:last-of-type {
                @apply mr-8;
            }
        }

        // On initial load without a target in the url, the all tab should be active.
        li.active-about-nav-item {
            @include gradient-border;

            > a {
                @apply font-semibold text-black;
            }
        }
    }
}

.community-spotlight {
    img {
        height: 115px;
    }
}

.careers-cta {
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #f7bf2a 0%, #f26e7e 18.23%, #be5188 38.02%, #8a3391 53.65%, #805ac3 74.48%, #7682f4 100%);
}

#awards {
    .award {
        height: 230px;
        width: 230px;
        border-radius: 14px;
        background: linear-gradient(90deg, #f7bf2a 0%, #f26e7e 18.23%, #be5188 38.02%, #8a3391 53.65%, #805ac3 74.48%, #7682f4 100%);
    
        a {
            height: 226px;
            width: 226px;
            border-radius: 12px;
            background-color: white;

            img {
                width: 180px;
            }
        }
    }
}

#we-are-pulumi {
    @apply relative w-full;

    .dot-overlay {
        @apply w-full h-full absolute top-0 left-0 pointer-events-none;
        z-index: -1;;
    }

    .title {
        z-index: 100;

        h2 {
            width: fit-content;
        }
    }
}

.about-card {
    width: 360px;
    .about-card-photo {
        width: 150px;
        height: 150px;
        border-right: 4px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(#F7BF2A 0%, #F26E7E 18.23%, #BE5188 38.02%, #8A3391 53.65%, #805AC3 74.48%, #7682F4 100%)
    }

    .social-overlay {
        li {
            @apply mr-5;

            a {
                @apply text-white;
            }
        }
    }
}

#we-are-pulumi, #who-we-are, #what-we-believe, #community, #history, #awards, #newsroom, #join-us {
    scroll-margin-top: 75px;
}

.photo-container {
    img {
        border: double 6px transparent;
        border-radius: 6px;
        background-image: linear-gradient(white, white), linear-gradient(#F7BF2A 0%, #F26E7E 18.23%, #BE5188 38.02%, #8A3391 53.65%, #805AC3 74.48%, #7682F4 100%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
}

.photo-background {
    max-width: 1440px;
}



.about-us-gradient-hero {
    border-top: 6px solid;
    border-bottom: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #F7BF2A 0%, #F26E7E 18.23%, #BE5188 38.02%, #8A3391 53.65%, #805AC3 74.48%, #7682F4 100%);
    height: 20rem;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #FCC247 0%, #F06DE9 100%);
    z-index: 10;
  
    &:before {
        background: linear-gradient(180deg, #f1d1a0 0%, #AE6BFE 100%);
        content: '';    
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -150;
        animation: opacity-animation 8s infinite ease-in-out;
    }

    .element-1, .element-2, .element-3 {
        position: absolute;
    }

    .element-1 {
        height: 500px;
        width: 600px;
        border-radius: 50%;
        bottom: -340px;
        filter: blur(40px);
        background: radial-gradient(#F87579, #F7BF2A);

        &:before {
            background: radial-gradient(#FCC247, #DA86D8);
            content: '';    
            display: block;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            opacity: 0;
            width: 100%;
            z-index: -150;
            animation: opacity-animation 8s infinite ease-in-out;
        }
    }

    .element-2 {
        height: 160px;
        width: 650px;
        border-radius: 50%;
        left: 18.5%;
        bottom: 20%;
        background: radial-gradient(rgba(188, 190, 135, 0.9), rgb(189, 191, 97));
        filter: blur(30px);
        transform: skew(20deg, 8deg);
        border-radius: 4% 96% 60% 40% / 61% 70% 30% 39%;
    
        &:before {
            background: radial-gradient(rgba(116, 188, 248, 0.9), #B78FA8);
            border-radius: 4% 96% 60% 40% / 61% 70% 30% 39%;
            left: 18.5%;
            bottom: 20%;
            content: '';    
            display: block;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            opacity: 0;
            width: 100%;
            z-index: -150;
            animation: opacity-animation 8s infinite ease-in-out;
        }
    }

    .element-3 {
        height: 200px;
        width: 400px;
        border-radius: 50%;
        right: -10%;
        top: -15%;
        transform: rotate(90deg);
        filter: blur(40px);
        
        &:before {
            background: radial-gradient(#47C2C0, #B78FA8);
            content: '';    
            display: block;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            opacity: 0;
            width: 100%;
            z-index: -150;
            animation: opacity-animation 8s infinite ease-in-out;
        }
    }
}


@keyframes opacity-animation {
  0% {
    opacity: 0;
  } 
  
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }
}

.value-card {
    height: 600px;   

    @screen xl {
        height: 465px;
    }
    border: double 2px transparent;
    border-radius: 12px;
    background-image: linear-gradient(white, white), linear-gradient(#F7BF2A 0%, #F26E7E 18.23%, #BE5188 38.02%, #8A3391 53.65%, #805AC3 74.48%, #7682F4 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


.values-flex .value-card {
    width: 90%;
    height: auto;

    @screen md {
        height: 505px;
    }

    h4 {
        @apply text-3xl;

        @screen md {
            @apply text-2xl;
        }
    }

    @screen md {
        width: 365px;

        p {
            @apply mt-0;
        }
    }
}
