.accordion-item {
    .accordion-label {
        @apply flex w-full cursor-pointer select-none;

        &:hover {
            @apply underline;
        }
    }

    .accordion-item-body,
    .accordion-item-body-large {
        @apply overflow-hidden;
        max-height: 0;
        transition: max-height 1s ease-out;
    }

    .accordion-item-body-no-animation {
        @apply hidden;
    }

    input[type="checkbox"]:checked {
        ~ .accordion-label {
            .closed-accordion {
                @apply hidden;
            }

            .open-accordion {
                @apply block;
            }
        }

        ~ .accordion-item-body {
            max-height: 20rem;
            transition: max-height 0.5s ease-in;

            @screen lg {
                max-height: 10rem;
            }
        }

        ~ .accordion-item-body-large {
            max-height: 120rem;
            transition: max-height 1s ease-in;

            @screen md {
                max-height: 90rem;
            }
        }

        ~ .accordion-item-body-no-animation {
            @apply block;
        }
    }
}
