$black: #000;
$white: #fff;

$brand: (
    "yellow": #f7bf2a,
    "salmon": #f26e7e,
    "fuchsia": #bd4c85,
    "fuchsia-darker": #be5188,
    "purple": #8a3391,
    "violet": #805ac3,
    "blue-lighter": #7682f4,
    "blue": #4d5bd9,
    "blue-darker": #4552c3,
);

$brand-yellow: map-get($brand, "yellow");
$brand-salmon: map-get($brand, "salmon");
$brand-fuchsia: map-get($brand, "fuchsia");
$brand-purple: map-get($brand, "purple");
$brand-violet: map-get($brand, "violet");
$brand-blue: map-get($brand, "blue");

$gray: (
    100: #f9f9f9,
    200: #dfdfdf,
    300: #d0d0d2,
    400: #aaa,
    500: #8f8f90,
    600: #757576,
    700: #5b5b5b,
    800: #404041,
    900: #353537,
    1000: #2b2b2c
);

$yellow: (
    100: #fffcf5,
    200: #fdf0ce,
    300: #fce3a7,
    400: #fad780,
    500: #f9cb59,
    600: $brand-yellow,
    700: #987c37,
    800: #685525,
    900: #584412,
    1000: #413005
);

$salmon: (
    100: #fff7f8,
    200: #fbd4d8,
    300: #fac5cb,
    400: #f9b7bf,
    500: #f69aa5,
    600: #f26e7e,
    700: #c45966,
    800: #902e3c,
    900: #6c232d,
    1000: #511a22
);

$fuchsia: (
    100: #fff5fa,
    200: #ffe8f3,
    300: #ffd5eb,
    400: #eeb2d1,
    500: #de90b8,
    600: #cd6e9e,
    700: #bd4c85,
    800: #872c5c,
    900: #701c4d,
    1000: #5a163e
);

$purple: (
    100: #fdf4fd,
    200: #f6e6f7,
    300: #edd3ef,
    400: #d4abd7,
    500: #bb83c0,
    600: #a25ba8,
    700: #8a3391,
    800: #752d7b,
    900: #0c0a0c,
    1000: #421645
);

$violet: (
    100: #faf9fd,
    200: #e5dff1,
    300: #d7cdea,
    400: #bba9da,
    500: #a68ecf,
    600: #9174c3,
    700: #805ac3,
    800: #673eac,
    900: #481a96,
    1000: #2d0472
);

$blue: (
    100: #f9f9fe,
    200: #dde0f8,
    300: #cbd0f6,
    400: #a5aced,
    500: #8992e8,
    600: #6d79e2,
    700: #4d5bd9,
    800: #3545d7,
    900: #091bbf,
    1000: #000280
);

$orange: (
    100: #fefbf8,
    200: #f8e1cc,
    300: #f3c9a5,
    400: #ecac74,
    500: #e69148,
    600: #e0771c,
    700: #aa5a15,
    800: #733d0e,
    900: #652d00,
    1000: #4e1d00
);

$green: (
    100: #f8faf8,
    200: #d8e5d7,
    300: #c1d4bf,
    400: #99ba96,
    500: #79a476,
    600: #5a8f55,
    700: #3a7a35,
    800: #1a6414,
    900: #095703,
    1000: #004200
);

$aqua: (
    // Background 1
    100: #f7fcfc,
    // Background 2
    200: #d1eeee,
    // Background 3
    300: #b4e3e2,

    400: #84d2d1,
    500: #56bfbc,

    // Tertiary
    600: #30a2a0,
    // Secondary
    700: #26817f,
    // Primary
    800: #1b5e5c,

    900: #144746,
    1000: #0c2f2f
);

$red: (
    // Background 1
    100: #fcf9f9,
    // Background 2
    200: #efdada,
    // Background 3
    300: #e7caca,

    400: #d49e9e,
    500: #c68080,

    // Tertiary
    600: #b96262,
    // Secondary
    700: #ab4444,
    // Primary, Error, Destructive
    800: #9e2626,

    900: #890b0b,
    1000: #670000
);