pulumi-copilot {
    // Relative to the viewport so copilot moves w/ the scrolling
    position: fixed;

    // Popovers on site use z-index: 20
    z-index: 10;

    // Default, make space for the navbar
    top: 108px;
    right: 0;
    bottom: 0;
}

// Per page positions
// ------------------

// Main page
// ---

/* FIXME: no section suffix? */
.section- pulumi-copilot {
    top: 200px;
}