.customer-logo {
    svg {
        @apply w-full h-full;
    }

    &-black {
        svg {
            @apply w-full h-full;
        }

        path {
            fill: black;
        }
    }

    &-hoverable {
        svg {
            @apply w-full h-full;
        }
    }

    &-hoverable:not(:hover) {
        filter: grayscale(1);
    }
}

.ro-hoverable {
    .ro-gray {
        @apply block;
    }

    .ro-color {
        @apply hidden;
    }

    &:hover {
        .ro-gray {
            @apply hidden;
        }

        .ro-color {
            @apply block;
        }
    }
}
