@font-face {
    font-family: "Monaspace Neon Var";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/monaspace-neon-var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/inter-regular.woff2") format("woff2"), url("/fonts/inter-regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/inter-medium.woff2") format("woff2"), url("/fonts/inter-medium.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/inter-semibold.woff2") format("woff2"), url("/fonts/inter-semibold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/inter-bold.woff2") format("woff2"), url("/fonts/inter-bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/inter-italic.woff2") format("woff2"), url("/fonts/inter-italic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/inter-semibold-italic.woff2") format("woff2"), url("/fonts/inter-semibold-italic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/inter-bold-italic.woff2") format("woff2"), url("/fonts/inter-bold-italic.woff") format("woff");
}
