@import "mixins";

.home-page-hero {
    @apply relative w-full border-b border-gray-300;
    min-height: 24rem;

    @screen lg {
        @apply h-96;
    }

    .home-page-hero-background {
        @apply w-full h-full overflow-hidden;

        img {
            @apply w-full;
        }
    }

    .home-page-hero-text {
        h1 {
            @apply mx-0;
            line-height: 3.5rem !important;
            font-size: 3rem !important;
        }
    }

    .dot-overlay {
        @apply w-full h-full absolute top-0 left-0 pointer-events-none;
        background: linear-gradient(175deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.5004551991695115) 50%, rgba(255, 255, 255, 1) 95%);
        z-index: -1;
    }

    .home-hero-btn-primary {
        @include gradient-button;
        @apply py-4 px-8;
    }

    .home-hero-btn-secondary {
        @apply py-4 px-8;
    }

    .home-page-hero-content {
        @apply flex flex-col justify-center pt-12;
        z-index: 100;

        @screen lg {
            @apply pt-8;
        }

        p {
            @apply text-lg rounded px-2;
            background-color: rgba(255, 255, 255, 0.7);
        }

        h1:not(.b-version) {
            @apply text-center mx-auto;

            @screen lg {
                @apply text-left mx-0;
                line-height: 5.5rem !important;
                font-size: 5rem !important;
            }
        }
    }
}

.page-hero {
    @apply relative w-full py-10;

    .page-hero-title {
        @apply w-full flex flex-col items-center justify-center pointer-events-none;

        h1, h2, h3 {
            @apply text-center max-w-4xl;
            @screen lg {
                font-size: 4.5rem;
                line-height: 1.375;
            }
        }
    }
}

.aws-dev-day-header {
    background: url("/images/webinar/aws-dev-day/bg-dev-day.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.rainbow-text {
    @apply relative;

    &::after {
        content: attr(data-text);
        z-index: -1;
        text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white;
        @apply absolute left-0;

        @screen sm {
            text-shadow: -3px -3px white, 3px -3px white, -3px 3px white, 3px 3px white;
        }
    }
}

.page-hero-subtitle {
    @apply relative;
    @apply text-gray-700 max-w-4xl text-center text-3xl mt-0;
}

.page-hero .rainbow-text {
    @apply block;
    padding-bottom: 0.5rem;

    &::after {
        @apply top-0;
    }
}
