@import "mixins";

@keyframes wave {
    0%,
    100% {
        background-position: 0vw center;
    }
    50% {
        background-position: -100vw center;
    }
}

.home-page-hero {
    @apply relative w-full;
    min-height: 24rem;

    @include screen-lg {
        @apply h-96;
    }

    .home-page-hero-background {
        @apply w-full h-full overflow-hidden;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            @apply w-full;
        }
    }

    .home-page-hero-text {
        h1 {
            @apply mx-0;
            line-height: 1.1em !important;
            font-size: 3rem !important;
            font-weight: 600 !important;
        }

        p {
            max-width: 42rem !important;
            @apply mx-auto;
        }
    }

    // NOTE: .dot-overlay intentionally removed

    .home-page-hero-content {
        @apply flex flex-col justify-center pt-12;
        z-index: 100;

        @include screen-lg {
            @apply pt-8;
        }

        p {
            @apply text-lg rounded px-2 mx-auto;
            background-color: rgba(255, 255, 255, 0.7);
            max-width: 48rem; /* Limit width to match header better */

            @include screen-lg {
                @apply mx-0;
                max-width: 42rem; /* Slightly narrower on desktop */
            }
        }

        h1:not(.b-version) {
            @apply text-center mx-auto;

            @include screen-lg {
                @apply text-left mx-0;
                line-height: 1.1em !important;
                font-size: 5rem !important;
            }
        }
    }
}

.page-hero {
    @apply relative w-full py-10 mb-10 border-b border-gray-200;

    .page-hero-title {
        @apply text-black w-full flex flex-col items-center justify-center pointer-events-none;

        h1, h2, h3 {
            @apply text-center max-w-4xl;
        }
    }
}

.aws-dev-day-header {
    background: url("/images/webinar/aws-dev-day/bg-dev-day.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page-hero-subtitle {
    @apply relative;
    @apply text-gray-700 max-w-4xl text-center text-3xl mt-0;
}
