#hubspot-messages-iframe-container {
    z-index: 100000000 !important;
}

.hs-form {
    @apply text-sm;

    &.hs-demo-form {
        max-width: 500px;
        @apply mx-auto;
    }

    fieldset {
        @apply block;

        &:not(.form-columns-1) > .field:first-child {
            @apply pr-2;
        }

        label {
            @apply block mb-2 font-normal;
            margin: 1rem 0 !important;
        }

        .hs-input {
            @apply block text-gray-700;
            width: 100% !important;
        }

        .legal-consent-container .hs-form-booleancheckbox-display .hs-input {
            width: auto !important;
            margin-top: 4px;
        }

        .hs-form-required {
            @apply ml-1 text-red-500;
        }

        .hs-richtext p {
            @apply opacity-50 text-xs font-normal my-0;

            a {
                @apply underline;
            }
        }

        input,
        textarea,
        select {
            @apply border border-gray-300 rounded p-2 bg-white;
            &:focus {
                @apply outline-none ring;
            }
        }

        select {
            @apply py-1 px-3;
        }
    }

    input[type="submit"] {
        @include gradient-button;
        @apply py-3 px-6;
    }

    .hs-error-msgs {
        @apply list-none mt-2 p-0 text-red-500 text-xs;

        label {
            @apply mb-0;
        }
    }

    .hs_error_rollup {
        @apply hidden;
    }

    &-fg-light {
        @apply text-gray-100;

        a {
            @apply text-gray-100;
        }
    }

    &-fg-dark {
        @apply text-gray-700;
    }

    &.newsletter {
        @apply flex items-start;

        label:not(.hs-error-msg) {
            @apply hidden;
        }

        .hs-email {
            @apply pt-0.5;
            
            input {
                @apply h-10;
            }
        }

        input {
            @apply block py-3 px-4 rounded-lg border;

            @screen md {
                @apply w-56;
            }

            &.hs-button {
                @apply block btn btn-lg btn border-none py-3 px-6 rounded-lg w-auto bg-violet-600 ml-2;
            }

            &:focus {
                @apply outline-none;
            }
        }

        &.newsletter-dark-border input {
            @apply border-gray-800;
        }

        &.newsletter-wide input {
            @apply w-full;

            @screen lg {
                width: 24rem;
            }

            &[type="submit"] {
                @apply w-auto;
            }
        }
    }

    .hs-recaptcha {
        @apply mb-5;
    }

    .legal-consent-container ul {
        @apply list-none pl-0;
    }

    .hs-fieldtype-booleancheckbox ul {
        @apply list-none pl-0;
    }

    .hs-form-booleancheckbox label {
        cursor: pointer;
    }

    .hs-form-booleancheckbox-display .hs-input {
        @apply inline-block mr-3;

        width: auto !important;
        margin-top: 4px;
    }

    .hs-form-radio {
        @apply list-none;

        .hs-form-radio-display {
            @apply inline-flex;
        }

        .hs-input {
            @apply mr-3;

            width: fit-content !important;
        }
    }
}

.waitlist-form {
    .hs-field-desc {
        @apply opacity-75 text-xs font-normal my-1;
    }

    .hs-richtext {
        @apply opacity-50 text-xs font-normal my-0;

            a {
                @apply underline;
            }
    }

    .hs-form-field {
        @apply my-3;
    }

    .hs-button, .primary, .large {
        @apply mt-6
    }

    .input {
        @apply mt-1;
    }

    input,
        textarea,
        select {
            @apply border border-gray-300 rounded p-2 bg-white;
            &:focus {
                @apply outline-none ring;
            }
        }

        select {
            @apply py-1 px-3;
        }
}
