$fa-font-path: "/fonts/fontawesome";

@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";
@import "fontawesome/fa-regular.scss";
@import "fontawesome/fa-brands.scss";

@each $icon
    in "team"
    "abstract-shapes"
    "accordion-closed"
    "accordion-open"
    "alert"
    "architecture"
    "buildings"
    "clipboard"
    "clock"
    "clode-with-nodes"
    "cloud-with-nodes"
    "cloud"
    "clouds"
    "code-window"
    "code"
    "collab"
    "cycle"
    "delivery"
    "download-from-cloud"
    "exchange"
    "eye"
    "gavel"
    "gear"
    "git-merged"
    "global"
    "guage"
    "hamburger-closed"
    "hamburger-open"
    "lightning"
    "lock"
    "monitor"
    "nodes-and-rays"
    "nodes"
    "pen"
    "program"
    "puzzle"
    "security"
    "shield"
    "ship"
    "testing"
    "type-cursor"
    "upload-to-cloud"
{
    .icon-#{ $icon } {

        // All icons are violet regardless of class

        @apply rounded-full inline-block p-4 w-20 h-20 bg-violet-50;

        svg * {
            stroke: var(--color-violet-primary);
        }

        &-small {
            @apply p-2 w-10 h-10;
            svg {
                max-width: 24px;
                max-height: 24px;
            }
        }
    }
}

@each $icon in "clouds" "rocketship" {
    .icon-#{ $icon } {
        @apply rounded-full inline-block p-4 w-20 h-20 bg-violet-50;

        svg * {
            stroke: var(--color-violet-primary);
            fill: var(--color-violet-primary);
        }

        svg rect {
            fill: var(--color-violet-primary);
        }

        &-small {
            @apply p-2 w-10 h-10;
            svg {
                max-width: 24px;
                max-height: 24px;
            }
        }
    }
}

@each $icon in "code-window" {
    .icon-#{ $icon } {
        @apply rounded-full inline-block p-4 w-20 h-20 bg-violet-50;

        svg * {
            stroke: var(--color-violet-primary);
        }

        svg rect {
            fill: var(--color-violet-primary);
        }

        &-small {
            @apply p-2 w-10 h-10;
            svg {
                max-width: 24px;
                max-height: 24px;
            }
        }
    }
}
