.docs-type-nav-search {
    @apply flex flex-col-reverse justify-between bg-white;
    border-bottom: map-get($gray, 150) 1px solid;
    border-top: none;
    border-width: 1px;

    .docs-type-nav {
        @apply inline-flex items-center flex-grow;

        a {
            @apply flex flex-grow gap-3 items-center font-display text-base py-3 px-6 border-b-4 border-transparent text-gray-700;

            &.tab-selected {
                @apply font-bold border-violet-600 text-gray-900 bg-gray-200;
            }

            img {
                @apply flex items-center w-5;
            }
        }
    }

    .docs-search {
        @apply mt-2 mb-4 px-4;

        @screen md {
            @apply w-60 px-0;
        }
    }

    @screen md {
        @apply flex-row items-center py-0 px-4;
        border-top: 1px solid map-get($gray, 150);
        background: map-get($gray, 112);

        .docs-search {
            @apply m-0;
        }
    }

    .content-width-controls {
        width: 24px;
        padding: 3px;
        margin-left: 12px;
        cursor: pointer;
        .expand-content {
            display: none;
            @media (min-width: 1526px) {
                display: block;
            }
            &.hide {
                display: none;
            }
        }
        .collapse-content {
            display: none;
            @media (min-width: 1526px) {
                display: block;
            }
            &.hide {
                display: none;
            }
        }
    }
}

.search-header {
    @apply justify-center bg-gray-100;

    @screen md {
        @apply justify-between;
    }

    @screen lg {
        @apply mx-auto justify-start;
    }
}
