{{ define "main" }}
    <section class="hero white-text smaller-smaller-padding align-img-center has-footer-waves hero-aws bg-purple-dark">
        <div class="container-fluid">
                <div class="row valign-center cols-are-spaced-md">
                        <div class="col col-md-5 col-md-push-7 col-lg-5 col-lg-push-7 col-right col-img hidden-xs hidden-sm">
                                <div class="content">
                                        <img src="{{ .Site.BaseURL }}assets/icons/containers.svg" alt="Delivering Cloud-Native Infrastructure-as-Code with Pulumi" width="260">
                                </div>
                        </div>
                        <div class="col col-md-7 col-md-pull-5 col-lg-7 col-lg-pull-5 col-left col-text">
                                <div class="content">
                                        <h1>Delivering Cloud Native Infrastructure as Code with Pulumi and AWS</h1>
                                </div>

                        </div>
                </div>
        </div>
        <div class="footer-waves"></div>
        <div class="bg-white hero-aws-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline reset">
                            <li><img src="{{ .Site.BaseURL }}assets/logos/tech/logo-aws.png" alt="AWS" width="37"></li>
                            <li><img src="{{ .Site.BaseURL }}assets/logos/logo.svg" alt="Pulumi" width="70"></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="content-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row cols-are-spaced-md margin-bottom-50">
                        <div class="col col-md-7">
                            <div class="content">
                                <h2>Let's program the cloud</h2>
                                <p>Pulumi's Cloud Native Development Platform streamlines DevOps processes and the delivery of cloud native software. Pulumi unlocks the power of general-purpose programming languages to equip your organization with the tools necessary to quickly build and deploy containers on AWS.</p>
                                <p class="margin-bottom-20">Pulumi provides huge productivity gains of your favorite language: from testability, to code completion, error checking, packaging, versioning, and IDE support.</p>
                                <p class="margin-bottom-40"><a href="https://pages.awscloud.com/acq_NAMER_IPC-Pulumi-February-2019-Registration-Page.html?sc_channel=el&sc_campaign=ContainersPulumiFebruary2019&sc_country=US&sc_geo=NAMER&sc_category=mult&sc_outcome=acq
                                    &trk=Partner_Website_Landing_Page" class="button orange inverted">Register for the Webinar</a></p>
                                <h3 class="h4 text-orange text-bold">Join us to learn:</h3>
                                <ul>
                                    <li>How using general purpose programming languages provides familiar and powerful programming concepts</li>
                                    <li>How Pulumi can help build a library of code packages to enhance efficiency</li>
                                    <li>Best practices for becoming a deployment-focused organization</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-5 bg-grey">
                            <div class="content">
                                <h2 class="h4 text-orange text-bold">Webinar</h2>
                                <p class="text-orange text-bold">FEBRUARY 5TH, 2019 AT 10:00 AM PDT</p>
                                <p class="text-purple text-bold">Creating modern, cloud native applications by unifying your DevOps teams</p>
                                <hr class="smaller-smaller">
                                <p><span class="small">Join the upcoming webinar to learn how to unify your development and DevOps teams by using the power of general purpose programming languages to create modern, cloud native applications</span></p>
                                <hr class="smaller-smaller">
                                <p class="text-orange text-bold">PRESENTERS</p>
                                <p><span class="text-purple"><strong>Trevor Hansen</strong></span> <br>Startup Partner Solutions Architect, AWS</p>
                                <p><span class="text-purple"><strong>Luke Hoban</strong></span> <br>CTO, Pulumi</p>
                                <p class="margin-bottom-25"><span class="text-purple"><strong>Kim Hamilton Duffy</strong></span> <br>CTO & Principal Architect, Learning Machine</p>
                                <p class="text-orange text-bold">WHO SHOULD ATTEND:</p>
                                <p>Developers, System Architects, IT Managers, DevOps Managers</p>
                            </div>
                        </div>
                    </div>

                    <div class="row cols-are-spaced-md margin-bottom-40">
                        <div class="col col-md-2">
                            <div class="content">
                                <img src="{{ .Site.BaseURL }}assets/icons/case_study.svg" alt="case study" width="130">
                            </div>
                        </div>
                        <div class="col col-md-10">
                            <div class="content">
                                <h3 class="h5 text-orange text-bold">Case Study</h3>
                                <p class="text-purple text-bold">How Learning Machine Improved Time to Ship</p>
                                <p>Pulumi helped Learning Machine delivered a more agile, streamlined DevOps experience for the benefit of their customers, with significant reductions in code and boilerplate.</p>
                                <p><a href="https://cdn2.hubspot.net/hubfs/4429525/Content/AWS-Pulumi-CaseStudy.pdf" class="cta">View the case study</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="row cols-are-spaced-md margin-bottom-40">
                        <div class="col col-md-2">
                            <div class="content">
                                <img src="{{ .Site.BaseURL }}assets/icons/ebook.svg" alt="ebook" width="130">
                            </div>
                        </div>
                        <div class="col col-md-10">
                            <div class="content">
                                <h3 class="h5 text-orange text-bold">Ebook</h3>
                                <p class="text-purple text-bold">Implementing Cloud Native Infrastructure for your Organization</p>
                                <p>Learn how Pulumi's cloud native development platform provides a single model for building and deploying infrastructure as code.</p>
                                <p><a href="https://cdn2.hubspot.net/hubfs/4429525/Content/AWS-Ebook.pdf" class="cta">Download the ebook</a></p>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row cols-are-spaced-md margin-bottom-40">
                        <div class="col col-md-2">
                            <div class="content">
                                <img src="{{ .Site.BaseURL }}assets/icons/video.svg" alt="video" width="130">
                            </div>
                        </div>
                        <div class="col col-md-10">
                            <div class="content">
                                <h3 class="h5 text-orange text-bold">Case Study</h3>
                                <p class="text-purple text-bold">Creating Modern, Cloud Native Apps with Pulumi</p>
                                <p>Learn how Pulumi's consistent streamline the deployment of cloud applications across both your development and DevOps teams.</p>
                                <p><a href="#" class="cta">Call to action</a></p>
                            </div>
                        </div>
                    </div>-->
            </div>
            </div>
        </div>
    </section>


    {{ partial "learnmore-contactus.html" . }}
{{ end }}
