{{ define "main" }}
    <section class="hero white-text smaller-smaller-padding align-img-center has-footer-waves hero-aws bg-purple-dark">
        <div class="container-fluid">
            <div class="row valign-center cols-are-spaced-md">
                <div class="col col-md-5 col-md-push-7 col-lg-5 col-lg-push-7 col-right col-img hidden-xs hidden-sm">
                    <div class="content">
                        <img src="/icons/containers.svg" alt="Delivering Cloud-Native Infrastructure-as-Code with Pulumi" width="260">
                    </div>
                </div>
                <div class="col col-md-7 col-md-pull-5 col-lg-7 col-lg-pull-5 col-left col-text">
                    <div class="content">
                        <h1>Pulumi in IoT: Serverless Asset Tracking Solution</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-waves"></div>
        <div class="bg-white hero-aws-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline reset">
                            <li><img src="/logos/tech/logo-aws.png" alt="AWS" width="37"></li>
                            <li><img src="/logos/logo.svg" alt="Pulumi" width="70"></li>
                            <li><img src="/logos/customers/mapbox_logo.png" alt="Pulumi" width="100"></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="content-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row cols-are-spaced-md margin-bottom-50">
                        <div class="col col-md-7">
                            <div class="content">
                                <h3>IoT-as-Code, the Serverless Way</h3>
                                <p>Serverless compute services offer an amazing power to application developers to leverage: highly available, automatically scaled, low-ceremony, pay-per-value functions created in several lines of code. With Pulumi’s cloud native SDKs, serverless gets more fun. Using general purpose languages, we can create resources, and then wire up event handlers, like in normal event-driven programming! </p>
                                <p class="margin-bottom-20">Join us in the webinar to see how Pulumi supercharges Mapbox’s IoT asset tracking architecture on AWS, from API Gateway, Amazon Kinesis, to DynamoDB and S3.</p>
                                <p class="margin-bottom-40"><a href="https://event.on24.com/wcc/r/2000709/49822D39F0E9038AA2A3A84E04BF575D?partnerref=pulumi" class="button orange inverted">Register for the Webinar</a></p>
                                <h3 class="h4 text-orange text-bold">Join us to learn:</h3>
                                <ul>
                                    <li>The challenge of tracking assets and why real-time location data matters </li>
                                    <li>Why current technologies fall short&mdash;especially at scale</li>
                                    <li>How to compile an asset tracking solution using modern, serverless technology with Pulumi, AWS, and Mapbox</li>
                                    <li>Pulumi Live demo: Asset tracking at work</li>
                                    <li>Programing your cloud applications with TypeScript, JavaScript, or Python: Pulumi SDKs and SaaS console</li>
                                    <li>Why serverless tech matters and what it enables</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-5 bg-grey">
                            <div class="content">
                                <h2 class="h4 text-orange text-bold">Webinar</h2>
                                <p class="text-orange text-bold">JUNE 13TH, 2019 AT 11:00 AM PDT</p>
                                <p class="text-purple text-bold">Modernizing Logistics: How to program an asset tracking architecture using serverless technologies</p>
                                <hr class="smaller-smaller">
                                <p><span class="small">Join Pulumi, AWS, and Mapbox as we discuss how you can transition from antiquated technology to modern, serverless infrastructure to build an asset tracking solution that scales globally, facilitates end-to-end data ownership, and adapts to the unique needs of your business.</span></p>
                                <hr class="smaller-smaller">
                                <p class="text-orange text-bold">PRESENTERS</p>
                                <p><span class="text-purple"><strong>Trevor Hansen</strong></span> <br>Startup Partner Solutions Architect, AWS</p>
                                <p><span class="text-purple"><strong>Cameron Stokes</strong></span> <br>Customer Engineer, Pulumi</p>
                                <p class="margin-bottom-25"><span class="text-purple"><strong>Chris Toomey</strong></span> <br>Solutions Architect Lead, Mapbox</p>
                                <p class="text-orange text-bold">WHO SHOULD ATTEND:</p>
                                <p>Developers, System Architects, IT Managers, DevOps Managers</p>
                            </div>
                        </div>
                    </div>

                    <div class="row cols-are-spaced-md margin-bottom-40">
                        <div class="col col-md-2">
                            <div class="content">
                                <img src="/icons/case_study.svg" alt="case study" width="130">
                            </div>
                        </div>
                        <div class="col col-md-10">
                            <div class="content">
                                <h3 class="h5 text-orange text-bold">Case Study</h3>
                                <p class="text-purple text-bold">How Learning Machine Improved Time to Ship</p>
                                <p>Pulumi helped Learning Machine delivered a more agile, streamlined DevOps experience for the benefit of their customers, with significant reductions in code and boilerplate.</p>
                                <p><a href="https://cdn2.hubspot.net/hubfs/4429525/Content/AWS-Pulumi-CaseStudy.pdf" class="cta">View the case study</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="row cols-are-spaced-md margin-bottom-40">
                        <div class="col col-md-2">
                            <div class="content">
                                <img src="/icons/ebook.svg" alt="ebook" width="130">
                            </div>
                        </div>
                        <div class="col col-md-10">
                            <div class="content">
                                <h3 class="h5 text-orange text-bold">Ebook</h3>
                                <p class="text-purple text-bold">Implementing Cloud Native Infrastructure for your Organization</p>
                                <p>Learn how Pulumi's cloud native development platform provides a single model for building and deploying infrastructure as code.</p>
                                <p><a href="https://cdn2.hubspot.net/hubfs/4429525/Content/AWS-Ebook.pdf" class="cta">Download the ebook</a></p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </section>


    {{ partial "learnmore-contactus.html" . }}
{{ end }}
