{{ define "hero" }}
    <header class="header-hero-dark py-0 pt-16 px-4">
        <div class="container mx-auto text-white md:flex justify-around items-center">
            <div class="md:w-1/2">
                <h1 class="text-white text-center">Webinars</h1>
            </div>
            <div class="md:w-1/2 md:ml-8">
                <div class="text-center">
                    <img class="inline-block w-56" src="/icons/icon-audience-devops.svg">
                </div>
            </div>
        </div>
    </header>

    <img class="w-full h-20" src="/images/waves.svg">
{{ end }}

{{ define "main" }}
    {{ $webinars := (where $.Pages "Type" "webinar") }}
    <div class="container mx-auto">
        <div class="justify-between py-10 md:py-24 px-5 md:px-20">
            <div class="w-full">
                <h2 id="event-list-heading" class="mb-8">Upcoming Webinars</h2>
                <ul id="event-list" class="list-none mx-auto md:flex md:flex-wrap pl-0">
                    {{ $live_webinars := (where $webinars ".Params.pre_recorded" false)}}
                    {{ range $index, $webinar := (sort $live_webinars ".Params.main.datetime") }}
                        <li class="w-full md:w-1/2 lg:w-1/3 m-0 p-2">
                            <article class="rounded shadow-md bg-white border border-gray-200 mb-10 flex flex-col mx-auto" style="max-width: 320px;">
                                <div style="height: 239px;">
                                    <div class="w-full h-full bg-contain bg-no-repeat bg-center" style="background-image: url('{{ .Params.preview_image }}');"></div>
                                </div>
                                <div class="h-32 p-3">
                                    <h3>
                                        {{ if .Params.external }}
                                            <a class="text-2xl" target="_blank" rel="noopener noreferrer" href="{{ .Params.url_slug }}">
                                                {{ .Params.title }}
                                                <i class="text-sm ml-2 fas fa-external-link-alt"></i>
                                            </a>
                                        {{ else }}
                                            <a class="text-2xl" href="/webinar/{{ .Params.url_slug }}/">
                                                {{ .Params.title }}
                                            </a>
                                        {{ end }}
                                    </h3>
                                    <div>
                                        <i class="text-gray-800 far fa-calendar inline-block"></i>
                                        <span class="ml-1 text-sm uppercase">
                                            {{ dateFormat "Monday, Jan 2" .Params.main.datetime }}
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="w-full">
                <h2 id="event-list-heading" class="mb-8">Previous Webinars</h2>
                <ul id="event-list" class="list-none md:flex md:flex-wrap pl-0">
                    {{ $recorded_webinars := (where $webinars ".Params.pre_recorded" true)}}
                    {{ range $index, $webinar := (sort $recorded_webinars ".Params.main.datetime") }}
                    <li class="w-full md:w-1/2 lg:w-1/3 m-0 p-2">
                        <article class="rounded shadow-md bg-white border border-gray-200 mb-10 flex flex-col mx-auto" style="max-width: 320px;">
                            <div style="height: 239px;">
                                    <div class="w-full h-full bg-contain bg-no-repeat bg-center" style="background-image: url('{{ .Params.preview_image }}');"></div>
                                </div>
                                <div class="h-32 p-3">
                                    <h3>
                                        {{ if .Params.external }}
                                            <a class="text-2xl" target="_blank" rel="noopener noreferrer" href="{{ .Params.url_slug }}">
                                                {{ .Params.title }}
                                                <i class="text-sm ml-2 fas fa-external-link-alt"></i>
                                            </a>
                                        {{ else }}
                                            <a class="text-2xl" href="/webinar/{{ .Params.url_slug }}/">
                                                {{ .Params.title }}
                                            </a>
                                        {{ end }}
                                    </h3>
                                    <div>
                                        <i class="text-gray-800 far fa-calendar inline-block"></i>
                                        <span class="ml-1 text-sm uppercase">
                                            {{ dateFormat "Monday, Jan 2" .Params.main.datetime }}
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    {{ partial "social.html" . }}

    {{ partial "learnmore-contactus.html" . }}
{{ end }}
