{{ define "main" }}
    <div class="p-8">
        <div class="flex">
            <div class="w-2/12 my-2">
                <h5>Tutorials by cloud provider</h5>
                <ul>
                    {{ range $slug := (slice "aws" "azure" "gcp" "kubernetes" "docker") }}
                        {{ $provider := index (where $.Site.Data.tutorials.providers "slug" $slug) 0 }}
                        <li><a href="/tutorials/{{ $slug }}">{{ $provider.shortname }} tutorials</a></li>
                    {{ end }}
                </ul>

            </div>
            <div class="w-7/12">
                <h1>{{ .Title }}</h1>
                <div>{{ .Content }}</div>

                <h2>Tutorials by cloud provider</h2>
                <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                    {{ range $slug := (slice "aws" "azure" "gcp" "kubernetes") }}
                        {{ $provider := index (where $.Site.Data.tutorials.providers "slug" $slug) 0 }}
                        <li class="md:w-1/2 p-4 border border-gray-200 w-full">
                            <h3>{{ $provider.name }} Tutorials</h3>
                            <ul class="list-none p-0">
                                <li><a href="/docs/clouds/{{ $slug }}/get-started/">Get started with Pulumi and {{ $provider.name }}</a></li>
                                <li><a href="/tutorials/{{ $slug }}">Browse all {{ $provider.name }} tutorials</a></li>
                            </ul>
                        </li>
                    {{ end }}
                </ul>

                <h3>Tutorials by topic</h3>
                <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                    {{ range $taxonomy, $terms := .Site.Taxonomies.collections }}
                        {{ $collection := index (where $.Site.Data.tutorials.collections "slug" $taxonomy) 0 }}
                        <li class="md:w-1/3 p-4 border border-gray-200 w-full">
                            <h4><a href="/tutorials/{{ $taxonomy }}">{{ $collection.name }}</a></h4>
                            <p>{{ $collection.description }}</p>
                            <p>{{ len $terms }} topics</p>
                        </li>
                    {{ end }}
                </ul>

                <h3>All tutorials</h3>
                <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                    {{ range .Pages }}
                        <li class="md:w-1/3 p-4 border border-gray-200 w-full">
                            <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                            <p>{{ .Description }}</p>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="w-3/12">

            </div>
        </div>
    </div>
{{ end }}

{{ define "footer" }}

{{ end }}
