{{ define "main" }}
<div div class="docs-list-main">
    <div class="docs-main-nav-toggle-wrapper">
        <div class="docs-main-nav-wrapper">
            <div id="docs-main-nav" class="docs-main-nav">
                {{ partial "docs/tutorials-nav.html" . }}
            </div>
        </div>
        <div class="docs-nav-toggle">
            <div class="docs-nav-toggle-icon icon icon-24-24"></div>
        </div>
    </div>

    <div class="docs-main-content-wrapper">

        <div class="docs-main-content">
            <div class="tutorials-main">
                <div class="special-h1">
                    <h1>{{ .Title }}</h1>
                    <div class="h1-gradient"></div>
                </div>

                <div>{{ .Content }}</div>

                <div class="font-display mt-8 mb-12">
                    <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                        {{ range $slug := (slice "aws" "azure" "gcp" "kubernetes") }}
                            {{ $provider := index (where $.Site.Data.tutorials.providers "slug" $slug) 0 }}
                            <li class="md:w-1/2 p-4 border border-gray-200 w-full gradient-card">
                                <div class="flex items-center justify-between">
                                    <h3 class="flex-grow whitespace-nowrap">{{ $provider.shortname }} Tutorials</h3>
                                    <img class="hidden lg:block h-6 flex-shrink" src="{{ $provider.logo }}" />
                                </div>
                                <ul class="list-none p-0">
                                    <li class="rounded border p-2 border-gray-200 flex items-center gap-3">
                                        <div class="icon-10-10 play-10-10 ml-2 hidden lg:block"></div>
                                        <a class="text-gray-700 text-lg" href="/docs/clouds/{{ $slug }}/get-started/">Get started with {{ $provider.shortname }}</a>
                                    </li>
                                    <li class="rounded border p-2 border-gray-200 flex items-center gap-3">
                                        <div class="icon-18-18 grad-cap-18-18 hidden lg:block"></div>
                                        <a class="text-gray-700 text-lg" href="/tutorials/{{ $slug }}">All {{ $provider.shortname }} tutorials</a>
                                    </li>
                                </ul>
                            </li>
                        {{ end }}
                    </ul>
                </div>

                {{ if gt (len .Site.Taxonomies.collections) 0 }}
                    <div class="tutorials-topics">
                        <h2>Browse by topic</h2>
                        <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0 tutorial-cards">
                            {{ range $taxonomy, $terms := .Site.Taxonomies.collections }}
                                {{ $collection := index (where $.Site.Data.tutorials.collections "slug" $taxonomy) 0 }}
                                <li class="md:w-1/2 p-4 border border-gray-200 w-full">
                                    <div class="card-heading">
                                        <h3><a href="/tutorials/{{ $taxonomy }}">{{ $collection.name }}</a></h3>
                                        <hr />
                                    </div>
                                    <p>{{ $collection.description }}</p>
                                    <div class="flex flex-row">
                                        <div class="flex items-center topic-badge">
                                            {{ len $terms }} topics
                                            <div class="icon icon-12-12 library-books-12-12"></div>
                                        </div>
                                        <div class="flex items-center topic-badge">
                                            {{ $collection.time_minutes }} minutes
                                            <div class="icon icon-12-12 timer-12-12"></div>
                                        </div>
                                    </div>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}

                <div class="tutorials-all">
                    <h2>All tutorials</h2>
                    <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0 rounded-md">
                        {{ range (sort .Pages ".Params.index") }}
                            <li class="md:w-1/3 p-4 border border-gray-200 w-full gradient-card">
                                <div class="card-heading">
                                    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                                </div>
                                <p class="h-fit">{{ .Description }}</p>
                                <p>
                                    <span class="text-sm text-gray-600 whitespace-nowrap">
                                        <i class="fas fa-book w-4 text-gray-500"></i>
                                        {{ len .Pages }} topics
                                    </span>
                                </p>
                                <p>
                                    <span class="text-sm text-gray-600 whitespace-nowrap">
                                        <i class="fas fa-stopwatch w-4 text-gray-500"></i>
                                        {{ $estimated_time := 0 }}

                                        {{ range $topic := .Pages }}
                                            {{ $estimated_time = (add $estimated_time (int $topic.Params.estimated_time)) }}
                                        {{ end }}

                                        {{ $estimated_time }} minutes
                                    </span>
                                </p>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-3/12">
        </div>
    </div>
</div>
{{ end }}

{{ define "footer" }}

{{ end }}
