{{ define "main" }}
    <div class="flex mb-16 docs-list-main">
        <div class="sticky top-12 max-h-75 xl:w-2/12">
            <div class="xl:w-56 xl:px-4">
                {{ partial "tutorials/nav.html" . }}
            </div>
        </div>
        <div class="mr-6 ml-4 flex justify-center w-8/12 docs-main-content-wrapper">
            <div class="max-w-3xl docs-main-content">
                <header class="mb-6">
                    {{ partial "templates/breadcrumb.html" . }}
                </header>
                <div class="special-h1">
                    <h1>{{ .Title }}</h1>
                    <div class="h1-gradient"></div>
                </div>
                {{ if .Params.video }}
                    <div class="shadow-sm border border-gray-300 rounded overflow-hidden">
                        {{ if .Params.video.url }}
                            {{ partial "video" (dict "url" .Params.video.url "title" (default .Title .Params.video.title)) }}
                        {{ else if .Params.video.youtube }}
                            {{ partial "youtube" (dict "id" .Params.video.youtube "title" (default .Title .Params.video.title)) }}
                        {{ end }}
                    </div>
                {{ else if .Params.meta_image }}
                    <div>
                        <img class="shadow-sm border border-gray-300 rounded" src="./{{ .Params.meta_image }}">
                    </div>
                {{ end }}
                <div class="my-4">
                    {{ .Summary }}
                </div>
                {{ if .Params.youll_learn }}
                    <div class="flex flex-col lg:flex-row my-8">
                        <div class="">
                            <h2 class="mb-4">In this tutorial, you'll learn:</h2>
                            <ul class="list-none p-0">
                                {{ range .Params.youll_learn }}
                                    <li>
                                        <i class="fas fa-check text-green-500 mr-2"></i>
                                        <span>{{ . }}</span>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}
                {{ if .Params.prereqs }}
                    <div class="flex flex-col lg:flex-row my-8">
                        <div class="">
                            <h2 class="mb-4">Prerequisites:</h2>
                            <ul class="list-none p-0">
                                {{ range .Params.prereqs }}
                                    <li>
                                        <i class="far fa-circle text-gray-600 mr-2"></i>
                                        <span>{{ . | markdownify }}</span>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}
                <div class="mb-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
        <div class="sticky top-10 pt-8 max-h-75 xl:w-2/12 hidden xl:block">
            {{ partial "tutorials/feedback.html" . }}
            {{ partial "tutorials/right-nav-ad.html" }}
        </div>
    </div>
{{ end }}

{{ define "footer" }}

{{ end }}
