pulumi-banner {
    display: block;
    position: relative;

    .dismiss {
        cursor: pointer;
        display: none;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }

    &[dismissible] {
        .dismiss {
            display: block;
        }
    }

    &[dismissed] {
        display: none;
    }
}
