@import "colors";
@import "mixins";

.btn {
    @include transition;

    @apply cursor-pointer text-sm whitespace-no-wrap uppercase py-2 px-4 rounded;
    @apply bg-blue-600 border-2 border-blue-600 font-bold text-white;

    &:hover {
        @apply bg-blue-500 border-blue-500 text-white;
    }

    &:active {
        @apply bg-blue-500;
    }
}

.btn-secondary {
    @apply bg-white border-2 border-blue-500 text-blue-600;

    &:hover {
        @apply bg-blue-500 text-white;
    }
}

.btn-sm {
    @apply text-xs;
}

.btn-lg {
    @apply py-3 px-5;
}

.btn-orange {
    @apply bg-orange-500 border-orange-600;

    &:hover {
        @apply bg-orange-600 border-orange-700;
    }
}

.btn-purple {
    @apply bg-purple-500 border-purple-500;

    &:hover {
        @apply bg-purple-200 border-purple-700;
    }
}

.btn-white {
    @apply bg-white text-gray-900 border-white;

    &:hover {
        @apply bg-gray-300 text-gray-900;
    }
}

.btn-translucent {
    background-color: rgba($brand-blue, 0.3);
    border-color: rgba($brand-blue, 0.5);

    &:hover {
        background-color: rgba($brand-blue, 0.7);
        border-color: $brand-blue;
    }
}

.btn-orange-translucent {
    background-color: rgba($brand-orange, 0.3);
    border-color: rgba($brand-orange, 0.5);

    &:hover {
        background-color: rgba($brand-orange, 0.7);
        border-color: $brand-orange;
    }
}

.btn-brand-download {
    @apply border-gray-500 text-gray-500 bg-transparent;

    &:hover {
        @apply border-gray-700 text-gray-700 bg-transparent;
    }
}
