.homepage-carousel--container {
	@apply max-w-5xl;
	@screen md {
		max-width: 1280px;
	}
	@media (max-width: 390px) {
		@apply p-0;
		.carousel-ide {
			@include font-size(11px);
		}
	}
	.carousel-text--container {
		height: 520px;
		@screen sm {
			height: 440px;
		}
		@screen md {
			height: 365px;
		}
		@screen lg {
			height: 520px;
		}
	}
	.home-carousel-ide--popup-group {
		top: -6px;
		left: 188px;
		.home-carousel-ide--details-popup {
			top: 40px;
			left: 198px;
			.ide-popup--container {
				width: 292px;
			}
			@screen md {
				top: 38px;
			}
			@screen lg {
				top: 25px;
				left: 115px;
			}
			@media (max-width: 768px) {
				top: 40px;
				left: -70px;
			}
			@media (max-width: 630px) {
				left: 55px;
			}
			@media (max-width: 450px) {
				left: 5px;
				.ide-popup--container {
					width: 260px;
				}
			}
		}
		@media (max-width: 630px) {
			top: -2px;
			left: 0;
		}
	}
	.home-carousel-cli--text-container {
		height: 400px;
		@media (max-width: 500px) {
			@include font-size(10px);
		}
		@media (max-width: 430px) {
			@include font-size(8px);
		}
	}
	.home-carousel--console-content {
		@media (max-width: 480px) {
			@include font-size(9px);
		}
		@media (max-width: 380px) {
			@include font-size(8px);
		}
	}
}
