@import "pygments";

code {
    @apply bg-gray-100 rounded py-1 px-2 text-sm break-words;
}

pre, .code-max-h {
    @apply rounded border border-gray-200 my-4;
}

pre {
    @apply bg-gray-100 py-4 px-5 pr-8 scrolling-auto overflow-x-auto leading-normal;

    .code-mode-dark & {
        @apply bg-gray-900 border-none shadow-md;
    }

    .code-chrome & {
        @apply mt-0 rounded-t-none;
    }

    > code {
        @apply bg-transparent p-0;
    }

    .code-plain & {
        @apply text-gray-800;
    }

    .code-plain.code-mode-dark & {
        @apply text-gray-300;
    }

    code {
        @apply break-normal;
    }

    .code-max-h & {
        @apply border-none my-0;
    }

    // For code samples that contain tabs (e.g., Go), limit them to four spaces, to make
    // better use of horizontal space.
    tab-size: 4;
}

.code-max-h {
    @apply relative;

    > [class*="max-h-"] {
        @apply overflow-y-auto;
    }
}

:not(.no-copy) > .highlight {
    @apply relative;

    .code-max-h & {
        @apply static;
    }
}

.typed {
    .char {
        @apply opacity-0;
    }

    .cursor {
        @extend .blink;

        &:after{
            @apply text-white;
			content: "|";
		}
    }
}

.line[data-delay] {
    @apply opacity-0;
}
