@import "mixins";

.header-hero {
    @apply bg-purple-500 text-white py-8 px-4;

    &-dark {
        @apply bg-purple-800;
    }

    &-home {
        background: url(/images/home/waves-purple.svg);
        @apply pt-8 pb-40 bg-bottom bg-cover;

        @screen md {
            @apply pt-20
        }

        h1 {
            @apply text-white font-bold mb-0;
        }

        p {
            @apply text-purple-100 text-2xl max-w-2xl inline-block leading-relaxed mb-4;
        }
    }

    &-glow {

        @mixin hero-glow($center-x, $center-y) {
            @include bg-gradient(#846A91, $brand-purple, 30em, $center-x, $center-y);
        }

        @include hero-glow(50%, 67%);

        @screen md {
            @include hero-glow(67%, 50%);
        }

        &-bottom {
            @include hero-glow(50%, 100%);

            @screen md {
                @include hero-glow(70%, 120%);
            }
        }
    }

    @screen lg {
        @apply py-24;
    }

    h1 {
        @apply text-white;
    }

    .header-hero-items {

        @screen lg {
            @apply flex;
        }

        .header-hero-item {

            // On large screens, hero items are distributed evenly with intersticial padding.

            @screen lg {
                @apply px-4 flex-1;
            }

            &:first-of-type {
                @apply pr-0;

                @screen lg {
                    @apply pl-0;
                }

                p {
                    @apply text-xl text-purple-100 leading-relaxed;
                }

                .header-hero-actions {
                    @apply flex flex-col items-center mt-4;

                    @screen lg {
                        @apply inline-flex flex-row mt-2;
                    }

                    .btn-lg {
                        @apply w-full text-center mb-4;

                        @screen lg {
                            @apply mb-0 mr-4;
                        }
                    }
                }
            }

            &:last-of-type {
                @apply text-white mt-0;

                @screen lg {
                    @apply pr-0;
                }
            }
        }

        @screen lg {

            &.two-thirds {

                .header-hero-item {
                    &:first-of-type {
                        flex: 2;
                    }

                    &:last-of-type {
                        flex: 1;
                    }
                }
            }
        }
    }
}
