.hs-form {
    @apply text-sm;

    fieldset {
        @apply block;
        margin: 1rem 0 !important;

        &:not(.form-columns-1) > .field:first-child {
            @apply pr-2;
        }

        label {
            @apply block mb-2 font-normal;
        }

        .hs-input {
            @apply block;
            width: 100% !important;
        }

        .hs-form-required {
            @apply ml-1 text-red-500;
        }

        .hs-richtext p {
            @apply opacity-50 text-xs font-normal my-0;

            a {
                @apply underline;
            }
        }

        input, textarea {
            @apply border border-gray-300 rounded p-2 bg-white;
        }
    }

    input[type="submit"] {
        @apply btn btn-cta py-4 px-8 shadow-none cursor-pointer shadow-none border-none tracking-wide font-normal;
    }

    .hs-error-msgs {
        @apply list-none mt-2 p-0 text-red-500 text-xs;

        label {
            @apply mb-0;
        }
    }

    .hs_error_rollup {
        @apply hidden;
    }

    &-fg-light {
        @apply text-gray-100;

        a {
            @apply text-gray-100;
        }
    }

    &-fg-dark {
        @apply text-gray-700;
    }

    &.newsletter {
        @apply flex items-start;

        label:not(.hs-error-msg) {
            @apply hidden;
        }

        input {
            @apply block py-3 px-4 rounded-l rounded-r-none text-gray-600 w-56;

            &.hs-button {
                @apply block btn btn-cta py-3 px-4 rounded-r rounded-l-none w-auto;
            }
        }
    }

    &.pricing {
        label {
            @apply font-normal;
        }
    }
}
