.note {
    p {
        @apply leading-relaxed;
    }

    span {
           @apply font-bold;
    }

    &.note-info {
        @apply bg-blue-100 text-blue-800 my-4 px-4 rounded text-sm border border-blue-200;

        a {
            @apply text-blue-900 underline;
        }

    }

    &.note-warning {
        @apply bg-orange-100 text-orange-800 my-4 px-4 rounded text-sm border border-l-4 border-orange-200;


        a {
            @apply text-orange-900 underline;
        }

        code {
               @apply bg-red-100;
        }

    }
}
