.pricing-plans {
    &-item-container {
        @apply px-4 text-center;

        @screen lg {
            @apply w-1/3;
        }
    }

    &-item-header {
        @apply text-purple-500 font-bold text-lg mb-5;
    }

    &-item-description {
        @apply text-sm text-gray-700 mt-0 mb-2 px-3;
    }

    &-item-price {
        @apply text-4xl text-black font-bold mt-0;
    }

    &-item-info-title {
        @apply text-sm font-bold;
    }
}

.pricing-compare-plans-table {
    @apply mt-8;

    .compare-plans-table-header {
        &-container {
            @apply flex px-8 py-5;
            background-color: rgba(42, 19, 55, 0.05);
        }

        &-item {
            @apply w-1/4 text-center;

            &:first-child {
                @apply text-left;
            }

            span {
                @apply text-base;

                @screen lg {
                    @apply text-xl;
                }
            }
        }
    }

    .compare-plans-table-row {
        &-container {
            @apply flex px-8 py-5 border-b border-solid border-gray-300;
        }

        &-item {
            @apply w-1/4 text-center py-2;

            &:first-child {
                @apply text-left;
            }

            span {
                @apply text-sm;

                @screen lg {
                    @apply text-lg;
                }
            }
        }
    }
}

.pricing-faq {
    @each $filter-type in "product" "billing" {
        #faq-#{$filter-type}:target {
            ~ #faq-headers {
                li {
                    @apply border-none;

                    a {
                        @apply text-gray-500;
                    }
                }

                li[data-faq-label="#{$filter-type}"] {
                    @apply border-b-4 border-solid border-gray-400;

                    a {
                        @apply text-black;
                    }
                }
            }


            @if $filter-type != "product" {
                ~ ul[data-faq-type="faq-product"] {
                    @apply hidden;
                }
            }

            ~ ul[data-faq-type="faq-#{$filter-type}"] {
                @apply block;
            }
        }
    }

    .faq-item {
        @apply cursor-pointer;

        .faq-item-label {
            @apply flex select-none;

            p, i {
                @apply text-black;
            }

            &:hover {
                p, i {
                    @apply text-gray-700;
                }
            }
        }

        input[type="checkbox"]:checked {
            ~ .faq-item-label i {
                transform: rotate(180deg);
            }

            ~ .faq-item-text {
                @apply block;
            }
        }
    }
}
