/**
 * Colors
 */
// Define custom CSS styles for Pulumi webpages. This allow us to make dramatic
// changes to the color scheme without much churn.
$primary: #512668;  // primary purple
$primary2: #00acf2; // primary blue
$primary3: #2fc89f; // primary green
$primary4: #ee975c; // primary orange
$accent1: #f6e5ff; // light purple
$accent2: #e1f6ff; // light blue
$accent3: #3EC2F8; // bright blue
$accent4: #fbe5d7; // light orange
