// Neon Animation found on Codepen
// https://codepen.io/Trinca/pen/NAvpWa
@import url(//fonts.googleapis.com/css?family=Vibur);

$pageBackgroundColor: #11151c;

$lightGreen: theme('colors.green.400');
$darkGreen: theme('colors.green.700');
$veryDarkGreen: theme('colors.green.900');

$lightBlue: theme('colors.blue.400');
$darkBlue: theme('colors.blue.700');
$veryDarkBlue: theme('colors.blue.900');

$lightOrange: theme('colors.orange.400');
$darkOrange: theme('colors.orange.700');
$veryDarkOrange: theme('colors.orange.900');

.neon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
    font: 400 19vh "Vibur";
    line-height: 9vw;
    color: $lightGreen;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $darkGreen, 0 0 0.5em $darkGreen, 0 0 0.1em $darkGreen, 0 10px 3px #000;

    animation: neon 3s linear infinite;
    -moz-animation: neon 3s linear infinite;
    -webkit-animation: neon 3s linear infinite;
    -o-animation: neon 3s linear infinite;
}

.neon-basic {
  color: $lightOrange;
  text-shadow: 0 0 3vw $darkOrange;

  animation: neon-basic 3s linear infinite;
  -moz-animation: neon-basic 3s linear infinite;
  -webkit-animation: neon-basic 3s linear infinite;
  -o-animation: neon-basic 3s linear infinite;
}

.flux {
    font: 400 19vh "Vibur";
    line-height: 9vw;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $darkBlue, 0 0 0.5em $darkBlue, 0 0 0.1em $darkBlue, 0 10px 3px #000;

    color: $lightBlue;
    animation: flux 4s linear infinite;
    -moz-animation: flux 4s linear infinite;
    -webkit-animation: flux 4s linear infinite;
    -o-animation: flux 4s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $darkBlue, 0 0 0.5em $darkBlue, 0 0 0.1em $darkBlue, 0 10px 3px #000;
    color: $lightBlue;
  }
  50% {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $veryDarkBlue, 0 0 0.5em $veryDarkBlue, 0 0 0.1em $veryDarkBlue, 0 10px 3px #000;
    color: $darkBlue;
  }
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $darkGreen, 0 0 0.5em $darkGreen, 0 0 0.1em $darkGreen, 0 10px 3px #000;
      color: $lightGreen;
    }
    50% {
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $veryDarkGreen, 0 0 0.5em $veryDarkGreen, 0 0 0.1em $veryDarkGreen, 0 10px 3px #000;
      color: $darkGreen;
    }
}

@keyframes neon-basic {
  0%,
  100% {
    text-shadow: 0 0 1vw $darkOrange, 0 0 3vw $darkOrange, 0 0 10vw $darkOrange, 0 0 .4vw $lightOrange;
    color: $lightOrange;
  }
  50% {
    text-shadow: 0 0 .5vw $veryDarkOrange, 0 0 3vw $veryDarkOrange, 0 0 10vw $veryDarkOrange, 0 0 .4vw $darkOrange;
    color: $darkOrange;
  }
}

.pulumi-up-hero {
    height: 650px;
    background: url(/images/pulumi-up/nighthawks_smoke.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pulumi-up-body {
    background-color: $pageBackgroundColor;
}

%dialog-box {
  border-radius: 1em;
  color: $white;
  margin: 5% auto;
  padding: 2em;
  position: relative;
  width: 95%;

  &:before {
    background: $pageBackgroundColor;
    content: attr(data-title);
    left: 50%;
    padding: 0 1em;
    position: absolute;
    text-transform: uppercase;
    top: -0.6em;
    text-align: center;
    transform: translateX(-50%);
  }
}

@mixin dialog-box ($color: #05d5fc){
  @extend %dialog-box;
  font-size: 1.3rem;
  border: 0.2em solid $color;
  box-shadow:
    inset 0 0 0.4em $color,
    0 0 0.4em $color;

  &:before {
    //border-left: 0.2em solid $color;
    //border-right: 0.2em solid $color;
    color: $lightOrange;
    text-shadow: 0 0 0.4em $lightOrange;
  }
}

.dialog-box_purple {
  @include dialog-box(theme('colors.purple.400'));
}
