@import "pulumi-constants";

// Styles for the Pulumi blog.
#pul-blog {
    // Clear a broad style from the rest of our CSS.
    // BUG: Bulleted lists in blog content isn't being displayed.
    li:before { display: none; }
    ul li { padding-left: 0; }

    // .post-list is used whenever the summaries of several blog posts are displayed.
    // Such as on the listing page for an author or tag.
    .posts-list {
        // Separate each post summary.
        li {
            padding-bottom: 16px;
        }
        
        .post-header {
            padding-bottom: 4px;

            small {
                font-style: italic;
                color: $light-gray;
            }

            // The blog header's title combines both the
            // author images and the title all inside the h3.
            h3 {
                display: flex;
                margin-top: 4px;
                margin-bottom: 4px;
                
                align-items: flex-start;

                img {
                    border-radius: 36px;
                    width: 36px;
                    height: 36px;

                    margin-right: 6px;
                }

                // The first N links are to the post's authors, with each
                // image overlapping slightly via negative margins.
                a.author {
                    flex-shrink: 0;
                    position: relative;
                    overflow: hidden;
                    margin-left: -18px;
                }
                a.author:first-of-type {
                    margin-left: 0;
                }
                // The last link, which is to the blog post.
                a.author:last-of-type {
                    margin-left: 4px;
                }
            }
        }

        // As part of the post summary, we display the "post's image" inline.
        .post-image {
            max-width: 150px;
            float: right;
            margin: 16px;
            margin-top: 0;
        }
    }

    // Section at the end of an individual blog post.
    .pul-post-ending {
        small {
            font-style: italic;
            color: $light-gray;
        }
    }

    .taxonomy-page-header  {
        margin-top: 0;
    }

    // Authors list for a single post. Shows an avatar, title, etc.
    .authors {
        .author {
            display: inline-flex;
            margin-right: 16px;

            // Don't show the link to the author's posts as a regular link.
            a.author-link {
                color: $primary;
                font-weight: bold;
                font-size: 150%;
                text-decoration: none;
            }

            a.author-link:hover {
                color: inherit;
                text-decoration: none;
            }

            // When showing the social links under the author, customize
            // the "logo-roll" defined elsewhere.
            ul.logo-roll.inline-block {
                margin-left: 6px;
            }

            img {
                height: 90px;
                width: 90px;
                border-radius: 90px;

                margin-right: 16px;
            }
        }
    }

    // Author details, the large widget we use on the author-specific listing page.
    .author-details {
        display: flex;
        margin-bottom: 24px;

        img {
            flex-basis: 180;

            height: 180px;
            width: 180px;
            border-radius: 180px;
        }

        .profile {
            margin-left: 16px;

            h2 {
                margin-top: 0;
            }
            p {
                margin-bottom: 0;
            }

            // When showing the social links under the author, customize
            // the "logo-roll" defined elsewhere.
            ul.logo-roll.inline-block {
                margin-left: 6px;
            }
        }
    }

    // Tag lists. Displayed on sidebar and bottom of posts.
    .pul-tags-list {
        li {
            display: inline-block;
            margin: 0;
        }

        a {
            padding: 1px 4px;
            border-radius: 4px;

            color: white;
            background-color: $primary4;

            text-decoration: none;
        }

        a:hover { text-decoration: none; }
    }

    // The paginator widget.
    .paginator {
        display: flex;
    }

    .pul-sidebar {
        padding-right: 24px;

        h3 {
            margin-top: 0;
        }
    }
}
