// Neon Animation found on Codepen
// https://codepen.io/Trinca/pen/NAvpWa
@import url(//fonts.googleapis.com/css?family=Vibur);

$pageBackgroundColor: #11151c;

$lightOrange: theme('colors.orange.400');
$darkOrange: theme('colors.orange.700');
$veryDarkOrange: theme('colors.orange.900');

.neon-container {
  text-align: center;
  vertical-align: middle;
}

@mixin neon-sign-defaults($fontSize: 4rem) {
  font-family: "Vibur";
  font-size: $fontSize;
}

@mixin neon-sign-animation($light, $medium, $dark, $pulseTime, $name) {
    animation: $name $pulseTime linear infinite;
    -moz-animation: $name $pulseTime linear infinite;
    -webkit-animation: $name $pulseTime linear infinite;
    -o-animation: $name $pulseTime linear infinite;

    @keyframes #{$name} {
      0%,
      100% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $medium, 0 0 0.5em $medium, 0 0 0.1em $medium, 0 10px 3px #000;
        color: $light;
      }
      50% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $dark, 0 0 0.5em $dark, 0 0 0.1em $dark, 0 10px 3px #000;
        color: $medium;
      }
    }
}

@mixin neon-sign-purple($fontSize, $name: "neon-sign-purple-pulse", $animate: true) {
  @include neon-sign-defaults($fontSize);
  @if $animate {
    @include neon-sign-animation(theme('colors.purple.300'), theme('colors.purple.600'), theme('colors.purple.800'), 4s, $name);
  }

  color: theme('colors.purple.400');
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em theme('colors.purple.700'), 0 0 0.5em theme('colors.purple.700'), 0 0 0.1em theme('colors.purple.700'), 0 10px 3px #000;
}

@mixin neon-sign-green($fontSize, $name: "neon-sign-green-pulse", $animate: true) {
  @include neon-sign-defaults($fontSize);
  @if $animate {
    @include neon-sign-animation(theme('colors.green.400'), theme('colors.green.700'), theme('colors.green.900'), 3s, $name);
  }

  color: theme('colors.blue.400');
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em theme('colors.green.700'), 0 0 0.5em theme('colors.green.700'), 0 0 0.1em theme('colors.green.700'), 0 10px 3px #000;
}

@mixin neon-sign-blue($fontSize, $name: "neon-sign-blue-pulse", $animate: true) {
  @include neon-sign-defaults($fontSize);
  @if $animate {
    @include neon-sign-animation(theme('colors.blue.400'), theme('colors.blue.700'), theme('colors.blue.900'), 4s, $name);
  }

  color: theme('colors.blue.400');
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em theme('colors.blue.700'), 0 0 0.5em theme('colors.blue.700'), 0 0 0.1em theme('colors.blue.700'), 0 10px 3px #000;
}

@mixin neon-sign-orange($fontSize, $name: "neon-sign-orange-pulse", $animate: true) {
  @include neon-sign-defaults($fontSize);
  @if $animate {
    @include neon-sign-animation(theme('colors.orange.400'), theme('colors.orange.700'), theme('colors.orange.900'), 4s, $name);
  }

  color: theme('colors.orange.400');
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em theme('colors.orange.700'), 0 0 0.5em theme('colors.orange.700'), 0 0 0.1em theme('colors.orange.700'), 0 10px 3px #000;
}

.blue-neon-sign-xl {
  @include neon-sign-blue(6rem);

  @screen lg {
    @include neon-sign-blue(8rem);
  }
}

.green-neon-sign-xl {
  @include neon-sign-green(6rem);

  @screen lg {
    @include neon-sign-green(8rem);
  }
}

.speaker-neon-label {
  @include neon-sign-purple(2rem, "speaker-label", false);
}

.date-countdown {
  @include neon-sign-orange(2.25rem, "date-countdown", false);
}

.pulumi-up-body {
    background-color: $pageBackgroundColor;
}

%dialog-box {
  border-radius: 1em;
  color: $white;
  margin: 5% auto;
  padding: 2em;
  position: relative;
  width: 95%;

  &:before {
    background: $pageBackgroundColor;
    content: attr(data-title);
    left: 50%;
    padding: 0 1em;
    position: absolute;
    text-transform: uppercase;
    top: -0.6em;
    text-align: center;
    transform: translateX(-50%);
  }
}

@mixin dialog-box ($color: #05d5fc){
  @extend %dialog-box;
  font-size: 1.3rem;
  border: 0.2em solid $color;
  box-shadow:
    inset 0 0 0.4em $color,
    0 0 0.4em $color;

  &:before {
    //border-left: 0.2em solid $color;
    //border-right: 0.2em solid $color;
    color: $lightOrange;
    text-shadow: 0 0 0.4em $lightOrange;
  }
}

.dialog-box_purple {
  @include dialog-box(theme('colors.purple.400'));
}
