// SaSS styles for the v2 attempt at the site's TOC. (Not used by _includes/toc.html.)

@import "pulumi-constants";

.pul-toc {
    h2 {
        margin: 0;

        color: $primary;
        font-size: 16px;
        font-weight: 700;
    }

    ul {
        margin-left: 24px;

        list-style-type: none;

        li {
            margin: 0;
            padding: 0;
        }

        // HACK: This shouldn't be necessary, with `list-style-type: none` set on the parent
        // <ul>. However, the specificity of the `ul li:before` selector elsewhere in the theme
        // is overriding the behavior. So we need to remove it entirely.
        li:before {
            display: none;
        }
    }

    // Show TOC links as text (with default color, etc.) but don't underline since
    // it looks jarring with all the links stacked together.
    a {
        font-size: 14px;

        text-decoration: none;
    }
}