// Neon Animation found on Codepen
// https://codepen.io/Trinca/pen/NAvpWa
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

$lightGreen: theme('colors.green.400');
$darkGreen: theme('colors.green.700');
$veryDarkGreen: theme('colors.green.900');

$lightBlue: theme('colors.blue.400');
$darkBlue: theme('colors.blue.700');
$veryDarkBlue: theme('colors.blue.900');

$lightOrange: theme('colors.orange.400');
$darkOrange: theme('colors.orange.700');
$veryDarkOrange: theme('colors.orange.900');

.neon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
    color: $lightGreen;
    text-shadow: 0 0 3vw $darkGreen;

    animation: neon 3s linear infinite;
    -moz-animation: neon 3s linear infinite;
    -webkit-animation: neon 3s linear infinite;
    -o-animation: neon 3s linear infinite;
}

.neon-basic {
  color: $lightOrange;
  text-shadow: 0 0 3vw $darkOrange;

  animation: neon-basic 3s linear infinite;
  -moz-animation: neon-basic 3s linear infinite;
  -webkit-animation: neon-basic 3s linear infinite;
  -o-animation: neon-basic 3s linear infinite;
}

.flux {
    font-family: neon;;
    font-size: 9vw;
    line-height: 9vw;

    color: $lightBlue;
    text-shadow: 0 0 3vw $darkBlue;

    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw $darkBlue, 0 0 3vw $darkBlue, 0 0 10vw $darkBlue, 0 0 10vw $darkBlue, 0 0 .4vw $lightBlue, .5vw .5vw .1vw $darkBlue;
    color: $lightBlue;
  }
  50% {
    text-shadow: 0 0 .5vw $veryDarkBlue, 0 0 1.5vw $veryDarkBlue, 0 0 5vw $veryDarkBlue, 0 0 5vw $veryDarkBlue, 0 0 .2vw $veryDarkBlue, .5vw .5vw .1vw $darkBlue;
    color: $darkBlue;
  }
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw $darkGreen, 0 0 3vw $darkGreen, 0 0 10vw $darkGreen, 0 0 10vw $darkGreen, 0 0 .4vw $lightGreen, .5vw .5vw .1vw $darkGreen;
      color: $lightGreen;
    }
    50% {
      text-shadow: 0 0 .5vw $veryDarkGreen, 0 0 1.5vw $veryDarkGreen, 0 0 5vw $veryDarkGreen, 0 0 5vw $veryDarkGreen, 0 0 .2vw $veryDarkGreen, .5vw .5vw .1vw $darkGreen;
      color: $darkGreen;
    }
}

@keyframes neon-basic {
  0%,
  100% {
    text-shadow: 0 0 1vw $darkOrange, 0 0 3vw $darkOrange, 0 0 10vw $darkOrange, 0 0 .4vw $lightOrange;
    color: $lightOrange;
  }
  50% {
    text-shadow: 0 0 .5vw $veryDarkOrange, 0 0 3vw $veryDarkOrange, 0 0 10vw $veryDarkOrange, 0 0 .4vw $darkOrange;
    color: $darkOrange;
  }
}


.pulumi-up-hero {
    height: 650px;
    background: url(/images/pulumi-up/nighthawks_smoke.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pulumi-up-body {
    background-color: #11151c;
}
