.split-section {

    &--container {
        padding: 30px 0;
    }

    &--left {
        padding-right: 35px;
    }

    &--right {
        padding-left: 35px;
    }

    &--cta-btn {
        margin-top: 35px;
        @apply text-xl;
    }

    @media (max-width: 768px) {
        &--left {
            padding-right: 0;
        }
    
        &--right {
            padding-left: 0;
        }

        &--cta-btn {
            width: 100%;
            text-align: center;
        }
    }

    &--container {
        @media (max-width: 530px) {
            .language-js {
                font-size: .5rem;
            }
        }
    }

}