.toc {
    @apply text-black;
}

.sidenav-topic {
    @apply mb-4;

    &.active {
        @apply text-purple;
    }
}

.sidenav-subsection {
    @apply mb-4 ml-4 text-gray;
}

.sidenav-parent {
    @apply mb-2;
}

.toggleButton {
    cursor: pointer;
}

.toggle > .collapsed,
.toggleVisible > .expanded {
    display: block;
}

.toggle > .expanded,
.toggleVisible > .collapsed {
    display: none;
}
