.toc {
    @apply text-blue-800;

    a {
        &:hover {
            @apply text-blue-700;
        }
    }

    .active {
        @apply text-blue-700;
    }

    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-gray-500 uppercase tracking-wide font-bold text-sm;
    }
}

.sidenav-topic {
    @apply mb-2;
}

.sidenav-subsection {
    @apply mb-2 ml-2;
}

.sidenav-parent {
    @apply mb-2;
}

.toggleButton {
    @apply text-gray-500 ml-1 cursor-pointer;
}

.toggle > .collapsed,
.toggleVisible > .expanded {
    @apply visible;
}

.toggle > .expanded,
.toggleVisible > .collapsed {
    @apply hidden;
}
