.top-button {
    @apply text-white cursor-pointer fixed;
    
    @include transition(all, .5s, ease-in-out);
    @include bg-gradient(#90a4ae,#78909c, 30em, 0, 0);

    border-radius: 3px;
    line-height: 25px;
    width: 40px;
    height: 25px;
    position: fixed;
    right: 30%;
    bottom: 40px;
    opacity: 30%;
    z-index: 1000001;
    text-align: center;
}
