@tailwind base;
@tailwind components;

@import "colors";
@import "mixins";

@import "animation";
@import "api-nodejs";
@import "api-python";
@import "badges";
@import "breadcrumb";
@import "buttons";
@import "chooser";
@import "components/chooser";
@import "code";
@import "copy-button";
@import "continuous-delivery";
@import "fonts";
@import "glossary";
@import "hero";
@import "hubspot";
@import "icons";
@import "landing_pages";
@import "no-select";
@import "on-this-page";
@import "notes";
@import "pagination";
@import "pricing";
@import "search";
@import "section-nav";
@import "tables";
@import "toc";

h1, h2, h3, h4, h5, h6 {
    @apply font-display text-gray-700 mb-2;

    &:not(:first-child) {

        // Don't apply top margin when one's being specified.
        &:not([class*="mt-"]):not([class*="m-"]) {
            @apply mt-8;
        }
    }
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-sm;
}

p {
    @apply mb-4 leading-normal my-4;
}

body {
    @apply font-body text-gray-900;

    figure {
        figcaption {
            clear: left;
            margin: .75em 0;
            text-align: center;
            font-style: italic;
            line-height: 1.5em;
        }
    }
}

.nav-main {
    a {
        @include transition;
    }
}

main {
    @apply text-gray-700;

    p, li, blockquote, table {

        a {
            @apply text-blue-600 break-words;

            &:hover {
                @apply text-blue-700;
            }
        }
    }

    ul, ol {
        @apply pl-5;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply my-2 leading-normal;
    }

    blockquote {
        @apply border-l-4 rounded border-orange-300 px-4 py-1 text-sm mt-4;

        p {
            @apply my-1;
        }
    }
}

.link {
    @apply text-blue-700;
}

.tag {
    @apply text-sm lowercase border border-gray-200 rounded py-1 px-2 mr-1 transition-all;

    &.tag-blog {
        @apply bg-white text-blue-600;

        &:hover {
            @apply border-blue-600;
        }

        &.active {
            @apply border-blue-600 bg-blue-600 text-white;

            &:hover {
                @apply text-white;
            }
        }
    }
}

.popup-overlay {
    @apply flex w-full h-full fixed inset-0 z-50;
    background-color: rgba(44, 44, 44, 0.6);
}

.transition-all {
    @include transition(all);

    &-200 {
        @include transition($duration: 200ms);
    }
}

.github-widget {
    > span {
        @apply flex;
    }
}

// Custom css for the Calendly iframe we use on the event registration pages.
#calendly-widget {
    min-width: 270px;
    height: 600px;

    @screen md {
        min-width: 320px;
        height: 750px;
    }

    .booking-container {
        background-color: green;
        max-width: initial !important;
    }
}

#terraformCompareCodeBlock {
    .lntable {
        border-radius: 0;
        background-color: #1a202c;
    }
    pre {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .terraform-code-block {
        .lnt:before {
            content: "- ";
        }
    }

    .pulumi-code-block {
        .lnt:before {
            content: "+ ";
        }
    }

    .code-diff-addition-overlay {
        background-color: #3beb3b36;
        z-index: 1;
    }

    .code-diff-subtraction-overlay {
        background-color: rgba(235, 59, 59, 0.21);
        z-index: 1;
    }

    .copy-button-container {
        display: none;
    }
}

.code-file-nav--item {
    @apply inline-block rounded-t py-2 px-2 text-blue-700 text-white font-semibold text-sm;
    background-color: #1a202c;

    @screen lg {
        @apply text-base px-4;
    }

    &.file-not-active {
        background-color: #11151e;
        @apply font-normal;
    }
}

// This little trick prepends anchor targets with a pseudoelement that the browser picks
// up as the anchor target, allowing us to position the actual target below the fixed
// navbar. Only necessary at medium and up.
@screen md {
    :target {
        &::before {
            content: " ";
            display: block;

            // 106px is the navbar height (90px) plus a 16px offset for some vertical padding.
            height: 106px;
            margin-top: -106px;
        }
    }
}

.sticky-sidebar {
    @screen lg {
        @apply sticky self-start overflow-y-auto;
        max-height: 90vh;
        top: 112px;
    }
}

.container {
    // Allow wider containers for screens that have room for them.
    &.container-wide {
        @media (min-width: 1600px) {
            max-width: 1600px;
        }
    }
}

@tailwind utilities;
