@tailwind base;
@tailwind components;

@import "colors";
@import "mixins";
@import "fonts";
@import "buttons";
@import "tables";
@import "code";
@import "icons";
@import "toc";
@import "langchoose";
@import "no-select";
@import "pagination";
@import "hubspot";

h1, h2, h3, h4, h5, h6 {
    @apply font-display text-gray-700 mb-2;

    &:not(:first-child) {

        // Don't apply top margin when one's being specified.
        &:not([class*="mt-"]):not([class*="m-"]) {
            @apply mt-8;
        }
    }
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-sm uppercase;
}

p {
    @apply mb-4 leading-normal my-4;
}

body {
    @apply font-body text-gray-900;
}

main {
    @apply text-gray-700;

    p, li {

        a {
            @apply text-blue-700;

            &:hover {
                @apply text-blue-700;
            }
        }
    }

    ul, ol {
        @apply pl-5;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply my-2 leading-normal;
    }

    blockquote {
        @apply border-l-4 rounded border-orange-300 px-4 py-1 text-sm;
    }
}

.link {
    @apply text-blue-700;
}

.bg-glow {
    @apply relative;

    &:before {
        content: "";
        background-image: url(/images/glare-white.png);
        @apply block absolute top-0 right-0 bottom-0 left-0 bg-cover;
    }
}

@tailwind utilities;
