@tailwind base;
@tailwind components;

@import "colors";
@import "mixins";

@import "animation";
@import "api-nodejs";
@import "api-python";
@import "badges";
@import "buttons";
@import "code";
@import "copy-button";
@import "fonts";
@import "hero";
@import "hubspot";
@import "icons";
@import "langchoose";
@import "no-select";
@import "on-this-page";
@import "notes";
@import "pagination";
@import "pricing";
@import "search";
@import "section-nav";
@import "tables";
@import "toc";

h1, h2, h3, h4, h5, h6 {
    @apply font-display text-gray-700 mb-2;

    &:not(:first-child) {

        // Don't apply top margin when one's being specified.
        &:not([class*="mt-"]):not([class*="m-"]) {
            @apply mt-8;
        }
    }
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-sm;
}

p {
    @apply mb-4 leading-normal my-4;
}

body {
    @apply font-body text-gray-900;
}

.nav-main {
    a {
        @include transition;
    }
}

main {
    @apply text-gray-700;

    p, li, blockquote, table {

        a {
            @apply text-blue-600 break-words;

            &:hover {
                @apply text-blue-700;
            }
        }
    }

    ul, ol {
        @apply pl-5;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply my-2 leading-normal;
    }

    blockquote {
        @apply border-l-4 rounded border-orange-300 px-4 py-1 text-sm;
    }
}

.link {
    @apply text-blue-700;
}

.transition-all {
    @include transition(all);

    &-200 {
        @include transition($duration: 200ms);
    }
}

.github-widget {
    > span {
        @apply flex;
    }
}

@tailwind utilities;

// Widget showing a nicely formatted logo grid of our supported
// CI/CD platforms.
.supported-cicd-platforms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    // For each CI system we are aproxmiating something like the following. Though
    // by setting flex-basis each is given the same width.
    // btn bg-transparent border border-gray-300 hover:bg-gray-200 p-5 mb-5 flex justify-center
    > a:hover {
        background-color: #edf2f7;
    }

    > a {
        border-width: 1px;
        border-color: #e2e8f0;
        border-radius: 0.25rem;

        margin-bottom: 16px;

        flex-basis: 150px;
        padding: 16px 8px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-align: center;

        img {
            max-height: 120px;
            max-width: 120px;
        }

        h4 {
            margin: 0;
        }
    }

}