{{ define "hero" }}
    <header class="header-hero header-hero-glow-bottom">
        <div class="container mx-auto">
            <div class="mx-auto text-center">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <div class="container mx-auto">
        <div class="flex py-10 md:py-24 px-5 md:px-20">
            <div class="hidden md:inline-block w-3/12">
                <div id="eventFilter" class="px-5">
                    <p class="my-0 border-b text-2xl mb-3">Filter</p>
                </div>
            </div>
            <div class="w-full md:w-9/12 lg:w-6/12">
                <ul id="eventList" class="list-none md:flex md:flex-wrap pl-0">
                    {{ $events := (where $.Pages "Type" "events") }}
                    {{ range (sort $events ".Params.event.start_date") }}
                        <li class="w-full border border-gray-400 rounded my-0 px-5 py-5 mb-10" data-event-type='{{ delimit .Params.event.type "," }}'>
                            <div>
                                {{ if .Params.url_slug }}
                                    <a class="text-2xl" href="/events/{{ .Params.url_slug }}/">{{ .Params.title }}</a>
                                {{ else }}
                                    <a class="text-2xl" href="{{ .Params.event.registration_url }}" target="_blank">{{ .Params.title }}</a>
                                {{ end }}
                                <p class="my-3">{{ .Params.event.description }}</p>
                                <div class="flex mt-2">
                                    <div class="w-8/12">
                                        <div>
                                            <i class="fas fa-globe-americas inline-block"></i>
                                            <span class="inline-block my-0">
                                                {{ .Params.event.location }}
                                            </span>
                                        </div>
                                        <div>
                                            <i class="far fa-calendar inline-block"></i>
                                            <span class="inline-block my-0">
                                                {{ if eq .Params.event.start_date .Params.event.end_date }}
                                                    {{ dateFormat "Mon, Jan 2" .Params.event.start_date }}
                                                {{ else }}
                                                    {{ dateFormat "Mon, Jan 2" .Params.event.start_date }} - {{ dateFormat "Mon, Jan 2" .Params.event.end_date }}
                                                {{ end }}
                                            </span>
                                        </div>
                                        <div class="mt-2 event-tags">
                                            {{ if in .Params.event.type "workshop" }}
                                                <span class="inline-block bg-orange-500 text-white rounded-full px-2">Workshop</span>
                                            {{ end }}
                                            {{ if in .Params.event.type "talk" }}
                                                <span class="inline-block bg-orange-500 text-white rounded-full px-2">Talk</span>
                                            {{ end }}
                                            {{ if in .Params.event.type "booth" }}
                                                <span class="inline-block bg-orange-500 text-white rounded-full px-2">Booth</span>
                                            {{ end }}
                                            {{ if in .Params.event.type "meetup" }}
                                                <span class="inline-block bg-orange-500 text-white rounded-full px-2">MeetUp</span>
                                            {{ end }}
                                        </div>
                                    </div>
                                    <div class="w-4/12 relative">
                                        {{ if .Params.url_slug }}
                                            <a class="btn btn-purple absolute bottom-0 right-0" href="/events/{{ .Params.url_slug }}">Register</a>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="hidden lg:inline-block w-3/12 px-5">
                <div class="border border-gray-400 rounded bg-black pb-8">
                    <p class="text-xl text-white leading-snug my-0 mx-5 mt-2"><b>Create</b> modern applications</p>
                    <img class="w-full mb-5" src="/images/docs/k8s-the-prod-way/app.png" />
                    <a href="#" class="btn mx-5">Get Started Today</a>
                </div>
            </div>
        </div>
    </div>
{{ end }}
