{{/* Generate product entities with comprehensive relationships for knowledge graphs */}}

{{/* Define all Pulumi products with their relationships */}}
{{ $pulumiCLI := dict
  "@type" "SoftwareApplication"
  "@id" "https://www.pulumi.com/#pulumi-cli"
  "name" "Pulumi CLI"
  "applicationCategory" "Infrastructure as Code"
  "operatingSystem" (slice "macOS" "Windows" "Linux")
  "url" "https://www.pulumi.com/product/infrastructure-as-code/"
  "sameAs" (slice 
    "https://github.com/pulumi/pulumi"
    "https://en.wikipedia.org/wiki/Pulumi_(software)"
    "https://www.wikidata.org/wiki/Q85792810"
  )
  "isPartOf" (dict
    "@type" "SoftwareApplication"
    "@id" "https://www.pulumi.com/product/#pulumi-platform"
    "name" "Pulumi Platform"
  )
}}

{{ $pulumiCloud := dict
  "@type" "SoftwareApplication"
  "@id" "https://www.pulumi.com/product/pulumi-cloud/#software"
  "name" "Pulumi Cloud"
  "applicationCategory" "Cloud Management Platform"
  "url" "https://www.pulumi.com/product/pulumi-cloud/"
  "isPartOf" (dict
    "@type" "SoftwareApplication"
    "@id" "https://www.pulumi.com/product/#pulumi-platform"
    "name" "Pulumi Platform"
  )
  "hasPart" (slice
    (dict "@id" "https://www.pulumi.com/product/pulumi-deployments/#software")
    (dict "@id" "https://www.pulumi.com/product/pulumi-insights/#software")
    (dict "@id" "https://www.pulumi.com/product/secrets-management/#software")
  )
}}

{{ $pulumiDeployments := dict
  "@type" "SoftwareApplication"
  "@id" "https://www.pulumi.com/product/pulumi-deployments/#software"
  "name" "Pulumi Deployments"
  "applicationCategory" "Continuous Deployment"
  "url" "https://www.pulumi.com/product/pulumi-deployments/"
  "isPartOf" (dict "@id" "https://www.pulumi.com/product/pulumi-cloud/#software")
  "requires" (dict "@id" "https://www.pulumi.com/#pulumi-cli")
}}

{{ $pulumiESC := dict
  "@type" "SoftwareApplication"
  "@id" "https://www.pulumi.com/product/secrets-management/#software"
  "name" "Pulumi ESC"
  "applicationCategory" "Secrets Management"
  "url" "https://www.pulumi.com/product/secrets-management/"
  "isPartOf" (dict "@id" "https://www.pulumi.com/product/pulumi-cloud/#software")
  "interactsWith" (dict "@id" "https://www.pulumi.com/#pulumi-cli")
}}

{{ $pulumiNeo := dict
  "@type" "SoftwareApplication"
  "@id" "https://www.pulumi.com/product/neo/#software"
  "name" "Pulumi Neo"
  "applicationCategory" "AI Infrastructure Assistant"
  "url" "https://www.pulumi.com/product/neo/"
  "isPartOf" (dict "@id" "https://www.pulumi.com/product/#pulumi-platform")
  "uses" (slice
    (dict "@type" "Technology" "name" "Large Language Models")
    (dict "@type" "Technology" "name" "Natural Language Processing")
  )
}}

{{ $pulumiInsights := dict
  "@type" "SoftwareApplication"
  "@id" "https://www.pulumi.com/product/pulumi-insights/#software"
  "name" "Pulumi Insights"
  "applicationCategory" "Infrastructure Intelligence"
  "url" "https://www.pulumi.com/product/pulumi-insights/"
  "isPartOf" (dict "@id" "https://www.pulumi.com/product/pulumi-cloud/#software")
}}

{{/* Detect which product is being referenced based on page context */}}
{{ $product := "" }}
{{ $relatedProducts := slice }}

{{/* Check URL path */}}
{{ if in .RelPermalink "/product/infrastructure-as-code" }}
  {{ $product = $pulumiCLI }}
  {{ $relatedProducts = slice $pulumiCloud $pulumiESC $pulumiDeployments }}
{{ else if in .RelPermalink "/product/pulumi-cloud" }}
  {{ $product = $pulumiCloud }}
  {{ $relatedProducts = slice $pulumiCLI $pulumiDeployments $pulumiInsights $pulumiESC }}
{{ else if in .RelPermalink "/product/pulumi-deployments" }}
  {{ $product = $pulumiDeployments }}
  {{ $relatedProducts = slice $pulumiCloud $pulumiCLI }}
{{ else if in .RelPermalink "/product/secrets-management" }}
  {{ $product = $pulumiESC }}
  {{ $relatedProducts = slice $pulumiCloud $pulumiCLI }}
{{ else if in .RelPermalink "/product/neo" }}
  {{ $product = $pulumiNeo }}
  {{ $relatedProducts = slice $pulumiCLI $pulumiCloud }}
{{ else if in .RelPermalink "/product/pulumi-insights" }}
  {{ $product = $pulumiInsights }}
  {{ $relatedProducts = slice $pulumiCloud $pulumiCLI }}
{{ end }}

{{/* Check content for product mentions */}}
{{ if and (not $product) .Content }}
  {{ $content := lower .Content }}
  
  {{ if in $content "pulumi deployments" }}
    {{ $relatedProducts = $relatedProducts | append $pulumiDeployments }}
  {{ end }}
  
  {{ if or (in $content "pulumi esc") (in $content "secrets management") }}
    {{ $relatedProducts = $relatedProducts | append $pulumiESC }}
  {{ end }}
  
  {{ if or (in $content "pulumi cloud") (in $content "pulumi service") }}
    {{ $relatedProducts = $relatedProducts | append $pulumiCloud }}
  {{ end }}
  
  {{ if or (in $content "pulumi neo") (in $content "ai assistant") }}
    {{ $relatedProducts = $relatedProducts | append $pulumiNeo }}
  {{ end }}
  
  {{ if or (in $content "pulumi insights") (in $content "infrastructure intelligence") }}
    {{ $relatedProducts = $relatedProducts | append $pulumiInsights }}
  {{ end }}
  
  {{ if or (in $content "pulumi cli") (in $content "infrastructure as code") }}
    {{ if not $product }}
      {{ $relatedProducts = $relatedProducts | append $pulumiCLI }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Return the main product and related products */}}
{{ $result := dict }}
{{ if $product }}
  {{ $result = merge $result (dict "mainProduct" $product) }}
{{ end }}
{{ if $relatedProducts }}
  {{ $result = merge $result (dict "relatedProducts" $relatedProducts) }}
{{ end }}

{{ return $result }}
