{{/* Generate related content links based on tags/categories/content */}}
{{ $relatedContent := slice }}

{{/* Link tutorials to related documentation */}}
{{ if eq .Type "tutorials" }}
  {{/* Try to find related docs based on title/content */}}
  {{ $tutorialTitle := lower .Title }}
  {{ if in $tutorialTitle "aws" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/docs/iac/get-started/aws/#main-content"
      "name" "AWS Documentation"
    ) }}
  {{ else if in $tutorialTitle "azure" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/docs/iac/get-started/azure/#main-content"
      "name" "Azure Documentation"
    ) }}
  {{ else if in $tutorialTitle "gcp" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/docs/iac/get-started/gcp/#main-content"
      "name" "Google Cloud Documentation"
    ) }}
  {{ else if in $tutorialTitle "kubernetes" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/docs/iac/get-started/kubernetes/#main-content"
      "name" "Kubernetes Documentation"
    ) }}
  {{ end }}
  
  {{/* Link to main getting started */}}
  {{ $relatedContent = $relatedContent | append (dict
    "@type" "TechArticle"
    "@id" "https://www.pulumi.com/docs/get-started/#main-content"
    "name" "Getting Started with Pulumi"
  ) }}
{{ end }}

{{/* Link blog posts to related products */}}
{{ if eq .Type "blog" }}
  {{ $content := .Content }}
  
  {{ if in $content "Pulumi Cloud" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "SoftwareApplication"
      "@id" "https://www.pulumi.com/product/#main-content"
      "name" "Pulumi Cloud"
    ) }}
  {{ end }}
  
  {{ if in $content "Pulumi Deployments" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "SoftwareApplication"
      "@id" "https://www.pulumi.com/product/pulumi-deployments/#main-content"
      "name" "Pulumi Deployments"
    ) }}
  {{ end }}
  
  {{ if in $content "Pulumi ESC" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "SoftwareApplication"
      "@id" "https://www.pulumi.com/product/secrets-management/#main-content"
      "name" "Pulumi ESC"
    ) }}
  {{ end }}
  
  {{ if in $content "Pulumi Neo" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "SoftwareApplication"
      "@id" "https://www.pulumi.com/product/neo/#main-content"
      "name" "Pulumi Neo"
    ) }}
  {{ end }}
{{ end }}

{{/* Link documentation to related tutorials */}}
{{ if eq .Type "docs" }}
  {{ $docPath := .RelPermalink }}
  
  {{ if in $docPath "/aws/" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/tutorials/creating-resources-aws/#main-content"
      "name" "Creating AWS Resources Tutorial"
    ) }}
  {{ else if in $docPath "/azure/" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/tutorials/creating-resources-azure/#main-content"
      "name" "Creating Azure Resources Tutorial"
    ) }}
  {{ else if in $docPath "/gcp/" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/tutorials/creating-resources-gcp/#main-content"
      "name" "Creating GCP Resources Tutorial"
    ) }}
  {{ else if in $docPath "/kubernetes/" }}
    {{ $relatedContent = $relatedContent | append (dict
      "@type" "TechArticle"
      "@id" "https://www.pulumi.com/tutorials/creating-resources-kubernetes/#main-content"
      "name" "Creating Kubernetes Resources Tutorial"
    ) }}
  {{ end }}
{{ end }}

{{ return $relatedContent }}
