{{/* Cloud Resource Type Extractor - Data-driven approach for maintainability */}}
{{/* Detects cloud services and Pulumi resource types mentioned in content */}}

{{/* Load cloud resources configuration from data file */}}
{{ $cloudResources := .Site.Data.cloud_resources.resources }}

{{/* Performance optimization: limit content scanning */}}
{{ $maxLength := .Site.Params.schema.max_content_scan_length | default 5000 }}
{{ $content := substr .Content 0 $maxLength | lower }}
{{ $url := .Permalink | lower }}
{{ $title := .Title | lower }}

{{/* Initialize result arrays */}}
{{ $resources := slice }}
{{ $pulumiResources := slice }}

{{/* Loop through all defined cloud resources */}}
{{ range $cloudResources }}
  {{ $matched := false }}
  
  {{/* Check content patterns */}}
  {{ range .patterns }}
    {{ if in $content . }}
      {{ $matched = true }}
    {{ end }}
  {{ end }}
  
  {{/* Check URL pattern if provided and not already matched */}}
  {{ if and (not $matched) .url_pattern (ne .url_pattern "") }}
    {{ if in $url .url_pattern }}
      {{ $matched = true }}
    {{ end }}
  {{ end }}
  
  {{/* Check title patterns for additional coverage */}}
  {{ if and (not $matched) .patterns }}
    {{ range .patterns }}
      {{ if in $title . }}
        {{ $matched = true }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{/* Add resource to results if matched */}}
  {{ if $matched }}
    {{ $resources = $resources | append (dict
      "@type" .schema.type
      "@id" .schema.id
      "name" .schema.name
      "description" .schema.description
      "provider" (dict "@id" .schema.provider_id)
      "applicationCategory" .schema.category
      "sameAs" .schema.same_as
    ) }}
  {{ end }}
{{ end }}

{{/* Detect specific Pulumi resource types (format: provider:service/resource:resourceType) */}}
{{ $pulumiPatterns := slice 
  "aws:s3/bucket:bucket"
  "aws:ec2/instance:instance"
  "aws:lambda/function:function"
  "aws:rds/instance:instance"
  "aws:dynamodb/table:table"
  "aws:eks/cluster:cluster"
  "aws:ecs/cluster:cluster"
  "aws:apigateway/restapi:restApi"
  "aws:iam/role:role"
  "aws:iam/policy:policy"
  "azure:storage/account:storageAccount"
  "azure:compute/virtualmachine:virtualMachine"
  "azure:web/appservice:appService"
  "azure:sql/server:sqlServer"
  "azure:cosmosdb/account:cosmosAccount"
  "azure:containerservice/managedcluster:managedCluster"
  "gcp:storage/bucket:bucket"
  "gcp:compute/instance:instance"
  "gcp:cloudfunctions/function:function"
  "gcp:sql/databaseinstance:databaseInstance"
  "gcp:bigquery/dataset:dataset"
  "gcp:container/cluster:cluster"
  "kubernetes:apps/v1:deployment"
  "kubernetes:v1:service"
  "kubernetes:v1:configmap"
  "kubernetes:v1:secret"
}}

{{/* Check for Pulumi resource type patterns */}}
{{ range $pulumiPatterns }}
  {{ if in $content . }}
    {{ $pulumiResources = $pulumiResources | append . }}
  {{ end }}
{{ end }}

{{/* Deduplicate cloud service resources by @id */}}
{{ $uniqueResources := slice }}
{{ $seenIds := slice }}
{{ range $resources }}
  {{ if not (in $seenIds .["@id"]) }}
    {{ $uniqueResources = $uniqueResources | append . }}
    {{ $seenIds = $seenIds | append .["@id"] }}
  {{ end }}
{{ end }}

{{/* Deduplicate Pulumi resources by name */}}
{{ $uniquePulumiResources := slice }}
{{ $seenPulumi := slice }}
{{ range $pulumiResources }}
  {{ if not (in $seenPulumi .) }}
    {{ $uniquePulumiResources = $uniquePulumiResources | append . }}
    {{ $seenPulumi = $seenPulumi | append . }}
  {{ end }}
{{ end }}

{{/* Return combined results */}}
{{ return (dict 
  "cloudServices" $uniqueResources 
  "pulumiTypes" $uniquePulumiResources
) }}