// ------------------------------ //
	//Color Libraries
// ------------------------------ //
$white: #ffffff;
$black: #000000;
$purple: #512668;
    $purple-dark: #2A1337;
    $purple-mid: #371847;
$green: #2FC89F;
$red: #EE795C;
$blue: #00ACF2;
    $blue-hover: #93DDFB;
$orange: #EE975C;
$grey: #6C6C6C;
	$grey-light: #E3E3E3;