{{/* Returns BlogPosting entity for @graph */}}

{{/* Get content for analysis */}}
{{ $content := .Content | plainify }}
{{ $wordCount := $content | countwords }}
{{ if not $wordCount }}
  {{ $wordCount = 500 }}
{{ end }}

{{/* Calculate reading time */}}
{{ $readTime := div $wordCount 200 }}
{{ if lt $readTime 1 }}{{ $readTime = 1 }}{{ end }}

{{/* Build BlogPosting entity */}}
{{ $schema := dict
  "@type" "BlogPosting"
  "@id" "#main-content"
  "headline" .Title
  "url" .Permalink
  "wordCount" $wordCount
  "timeRequired" (printf "PT%dM" $readTime)
  "inLanguage" "en-US"
  "articleSection" "Engineering Blog"
  "isPartOf" (dict "@id" "https://www.pulumi.com/#website")
}}

{{/* Add dates with proper fallback handling */}}
{{ $publishDate := .PublishDate }}
{{ $modifiedDate := .Lastmod }}

{{/* Fix invalid dates */}}
{{ if or (not $publishDate) (eq ($publishDate.Format "2006-01-02") "0001-01-01") }}
  {{ if and .GitInfo .GitInfo.AuthorDate }}
    {{ $publishDate = .GitInfo.AuthorDate }}
  {{ else }}
    {{ $publishDate = now }}
  {{ end }}
{{ end }}

{{ if or (not $modifiedDate) (eq ($modifiedDate.Format "2006-01-02") "0001-01-01") }}
  {{ if and .GitInfo .GitInfo.AuthorDate }}
    {{ $modifiedDate = .GitInfo.AuthorDate }}
  {{ else }}
    {{ $modifiedDate = $publishDate }}
  {{ end }}
{{ end }}

{{ $schema = merge $schema (dict
  "datePublished" ($publishDate.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" ($modifiedDate.Format "2006-01-02T15:04:05Z07:00")
) }}

{{/* Add description */}}
{{ with (or .Params.meta_desc .Summary) }}
  {{ $schema = merge $schema (dict "description" .) }}
{{ end }}

{{/* Add image - use blog-specific fallback, not docs fallback */}}
{{ $image := "" }}
{{ if .Params.meta_image }}
  {{ $baseURL := .Permalink }}
  {{ if not (strings.HasSuffix $baseURL "/") }}
    {{ $baseURL = printf "%s/" $baseURL }}
  {{ end }}
  {{ $imagePath := .Params.meta_image }}
  {{ if strings.HasPrefix $imagePath "/" }}
    {{ $imagePath = strings.TrimPrefix "/" $imagePath }}
  {{ end }}
  {{ $image = printf "%s%s" $baseURL $imagePath }}
{{ else }}
  {{ $image = "https://www.pulumi.com/logos/brand/og-default.png" }}
{{ end }}
{{ $schema = merge $schema (dict "image" $image) }}

{{/* Add keywords from tags */}}
{{ with .Params.tags }}
  {{ $keywords := delimit . ", " }}
  {{ $schema = merge $schema (dict "keywords" $keywords) }}
{{ end }}

{{/* Add author using enhanced author entities from team data */}}
{{ $authors := partial "schema/utils/author-entities.html" . }}
{{ if not $authors }}
  {{/* Fallback: build basic author entities from frontmatter names */}}
  {{ $authors = slice }}
  {{ with .Params.authors }}
    {{ range . }}
      {{ $authorData := index site.Data.team.team . }}
      {{ $displayName := . }}
      {{ if $authorData }}
        {{ $displayName = $authorData.name }}
      {{ end }}
      {{ $authors = $authors | append (dict
        "@type" "Person"
        "@id" (printf "https://www.pulumi.com/authors/%s/#person" (. | urlize))
        "name" $displayName
        "url" (printf "https://www.pulumi.com/authors/%s/" (. | urlize))
        "worksFor" (dict "@id" "https://www.pulumi.com/#organization")
      ) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if not $authors }}
  {{ $authors = slice (dict
    "@type" "Organization"
    "@id" "https://www.pulumi.com/#organization"
  ) }}
{{ end }}
{{ $schema = merge $schema (dict "author" $authors) }}

{{/* Add publisher reference */}}
{{ $schema = merge $schema (dict
  "publisher" (dict "@id" "https://www.pulumi.com/#organization")
) }}

{{/* Add mainEntityOfPage reference */}}
{{ $schema = merge $schema (dict
  "mainEntityOfPage" (dict "@id" (printf "%s#webpage" .Permalink))
) }}

{{/* Add speakable selectors for voice assistants and AEO */}}
{{ $schema = merge $schema (dict
  "speakable" (dict
    "@type" "SpeakableSpecification"
    "cssSelector" (slice "article h1" "article section > p:first-of-type")
  )
) }}

{{ return $schema }}