{{/* Returns Course entity for @graph */}}

{{/* Get content for analysis */}}
{{ $content := .Content | plainify }}
{{ $wordCount := $content | countwords }}
{{ if not $wordCount }}
  {{ $wordCount = 500 }}
{{ end }}

{{/* Build Course entity */}}
{{ $schema := dict
  "@type" "Course"
  "@id" "#main-content"
  "name" .Title
  "url" .Permalink
  "inLanguage" "en-US"
  "isAccessibleForFree" true
}}

{{/* Add description */}}
{{ $description := or .Params.meta_desc .Summary (printf "Learn %s with this hands-on Pulumi tutorial" .Title) }}
{{ $schema = merge $schema (dict "description" $description) }}

{{/* Add image */}}
{{ $image := "" }}
{{ if .Params.meta_image }}
  {{ $image = printf "%s%s" .Permalink .Params.meta_image }}
{{ else }}
  {{ $image = "https://www.pulumi.com/images/docs/meta-images/docs-meta.png" }}
{{ end }}
{{ $schema = merge $schema (dict "image" $image) }}

{{/* Add dates */}}
{{ $publishDate := .PublishDate }}
{{ $modifiedDate := .Lastmod }}
{{ if not $modifiedDate }}
  {{ $modifiedDate = $publishDate }}
{{ end }}
{{ $schema = merge $schema (dict
  "datePublished" ($publishDate.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" ($modifiedDate.Format "2006-01-02T15:04:05Z07:00")
) }}

{{/* Determine educational level */}}
{{ $level := "Beginner" }}
{{ if in $content "advanced" }}
  {{ $level = "Advanced" }}
{{ else if in $content "intermediate" }}
  {{ $level = "Intermediate" }}
{{ end }}
{{ $schema = merge $schema (dict "educationalLevel" $level) }}

{{/* Auto-detect prerequisites */}}
{{ $prerequisites := slice }}
{{ if or (in $content "Pulumi CLI") (in $content "pulumi new") }}
  {{ $prerequisites = $prerequisites | append "Pulumi CLI installed" }}
{{ end }}
{{ if in $content "AWS account" }}
  {{ $prerequisites = $prerequisites | append "AWS Account" }}
{{ end }}
{{ if in $content "Azure account" }}
  {{ $prerequisites = $prerequisites | append "Azure Account" }}
{{ end }}
{{ if in $content "Google Cloud account" }}
  {{ $prerequisites = $prerequisites | append "Google Cloud Account" }}
{{ end }}
{{ if $prerequisites }}
  {{ $schema = merge $schema (dict "coursePrerequisites" $prerequisites) }}
{{ end }}

{{/* Determine what the course teaches */}}
{{ $teaches := slice }}
{{ if in .Title "AWS" }}
  {{ $teaches = $teaches | append "AWS Infrastructure" }}
{{ else if in .Title "Azure" }}
  {{ $teaches = $teaches | append "Azure Infrastructure" }}
{{ else if in .Title "GCP" }}
  {{ $teaches = $teaches | append "Google Cloud Infrastructure" }}
{{ else if in .Title "Kubernetes" }}
  {{ $teaches = $teaches | append "Kubernetes" }}
{{ else }}
  {{ $teaches = $teaches | append "Infrastructure as Code" }}
{{ end }}
{{ $schema = merge $schema (dict "teaches" $teaches) }}

{{/* Calculate duration based on word count */}}
{{ $readTime := div $wordCount 150 }}
{{ if lt $readTime 30 }}{{ $readTime = 30 }}{{ end }}
{{ if gt $readTime 120 }}{{ $readTime = 120 }}{{ end }}
{{ $duration := printf "PT%dM" $readTime }}
{{ $schema = merge $schema (dict "timeRequired" $duration) }}

{{/* Add course instance */}}
{{ $schema = merge $schema (dict "hasCourseInstance" (dict
  "@type" "CourseInstance"
  "courseMode" "online"
  "courseWorkload" $duration
  "instructor" (dict
    "@type" "Person"
    "name" "Pulumi Team"
    "worksFor" (dict "@id" "https://www.pulumi.com/#organization")
  )
)) }}

{{/* Add provider */}}
{{ $schema = merge $schema (dict "provider" (dict
  "@type" "Organization"
  "@id" "https://www.pulumi.com/#organization"
  "name" "Pulumi"
  "url" "https://www.pulumi.com"
)) }}

{{/* Add audience */}}
{{ $schema = merge $schema (dict "audience" (dict
  "@type" "Audience"
  "audienceType" "Developers"
)) }}

{{/* Add about */}}
{{ $schema = merge $schema (dict "about" (dict
  "@type" "Thing"
  "name" "Infrastructure as Code"
)) }}

{{/* Add keywords */}}
{{ $keywords := printf "%s, infrastructure as code, pulumi tutorial" (delimit $teaches ", ") }}
{{ $schema = merge $schema (dict "keywords" $keywords) }}

{{ return $schema }}