{{/* Returns Event entity for @graph */}}

{{/* Initialize Event schema */}}
{{ $schema := dict
  "@type" "Event"
  "@id" "#main-content"
  "name" (or .Params.main.title .Title)
  "url" .Permalink
  "inLanguage" "en-US"
}}

{{/* Add description */}}
{{ with (or .Params.main.description .Params.meta_desc .Summary) }}
  {{ $schema = merge $schema (dict "description" .) }}
{{ end }}

{{/* Add event dates if available */}}
{{ with .Params.main.sortable_date }}
  {{ $schema = merge $schema (dict "startDate" .) }}

  {{/* Calculate endDate based on duration if available */}}
  {{ with $.Params.main.duration }}
    {{/* For now, just add a placeholder endDate same as startDate */}}
    {{/* In production, this would calculate actual end time */}}
    {{ $schema = merge $schema (dict "endDate" $.Params.main.sortable_date) }}
  {{ end }}
{{ end }}

{{/* Add duration if available */}}
{{ with .Params.main.duration }}
  {{ $schema = merge $schema (dict "duration" .) }}
{{ end }}

{{/* Add location - REQUIRED field, default to virtual if not specified */}}
{{ $location := .Params.main.location | default "virtual" }}
{{ if or (eq $location "virtual") (eq $location "online") (eq $location "") }}
  {{/* Virtual event (default for webinars) */}}
  {{ $schema = merge $schema (dict
    "eventAttendanceMode" "https://schema.org/OnlineEventAttendanceMode"
    "location" (dict
      "@type" "VirtualLocation"
      "url" .Permalink
    )
  ) }}
{{ else }}
  {{/* Physical location */}}
  {{ $schema = merge $schema (dict
    "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
    "location" (dict
      "@type" "Place"
      "name" $location
      "address" $location
    )
  ) }}
{{ end }}

{{/* Add event status - if external and block_external_search_index is true, might be past */}}
{{ $eventStatus := "https://schema.org/EventScheduled" }}
{{ if and .Params.external .Params.block_external_search_index }}
  {{/* External blocked events might be past */}}
  {{ $eventStatus = "https://schema.org/EventScheduled" }}
{{ end }}
{{ $schema = merge $schema (dict "eventStatus" $eventStatus) }}

{{/* Add organizer */}}
{{ $schema = merge $schema (dict
  "organizer" (dict
    "@type" "Organization"
    "name" "Pulumi"
    "url" "https://www.pulumi.com"
  )
) }}

{{/* Add offers - most Pulumi events are free */}}
{{ $schema = merge $schema (dict
  "offers" (dict
    "@type" "Offer"
    "price" "0"
    "priceCurrency" "USD"
    "availability" "https://schema.org/InStock"
    "url" .Permalink
    "validFrom" (now.Format "2006-01-02")
  )
) }}

{{/* Add image - use meta_image or fallback to default */}}
{{ $imageURL := .Params.meta_image | default "/logos/brand/og-default.png" }}
{{ if not (hasPrefix $imageURL "http") }}
  {{ if hasPrefix $imageURL "/" }}
    {{ $imageURL = printf "https://www.pulumi.com%s" $imageURL }}
  {{ else }}
    {{ $imageURL = printf "%s%s" .Permalink $imageURL }}
  {{ end }}
{{ end }}
{{ $schema = merge $schema (dict "image" $imageURL) }}

{{/* Add presenter/performer - use presenters or fallback to Pulumi team */}}
{{ $performers := slice }}
{{ with .Params.main.presenters }}
  {{ range . }}
    {{ $presenter := . }}
    {{ with $presenter.name }}
      {{ $performer := dict "@type" "Person" "name" . }}
      {{ with $presenter.role }}
        {{ $performer = merge $performer (dict "jobTitle" .) }}
      {{ end }}
      {{ $performers = $performers | append $performer }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* If no performers specified, use default */}}
{{ if eq (len $performers) 0 }}
  {{ $performers = slice (dict "@type" "Person" "name" "Pulumi Team") }}
{{ end }}

{{ $schema = merge $schema (dict "performer" $performers) }}

{{/* Add publisher reference */}}
{{ $schema = merge $schema (dict
  "publisher" (dict "@id" "https://www.pulumi.com/#organization")
) }}

{{/* Add breadcrumb reference if it exists */}}
{{ $schema = merge $schema (dict
  "breadcrumb" (dict "@id" (printf "%s#breadcrumb" .Permalink))
) }}

{{ return $schema }}
