
    .input-container {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 550px;

        .clear-container {
            position: absolute;
            display: flex;
            align-items: center;
            margin-right: 6px;
            top: 0;
            right: 0;
            height: 100%;
        }

        .search-icon {
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 12px;
            color: var(--color-gray-400);
        }

        .clear-filter-button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18px;
            width: 18px;
            font-size: xx-small;
            background: var(--color-gray-200);
            color: var(--color-gray-500);
            border-radius: 50%;
            border: none;
            cursor: pointer;
            padding: 0px;
        }

        .registry-filter-input {
            font-family: "Inter";
            font-size: 14px;
            height: 36px;
            width: 100%;
            border-radius: 4px;
            border: 2px solid #000;
            padding: 6px;
            // Accomodate the absolutely positioned filter icon.
            padding-left: 40px;
            margin-top: 0;

            &:focus {
                outline-color: var(--color-violet-primary);
            }
        }

        .registry-filter-input::placeholder {
              font-style: italic;
              color: var(--color-gray-500);
        }
    }