{{ define "hero" }}
{{ end }}

{{ define "main" }}
<div class="font-body container mx-auto mb-16 mt-8 px-4 md:px-8 flex flex-col gap-6 md:gap-8">

    <header class="text-center max-w-3xl mx-auto">
        <h1 class="text-4xl lg:text-5xl font-display font-semibold m-0 md:my-4">{{ .Title }}</h1>
    </header>

    <div class="flex flex-col gap-8">
        {{ $items := where (where .Site.Pages "Type" "releases") "Kind" "eq" "page" }}
        {{ range sort $items ".Params.date" "desc" }}
        {{ partial "releases/release-item.html" (dict
            "overline" .Params.label
            "heading" .Params.title
            "description" .Params.short_description
            "feature_image" .Params.feature_image
            "feature_image_alt" .Params.feature_image_alt
            "link" .RelPermalink
        ) }}
        {{ end }}
    </div>

</div>
{{ end }}
