<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pulumi Documentation</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/material.purple-deep_purple.min.css">
    <link rel="stylesheet" href="/css/style.css" media="all" />
    <link rel="stylesheet" href="/css/pygments.css" media="all" />
</head>
