<div class="mdl-tabs langtab-tabs">
    <div class="mdl-tabs__tab-dir langtab-tabstrip">
        <a class="mdl-tabs__tab langtab is-active">JavaScript</a>
        <a class="mdl-tabs__tab langtab">TypeScript</a>
        {% unless include.nodeonly %}
        <a class="mdl-tabs__tab langtab">Python</a>
        <a class="mdl-tabs__tab langtab">Go</a>
        {% endunless %}
    </div>
</div>

{% comment %}
.mdl-tabs__tab uses floats, so we need to use clearfix to avoid
wrapping/indenting the subsequent element containing the code snippet.
{% endcomment %}
<div class="clearfix"></div>
