{% comment %}
include.tree is the actual set of sections to render. It is an array with shape:

    title: string;      // "A Tour of Pulumi"
    path: string;       // "/tour/index"
    section: string[];  // [ "tour/basics-pulumi.md", "tour/basics-programs.md", ... ]

{% endcomment %}

<div class="toc">
{% for item in include.tree %}
    {% capture whitespace %}
        {% if item.path %}
            {% assign path   = item.path %}
            {% assign title  = item.title %}
        {% else %}
            {% assign found_page = site.pages | where: "path", item | first %}
            {% assign title = found_page.title %}
            {% assign path  = found_page.url %}
        {% endif %}
    {% endcapture %}
    <div class="sidenav-section {% if forloop.last == false %}separator{% endif %}">
        {% assign filename = path | replace: '/', ' ' | strip | replace: ' ', '/' | append: '.md' %}
        {% if filename == page.path %}
            {% assign sidenav_selected = "sidenav-selected" %}
        {% else %}
            {% assign sidenav_selected = "" %}
        {% endif %}
        {% if item.section %}
            <div data-title="{{ item.title }}">
                <div class="sidenav-topic {{ sidenav_selected }}">
                    <a data-title="{{ item.title }}" href="{{ path }}.html">{{ item.title }}</a>
                </div>
                <div class="sidenav-subsection">
                    {% include toc_sub.html tree=item.section %}
                </div>
            </div>
        {% else %}
            {% if path %}
                <div class="sidenav-topic {{ sidenav_selected }}">
                    <a data-title="{{ title }}" href="{{ path }}">{{ title }}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
