{% comment %} 
    This code is copied from the Kubernetes website.
    See https://github.com/kubernetes/website/blob/master/_includes/tocsearch.html
{% endcomment %}

{% capture whitespace %}
    {% for item in include.tree %}
        {% if found_toc %}
            {% break %}
        {% endif %}
        {% if item.path %}
            {% assign filename = item.path | replace: '/', ' ' | strip | replace: ' ', '/' | append: '.md' %}
        {% else %}
            {% assign filename = item %}
        {% endif %}
        {% if filename == page.path %}
            {% assign found_toc = include.toc %}
            {% break %}
        {% endif %}
        {% if item.section %}
            {% include toc_select.html tree=item.section toc=include.toc %}
        {% endif %}
    {% endfor %}
{% endcapture %}
