<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="3" width="46" height="42">
        <path d="M10 25L14 29L10 33" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M20 33H28" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M46 4H2V16H46V4ZM8 9C7.44772 9 7 9.44772 7 10C7 10.5523 7.44772 11 8 11H10C10.5523 11 11 10.5523 11 10C11 9.44772 10.5523 9 10 9H8ZM15 10C15 9.44772 15.4477 9 16 9H18C18.5523 9 19 9.44772 19 10C19 10.5523 18.5523 11 18 11H16C15.4477 11 15 10.5523 15 10ZM32 9C31.4477 9 31 9.44772 31 10C31 10.5523 31.4477 11 32 11H40C40.5523 11 41 10.5523 41 10C41 9.44772 40.5523 9 40 9H32Z"
            fill="white"
        />
        <path d="M2 16H46" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M46 4H2V44H46V4Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </mask>
    <g mask="url(#mask0)">
        <rect width="48" height="48" fill="black" />
    </g>
</svg>
