{{ define "hero" }}
    {{ partial "hero" (dict "title" .Params.title) }}
{{ end }}

{{ define "main" }}
    {{ $pageContext := . }}


    <section id="overview" class="max-w-5xl mx-auto text-center mt-6 px-6">
        {{ with .Params.overview }}
            <h2>{{ .title }}</h2>
            <p>{{ .description | markdownify }}</p>
        {{ end }}
        <div id="announcement" class="max-w-full mx-auto text-center my-8 px-6">
            <div class="flex justify-center rounded-md bg-violet-100">
                <p class="text-center">
                    ✨ <span class="font-bold">New - Pulumi Insights 2.0 - Import and Sync All Cloud Infrastructure:</span> <a href="/docs/insights/get-started/"> Get started now</a> ✨
                </p>
            </div>
        </div>
    </section>

    <section id="products" class="mb-16 mt-16 px-6 relative">
        <div class="container mx-auto">
            {{ range $section := .Params.products }}
                <div class="card mb-12 p-6 lg:p-20 bg-white">
                    <h2 class="text-center rainbow-text">{{ $section.header }}</h2>
                    <div class="flex flex-row flex-wrap justify-center space-x-4 my-4 border-b-2 border-gray-200">
                        {{ range $index, $subsection := $section.content }}
                            {{ $tabclass := "" }}
                            {{ $textClass := "" }}
                            {{ if eq $index 0 }}
                                {{ $tabclass = " border-blue-600 "}}
                                {{ $textClass = "rainbow-text" }}
                            {{ end }}
                            <div id="{{ $subsection.tabid }}" class="text-2xl cursor-pointer p-2 px-6 rounded-t-lg border-b-4 {{ $tabclass }}">
                                <div id="{{ $subsection.tabid }}-text" class="{{ $textClass }}">{{ $subsection.header }}</div>
                            </div>
                        {{ end }}
                    </div>
                    {{ range $index, $subsection := $section.content }}
                        {{ $tabclass := ""}}
                        {{ if not (eq $index 0) }}
                            {{ $tabclass = " hidden "}}
                        {{ end }}
                        <div id="{{ $subsection.tabid }}-content" class="{{ $tabclass }}">
                            <h3>{{ $subsection.header }}</h3>
                            {{ if $subsection.subheader }}
                                <div class="cursor-pointer mb-4">
                                    <a href={{ $subsection.link }} class="text-lg underline group-hover:cursor-pointer">{{ $subsection.subheader }}</a>
                                </div>
                            {{ end }}
                            <img src="{{ $subsection.image }}" />

                            <ul class="list-none mt-6 mb-20">
                                {{ $listLength := len $subsection.details }}
                                {{ range $index, $item := $subsection.details }}
                                    {{ $itemClass := "border-t-2" }}
                                    {{ if eq (add $index 1) $listLength }}
                                        {{ $itemClass = "border-t-2 border-b-2" }}
                                    {{ end }}


                                    <li class="accordion-item {{ $itemClass }} py-6">
                                        {{ partial "accordian-header" (dict "text" $item.title) }}
                                        <p class="mt-6">{{ $item.description | markdownify }}</p>

                                        <div class="accordion-item-body-no-animation">
                                            <p class="mt-6">{{ $item.more_info | markdownify }}</p>
                                        </div>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </section>

    <section id="open-source" class="container mx-auto text-center px-6">
        {{ with .Params.open_source }}
            <h2>{{ .title }}</h2>
            <div class="max-w-4xl mx-auto">{{ .description | markdownify }}</div>
            <img class="mx-auto" src="{{ .image }}" alt="Pulumi Open Source" />
        {{ end }}
    </section>

    <section id="security" class="mt-28 px-6 relative">
        <div class="container mx-auto text-center">
            {{ with .Params.security }}
                <h2>{{ .title }}</h2>
                <p class="max-w-3xl mx-auto">{{ .description | markdownify }}</p>
                <img class="mx-auto" src="{{ .image }}" alt="Pulumi Open Source" />
            {{ end }}
        </div>
    </section>

    <section id="case-studies" class="relative px-6 mt-28">
        <div class="container mx-auto">
            <h2 class="text-center">{{ .Params.case_studies.title }}</h2>
            <div class="flex flex-wrap justify-center items-stretch">
                {{ range .Params.case_studies.items }}
                    <div class="w-full lg:w-1/3 text-center my-8 relative">
                        <div class="h-full p-8">
                            <div class="h-16">{{ partial "customer-logo.html" (dict "logo" .logo) }}</div>
                            <h5>{{ .name }}</h5>
                            <p class="pb-8">{{ .description | markdownify }}</p>
                            <div class="absolute bottom-0 left-0 w-full">
                                <a href="{{ .link }}" class="btn-secondary whitespace-nowrap"
                                    >{{ .name }}
                                    Case Study</a
                                >
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    <section id="deployment" class="container mx-auto text-center mt-28 px-6">
        <h2>{{ .Params.deployment.title }}</h2>
        <div class="lg:flex lg:flex-wrap items-stretch text-left mt-16">
            {{ range $item := .Params.deployment.items }}
                <div class="w-full lg:w-1/2 p-3">
                    <div class="benefits-item-auto-h card h-full bg-white p-12">
                        <div class="icon-section mb-8">
                            {{ partial "color-icon.html" (dict "icon" $item.icon "icon_color" $item.icon_color) }}
                        </div>
                        <div>
                            <h5>{{ $item.title }}</h5>
                        </div>
                        <div class="mt-6">
                            <p>{{ $item.description | markdownify }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

    <section id="pricing" class="container mx-auto text-center mt-28 px-6">
        {{ with .Params.pricing }}
            <h2>{{ .title }}</h2>
            <p class="max-w-xl mx-auto">{{ .description | markdownify }}</p>
            <div class="mt-12">
                <a href="{{ relref $pageContext "/pricing" }}" class="btn-secondary">Pricing</a>
            </div>
        {{ end }}
    </section>

    <section id="get-started" class="container px-6 lg:px-0 mx-auto my-28">
        <div class="w-full bg-violet-600 card p-6 lg:p-16 lg:pt-24 text-center">
            <div class="max-w-xl mx-auto">
                <h2 class="text-white hidden lg:block px-0 lg:px-16">{{ .Params.get_started.title }}</h2>
                <h4 class="text-white mt-0 lg:hidden">{{ .Params.get_started.title }}</h4>
                <p class="text-white">{{ .Params.get_started.description }}</p>
                <div class="mt-16">
                    <a class="btn-secondary" href="{{ relref . "/docs/iac/get-started" }}">Get Started</a>
                </div>
            </div>
        </div>
    </section>
{{ end }}
