{{ define "hero" }}
    {{ partial "hero.html" (dict "title" "Pulumi ESC" "subtitle" "Centralized Secrets Management & Orchestration") }}
{{ end }}

{{ define "main" }}
    {{ $pageContext := . }}

    <section id="overview" class="my-8 relative">
        <div class="container mx-auto">
            <h5 class="mx-auto text-center text-gray-600 w-6/12">
                {{ .Params.subtitle | markdownify }}
            </h5>
        </div>
        <div class="container mx-auto text-center pt-8 w-9/12">
            <a href="https://www.pulumi.com/docs/esc/get-started/" class="btn-primary">Get Started with Pulumi ESC</a>
        </div>
    </section>

    <section id="description" class="container mx-auto my-16 flex flex-col">
        <h4 class="hidden lg:block xl:hidden text-center mb-8">{{ .Params.overview.header }}</h4>
        <div class="flex flex-col lg:flex-row px-8">
            <div class="w-full lg:w-1/2 lg:pr-8 order-last lg:order-first">
                <h4 class="block lg:hidden xl:block">{{ .Params.overview.header }}</h4>
                <p>{{ .Params.overview.body | markdownify }}</p>
            </div>
            <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
                <div id="video" style="position: relative; top: -100px;"></div>
                <div class="rounded-xl shadow-2xl relative h-0 overflow-hidden" style="padding-bottom: 50.25%;">
                    <iframe
                        src="https://www.youtube.com/embed/JY3Cm1UUIYE?rel=0"
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                        allowfullscreen=""
                        title="Pulumi ESC Introduction"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img{position:absolute;width:100%;top:0;bottom:0;margin:auto}</style><a href=https://www.youtube.com/embed/JY3Cm1UUIYE?autoplay=1><img src='/images/video-cards/esc-thumbnail.png' alt='Pulumi ESC Overview - Revolutionizing Secrets Management'></a>"
                    ></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Tetrate quote -->
    <section class="bg-gradient-to-r from-white from-0% via-salmon-100 via-50% to-white to-100% py-8">
        <div class="w-full md:w-2/3 lg:w-1/2 mx-auto px-6">
            {{ partial "home/quote.html" (dict "quote" .Params.customer_quotes.tetrate) }}
        </div>
    </section>

    <section id="screenshot" class="container mx-auto my-16">
        <h2 class="max-w-5xl mx-auto text-center py-8">Centrally manage all environments</h2>
        <div class="flex flex-wrap items-stretch">
            <div class="w-full xl:w-3/4">
                <img src="/images/product/esc-screenshot-2.png" alt="screenshot of Pulumi ESC management console" />
            </div>
            <div class="w-full xl:w-1/4 p-4 flex flex-col lg:flex-row xl:flex-col">
                {{ range $item := .Params.screenshot.items }}
                    <div class="w-full lg:w-1/3 xl:w-full my-2 lg:px-2 xl:px-0">
                        <div class="h-full card bg-white p-4">
                            <div>
                                <h5>{{ $item.title }}</h5>
                            </div>
                            <div class="mt-6">
                                <p>{{ $item.description }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    <!-- Mystem labs quote -->
    <section class="bg-gradient-to-r from-white from-0% via-yellow-100 via-50% to-white to-100% py-8">
        <div class="w-full md:w-2/3 lg:w-1/2 mx-auto px-6">
            {{ partial "home/quote.html" (dict "quote" .Params.customer_quotes.mysten) }}
        </div>
    </section>

    <section id="integration-access" class="container mx-auto my-16">
        <div class="max-w-5xl mx-auto text-center pb-4">
            <h2>{{ .Params.integrate.header }}</h2>
        </div>
        <div class="">
            <div class="w-full mb-12">
                <img src="/images/product/esc-octopus-diagram.png" alt="secrets sources examples diagram" style="max-height: 600px;" class="mx-auto"/>
            </div>
            <div class="flex flex-wrap justify-content items-stretch text-left my-2">
                {{ range $card := .Params.integrate.cards }}
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="h-full card bg-white p-12">
                            <div class="icon-section mb-8">
                                {{ partial "color-icon.html" (dict "icon" $card.icon "icon_color" $card.color) }}
                            </div>
                            <div>
                                <h5>{{ $card.title }}</h5>
                            </div>
                            <div class="mt-6">
                                <p>{{ $card.body }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    <section id="security" class="container mx-auto text-center my-20 px-6">
        <div class="max-w-5xl mx-auto text-center px-6">
            <h2>{{ .Params.security.header }}</h2>
        </div>
        <div class="flex flex-wrap justify-content items-stretch text-left my-4">
            {{ range $item := .Params.security.items }}
                <div class="w-full lg:w-1/3 p-3">
                    <div class="h-full card bg-white p-12">
                        <div class="icon-section mb-8 text-center">
                            {{ partial "color-icon.html" (dict "icon" $item.icon "icon_color" $item.icon_color) }}
                        </div>
                        <div>
                            <h5>{{ $item.title }}</h5>
                        </div>
                        <div class="mt-6">
                            <p>{{ $item.description | markdownify }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

    <section id="what-it-is" class="mt-20 px-4">
        <div class="container mx-auto">
            <h2 class="text-center mb-4">Key Features</h2>
            <div class="p-0.5 rounded-lg" style="background: linear-gradient(90deg, #f7bf2a 0%, #f26e7e 18.23%, #be5188 38.02%, #8a3391 53.65%, #805ac3 74.48%, #7682f4 100%);">
                <div class="rounded-lg bg-white flex flex-wrap mx-auto p-4">
                    {{ range $feature := .Params.features }}
                        <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
                            <div class="text-center h-full">
                                <h5>{{ $feature.header }}</h5>
                                <p>{{ $feature.body }}</p>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section id="info-graphic" class="container mx-auto mt-20 my-16">
        <div class="mx-auto text-center px-6">
            <h2>How Pulumi ESC works</h2>
        </div>
        <div class="rounded-xl bg-white mb-4">
            <img class="block z-10" src="/images/product/esc-diagram.png" alt="Pulumi ESC architecture diagram" />
        </div>
        <div class="flex flex-wrap justify-content items-stretch text-left my-4">
            {{ range $item := .Params.diagram.items }}
                <div class="w-full lg:w-1/4 p-2">
                    <div class="h-full card bg-white p-4">
                        <div class="icon-section mb-8">
                            <img src="/images/product/esc-legend-{{ $item.number }}.svg" alt="#{{ $item.number }}" />
                        </div>
                        <div class="mt-6">
                            <p>{{ $item.description }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

    <section id="learn" class="container mx-auto text-center mt-20 px-6">
        <div class="max-w-5xl mx-auto text-center px-6">
            <h2>{{ .Params.learn.title }}</h2>
            <div class="text-left">{{ .Params.learn.description }}</div>
        </div>
        <div class="flex flex-wrap justify-content items-stretch text-left my-4">
            {{ range $item := .Params.learn.items }}
                <div class="w-full lg:w-1/2 p-3">
                    <div class=" card h-full bg-white p-12">
                        <div>
                            <h5>{{ $item.title }}</h5>
                        </div>
                        <div class="mt-6">
                            <p>{{ $item.description | markdownify }}</p>
                        </div>
                        {{ range $button := $item.buttons }}
                            <div class="my-2 py-4 z-10 relative">
                                <a href="{{ $button.link }}" class="z-10 btn-{{ $button.type }}">{{ $button.action }}</a>
                            </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}
