.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    
    li {
        padding: 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
}