//basic form styles
label{
    @extend .p;
}

input[type="text"], input[type="email"], input[type="password"] {
	@extend .p;
	margin-bottom: 0;
    border: 1px solid #CECECE;
    padding: 16px 17px;
    border-radius: 3px;
	width: 100%;
	-webkit-appearance: none;
	
	&::placeholder {
		font-style: italic;
		color: #5B5B5B;
		
		.white-text & {
			color: #5B5B5B;
		}
	}
	
	&:focus {
		outline: none;
	}
	
	.white-text & {
		color: black;
	}
}

input[type="submit"] {
    @extend .button, .orange;
}