//mobile at $screen-sm-max and down

.main-header {
	@media(max-width: $screen-sm-max){
		position: fixed;
		top: 0;
		width: 100%;
		height: 56px;
		z-index: 1000;
		
		body.no-scroll & {
			overflow-y: scroll;
			height: 100%;
		}
	}
	
	.mobile-menu-bg {
		@media(max-width: $screen-sm-max){
			background-color: $purple-mid;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: -1;
			opacity: 0;
			transition: opacity 0.15s ease-in-out;
			
			body.no-scroll & {
				opacity: 1;
				height: 100%;
			}
		}
		
		
	}
}

body{
	@media(max-width: $screen-sm-max){
		padding-top: 56px;
		&.no-scroll {
			overflow: hidden;
			height: 100%;
		}
	}
}

.utility-bar {
	background-color: black;
	padding: 10px 0 9px;
	border-bottom: 1px solid #512668;
		
	.utility-nav {
		float: right;
	}
}

.utility-nav {
	padding: 0;
	margin: 0;
	
	@media(max-width: $screen-sm-max){
		text-align: right;
		opacity: 0;
		transition: opacity 0.15s ease-in-out;
		
		.dropdown.open & {
			opacity: 1;
		}
	}
	
	li {
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		
		@media(min-width: $screen-md){
			display: inline;
			margin-left: 40px;
			margin-bottom: 0;
		}
		
		
		&:before {
			display: none;
		}
		
		a {
			color: white;
			font-weight: normal;
			font-size: 14px;
			line-height: 1.357;
			text-decoration: none;
			
			i {
				font-size: 13px;
				margin-right: 4px;
			}
		}
	}
}

.gh-widget {
	> span {
		position: relative;
		top: 3px;
    }
}

.main-nav-block {
	background-color: $purple-mid;
		
	.logo {
		width: 35px;
		float: left;

		@media(min-width: $screen-md){
			float: none;
			position: absolute;
			width: 142px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	
	.button {
		padding: 7px 21px;
		width: 100px;
		margin-bottom: 0;
		min-width: 0;
		
		@media(min-width: $screen-md){
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}
	
	.wrapper {
		position: relative;
		text-align: center;
		padding: 10px 0;
		
		@media(min-width: $screen-md){
			padding: 42px 100px 42px 162px;
			text-align: unset;
		}
		
		@media(min-width: $screen-lg){
			padding: 42px 162px;
		}
	}
	
	.toggle-menu {
		float: right;
		background: none;
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height: 23px;
		color: white;
		text-transform: uppercase;
		font-weight: 600;
		width: 30px;
		height: 23px;
		z-index: 1;
		position: relative;
		margin-top: 6px;
		
		.icon {
			width: 30px;
			height: 23px;
			transform: rotate(0deg);
			transition: .5s ease-in-out;
			cursor: pointer;
			
			span {
				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background: white;
				opacity: 1;
				left: 0;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
				
				&:nth-child(1) {
					top: 0px;
				  }
				  
				&:nth-child(2),&:nth-child(3) {
					top: 10px;
				  }
				  
				&:nth-child(4) {
					top: 20px;
				  }
			}
		}
		
		&[aria-expanded="true"]{
			.icon {
				span {
					&:nth-child(1) {
						top: 18px;
						width: 0%;
						left: 50%;
					}
					  
					&:nth-child(2) {
						transform: rotate(45deg);
					}
					  
					&:nth-child(3) {
						transform: rotate(-45deg);
					}
					  
					&:nth-child(4) {
						top: 18px;
						width: 0%;
						left: 50%;
					}
				}
			} 
		}
	}
}

.main-nav-wrapper {	
	&.dropdown-menu {
		@media(max-width: $screen-sm-max){
			background: none;
			border-radius: 0;
			text-align: unset;
			float: none;
			padding: 0;
			box-shadow: none;
			border: none;
			outline: none;
			width: calc(100% + 40px);
			margin: 0 -20px;
			padding: 47px 44px 47px 20px;
		}
		
		@media(min-width: $screen-md){
			display: block !important;
			position: static;
			min-width: 0;
			margin: 0;
			padding: 0;
			border: none;
			box-shadow: none;
			background: none;
			width: auto;
			float: none;
		}
	}
}
.main-nav {
	padding: 0;
	margin: 0;
	text-align: right;
	
	@media(max-width: $screen-sm-max){
		padding-bottom: 27px;
		margin-bottom: 27px;
		border-bottom: 1px solid #512668;
		opacity: 0;
		transition: opacity 0.15s ease-in-out;
		
		.dropdown.open & {
			opacity: 1;
		}
	}
	
	@media(min-width: $screen-md){
		text-align: left;
	}
	
	
	li {
		padding: 0;
		margin: 0;
		margin-bottom: 14px;
		
		@media(min-width: $screen-md){
			display: inline;
			margin-bottom: 0;
		}
		
		&:before {
			display: none;
		}
		
		a {
			color: white;
			font-weight: 400;
			font-size: 20px;
			line-height: 1.357;
			text-decoration: none;
			
			
			@media(min-width: $screen-md){
				font-size: 16px;
				font-weight: normal;
				padding: 6px 7px;
				border: 1px solid transparent;
				background-color: rgba(255,255,255,0);
				transition: all 0.15s ease-in-out;
				border-radius: 3px;
				
				&:hover {
					border: 1px solid #5C3073;
					background-color: rgba(255,255,255,0.1);
				}
			}
			
			@media(min-width: $screen-lg){
				padding: 6px 19px;
			}
			
			@media(min-width: $screen-xlg){
				padding: 6px 23px;
			}
		}
		
		&.current-page {
			a {
				@media(min-width: $screen-md){
					border: 1px solid #5C3073;
					background-color: rgba(255,255,255,0.1);
				}
			}
		}
	}
}
