.social-channels {
	padding: 0;
	margin: 0;
	margin-bottom: 34px;
	
	li {
		padding: 0;
		margin: 0;
		display: inline-block;
		
		&:not(:last-child){
			margin-right: 15px;
		}
		
		&:before {
			display: none;
		}
		
		a {
			color: $blue;
			font-weight: normal;
			font-size: 25px;
			line-height: 1;
			text-decoration: none;
		}
	}
	
	&:not(.expanded){
		span {
			display: none;
		}
	}
	
	&.expanded {
		@media(max-width: $screen-sm-max){
			text-align: center;
		}
		
		@media(min-width: $screen-md){
			display : flex;
			justify-content : space-between;
		}
		
		
		li {
			
			@media(max-width: $screen-sm-max){
				margin-bottom: 20px;
				margin-right: 21px;
				margin-left: 21px;
			}
			
			a {
				font-size: 18px;
				line-height: 50px;
				font-weight: 400;
				display: inline-block;
				
				i {
					font-size: 50px;
					
					&.fa-twitter {
						color: #00ACF2;
					}
					
					&.fa-github {
						color: #022637;
					}
					
					&.fa-youtube {
						color: #FF0000;
					}
					
					&.fa-linkedin {
						color: #0077B5;
					}
					
					&.fa-twitch {
						color: #6B3CAA;
					}
					
					&.fa-slack-hash {
						color: #3EB991;
					}
				}
			}
		}
	}
}