{{ define "main" }}
    {{ partial "ai/scripts" }}


    <div id="pulumi-ai" class="bg-gray-900 text-gray-400">
        <div class="flex flex-col lg:flex-row container mx-auto pt-20 mt-4 lg:mt-8 px-4">
            <div class="lg:w-8/12">
                <div class="app">
                    <pulumi-ai
                        ws-endpoint="{{ getenv "PULUMI_AI_WS_URL" }}"
                        repo-url="https://github.com/pulumi/pulumiai"
                        signup-url="https://app.pulumi.com/signup?pulumiai=1"
                        welcome-content="{{ htmlUnescape (htmlEscape (.Params.welcome | markdownify)) }}"
                        site-url="{{ .Site.BaseURL }}"
                    >
                    </pulumi-ai>
                </div>
            </div>
            <div class="lg:w-4/12 text-sm hidden lg:block">
                <div class="sidebar sticky top-28 pl-8 ml-8 border-l border-divider">
                    <div class="text-gray-500">
                        <h1>{{ .Title }}</h1>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
