// Drop the rounded corners for code snippets. Ideally we would just do this
// for the code associated with our language chooser. However, there isn't a
// way to associate the two. (Since the N language code blocks are siblings
// to the lang chooser tabs.)
pre.highlight {
    border-radius: 0 !important;
}

// Force code snippets to scroll horizontally rather than word wrapping.
pre.highlight code {
    white-space: pre;
}

// On MacOS the scrollbar is hidden by default. But without it there
// isn't any clear indication that you can/should scroll.
pre.highlight {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.1);
        box-shadow: 0 0 1px rgba(255,255,255,.1);
    }
}

// HACK: Unify _pulumi.scss (built with Bootstrap, etc.) and style.scss (standalone).
$primary2: #00acf2; // primary blue

// Styling for the search form at the top of the page.
// Useful docs: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search
#search-form {
    @media(min-width: $screen-md){
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    
    padding-left: 8px;

    // Just make the two elements adjacent to each other.
    display: flex;
    height: 38px;
    
    input {
        outline: 0;
        border: 0;

        padding-left: 8px;

        // WebKit hijacks the size of search forms. Old blog post for context:
        // http://tonibarrett.com/forcing-my-style-onto-input-typesearch/
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }

    button {
        i { color: white; }  // The FontAwesome icon.
        outline: 0;
        border: 0;

        background-color: $primary2;

        padding: 7px 21px;
        width: 100px;
    }
}

$CENTER-WIDTH: 1400px;
$UTILITYBAR-HEIGHT: 45px;
$TOOLBAR-HEIGHT: 110px;
$TAB-GROUP-HEIGHT: 60px;
$MOBILE-WIDTH: 768px;

$code-font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

/**
 * Colors
 */
// Define custom CSS styles for Pulumi webpages. This allow us to make dramatic
// changes to the color scheme without much churn.
$primary: #512668;  // primary purple
$primary2: #00acf2; // primary blue
$primary3: #2fc89f; // primary green
$primary4: #ee975c; // primary orange
$accent1: #f6e5ff; // light purple
$accent2: #e1f6ff; // light blue
$accent3: #3EC2F8; // bright blue
$accent4: #fbe5d7; // light orange

// Generate via:
// https://gist.github.com/chrsmith/692ea3833f2b48f121ad5515aff174ad
.brand                 {            color: $primary; }
.bg-brand              { background-color: $primary; }
.hover-brand:hover     {            color: $primary; }
.hover-bg-brand:hover  { background-color: $primary; }

.brand2                {            color: $primary2; }
.bg-brand2             { background-color: $primary2; }
.hover-brand2:hover    {            color: $primary2; }
.hover-bg-brand2:hover { background-color: $primary2; }

.brand3                {            color: $primary3; }
.bg-brand3             { background-color: $primary3; }
.hover-brand3:hover    {            color: $primary3; }
.hover-bg-brand3:hover { background-color: $primary3; }

.accent1                {            color: $accent1; }
.bg-accent1             { background-color: $accent1; }
.hover-accent1:hover    {            color: $accent1; }
.hover-bg-accent1:hover { background-color: $accent1; }

.accent2                {            color: $accent2; }
.bg-accent2             { background-color: $accent2; }
.hover-accent2:hover    {            color: $accent2; }
.hover-bg-accent2:hover { background-color: $accent2; }

// Remove the background color from Bootstrap's Jumptron class.
.pulumi-jumbotron {
    background-color: $accent3;
    margin-bottom: 1rem;
    border-radius: .3rem;
    padding: 2rem 1rem;
}

.little-jumbotron {
    background-color: $accent3;
    margin: 8px;
    border-radius: .3rem;
    padding: 8px;
}

.content-block {
    padding-top: 60px;
    min-height: calc(100vh - 396px);
}

.button {
    min-width: 120px;
    font-size: 14px;
    font-weight: bold;
}

.button.small {
    font-size: 12px;
    padding: 10px 12px;
}

// Don't have SVG icons default to black. Just use current text color.
svg {
    fill: currentColor;
}

.get-to-the-cloud {
    color: #4a5960;
    font-size: 36px;
    margin-top: 48px !important;
}

.learn {
    color: #4a5960;
    border-radius: 2px;
    margin-top: 0px !important;
}

.curl-install {
    display: inline-block;
    font-size: 22px !important;
    font-family: $code-font-family;
    padding: 8px 32px;
    background-color: #eee;
    border-radius: 2px;
}

.docsToc {
    background: rgb(247,247,247);
    width: 250px;
    font-size: 13px;
    padding: 0 8px 8px 8px;
}

.docsToc::after {
    content: '';
    display: table;
    clear: both;
}

.docsContent {
    width: 100%;
    margin-right: auto;
}

@media (max-width: $MOBILE-WIDTH) {
    .docsContent {
        max-width: calc(100% - 32px);
    }
}
@media (min-width: $MOBILE-WIDTH) {
    /* On non-mobile, add some padding between the TOC and content. */
    .docsContent {
        padding-left: 24px;
        max-width: calc(100% - 290px);
    }
}

$palette-grey:
"250,250,250"
"245,245,245"
"238,238,238"
"224,224,224"
"189,189,189"
"158,158,158"
"117,117,117"
"97,97,97"
"66,66,66"
"33,33,33";

$palette-grey-50: nth($palette-grey, 1);
$palette-grey-100: nth($palette-grey, 2);
$palette-grey-200: nth($palette-grey, 3);
$palette-grey-300: nth($palette-grey, 4);
$palette-grey-400: nth($palette-grey, 5);
$palette-grey-500: nth($palette-grey, 6);
$palette-grey-600: nth($palette-grey, 7);
$palette-grey-700: nth($palette-grey, 8);
$palette-grey-800: nth($palette-grey, 9);
$palette-grey-900: nth($palette-grey, 10);

$color-black: "0,0,0";

$tab-highlight-color: unquote("rgb(#{$primary})") !default;
$tab-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$tab-active-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
$tab-border-color: unquote("rgb(#{$palette-grey-300})") !default;

$layout-tab-font-size: 14px !default;

p {
    margin-bottom: 16px;
}

blockquote, blockquote p {
    color: #111;
    font-size: 14px;
}

pre {
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
}

pre.highlight {
    border-radius: 2px !important;
}

h2, h3, h4 {
    margin-top: 24px;
}

h1 { font-size: 36px; font-weight: 500; }
h2 { font-size: 28px; font-weight: 500; }
h3 { font-size: 24px; font-weight: 500; }
h4 { font-size: 22px; font-weight: 500; }

.mdl-tabs {
    display: block;
    width: 100%;
}

.mdl-tabs__tab-bar {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-content   : space-between;
    align-items     : flex-start;

    height          : 48px;
    padding         : 0 0 0 0;
    margin          : 0;
    border-bottom   : 1px solid $tab-border-color;
}

.mdl-tabs__tab {
    margin: 0;
    border: none;
    padding: 0 24px 0 24px;

    float: left;
    position: relative;
    display: block;

    text-decoration: none;
    height: 48px;
    line-height: 48px;

    text-align: center;
    font-weight: 500;
    font-size: $layout-tab-font-size;
    text-transform: uppercase;

    color: $tab-text-color;
    overflow: hidden;

    .mdl-tabs.is-upgraded &.is-active {
        color: $tab-active-text-color;
    }

    .mdl-tabs.is-upgraded &.is-active:after {
        height: 2px;
        width: 100%;
        display: block;
        content: " ";
        bottom: 0px;
        left: 0px;
        position: absolute;
        background: $tab-highlight-color;
        animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) alternate forwards;
        transition: all 1s cubic-bezier(0.4, 0.0, 1, 1);
    }

    & .mdl-tabs__ripple-container {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        z-index: 1;
        overflow: hidden;

        & .mdl-ripple {
            background: $tab-highlight-color;
        }
    }
}

.mdl-tabs__panel {
    display: block;

    .mdl-tabs.is-upgraded & {
        display: none;
    }

    .mdl-tabs.is-upgraded &.is-active {
        display: block;
    }
}

@keyframes border-expand {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

.mdl-tabs__tab {
    height: $TAB-GROUP-HEIGHT;
    line-height: $TAB-GROUP-HEIGHT;
}

.mdl-tabs__tab.is-active {
    color: $primary;
    border-bottom: 2px solid $primary;
}

.toc {
    margin-right: 16px;

    // Render links like headings.
    a {
        color: inherit !important;
        text-decoration: none;
    }
    a:hover   {
        color: inherit !important;
        text-decoration: none;
    }
    a:visited {
        color: inherit !important;
        text-decoration: none;
    }

    .sidenav-section {
        font-size: 13px;
        line-height: 20px;
        padding: 8px 0;
    }

    .sidenav-section.separator {
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

    .sidenav-section a {
        font-weight: bold;
    }

    .sidenav-topic {
        padding: 2px 2px 2px 8px;
    }

    .sidenav-selected {
        a {
            font-weight: bold !important;
        }
        background-color: $accent4;
    }

    .sidenav-subsection {
        padding: 8px 0 0 16px;
    }

    .sidenav-subsection a {
        font-weight: normal;
    }
}

// The Table of Contents is displayed in a hamberger menu visible when on
// a small screen. We style it very differently than the regular .toc
// so that it matches the display of other items in the hamberger menu.
.toc-in-nav {
    // Copied from _header.scss .main-nav.
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid $primary;

    margin-right: 0 !important;

    color: #fff;

    .sidenav-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.357;
    }

    .sidenav-topic {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.1;
    }

    .sidenav-selected {
        color: $primary4;
        background-color: inherit !important;
    }
}

.learn-box {
    vertical-align: top;
    background-color: #f1f6ff;
    padding: 16px;
}

.footer {
    flex: 1;
    height: 70px;
    padding: 40px 40px;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    color: #a1a1a1;
    float: right;
    font-size: 13px;
}

.section {
    padding: 24px 0 8px 0;
}

.mdl-card {
    margin: 24px 0;
    min-height: 128px;
}

.mdl-card__actions {
    text-align: center;
    padding: 0;
}

.get-started-card {
    padding: 32px;
    text-align: center;
}

.card-table {
    text-align: center;
}

@media (max-width: $MOBILE-WIDTH) {
    /* On mobile, cards show up vertically stacked, and expanded to 100% width. */
    .mdl-card {
        width: 100%;
    }
}
@media (min-width: $MOBILE-WIDTH) {
    /* On regular browsers, cards are horizontally aligned, like a table, and are evenly spaced. */
    .card-table {
        display: table;
        width: 100%;
        border-spacing: 10px;
        margin-bottom: 24px;
    }
    .mdl-card {
        display: table-cell;
    }
    .get-started-card {
        width: 25%;
    }
}

.mdl-card__title {
    color: #000;
    text-align: center;
    vertical-align: middle;

    a, i {
        color: $primary2;
    }
    h2 {
        margin: 0;
    }
}

.mdl-card__supporting-text {
    color: #333;
    min-height: 64px;
    padding: 8px 16px;
}

.card-text {
    line-height: 22px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: $MOBILE-WIDTH) {
    // Hide the normal toc on the page, since it will now
    // be accessed through the drawer.
    .column.docsToc {
        display: none;
    }
}

.version-table {
    margin-bottom: 24px;
    // partials/content-blocks/_responsive-table.scss overrides the global
    // width for all tables. So we need to reset it here.
    width: auto;

    th {
        font-weight: 600;
    }

    thead > tr > th {
        background-color: #ccc;
    }

    th, td {
        padding: 4px 16px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ccc;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
    tr:nth-child(odd) {
        background-color: #fff;
    }
    tr:first-child {
        background-color: $accent2;
    }
}

.tour-nav {
    display: inline-block;
    margin-top: 32px;
}

.tour-button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: $primary2;
    border: 1px solid #555;
    border-radius: 10%;

    // Don't allow any modification of link colors.
    &:hover {
        color: #fff !important;
    }
    &:visted {
        color: #fff !important;
    }
}

.tour-button.enabled {
}

.tour-button.enabled:hover {
    cursor: pointer;
    text-decoration: none;
}

.tour-button.disabled {
    background-color: #ddd;
}

.tour-button.disabled:hover {
    cursor: default;
    text-decoration: none;
}

.tour-index {
    font-size: 20px;
    padding: 8px;
}

.langtab-tabstrip {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: $TAB-GROUP-HEIGHT;
    z-index: 1;
}
.langtab-tabstrip a:hover {
    text-decoration: none;
}

.mdl-tabs__tab.langtab {
    cursor: pointer;
}

.pdoc-module-header {
    background-color: #f5e0f5;
    font-size: 20px;
    padding: 8px;
    font-weight: normal;
}

//  Widget showing the downloads for Pulumi.
.downloads-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.download-card {
    // Establish a min size, so in the general case they all look
    // the same despite having different amounts of text.
    min-height: 240px;
    min-width: 300px;
    flex-basis: 300px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 12px 12px 12px;
    padding: 12px 12px 24px 12px;

    // Push the download button the bottom of the widget (so all
    // buttons are aligned.)
    .download-button {
        margin-top: auto;
        text-align: center;
    }

    button {
        margin-bottom: 0 !important;
    }
}

// Container for the widget that contains the "star on GitHub" button.
.github-stars-widget {
    float: right;
    margin-right: 10px;
    margin-top: -64px;
    padding: 32px 32px;
}

.edit-this-page {
    // The goal of this class is to align to the right and in the middle of
    // an h1 title next to it.
    float: right;

    // h1s are 36px, so 11px (padding top) + 14px (font size) + 11px (implicit padding bottom)
    // aligns us with the middle axis of the h1.
    font-size: 14px;
    padding-top: 11px;

    a {
        // The underline looks kinda bad with the edit-this-page's position on the screen.
        text-decoration: none;
    }
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid $primary2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    box-sizing: content-box;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#search-results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
    width: auto;
}

@media (max-width: 480px) {
    #search-results-container {
        display: block;
    }
}

.search-results ul li {
    padding-left: 0px;
}

.search-results ul li.top {
    font-weight: bold;
}

.search-results ul li:before {
    content: '';
}

.symbol {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    width: 18px;
    margin-right: 8px;
}

.symbol.module {
    background: #2fc89f;
}

.symbol.module:before {
    content: "M";
}

.symbol.package {
    background: #512668;
}

.symbol.package:before {
    content: "Pk";
}

.how-to-logo {
    float: left;
    margin-right: 23px;
    margin-bottom: 23px;
    padding-top: 10px;
}

.find-out-more {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 20px;
}

