{{ define "main" }}
    <div class="container mx-auto px-4 pb-8 mt-8">
        <div class="md:flex">

            <div class="md:w-3/12 pr-8">
                {{ partial "blog/sidebar.html" . }}
            </div>

            <div class="md:w-7/12">
                {{ $paginator := .Paginate (where .Pages "Type" "blog").ByDate.Reverse }}
                {{ range $paginator.Pages }}
                    <article class="mb-8 pb-8 border-b border-gray-200">
                        <h2 class="no-anchor"><a data-tracking-id="blog-list-post-{{ .Title | urlize }}" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <div class="flex items-center">
                            <span>
                                {{ partial "blog/authors.html" (dict "context" . "authors" .Params.authors ) }}
                            </span>
                            <span class="mr-2">∙</span>
                            <time>
                                {{ .Date.Format "Monday, Jan 2, 2006" }}
                            </time>
                        </div>
                        <section>
                            {{ partial "blog/poster" . }}
                            {{ partial "blog/summary" . }}
                        </section>
                    </article>
                {{ end }}

                {{ partial "blog/paginator.html" . }}
            </div>

            <div class="md:w-2/12 pl-8">

            </div>
        </div>
    </div>
{{ end }}
