{{ define "main" }}
<section class="content-block border-top">
    <div class="container-fluid">
        <div id="pul-blog" class="row">

            {{ partial "blog/sidebar.html" . }}

            <div class="col-md-10">
                <article>
                    <h1>{{ .Title }}</h1>

                    <div>
                        Posted by
                        <ul class="authors">
                            {{ range $idx, $authorName := .Param "authors" }}
                                {{ with $authorPage := $.Site.GetPage (printf "/authors/%s" ($authorName | urlize)) }}
                                {{ $authorData := index $.Site.Data.team.team $authorName }}
                                <li class="author">
                                    <img src="{{ $.Site.BaseURL }}assets/images/team/{{ $authorData.id }}.jpg" alt="{{ $authorData.name }}">
                                    <div>
                                        <div>
                                            <a href="{{ $authorPage.Permalink }}">{{ $authorData.name }}</a>
                                        </div>
                                        <div>
                                            {{ if $authorData.links }}
                                            <ul class="logo-roll">
                                                {{ range $authorData.links }}
                                                <li><a href="{{ .link }}" class="text-blue" target="_blank">{{ .title | safeHTML }}</a></li>
                                                {{ end }}
                                            </ul>
                                            {{ end }}
                                        </div>
                                    </div>
                                </li>
                                {{ end }}
                            {{ end }}
                            </li>
                        </ul>
                    </div>

                    <div>
                        {{ .Content }}
                    </div>

                    <small>
                        Posted <time>{{ .Date.Format "Jan 2, 2006" }}</time>
                    </small>
                </article>

                <section>
                    <h2>Tags</h2>
                    <ul class="post-tags-list">
                        {{ range $tag := .Param "tags" }}
                            {{ with $tagPAge := $.Site.GetPage (printf "/tags/%s" ($tag | urlize)) }}
                            <li>
                                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                            </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </section>
            </div>

        </div>
    </div>
</section>
{{ end }}
