{{ define "main" }}
<section class="content-block">
    <div class="container-fluid">
        <div id="pul-blog" class="row">

            {{ partial "blog/sidebar.html" . }}

            <div class="col-md-7">
                <article>
                    <h1 class="taxonomy-page-header no-anchor">{{ .Title }}</h1>

                    <div>
                        <ul class="authors">
                            {{ range $idx, $authorName := .Param "authors" }}
                                {{ $authorPage := $.Site.GetPage (printf "/authors/%s" ($authorName | urlize)) }}
                                {{ $authorData := index $.Site.Data.team.team $authorName }}
                                <li class="author">
                                    <img
                                            src="{{ $.Site.BaseURL }}assets/images/team/{{ $authorData.id }}.jpg"
                                            alt="{{ $authorData.name }}">
                                    <div>
                                        <div>
                                            <a class="author-link" href="{{ $authorPage.Permalink }}">{{ $authorData.name }}</a>
                                        </div>
                                        <div>
                                            {{ if $authorData.social }}
                                                {{ partial "widgets/social-icons.html" (dict "social" $authorData.social)}}
                                            {{ end }}
                                        </div>
                                    </div>
                                </li>
                            {{ end }}
                            </li>
                        </ul>
                    </div>

                    <div>
                        {{ .Content }}
                    </div>

                    <div class="pul-post-ending">
                        <small>
                            Posted <time>{{ .Date.Format "Monday, Jan 2, 2006" }}</time>
                        </small>
                    </div>
                </article>

                <aside>
                    <ul class="pul-tags-list">
                        {{ range $tag := .Param "tags" }}
                        {{ with $tagPAge := $.Site.GetPage (printf "/tags/%s" ($tag | urlize)) }}
                        <li>
                            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </aside>
            </div>

        </div>
    </div>
</section>
{{ end }}