{{ define "main" }}
    {{ partial "blog/header.html" (dict "title" "Tags" "url" .RelPermalink "context" .) }}

    <div class="container mx-auto px-4 py-8 lg:py-12">
        {{ with .Content }}<div class="blog-post-content mb-8 max-w-3xl">{{ . }}</div>{{ end }}

        <ul class="m-0 flex list-none flex-wrap gap-2 p-0">
            {{ range $tag, $content := .Site.Taxonomies.tags }}
                <li class="m-0">{{ partial "blog/badge.html" (dict "text" $tag "variant" "secondary" "href" $content.Page.RelPermalink "track" (printf "blog-tag-%s" ($tag | urlize))) }}</li>
            {{ end }}
        </ul>
    </div>
{{ end }}
