{{ define "main" }}
    {{ partial "hero.html" . }}
    
    <section class="content-block content-block-anchors bg-black white-text">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 anchor-container" id="anchor-point">
                    <ul class="anchor-list">
                        <li class="anchor-item"><a href="#what-is-kubernetes">What is Kubernetes?</a></li>
                        <li class="anchor-item"><a href="#kubernetes-everywhere">Kubernetes Everywhere</a></li>
                        <li class="anchor-item"><a href="#code-define">Code</a></li>
                        <li class="anchor-item"><a href="#get-started">Get Started</a></li>
                        <li class="anchor-item"><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content-block bg-grey" id="what-is-kubernetes">
        <div class="content-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="h4 text-purple">What is Kubernetes?</h2>
                                <p>Kubernetes is a system for automating the deployment, scaling, and management of containerized applications.</p>
                                <p>As an open-source system, it is becoming widely deployed in on-premises data centers, self-hosted on cloud infrastructure, or as a cloud managed service, such as Google GKE, Azure AKS, and Amazon EKS.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="content-block" id="kubernetes-everywhere">
            <div class="content-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="h4 text-purple">Kubernetes Everywhere</h2>
                                    <p>Pulumi's Cloud Native SDK makes it easy to target any Kubernetes environment to provision a cluster, configure and deploy applications, and update them as required.</p>

                                    <p>Pulumi uses real code which makes it easy, and efficient, for the development inner loop, at the same time as unlocking more complicated, real-world DevOps scenarios.</p>
                                    
                                    <p>Pulumi works with Minikube, on-premises and cloud-hosted custom Kubernetes clusters, and the managed services from Google (GKE), Azure (AKS), and Amazon (EKS).</p><br>
                                </div>
                                    <div class="col-sm-8 col-sm-offset-2">
                                    <ul class="social-channels expanded">
                                        <li><img src="{{ .Site.BaseURL }}assets/logos/tech/logo-minikube.png?v1" alt="minikube" width="37"></li>
                                        <li><img src="{{ .Site.BaseURL }}assets/logos/tech/logo-kubernetes.png?v1" alt="kubernetes" width="39"></li>
                                        <li><img src="{{ .Site.BaseURL }}assets/logos/tech/logo-aws.png?v1" alt="aws" width="37"></li>
                                        <li><img src="{{ .Site.BaseURL }}assets/logos/tech/logo-azure.png?v1" alt="azure" width="39"></li>
                                        <li><img src="{{ .Site.BaseURL }}assets/logos/tech/logo-gd.png?v1" alt="gd" width="38"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    <section class="content-block bg-grey" id="code-define">
        <div class="content-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row cols-are-spaced-md">
                            <div class="col col-md-5">
                                <div class="content">
                                    <sup>APPS</sup>
                                    <h2 class="h4 text-purple">Define Kubernetes apps</h2>
                                    <p>In this example, we use TypeScript to define a trivial app - an nginx image - and deploy 1 replica. Using a real language to define your app enables great IDE support: compile time checking for instance.</p>
                                    <p><br/><a href="https://pulumi.io/quickstart/" class="button">Get Started</a></p>
                                </div>
                            </div>
                            <div class="col col-md-7">
                                <div class="content">
<pre><code class="javascript hljs">import * as k8s from "@pulumi/kubernetes";

const appLabels = { app: "nginx" };

const deployment = new k8s.apps.v1.Deployment("nginx", {
    spec: {
        replicas: 1,
        selector: { matchLabels: appLabels },
        template: {
            metadata: { labels: appLabels },
            spec: { containers: 
                [{ name: "nginx", image: "nginx" }] }
        }
    }
});
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="content-block bg-grey" id="code-expressiveness">
            <div class="content-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="row cols-are-spaced-md">

                                <div class="col col-md-5">

                                    <div class="content">
                                        <sup>EXPRESSIVENESS</sup>
                                        <h2 class="h4 text-purple">Improve expressiveness, reduce boilerplate</h2>
                                        <p>Using real languages means being able to recognize patterns, and abstract them to reusable componenents.</p>
                                        <p>In this example we take a typical Deployment and Service pattern to create a <code>ServiceDeployment</code> class, simplifying the implementation of the canonical Guestbook app.</p>
                                        <p><br/><a href="https://pulumi.io/quickstart/" class="button">Get Started</a></p>
                                    </div>
                                </div>

                                <div class="col col-md-7">

                                    <div class="content">
    <pre><code class="javascript hljs">import * as k8sjs from "./k8sjs";

let redisMaster = new k8sjs.ServiceDeployment("redis-master", {
    image: "k8s.gcr.io/redis:e2e",
    ports: [ 6379 ]
});

let redisSlave = new k8sjs.ServiceDeployment("redis-slave", {
    image: "gcr.io/google_samples/gb-redisslave:v1",
    ports: [ 6379 ]
    });

let frontend = new k8sjs.ServiceDeployment("frontend", {
    replicas: 3,
    image: "gcr.io/google-samples/gb-frontend:v4",
    ports: [ 80 ],
    loadBalancer: true,
});

export let frontendIp = frontend.ipAddress;</code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>

    <section class="content-block bg-grey" id="code-sidecar">
            <div class="content-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="row cols-are-spaced-md">

                                <div class="col col-md-5">

                                    <div class="content">
                                        <sup>ABSTRACTION</sup>
                                        <h2 class="h4 text-purple">Injecting sidecars using abstraction</h2>
                                        <p>Abstraction also allows us to do powerful work to simplify more complex configuration. An example of this is the sidecar microservices pattern where a container runs alongside other containers to add some functional value: logging, proxying etc.</p> <p>In this case we define a simple <code>EnvoyDeployment</code> class that adds an Envoy sidecar to our Kubernetes app.</p>
                                        <p><br/><a href="https://pulumi.io/quickstart/" class="button">Get Started</a></p>
                                    </div>
                                </div>

                                <div class="col col-md-7">

                                    <div class="content">
    <pre><code class="javascript hljs">export class EnvoyDeployment extends k8s.apps.v1.Deployment {
constructor(name: string,
            args: k8stypes.apps.v1.Deployment,
            opts?: pulumi.CustomResourceOptions) {
    const pod = args.spec.template.spec;

    // Add an Envoy sidecar container.
    pod.containers = pod.containers || [];
    pod.containers.push({
        name: "envoy",
        // `lyft/envoy` does not tag releases. Use a SHA.
        image: "lyft/envoy:4640fc028d65a6e2ee18858ebefcaeed24dffa81",
        command: ["/usr/local/bin/envoy"],
        args: [
            "--concurrency 4",
            "--config-path /etc/envoy/envoy.json",
            "--mode serve"
        ],
        ports: [{ containerPort: 80, protocol: "TCP" }],
        resources: {
            limits: { cpu: "1000m", memory: "512Mi" },
            requests: { cpu: "100m", memory: "64Mi" }
        },
        volumeMounts: 
            [{ name: "envoy-conf", mountPath: "/etc/envoy" }]
    });


    // Add a Volume for Envoy's config, as a ConfigMap.
    pod.volumes = pod.volumes || [];
    pod.volumes.push({
        name: "envoy-conf", configMap: { name: "envoy" },
    });

    super(name, args, opts);    
    }
}
        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>

    <section class="content-block bg-grey" id="code-yaml">
            <div class="content-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="row cols-are-spaced-md">

                                <div class="col col-md-5">

                                    <div class="content">
                                        <sup>YAML</sup>
                                        <h2 class="h4 text-purple">Use existing YAML and Helm Charts</h2>
                                        <p>Pulumi can also process YAML and Helm Charts, adding them to Pulumi programs which unlocks multi-cloud and advanced delivery scenarios.</p>

                                        <p>These examples use YAML and Helm to deploy the Kubernetes Guestbook app and Wordpress.</p>
                                        <p><br/><a href="https://pulumi.io/quickstart/" class="button">Get Started</a></p>
                                    </div>
                                </div>

                                <div class="col col-md-7">

                                    <div class="content">
    <pre><code class="javascript hljs">//Use YAML
import * as k8s from "@pulumi/kubernetes";

const guestbook = new k8s.yaml.ConfigGroup(
    "guestbook", { files: "guestbook/*.yaml" });

export const frontendIp =
    guestbook.getResource("v1/Service", "frontend").
    spec.apply(spec => spec.clusterIP);

//Use Helm
import * as k8s from "@pulumi/kubernetes";

const wordpress = new k8s.helm.v2.Chart("wordpress", {
    repo: "stable",
    version: "2.1.3",
    chart: "wordpress"
});

export const frontendIp =
    wordpress.getResource("v1/Service", "wpdev-wordpress").
    status.apply(status => status.loadBalancer.ingress[0].ip);
            
    </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>

    <section class="content-block bg-grey" id="code-combine">
            <div class="content-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="row cols-are-spaced-md">

                                <div class="col col-md-5">

                                    <div class="content">
                                        <sup>COMBINE SERVICES</sup>
                                        <h2 class="h4 text-purple">Declare managed services alongside Kubernetes</h2>
                                        <p>Pulumi can be used to combine services. For instance, a Kubernetes cluster and an associated database (such as RDS).</p>
                                        <p>In this example, we provision and use an AWS S3 bucket from a Kubernetes service.</p>
                                        <p><br/><a href="https://pulumi.io/quickstart/" class="button">Get Started</a></p>
                                    </div>
                                </div>

                                <div class="col col-md-7">

                                    <div class="content">
    <pre><code class="javascript hljs">import * as k8s from "@pulumi/kubernetes";
import * as aws from "@pulumi/aws";

const appName = "nginx";

// nginx config stored in an S3 bucket.
const config = new aws.s3.Bucket(`${appName}-config`);

// nginx container, replicated 1 time.
const appLabels = { app: appName };
const nginx = new k8s.apps.v1beta1.Deployment(appName, {
    spec: {
        selector: { matchLabels: appLabels },
        replicas: 1,
        template: {
            metadata: { labels: appLabels },
            spec: {
                initContainers: 
                  [nginxConfigPuller(config.bucketDomainName)],
                containers: 
                  [{ name: appName, 
                     image: "nginx:1.15-alpine" }]
            }
        }
    }
});
            
    </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>

    <section class="content-block bg-grey" id="code-multi">
        <div class="content-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row cols-are-spaced-md">

                            <div class="col col-md-5">

                                <div class="content">
                                    <sup>MULTI-CLOUD</sup>
                                    <h2 class="h4 text-purple">Provision Kubernetes clusters in any cloud</h2>
                                    <p>Kubernetes can be used in many environments: local dev, in the data center, self-hosted in the cloud, and as a managed cloud service. Pulumi supports all of those options.</p>
                                    <p>In this example, we show how to deploy a GKE cluster with configurable settings, which can then be used to deploy apps to.
                                    </p>
                                    <p><br/><a href="https://pulumi.io/quickstart/" class="button">Get Started</a></p>
                                </div>
                            </div>

                            <div class="col col-md-7">

                                <div class="content">
<pre><code class="javascript hljs">import * as gcp from "@pulumi/gcp";
import { nodeCount, nodeMachineType, password, username } from "./config";

export const k8sCluster = new gcp.container.Cluster("gke-cluster", {
    initialNodeCount: nodeCount,
    nodeVersion: "latest",
    minMasterVersion: "latest",
    masterAuth: { username, password },
    nodeConfig: {
      machineType: nodeMachineType,
      oauthScopes: [
        "https://www.googleapis.com/auth/compute",
        "https://www.googleapis.com/auth/devstorage.read_only",
        "https://www.googleapis.com/auth/logging.write",
        "https://www.googleapis.com/auth/monitoring"
      ],
    },
});
</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</section>


    {{ partial "how-pulumi-works.html" . }}

    {{ partial "get-started.html" . }}
    
    <section class="content-block bg-purple white-text" id="contact">
        <div class="content-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row cols-are-spaced-md">
                            <div class="col col-md-6">
                                <div class="content">
                                    <h4>Need help with Kubernetes? Drop us a line.</h4>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="content">
                                    <div class="hbspt-form-wrapper compact">
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "4429525",
	formId: "212ce93d-e081-4998-b14b-f26a974da4fb"
});
</script>
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    {{ partial "more-on-pulumi.html" . }}
    
{{ end }}