{{ define "hero" }}
    <header class="header-hero header-hero-glow">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>{{ .Params.hero.title }}</h1>
                {{ .Params.hero.body | markdownify }}
            </div>
            <div class="header-hero-item">
                {{ partial "code" (dict "code" .Params.hero.code "lang" "js" "mode" "dark" "chrome" true) }}
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{ partial "section-nav" (dict "sections" .Params.sections) }}

    <section id="what-is-serverless" class="py-16 bg-gray-200 px-4 md:px-0">
        <div class="container md:mx-auto md:max-w-4xl">
            <h2>What is Serverless?</h2>
            <p>
                Serverless, or function-based, computing enables you to build and run
                applications and services without thinking about the server infrastructure
                on which the functions depend. 'Serverless' applications of course require
                servers (typically cloud infrastructure, or Kubernetes clusters), but
                don't require you to provision, scale, and manage any servers.
            </p>
            <p>
                The reduced operational overhead of serverless computing means teams can
                focus on the business and application logic they need: the development of
                products vs the management of the infrastructure for them.
            </p>
        </div>
    </section>
    <section id="serverless-building-blocks" class="py-16 px-4 md:px-0">
        <div class="container md:mx-auto md:max-w-4xl">
            <h2>Building Blocks of Serverless Programming</h2>
            <p>
                Building serverless applications can be considered to be a composition of
                a series of standardized building blocks. For instance, serverless
                services can provide compute, storage, data storage, messaging/queues and
                orchestration. With just those blocks, extremely powerful applications can
                be composed and delivered with minimal infrastructure concerns.
            </p>

            <table>
                <thead>
                    <th>Building Block</th>
                    <th>AWS</th>
                    <th>Azure</th>
                    <th>GCP</th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#code-api" class="link">API</a></td>
                        <td>Lambda</td>
                        <td>Functions</td>
                        <td>Cloud Functions</td>
                    </tr>
                    <tr>
                        <td><a href="#code-bucket" class="link">Storage</a></td>
                        <td>S3</td>
                        <td>Blob Storage</td>
                        <td>Cloud Storage</td>
                    </tr>
                    <tr>
                        <td><a href="#code-table" class="link">Data Storage</a></td>
                        <td>DynamoDB</td>
                        <td>Cosmos DB</td>
                        <td>Cloud Datatable</td>
                    </tr>
                    <tr>
                        <td><a href="#code-timer" class="link">Timer</a></td>
                        <td>CloudWatch</td>
                        <td>Monitor</td>
                        <td>Stackdriver Monitoring</td>
                    </tr>
                    <tr>
                        <td><a href="#code-queue" class="link">Queue</a></td>
                        <td>SQS</td>
                        <td>Queue Storage</td>
                        <td>Cloud Pub/Sub</td>
                    </tr>
                    <tr>
                        <td><a href="#code-topic" class="link">Topic</a></td>
                        <td>SNS</td>
                        <td>Queue Storage</td>
                        <td>Cloud Pub/Sub</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Pulumi makes it simple to interact with serverless services available from
                the major cloud vendors, and with Kubernetes.
            </p>
        </div>
    </section>
    <section id="code" class="py-16 bg-gray-200 px-4 md:px-0">
        {{ range .Params.examples }}
            <div id="{{ .id }}" class="container md:mx-auto md:flex">
                <div class="md:w-1/2">
                    <h2>{{ .title }}</h2>
                    <p>
                        {{ .body | markdownify | safeHTML }}
                    </p>
                    <a class="btn inline-block my-2" href="{{ .cta.url }}">
                        {{ .cta.label }}
                    </a>
                </div>
                <div class="md:w-1/2">
                    {{ partial "code" (dict "code" .code "lang" "js" "mode" "dark") }}
                </div>
            </div>
        {{ end }}
    </section>

    {{ partial "how-pulumi-works.html" . }}

    {{ partial "get-started.html" . }}

    {{ partial "form-section" (dict "form" .Params.contact_us_form) }}

    {{ partial "more-from-pulumi.html" . }}
{{ end }}
