pulumi-convert {

    #editors {
        @apply flex;
    }

    #editor-input, #editor-output {
        width: 800px !important;
        height: 600px !important;
        border: 1px solid grey !important;
    }
}
