pulumi-docs-nav {
    display: block;

    ul {
        list-style-type: none !important;

        li {
            button:after {
                content: "-";
            }

            &.collapsed {
                button:after {
                    content: "+";
                }

                ul {
                    display: none;
                }
            }
        }
    }
}
