pulumi-docs-nav {
    display: block;

    // Hide the root item in the list, as we don't want to show this. (We only
    // want to show the items that belong to that menu.)
    > ul {
        padding-left: 0 !important;

        > li {
            > button, > a {
                display: none !important;
            }

            > ul {
                display: block !important;
                padding-left: 0 !important;
            }
        }
    }

    ul {
        list-style-type: none !important;
        padding-left: 0.9rem;

        li {
            > a {
                position: relative;
                display: flex;
                align-items: center;
                padding: 6px 12px;

                button {
                    width: 1.2rem;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    position: absolute;
                    left: 0;
                }

                span {
                    padding-left: 0.5rem;
                };
            }

            > ul {
                display: none;
            }

            &.expanded {
                > a {
                    > button {
                        > i {
                            rotate: 90deg;
                            transition: rotate .1s;
                        }
                    }
                }

                > ul {
                    display: block;
                }
            }
        }
    }
}
