<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    {{ partial "head.html" . }}
    <body class="section-{{ .Section }}">
        <pulumi-root></pulumi-root>
        {{ partial "header.html" . }}

        {{ block "hero" . }}
        {{ end }}
        <div class="pulumi-up-stars"></div>
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

        {{ partial "footer.html" . }}
        <noscript>
            <img src="https://ws.zoominfo.com/pixel/61f9917376ed81001a80e653" width="1" height="1" style="display: none;" />
        </noscript>
    </body>
</html>
