.section-ai {
    .top-nav-bar.docs {
        @apply py-5 fixed top-0 right-0 left-0 shadow bg-gray-850 z-50;
    }
}

#pulumi-ai {
    @apply w-full;

    @mixin divider {
        @apply border-blue-800 border-opacity-40;
    }

    .border-divider {
        @include divider;
    }

    pulumi-tooltip {
        .tooltip-content {
            @apply w-auto whitespace-nowrap;
        }
    }

    .app {
        @apply text-sm;

        .welcome {
            @apply mt-0 rounded;

            h1, h2 {
                @apply text-white;
            }
        }

        .welcome, .suggestion {
            @apply mb-16 lg:mb-8;
        }

        p {
            @apply text-gray-400 leading-loose;
        }

        a {
            @apply text-blue-400 underline;
        }

        em {
            @apply text-blue-300;
        }

        .output {
            @apply pb-52 lg:pb-48;

            .prompt {
                @apply flex items-start text-blue-400 text-xs mb-6;

                i {
                    @apply mr-2 text-lg;
                    @extend .fas;
                    @extend .fa-quote-left;
                }

                h3 {
                    @apply text-blue-400 mb-1;
                }

                .language {
                    @apply text-blue-400;
                }
            }

            .versions ol {
                @apply m-0 p-0 list-none;

                .version {
                    @apply relative;

                    .code-block {
                        @apply relative;

                        .controls {
                            @apply absolute top-3 right-3 items-center justify-end z-20 m-0 p-0 list-none flex;

                            li {
                                @apply my-0;

                                button {
                                    @apply btn bg-gray-700 border-gray-700 text-xs shadow-md;

                                    &:hover {
                                        @apply bg-gray-600 border-gray-600;
                                    }

                                    &.copy {
                                        @extend .fa;
                                        @extend .fa-copy;
                                    }

                                    &.share {
                                        @extend .fa;
                                        @extend .fa-share-alt;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        pre {
            @apply bg-gray-800 text-gray-400;
        }

        code {
            @apply bg-gray-800 leading-relaxed font-mono;
            font-size: 0.825rem;
        }

        hr {
            @include divider;
            @apply my-8;
        }

        .over-limit {
            @apply my-8 bg-blue-400 bg-opacity-50 p-4 text-white rounded shadow w-full;

            a {
                @apply text-white;
            }

            p:last-child {
                @apply mb-0;
            }
        }

        .chat-widget-container {
            @apply fixed pt-1 shadow-lg pb-4 lg:pb-12 bottom-0 bg-gray-900 bg-opacity-95 z-30;
        }

        .chat-widget {
            @apply py-2 px-3 bg-gray-850 bg-opacity-70 rounded shadow-lg;
        }

        .chat-widget-form-container {
            @apply flex items-center;
        }

        .chat-widget-form {
            @apply w-full;

            .languages {
                @apply inline-flex list-none p-0 m-0;

                .language {
                    @apply mr-2;

                    button {
                        @apply cursor-pointer bg-gray-700 rounded p-2 px-4 lg:px-2 text-xs w-auto lg:w-24 text-center;

                        &[disabled] {
                            @apply cursor-default opacity-70;
                        }

                        .label-abbrev {
                            @apply inline;
                        }

                        .label {
                            @apply hidden;
                        }

                        @screen md {
                            .label-abbrev {
                                @apply hidden;
                            }
                            .label {
                                @apply inline;
                            }
                        }
                    }

                    &.active {
                        button {
                            @apply bg-blue-600 text-white;
                        }
                    }
                }
            }

            form {
                @apply flex flex-col lg:flex-row items-center;

                textarea {
                    @apply resize-none outline-none border-none w-full leading-relaxed rounded text-sm bg-gray-800 p-3 text-white lg:mr-2 mb-2 lg:mb-0;

                    &::placeholder {
                        @apply text-gray-600;
                    }

                    &[disabled] {
                        @apply opacity-70;
                    }
                }

                button {
                    @apply btn bg-blue-600 w-full lg:w-auto outline-none border-none cursor-pointer flex items-center text-sm justify-center p-3 leading-6 text-white;

                    .icon {
                        @apply ml-2;
                        @extend .fas;
                        @extend .fa-arrow-circle-right;
                    }

                    &.running {
                        .icon {
                            @extend .fa;
                            @extend .fa-cog;
                            @extend .fa-spin;
                        }
                    }

                    &[disabled] {
                        @apply cursor-default bg-blue-800 border-blue-800 text-gray-400;
                    }
                }

                pulumi-tooltip, button {
                    @apply w-full;

                    @screen lg {
                        @apply w-auto;
                    }
                }

                @screen lg {

                }
            }
        }

        .chat-details {
            @apply relative;
        }

        .chat-share {
            @apply absolute right-0 text-white;
            bottom: 1px;

            .share-button-options {
                @apply list-none p-0 px-4 py-1 mb-2 bg-gray-400 text-black relative rounded;

                li {
                    @apply m-0 my-2 text-gray-700 cursor-pointer;

                    i {
                        @apply mr-2
                    }

                    a {
                        @apply text-gray-700 no-underline;

                        &:hover {
                            @apply text-black;
                        }
                    }

                    &:hover {
                        @apply text-black;
                    }

                    &.disabled {
                        @apply pointer-events-none;
                    }
                }

                .caret {
                    border-left: solid 8px transparent;
                    border-right: solid 8px transparent;
                    border-top: solid 8px map-get($gray, 300);;
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    right: 50%;
                }
            }

            .share-link {
                @apply text-right cursor-pointer text-gray-400 text-xs;

                &:hover {
                    @apply text-white;
                }
            }
        }

        .chat-status {
            @apply text-xs text-gray-700 text-left mt-2 flex items-center justify-between;

            a {
                @apply cursor-pointer underline;
            }

            .alert {
                @apply text-yellow-500;
            }

            .models {
                @apply list-none p-0 m-0 inline-flex;

                .label {
                    @apply mr-1;
                }

                a {
                    @apply text-gray-700 no-underline mx-0.5 py-0.5 px-1 rounded bg-opacity-30 transition-colors;

                    &:hover {
                        @apply text-gray-600 bg-gray-800;
                    }

                    &.active {
                        @apply text-gray-500 cursor-default bg-gray-600 bg-opacity-30;
                    }
                }
            }
        }
    }

    p {
        @apply leading-relaxed;
    }

    a {
        @apply text-blue-400 underline;
    }

    em {
        @apply text-blue-200;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-gray-300 m-0 p-0;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    .sidebar {
        @apply text-gray-800;

        h1, h2, h3, h4, h5, h6 {
            @apply text-white m-0 p-0;
        }

        .highlight > pre.chroma {
            @apply bg-gray-800 text-gray-400 py-3 px-4;
        }

        code {
            @apply bg-gray-800 leading-relaxed font-mono text-xs;
        }

        .copy-button-container {
            @apply text-sm;

            i {
                @apply text-base;
            }
        }

        ol li p {
            @apply m-2;
        }

        #cli {
            @apply mt-8 text-xl;
        }
    }

    .feedback {
        &-descriptions {
            @apply my-2 text-gray-300 text-xs;
        }

        &-actions {
            @apply flex justify-start items-center;

            .feedback-button {
                @apply mx-3 text-gray-500 cursor-pointer text-xs;

                &:hover {
                    @apply text-white;
                }

                i {
                    @apply mr-2;
                }
            }
        }

        textarea {
            @apply resize-none outline-none border-none w-1/2 leading-relaxed rounded text-sm bg-gray-800 p-3 text-white lg:mr-2 mb-2 lg:mb-0;
        }

        .feedback-submit-button {
            @apply p-3 text-white bg-blue-600 rounded h-full text-xs;
        }

        .feedback-submit-button-container {
            @apply w-1/2 text-right;
        }
    }

    .loading-spinner {
        @apply my-8;
    }

    .loading-spinner > div {
        @apply bg-blue-300 opacity-90 h-3 w-3 rounded-full inline-block mr-0.5;
        animation: bouncedelay 1.1s infinite ease-in-out both;
    }

    .loading-spinner .b1 {
        animation-delay: -0.32s;
    }

    .loading-spinner .b2 {
        animation-delay: -0.16s;
    }

    @keyframes bouncedelay {
        0%, 80%, 100% {
            transform: scale(0);
        } 40% {
            transform: scale(1);
        }
    }
}
