# docs
/themes/default/content/docs @susanev @sean1588 @anita-trimbur

# blog
/themes/default/content/blog @cnunciato @scottslowe

# marketing resources
/themes/default/content/resources/ @zchase @isaac-pulumi @shughes26
