# docs
/themes/default/content/docs @interurban @cnunciato

# blog
/themes/default/content/blog @cnunciato @scottslowe

# marketing resources
/themes/default/content/resources/ @zchase @isaac-pulumi @shughes26
