pulumi-chooser {
    > ul {
        @apply m-0 mb-4 flex;

        padding: 0 !important;
        list-style-type: none !important;

        li {
            @apply font-display text-xs p-0 m-0 border-b-2 transition border-gray-300 text-center w-full;
            @include transition;

            &:hover {
                @apply border-gray-500;
            }

            @screen md {
                @apply text-base;
            }

            &.active {
                @include gradient-border;

                a {
                    @apply text-gray-800;
                }
            }

            a {
                @apply block text-gray-700 cursor-pointer py-2 px-2;

                span {
                    @apply hidden;
                }

                @screen md {
                    @apply pt-4 pb-3 px-6;
                }

                @screen xl {
                    span {
                        @apply inline;
                    }
                }

                &:hover {
                    @apply text-gray-800;
                    text-decoration: none !important; // I know. Don't judge me. I promise to come back to it.
                }
            }

            span {
                @apply ml-1;
                @extend .badge;
                @extend .badge-preview;
            }
        }
    }

    &.solutions-persona-chooser[selection="developer"] {
        + h2 .developers {
            display: inherit;
        }
        + h2 .devops,
        + h2 .security,
        + h2 .leader {
            @apply hidden;
        }
    }

    &.solutions-persona-chooser[selection="devops"] {
        + h2 .devops {
            display: inherit;
        }
        + h2 .developers,
        + h2 .security,
        + h2 .leader {
            @apply hidden;
        }
    }

    &.solutions-persona-chooser[selection="security"] {
        + h2 .security {
            display: inherit;
        }
        + h2 .developers,
        + h2 .devops,
        + h2 .leader {
            @apply hidden;
        }
    }

    &.solutions-persona-chooser[selection="leader"] {
        + h2 .leader {
            display: inherit;
        }
        + h2 .developers,
        + h2 .security,
        + h2 .devops {
            @apply hidden;
        }
    }
}
