#docs-main-nav {

    pulumi-docs-nav {
        @apply text-sm block;

        ul {
            @apply list-none;
            padding-left: 0.9rem;

            li {
                @apply my-0.5;

                a {
                    @apply relative flex items-center text-gray-800 rounded no-underline transition-all;
                    padding: 6px 12px;

                    &.active {
                        @apply bg-violet-200 text-violet-900;
                    }

                    button {
                        @apply hidden absolute text-center p-0 m-0 mb-0.5 left-0;

                        svg {
                            @apply w-3.5 h-3.5;
                        }
                    }

                    span {
                        @apply pl-2;
                    }
                }

                // Only apply hover to non-expandable (document) links
                &:not(.expandable) a:hover {
                    @apply bg-violet-100 text-violet-800;

                    i {
                        @apply text-violet-900;
                    }
                }

                > ul {
                    @apply hidden;
                }

                &.expanded {
                    > a {
                        @apply text-violet-800;

                        > button {
                            > svg {
                                rotate: 90deg;
                                transition: rotate .1s;
                            }
                        }

                        > span {
                            @apply font-semibold;
                        }
                    }

                    > ul {
                        @apply block;
                    }
                }

                &.expandable {
                    > a {
                        > button {
                            @apply block;
                        }
                    }

                    // Add bold on hover for collapsed expandable items
                    &:not(.expanded):hover > a > span {
                        @apply font-semibold;
                    }
                }
            }
        }

        // Hide the root item in the list, as we don't want to show it. (We
        // only want to show the items that belong to that menu.)
        > ul {
            padding-left: 0 !important;

            > li {
                > button, > a {
                    display: none !important;
                }

                > ul {
                    display: block !important;
                    padding-left: 0 !important;
                }
            }
        }
    }
}
