{{ define "hero" }}
    {{ partial "hero" (dict "title" "About Us") }}
{{ end }}

{{ define "main" }}
    <section class="max-w-4xl container mx-auto py-8 px-4 text-center text-lg">
        <p>
            We at Pulumi are reimagining how develolpers and infrastructure teams program the cloud. We believe in empowering every builder to build modern cloud software, with
            more collaboration and fun.
        </p>
        <p class="text-3xl">
            <a href="{{ relref . "/careers" }}">We are remote-first, and we are hiring!</a>
        </p>
    </section>

    <section id="values" class="px-4 pb-8">
        <div class="container mx-auto">
            <h2 class="mb-8 text-center">Our Values</h2>
            <div class="lg:flex ml-16 mr-16">
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-users text-violet-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Work as a Team</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We work together and celebrate our successes together early and often.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-heart text-salmon-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Be Inclusive</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We are a global and inclusive team with a diverse set of perspectives.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-shoe-prints text-yellow-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Be Customer Driven</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We wear the customer's shoes. When a customer is successful, we are too.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-balance-scale text-blue-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Lead with Openness</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We are transparent, open, and honest with ourselves and with our customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:flex ml-16 mr-16">
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-running text-blue-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Bias for Action</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We say yes more than we say no. Good today is better than perfect tomorrow. When in doubt, we experiment.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-graduation-cap text-yellow-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Always Be Learning</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We are intellectually curious lifelong learners about technology, our customers, and the world around us.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 p-5">
                    <div class="card bg-white max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div class="icon-section pb-4">
                                <i class="fas fa-seedling text-violet-600 text-3xl"></i>
                            </div>
                            <div>
                                <h6>Think Big</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">We are big dreamers, a bit rebellious, and reject status quo. We hire the best people and empower them to invent the future.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 p-5">
                    <div class="max-w-md mx-auto">
                        <div class="px-8 py-8">
                            <div>
                                <h6>Like what we stand for? Join us.</h6>
                            </div>
                            <div class="description">
                                <p class="text-sm">
                                    We are always looking for new teammates who want to build the future together.
                                    <a href="{{ relref . "/careers" }}">Learn more</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="px-4">
        <div class="container md:mx-auto max-w-5xl text-center">
            <h2 class="mb-8 text-center">Meet the Team</h2>
            <!-- Hide the list initially, in order to avoid any visual flicker when shuffled. -->
            <ul class="invisible inline-flex flex-wrap list-none justify-center p-0" data-shuffle="true">
                {{ range $.Site.Data.team.team }}
                    {{ if eq .status "active" }}
                        <li class="text-center w-48 mx-4 mb-8">
                            <img class="rounded mb-4 shadow-md mx-auto" src="/images/team/{{ .id }}.jpg" alt="{{ .name }}" />
                            <h4 class="{{ if .bio }}cursor-pointer{{ end }} mb-0 text-gray-900" {{ if .bio }}data-toggle="modal" data-target="#{{ .id }}"{{ end }}>{{ .name }}</h4>
                            <div>{{ .title }}</div>
                            <div class="text-center">
                                {{ partial "widgets/social-icons.html" (dict "social" .social) }}
                            </div>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
            <div class="text-center mb-16 mt-8">
                <h3>Join the Team</h3>
                <p class="mt-8">
                    <a class="btn-secondary" href="{{ relref . "/careers" }}">Browse our open positions</a>
                </p>
            </div>
        </div>
    </section>

    <section id="board" class="py-16 px-4">
        <div class="container md:mx-auto max-w-5xl text-center">
            <h2 class="mb-8 text-center">Board of Directors</h2>
            <ul class="inline-flex flex-wrap list-none justify-center p-0">
                {{ range (sort $.Site.Data.team.board "weight") }}
                    <li class="text-center w-48 mx-4 mb-8">
                        <img class="rounded mb-4 shadow-md mx-auto" src="/images/team/{{ .id }}.jpg" alt="{{ .name }}" />
                        <h4 class="{{ if .bio }}cursor-pointer{{ end }} mb-0 text-gray-900" {{ if .bio }}data-toggle="modal" data-target="#{{ .id }}"{{ end }}>{{ .name }}</h4>
                        <div>{{ .title }}</div>
                        <div class="text-center">
                            {{ partial "widgets/social-icons.html" (dict "social" .social) }}
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </section>

    <!-- Investors -->
    <section id="investors" class="py-16 px-4">
        <div class="container mx-auto text-center">
            <h2 class="mb-8">Pulumi Investors</h2>
            <div class="inline-flex items-center">
                <a class="mx-8" href="https://www.madrona.com/">
                    <img class="w-24" src="/logos/investors/madrona.png" alt="Madrona Venture Group logo" />
                </a>
                <a class="mx-8" href="https://www.tolacapital.com/">
                    <img class="w-24" src="/logos/investors/tola.png" alt="TOLA Capital logo" />
                </a>
                <a class="mx-8" href="https://www.nea.com/">
                    <img class="w-24" src="/logos/investors/nea.png" alt="NEA logo" />
                </a>
            </div>
        </div>
    </section>

    <section id="newsroom" class="bg-gray-100 py-16 px-4">
        <div class="container mx-auto md:flex items-top max-w-5xl">
            <div class="md:w/1-2 md:px-8">
                <h2 class="text-center md:text-left">Press Releases</h2>
                <ul class="list-none my-8 p-0">
                    {{ range first 5 $.Site.Data.newsroom.releases }}
                        <li class="py-4">
                            <div class="text-sm text-gray-500">{{ .date }}</div>
                            <h5 class="mt-2 mb-0">{{ .title }}</h5>
                            <a data-track="press-release" class="block my-4" href="{{ .url }}">Read more &rarr;</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="md:w/1-2 md:px-8">
                <h2 class="text-center md:text-left">Recent News</h2>
                <ul class="list-none my-8 p-0">
                    {{ range first 6 $.Site.Data.newsroom.coverage }}
                        <li class="py-4 flex items-top">
                            <div class="w-20 flex-shrink">
                                <img class="inline-block w-full rounded p-2 border-2 border-gray-300" src="{{ .img }}" />
                            </div>
                            <div class="pl-4 flex-1">
                                <div class="text-sm text-gray-500">{{ .date }}</div>
                                <h5 class="mt-2 mb-0">{{ .title }}</h5>
                                <a data-track="news-{{ .url | urlize }}" class="block my-2" href="{{ .url }}" target="_blank" rel="noopener noreferrer"> Read more &rarr; </a>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="container mx-auto text-center">
            <h2 class="text-center mb-8">Awards &amp; Recognitions</h2>
            <ul class="list-none block p-0 inline-flex flex-wrap justify-center">
                {{ range first 6 (where $.Site.Data.awards.awards "featured" true) }}
                    <li class="mx-4 bg-white">
                        <a data-track="award-{{ .url | urlize }}" href="{{ .url }}">
                            <img class="inline-block w-32 rounded p-2 border-2 border-gray-300" src="{{ .img }}" title="{{ .title }}" />
                        </a>
                    </li>
                {{ end }}
            </ul>
            <div>
                <a class="inline-block mt-6 text-blue-500" href="{{ relref . "/awards" }}">See all &rarr;</a>
            </div>
        </div>
    </section>

    {{ partial "hand-raise-section" . }}
{{ end }}
