{{ define "hero" }}
    <header class="home-page-hero">
        <div class="dot-background-container pointer-events-none">
            <div class="dot-background"></div>
        </div>
        <div class="dot-overlay"></div>
        <div class="container mx-auto lg:flex mt-8 px-3">
            <div class="w-full lg:w-1/2 lg:pr-12 xl:pr-0 md:pl-3 xl:pl-0">
                <div class="home-page-hero-content">
                    <h1 class="relative text-left">
                        <span class="rainbow-text" data-text="{{ index (.Params.hero.title) 0 }}">{{ index (.Params.hero.title) 0 }}</span><br />
                        <span class="rainbow-text" data-text="{{ index (.Params.hero.title) 1 }}">{{ index (.Params.hero.title) 1 }}</span><br />
                        <span class="rainbow-text" data-text="{{ index (.Params.hero.title) 2 }}">{{ index (.Params.hero.title) 2 }}</span>
                    </h1>
                    <p class="text-center lg:text-left leading-7">{{ .Params.hero.description | markdownify }}</p>
                    <div class="overlay-middle mt-8 flex text-center justify-center items-center flex-col mx-auto lg:mx-0 md:flex-row">
                        <a class="home-hero-btn-primary mr-0 md:mr-4 mb-3 md:mb-0" href="/docs/get-started/">{{ .Params.hero.cta_text }}</a>
                        <div class="btn-secondary px-12 py-2 rounded-full cursor-pointer">
                            <a href="/docs/install/">
                                Download<br /> Open Source
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 block lg:flex lg:justify-center p-6 md:pl-24 xl:pl-0">
                <div>
                    <pulumi-chooser type="language" options="typescript,python,go,csharp,java,yaml">
                        <pulumi-choosable type="language" class="highlight" value="typescript">
                            <img class="mx-auto" src="/images/home/typescript.svg" alt="" />
                        </pulumi-choosable>

                        <pulumi-choosable type="language" class="highlight" value="python">
                            <img class="mx-auto" src="/images/home/python.svg" alt="" />
                        </pulumi-choosable>

                        <pulumi-choosable type="language" class="highlight" value="go">
                            <img class="mx-auto" src="/images/home/go.svg" alt="" />
                        </pulumi-choosable>

                        <pulumi-choosable type="language" class="highlight" value="csharp">
                            <img class="mx-auto" src="/images/home/c-sharp.svg" alt="" />
                        </pulumi-choosable>

                        <pulumi-choosable type="language" class="highlight" value="java">
                            <img class="mx-auto" src="/images/home/java.svg" alt="" />
                        </pulumi-choosable>

                        <pulumi-choosable type="language" class="highlight" value="yaml">
                            <img class="mx-auto" src="/images/home/yaml.svg" alt="" />
                        </pulumi-choosable>
                    </pulumi-chooser>
                </div>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{ $pageContext := . }}


    <section class="bg-violet-200">
        <div class="container mx-auto py-6">
            <div class="flex flex-wrap justify-center align-center">
                <div class="w-full lg:w-1/2 text-center lg:text-left">
                    <h5>Infrastructure as Code for Engineers</h5>
                    <p>Every cloud, every language, every architecture, every engineer</p>
                </div>

                <div class="w-full lg:w-1/2 mt-2">
                    <home-slots
                        image-class="h-16 mx-auto"
                        left-items="{{ delimit .Params.overview.logos.clouds "," }}"
                        center-items="{{ delimit .Params.overview.logos.languages "," }}"
                        right-items="{{ delimit .Params.overview.logos.identity "," }}"
                    ></home-slots>
                </div>
            </div>
        </div>
    </section>

    <section class="container mx-auto mt-10 mb-16 text-center">
        <h2 class="rainbow-text">Import <span class="font-bold">joy</span> into your cloud infrastructure</h2>
    </section>

    <section class="mb-8 mt-12 lg:mt-0 lg:mb-24 px-6 lg:px-0 relative">
        <div class="shape-background home-build-section">
            <div class="shape-container">
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>

        <div class="container mx-auto">
            <div class="flex flex-col lg:flex-row">
                <div class="w-full lg:w-1/2 lg:pr-32 z-10 px-8 rounded pt-8">
                    <h3>{{ .Params.build.title }}</h3>
                    <p class="text-lg">{{ .Params.build.description | markdownify }}</p>

                    {{ range $item := .Params.build.items }}
                        <h6>{{ $item.title }}</h6>
                        <p>{{ $item.description | markdownify }}</p>
                    {{ end }}


                    <h4 class="mt-16">{{ .Params.templates.title }}</h4>
                    <p class="text-lg">
                        {{ .Params.templates.description }}
                    </p>
                    <div class="tiles flex-wrap">
                        <!-- {{ partial "cta/primary-get-started" . }} -->
                        {{ range .Params.templates.links }}
                            <div class="md:w-1/2 p-3">
                                <a href="{{ .url }}" class="tile p-3">
                                    <h6 class="m-0">
                                        <i class="fas fa-{{ .icon }} text-blue-400 pr-2"></i>
                                        {{ .label }}
                                    </h6>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div class="w-full lg:w-1/2 mt-12 lg:mt-0">
                    <pulumi-chooser type="language" options="typescript,python,go,csharp,java,yaml">
                        {{ range $item := .Params.build.code }}
                            <pulumi-choosable type="language" class="highlight" value="{{ $item.language }}">
                                {{ partial "code" (dict "lang" $item.language "code" $item.code "mode" "dark") }}
                            </pulumi-choosable>
                        {{ end }}
                    </pulumi-chooser>
                </div>
            </div>
        </div>
    </section>

    <!-- Logos -->
    <section class="container mx-auto text-center overflow-hidden px-3 mt-24">
        <h3 class="text-center mb-10">{{ .Params.customer_logos.title }}</h3>

        <div class="w-full order-first pb-16 items-center justify-center hidden lg:block">
            <pulumi-swiper slides="6" centered-slides="true" loop="true" autoplay="true" autoplay-delay="500" speed="2000">
                {{ range $logos := .Params.customer_logos.logos }}
                    <pulumi-swipeable>
                        <div class="w-full h-full">
                            {{ range $logo := $logos }}
                                <div class="p-6 flex flex-col flex-grow items-end h-24 justify-center">
                                    {{ if $logo.link }}
                                        <a class="w-full h-full" href="{{ $logo.link }}">
                                            {{ partial "customer-logo.html" (dict "logo" $logo.name) }}
                                        </a>
                                    {{ else }}
                                        {{ partial "customer-logo.html" (dict "logo" $logo.name) }}
                                    {{ end }}
                                </div>
                            {{ end }}
                        </div>
                    </pulumi-swipeable>
                {{ end }}
            </pulumi-swiper>
        </div>

        <div class="w-full order-first pb-16 items-center justify-center lg:hidden">
            <pulumi-swiper slides="3" centered-slides="true" loop="true" autoplay="true" autoplay-delay="500" speed="2000">
                {{ range $logos := .Params.customer_logos.logos }}
                    <pulumi-swipeable>
                        <div class="w-full h-full">
                            {{ range $logo := $logos }}
                                <div class="p-6 flex flex-col flex-grow items-end h-24 justify-center">
                                    {{ if $logo.link }}
                                        <a class="w-full h-full" href="{{ $logo.link }}">
                                            {{ partial "customer-logo.html" (dict "logo" $logo.name) }}
                                        </a>
                                    {{ else }}
                                        {{ partial "customer-logo.html" (dict "logo" $logo.name) }}
                                    {{ end }}
                                </div>
                            {{ end }}
                        </div>
                    </pulumi-swipeable>
                {{ end }}
            </pulumi-swiper>
        </div>
    </section>

    <section class="py-12 lg:my-12 px-6 lg:px-0 relative">
        <div class="shape-background home-deploy-section">
            <div class="shape-container">
                <div class="dot-background-container">
                    <div class="dot-background-overlay"></div>
                    <div class="dot-background no-animate"></div>
                </div>
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>

        <div class="container mx-auto flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/2 flex items-center justify-center mt-12 lg:mt-0">
                <img class="rounded-xl shadow-2xl" src="/images/home/deploy-graphic.svg" alt="Pulumi Pipeline" />
            </div>
            <div class="w-full lg:w-1/2 order-first lg:order-last lg:ml-32 z-10 bg-white px-8 rounded">
                <h3>{{ .Params.deploy.title }}</h3>
                <p class="text-lg">{{ .Params.deploy.description | markdownify }}</p>

                {{ range $item := .Params.deploy.items }}
                    <h6>{{ $item.title }}</h6>
                    <p>{{ $item.description | markdownify }}</p>
                {{ end }}


                <div class="mt-16">
                    {{ partial "cta/primary-get-started" . }}
                </div>
            </div>
        </div>
    </section>

    <section class="my-12 lg:py-12 px-6 lg:px-0 relative">
        <div class="shape-background home-manage-section">
            <div class="shape-container">
                <div class="dot-background-container">
                    <div class="dot-background-overlay"></div>
                    <div class="dot-background no-animate"></div>
                </div>
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>

        <div class="container mx-auto flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/2 lg:mr-32 z-10 bg-white px-8 rounded">
                <h3>{{ .Params.manage.title }}</h3>
                <p class="text-lg">{{ .Params.manage.description | markdownify }}</p>

                {{ range $item := .Params.manage.items }}
                    <h6>{{ $item.title }}</h6>
                    <p>{{ $item.description | markdownify }}</p>
                {{ end }}


                <h4 class="mt-16">{{ .Params.templates.title }}</h4>
                <p class="text-lg">
                    {{ .Params.templates.description }}
                </p>
                <div class="tiles flex-wrap">
                    <!-- {{ partial "cta/primary-get-started" . }} -->
                    {{ range .Params.templates.links }}
                        <div class="md:w-1/2 p-3">
                            <a href="{{ .url }}" class="tile p-3">
                                <h6 class="m-0">
                                    <i class="fas fa-{{ .icon }} text-blue-400 pr-2"></i>
                                    {{ .label }}
                                </h6>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>

            <div class="w-full lg:w-1/2 flex items-center justify-center mt-12 lg:mt-0">
                <img class="rounded-xl shadow-2xl" src="/images/home/pulumi-console.svg" alt="Pulumi Service" />
            </div>
        </div>
    </section>

    <section class="container mx-auto my-16 text-center px-3">
        <div class="card bg-violet-200 p-6 rounded-2xl">
            <h2 class="rainbow-text">Do more with less</h2>
            <p class="text-xl max-w-3xl mx-auto">
                Use Pulumi's Automation API to create tooling that helps you and your engineers manage <span class="font-bold">10x the amount of resources</span> versus traditional
                tooling.
            </p>

            <div class="flex flex-wrap text-left">
                <div class="w-full lg:w-1/3 p-6 lg:mt-4">
                    <p class="text-lg">
                        What if IaC was a library and not just a CLI? Pulumi Automation API is the industry's first and only fully programmable infrastructure as code technology.
                    </p>
                    <p class="text-lg">
                        With Automation API, you can embed Pulumi right into your application code to drive complex deployment workflows programmatically. Build command-line tools,
                        desktop applications, self-service infrastructure portals, and more, all in your language of choice &mdash; without having to "shell out" to another CLI.
                        CLI tool to behind a HTTP API to a custom PaaS.
                    </p>
                    <p class="text-lg">Automation API enables you and your company to scale 10x the amount of infrastructure managed per engineer.</p>
                </div>

                <div class="w-full lg:w-2/3 p-6">
                    <div class="card p-6 bg-white">
                        <h4 class="my-0">Examples</h4>
                        <ul class="list-none p-0">
                            {{ range $i, $e := .Params.automation_api_examples }}
                                <li class="accordion-item pb-3 border-b-2">
                                    {{ if eq $i 0 }}
                                        {{ partial "accordian-header" (dict "text" $e.name "checked" "true") }}
                                    {{ else }}
                                        {{ partial "accordian-header" (dict "text" $e.name) }}
                                    {{ end }}


                                    <div class="accordion-item-body-no-animation text-sm">
                                        {{ $e.text | markdownify }}
                                    </div>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-16">
            <h3 class="text-center">Atlassian reduced time spent on maintenance by 50%</h3>
            <div class="max-w-2xl mx-auto text-center">
                <div class="max-w-xs mx-auto">
                    {{ partial "customer-logo.html" (dict "logo" "atlassian") }}
                </div>
                <p class="mt-0">
                    "Using Pulumi and Python, our team quickly and easily built a repeatable pipeline that deploys development environments for more than 100 team members
                    worldwide. The benefits of working in languages we know can’t be overstated. That just made moving to the Pulumi Cloud Engineering Platform an obvious choice
                    for the team."
                </p>
                <p>- Mike Corsaro, Senior Software Engineer at Bitbucket</p>
                <div class="mt-12 flex flex-col sm:flex-row justify-center flex-grow">
                    <a class="btn-primary mb-6 sm:mr-2 sm:mb-0" href="/case-studies/atlassian/">Read Atlassian Case Study</a>
                    <a class="btn-secondary" href="/case-studies/">See more case studies</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Video -->
    <section class="container mx-auto mt-28 relative">
        <div class="shape-background home-video-section">
            <div class="shape-container">
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>
        <div class="rounded-xl shadow-2xl w-3/4 mx-auto" style="position: relative; padding-bottom: 40.25%; height: 0; overflow: hidden;">
            <iframe
                src="//www.youtube.com/embed/6f8KF6UGN7g?rel=0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                allowfullscreen=""
                title="Introduction to Pulumi: Universal Infrastructure as Code"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img{position:absolute;width:100%;top:0;bottom:0;margin:auto}</style><a href=https://www.youtube.com/embed/6f8KF6UGN7g?autoplay=1><img src='/images/home/youtube-preview.svg' alt='Introduction to Pulumi: Universal Infrastructure as Code'></a>"
            ></iframe>
        </div>
    </section>

    <!-- Get Started -->
    <section class="my-16 lg:my-32 relative overflow-hidden flex flex-col">
        <div class="container mx-auto px-3">
            <div class="w-full bg-violet-600 text-white rounded shadow p-16 text-center">
                <h2 class="text-white">{{ .Params.get_started.title }}</h2>
                <p class="text-white">{{ .Params.get_started.description }}</p>
                <div class="mt-16">
                    <a class="btn-secondary" href="/docs/get-started/">{{ .Params.get_started.cta_text }}</a>
                </div>
            </div>
        </div>
    </section>
{{ end }}
