{{ define "main" }}
    <section id="overview" class="star-wars overflow-hidden">
        <div class="h-full flex justify-center items-center">
            <div class="title-animation">
                <p class="title-part">Pulumi</p>
                <div class="subtitle">The Cloud Awakens</div>
                <p class="title-part">Up</p>
            </div>
        </div>

        <div class="fade"></div>
        <div class="crawl">
             <div class="title">
                <p>PulumiUP</p>
                <h1>The Cloud Awakens</h1>
            </div>

            <p class="mb-24">
                Frustration brought on by vast complexity has engulfed the cloud community. With hundreds of
                cloud providers, thousands of services, and almost unlimited ways to interact with those
                services, Cloud Engineers are faced with an almost impossible task.
            </p>

            <p>
                While Tech Twitter endlessly debates the correct approach to ease complexity, Pulumi has secretly
                dispatched a platypus, the guardian of simplicity and productivity in the cloud, to settle the debate....
            </p>
        </div>
    </section>

    <section id="register" class="container mx-auto text-center my-24">
         <h2>
            <pulumi-datetime date="{{ .Params.event_date }}"></pulumi-datetime>
        </h2>

        <h3>Get Notified When Registration Opens</h3>
        <div class="">
            <div class="flex items-center justify-center mt-8">
                <pulumi-hubspot-form form-id="f456537d-1ac8-4004-8ba7-9f5997321445" class="newsletter newsletter-wide ml-8"></pulumi-hubspot-form>
            </div>
        </div>
    </section>

    <section id="last-year" class="container mx-auto relative py-24">
        <div class="shape-background home-video-section">
            <div class="shape-container">
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>

        <h2 class="text-center my-16 md:my-4">Watch Last Year's Announcements</h2>
        <div class="rounded-xl shadow-2xl w-3/4 mx-auto" style="position: relative; padding-bottom: 40.25%; height: 0; overflow: hidden;">
            <iframe
                src="//www.youtube.com/embed/Zko70KVGcgo?rel=0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                allowfullscreen=""
                title="PulumiUP: Announcing Pulumi 3.0"
            ></iframe>
        </div>
    </section>
{{ end }}
