{{ define "main" }}
    <div class="pulumi-up-body text-white pb-12 ">
        <div class="relative overflow-hidden pulumi-up-video-section">
            <video class="pulumiup-video" autoplay muted loop>
                <source src="/video/pulumiup-lofi.mp4" type="video/mp4">
            </video>
            <div class="pulumiup-title">
                <div class="neon-container">
                    <span class="blue-neon-sign-xl">Pulumi</span>
                    <span class="green-neon-sign-xl">UP</span>
                </div>
                <div class="flex justify-center items-center">
                    <pulumi-audio
                        paused-text="FEEL THE VIBE"
                        playing-text="PAUSE THE VIBE"
                        url="https://www.pulumi.com/uploads/pulumiup-background-loop.mp4"
                    ></pulumi-audio>
                    <a href="https://www.bigmarker.com/pulumi/PulumiUP" target="_blank" rel="noreferrer noopener" class="btn btn-orange orange-neon inline-block ml-8">Join Now</a>
                </div>
                <div class="lg:mt-16">
                    <pulumi-date-countdown
                        value-label-class="text-2xl"
                        text-class="date-countdown"
                        date-string="{{ .Params.countdown_date }}"
                    ></pulumi-date-countdown>
                </div>
            </div>
        </div>
        <div class="container mx-auto pt-4 pb-16">
            <section id="main-event">
                <div class="w-full">
                    <div class="mb-24">
                        <pulumi-datetime class="section-title-blue text-center mt-16 md:mt-4" date="2021-04-20T09:00:00-07:00"></pulumi-datetime>
                        <p class="max-w-3xl mx-auto text-lg text-white">
                            PulumiUP is a two-hour virtual event for anyone who is interested in cloud engineering,
                            cloud infrastructure, software development, modern applications, or Pulumi.
                            Whether you’re a seasoned cloud engineer or just curious to learn what’s all
                            the fuss about cloud engineering, PulumiUP will teach you something new about
                            the future of building on the cloud.
                        </p>
                        <div class="text-center">
                            <a href="https://www.bigmarker.com/pulumi/PulumiUP" target="_blank" rel="noreferrer noopener" class="btn btn-lg btn-orange orange-neon">Join Now</a>
                        </div>
                    </div>
                    <div data-title="The Plan" class="neon-callout-box-green p-16 pt-4">
                        <div class="">
                            <div class="mt-16 max-w-3xl mx-auto">
                                {{ range $index, $section := .Params.event_sections }}
                                    <h3 class="section-title-green"><span class="section-title-blue">ACT {{ $section.act }}</span> "{{ $section.title }}"</h3>
                                    <div class="mb-16">
                                        <p class="mx-auto text-lg text-white">{{ $section.description | markdownify }}</p>
                                        <div class="mt-8">
                                            <h4 class="plot-cast-title">Starring</h4>
                                            <div class="flex flex-col flex-wrap md:flex-row justify-center items-center">
                                                {{ range $id := $section.speakers }}
                                                    {{ $authorPage := $.Site.GetPage (printf "/authors/%s" ($id | urlize)) }}
                                                    {{ $authorData := index $.Site.Data.team.team $id }}

                                                    <span class="flex flex-col md:flex-row w-full md:w-1/2 items-center text-center md:text-left md:items-start mt-4 pr-4">
                                                        <span class="speaker-image lg:mr-2">
                                                            <img src="/images/team/{{ $authorData.id }}.jpg" alt="{{ $authorData.name }}" title="{{ $authorData.name }}">
                                                        </span>
                                                        <span class="flex flex-col">
                                                            <span class="speaker-name-orange ml-4">
                                                                {{ $authorData.name }}
                                                            </span>
                                                            <span class="text-white ml-4">{{ $authorData.title }}, {{ $authorData.company }}</span>
                                                        </span>
                                                    </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                {{ end }}
                                <div class="my-12 text-center">
                                    <a href="https://www.bigmarker.com/pulumi/PulumiUP" target="_blank" rel="noreferrer noopener" class="btn btn-lg btn-orange">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="after-party" class="px-4 mt-16">
                <div data-title="The After Party" class="neon-callout-box-green p-16 text-center">
                    <div class="max-w-3xl mx-auto mt-16 md:mt-0">
                        <a class="section-title-orange-link" target="_blank" href="https://clublink.to/event/P9OW41kM">PulumiUP Virtual Afterparty w/ AWS Startups</a>
                        <pulumi-datetime class="plot-cast-title text-base mt-4" date="2021-04-20T16:15:00-07:00"></pulumi-datetime>
                        <p class="text-white">
                            Join us as we wind down the PulumiUP and awesome talks about all things Infrastructure-as-Code
                            with our chill afterparty with speakers, attendees & the AWS Startups team 😎
                        </p>
                        <div class="my-8">
                            <a href="https://clublink.to/event/P9OW41kM" target="_blank" class="btn btn-lg btn-orange-translucent">Join on Clubhouse</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sessions" class="mt-16">
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full lg:w-1/2 p-4">
                        <div data-title="Workshops" class="neon-callout-box-orange text-center">
                            <ul class="list-none text-left">
                                {{ range $item := .Params.workshops }}
                                    <li class="mb-16">
                                        <a class="section-title-green-link" href="{{ $item.url }}">{{ $item.title }}</a>
                                        <pulumi-datetime class="plot-cast-title text-base mt-4" date="{{ $item.datetime }}"></pulumi-datetime>
                                        <p class="text-white">{{ $item.description }}</p>
                                        <div class="my-8">
                                            <a href="{{ $item.url }}" class="btn btn-lg btn-orange-translucent">Register Now</a>
                                        </div>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>

                    <div class="w-full lg:w-1/2 p-4">
                        <div data-title="Binge Content" class="neon-callout-box-blue text-center">
                            <ul class="list-none text-left">
                                {{ range $item := .Params.binge }}
                                    <li class="mb-16">
                                        <a class="section-title-orange-link" href="{{ $item.url }}">{{ $item.title }}</a>
                                        <p class="text-white">{{ $item.description }}</p>
                                        <div class="my-8">
                                            <a href="{{ $item.url }}" class="btn btn-lg btn-orange-translucent">Watch Now</a>
                                        </div>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Vibur" />
{{ end }}
