{{ define "hero" }}
    {{ partial "hero.html" (dict "title" .Params.title "small_title" "true") }}
{{ end }}

{{ define "main" }}
    <section class="container mx-auto text-center w-9/12 mt-4 font-medium">
        <h2>We are democratizing the cloud for every builder.</h2>
        <h3>Developers love us for it. Don't believe us?</h3>
        <h3 class="mt-0">Check out what our users have to say.</h3>
    </section>
    <section class="container mx-auto text-center my-16">
        <pulumi-developer-quotes quotes="{{ .Params.messages | jsonify }}"></pulumi-developer-quotes>
    </section>
{{ end }}
