{{ define "hero" }}
    {{ partial "hero" (dict "title" "Why Pulumi?") }}
{{ end }}

{{ define "main" }}
    <section id="overview" class="my-16">
        <div class="flex flex-wrap container mx-auto">
            <div class="w-full order-last lg:mt-0 lg:order-first lg:w-1/2 px-5">
                <h2>Any Code. Any Cloud. Any Team.</h2>
                <p class="mr-4">
                    By leveraging familiar programming languages for <a href="{{ relref . "/what-is/what-is-infrastructure-as-code" }}">infrastructure as code</a>,
                    Pulumi makes you more productive, and enables sharing and reuse of common patterns.
                    A single delivery workflow across any cloud helps developers and operators work better together.
                </p>
                <div>
                    <div class="flex justify-start items-start mt-8">
                        <div class="flex flex-col lg:flex-row items-start">
                            <a class="btn-primary mr-4" href="{{ relref . "/docs/get-started" }}">Get Started</a>
                            <a class="btn-secondary" href="{{ relref . "/pricing" }}">View Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full order-first lg:order-last mt-8 lg:mt-0 lg:w-1/2 lg:mt-0">
                <div class="rounded shadow-md" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                    <div id="carousel">
                        <div class="relative p-10" style="height: 440px;">
                            <!-- IDE -->
                            <div class="carousel-item opacity-1 absolute top-0 right-0 left-0 transition-all-200 text-xs shadow-xl">
                                {{ partial "home/ide" . }}
                            </div>

                            <!-- CLI -->
                            <div class="carousel-item opacity-0 absolute top-0 right-0 left-0 transition-all-200 text-xs shadow-xl">
                                {{ partial "home/cli" . }}
                            </div>

                            <!-- Console -->
                            <div class="carousel-item opacity-0 absolute top-0 right-0 left-0 transition-all-200 text-xs shadow-xl">
                                <img class="rounded shadow ml-6 my-6" src="/images/home/short-console.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="for-developers" class="py-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl pb-8 mb-8 border-b border-gray-300">
                <div>
                    <h2>For Developers</h2>
                    <p>
                        Pulumi enables developers to write code in their favorite language, such as
                        TypeScript, JavaScript, Python, Go, C#, and Java. This enables modern approaches
                        to cloud applications and infrastructure without needing to learn yet-another
                        YAML or DSL dialect. For users who do want to use YAML, Pulumi also supports a
                        YAML interface. This unlocks abstractions and reuse as well as access to
                        your favorite IDEs, refactoring, and testing tools. Master one toolchain and
                        set of frameworks, and go to any cloud &mdash; AWS, Azure, GCP, or Kubernetes
                        &mdash; with ease.
                    </p>
                </div>
            </div>
            <div class="md:flex mx-auto max-w-5xl mb-8 text-center">
                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "code" "icon_color" "violet") }}
                        <h5 class="mt-2">Familiar Languages</h5>
                        <p>
                            Maximize productivity by defining cloud apps and services as code
                            using familiar languages and IDEs: TypeScript, JavaScript, Python, Go, C#, or Java.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "code-window" "icon_color" "yellow") }}
                        <h5 class="mt-2">Programming Model</h5>
                        <p>
                            Use a programming model designed to make you maximally productive
                            across any clouds, AWS, Azure, GCP, or Kubernetes.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "abstract-shapes" "icon_color" "salmon") }}
                        <h5 class="mt-2">Real Abstractions</h5>
                        <p>
                            Build true cloud abstractions, reducing copy-and-paste, and share and reuse them in your
                            favorite package manager.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center max-w-5xl mt-16">
                <a class="btn-primary mr-2" href="{{ relref . "/docs" }}">
                    Read the Docs
                </a>
                <a class="btn-secondary ml-2" href="{{ relref . "/docs/get-started" }}">
                    Get Started
                </a>
            </div>
        </div>
    </section>

    <section id="for-operators" class="py-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl pb-8 mb-8 border-b border-gray-300">
                <div>
                    <h3>For DevOps/Infra Teams</h3>
                    <p>
                        Pulumi enables infrastructure teams to achieve continuous delivery of cloud applications
                        and infrastructure in any cloud environment &mdash; AWS, Azure, GCP, Kubernetes,
                        even hybrid and on-premises environments &mdash; with one common approach. By
                        leveraging infrastructure as code combined with real languages, engineers can
                        achieve greater productivity, while also enabling their development teams to
                        be more "self-serve" with appropriate policies and guardrails in place.
                    </p>
                </div>
            </div>
            <div class="md:flex mx-auto max-w-5xl mb-8 text-center">
                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "pen" "icon_color" "violet") }}
                        <h5 class="mt-2">Infrastructure as Code</h5>
                        <p>
                            Use robust infrastructure as code practices to plan and version
                            deployments, and perform them with perfect auditability.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "clouds" "icon_color" "yellow") }}
                        <h5 class="mt-2">Multi-Cloud DevOps</h5>
                        <p>
                            Empower your team to go multi-cloud by leveraging a single model,
                            tool, and service &mdash; eliminating YAML and DSL explosion.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "cycle" "icon_color" "salmon") }}
                        <h5 class="mt-2">Deploy Continuously</h5>
                        <p>
                            Integrate with existing SCM and ALM systems to continuously
                            deliver to many clouds with a single consistent workflow.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center max-w-5xl mt-16">
                <a class="btn-primary mr-2" href="{{ relref . "/docs" }}">
                    Read the Docs
                </a>
                <a class="btn-secondary ml-2" href="{{ relref . "/docs/get-started" }}">
                    Get Started
                </a>
            </div>
        </div>
    </section>

    <section id="for-security" class="py-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl pb-8 mb-8 border-b border-gray-300">
                <div>
                    <h3>For Security Engineers</h3>
                    <p>
                        Pulumi brings cloud security engineering closer to the infrastructure and
                        development teams. By using one common workflow that spans any cloud environment,
                        whether public, private, or hybrid, security teams are able to enforce policies
                        that accomplish cloud governance projects of all kinds &mdash; security, compliance,
                        cost control, and more. Help your teams deliver faster with safety and confidence.
                    </p>
                </div>
            </div>
            <div class="md:flex mx-auto max-w-5xl mb-8 text-center border-gray-300">
                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "shield" "icon_color" "violet") }}
                        <h5 class="mt-2">Policy as Code</h5>
                        <p>
                            Use CrossGuard, Pulumi's policy as code solution that enables
                            flexible policy authoring and application.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "security" "icon_color" "yellow") }}
                        <h5 class="mt-2">Built-In Secrets</h5>
                        <p>
                            Use Pulumi's built-in secrets management mechanism to ensure that
                            sensitive infrastructure as code configuration is always encrypted.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "lock" "icon_color" "salmon") }}
                        <h5 class="mt-2">Enforce Standards</h5>
                        <p>
                            Using standard packaging techniques, codify and reuse standard
                            organizational patterns, with true versioning and easy patching.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center max-w-5xl mt-16">
                <a class="btn-primary mr-2" href="{{ relref . "/crossguard" }}">
                    Learn About Policy As Code
                </a>
                <a class="btn-secondary ml-2" href="{{ relref . "/docs/get-started" }}">
                    Get Started
                </a>
            </div>
        </div>
    </section>

    <section id="for-it-leaders" class="py-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl pb-8 mb-8 border-b border-gray-300">
                <div>
                    <h3>For Engineering Leaders</h3>
                    <p>
                        Pulumi has thousands of happy users across companies of all sizes,
                        from startups who want to get a modern cloud infrastructure up in an
                        afternoon, to Global 2000 companies managing complex, multi-cloud
                        environments with thousands of applications. Pulumi's unique
                        approach allows organizations to achieve unified Cloud Engineering
                        organizations, with developers, DevOps, and SecOps engineers who can
                        collaborate for greater efficiency. Pulumi's unique cloud object
                        model unlocks advanced approaches to security and compliance
                        insights and enforcement.
                    </p>
                </div>
            </div>
            <div class="md:flex mx-auto max-w-5xl mb-8 text-center">
                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "lightning" "icon_color" "violet") }}
                        <h5 class="mt-2">Modernize</h5>
                        <p>
                            Deliver on modern container and serverless architectures across
                            applications and infrastructure, and Dev and DevOps.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "clouds" "icon_color" "yellow") }}
                        <h5 class="mt-2">Go Multi-Cloud</h5>
                        <p>
                            A single workflow across all clouds &mdash; AWS, Azure, GCP,
                            Kubernetes, and hybrid/on-prem &mdash; to achieve true multi-cloud
                            delivery.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center">
                        {{ partial "color-icon.html" (dict "icon" "gavel" "icon_color" "salmon") }}
                        <h5 class="mt-2">Enterprise Grade</h5>
                        <p>
                            Robust security, compliance, and auditing tools with an extensible
                            policy engine for enforcing your organization's practices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center max-w-5xl mt-16">
                <a class="btn-primary mr-2" href="{{ relref . "/case-studies" }}">
                    Read Customer Case Studies
                </a>
                <a class="btn-secondary ml-2" href="{{ relref . "/contact.md" }}">
                    Request a Demo
                </a>
            </div>
        </div>
    </section>

    {{ partial "learnmore-contactus.html" . }}

    {{ partial "newsletter.html" . }}
{{ end }}
