<pulumi-chooser type="language" options="javascript,typescript,python,go,csharp" option-style="none" class="inline">
    <pulumi-choosable class="highlight" type="language" value="javascript">
        <code class="language-javascript">undefined</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="typescript">
        <code class="language-typescript">undefined</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="python">
        <code class="language-python">None</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="go">
        <code class="language-go">nil</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="csharp">
        <code class="language-csharp">null</code>
    </pulumi-choosable>
</pulumi-chooser>
