---
title: "{{Title}}"
{{#MetaDesc}}
meta_desc: "{{MetaDesc}}"
{{/MetaDesc}}
---

<a href="https://app.pulumi.com/new?template={{GitHubURL}}" target="_blank">
    <img src="https://get.pulumi.com/new/button.svg" alt="Deploy" style="float: right; padding: 8px; margin-top: -65px; margin-right: 8px">
</a>

<p class="mb-4">
    <a class="btn btn-secondary" href="{{GitHubURL}}" target="_blank"><i class="fab fa-github pr-2"></i> VIEW CODE</a>
</p>

{{{Body}}}
