<p>This tutorial assumes that you are familiar with the basics of the Pulumi workflow. If you are new to Pulumi, complete the {{ "[Get Started series](/docs/get-started)" | markdownify }} first.</p>

<p>Additionally, you will need the following tools to complete this tutorial:</p>

<ul>
    <li>A {{ "[Pulumi account and token](/docs/pulumi-cloud/accounts#access-tokens)" | markdownify }}</li>
    <li>The {{ "[Pulumi CLI](/docs/cli/)" | markdownify }}</li>
    <li>An {{ "[Amazon Web Services](https://aws.amazon.com/)" | markdownify }} account</li>
    <li>The {{ "[AWS CLI](https://aws.amazon.com/cli/)" | markdownify }}</li>
    <li>One of the following languages installed:
        <ul>
            <li>Node.js version 14 or later (for Typescript/Javascript)</li>
            <li>Python version 3.7 or later</li>
        </ul>
    </li>

</ul>

<p>Let's get started!</p>