<div class="note note-info">
    <div class="icon-and-line">
        <i class="fas fa-info-circle"></i>
        <div class="line"></div>
    </div>
    <div class="content">
        <p>
            If this is your first time running <code>pulumi new</code> or other <code>pulumi</code> commands, you may be prompted to log in to
            <a href="https://app.pulumi.com" target="_blank">Pulumi Cloud</a>. The <a href="{{ relref . "/docs/cli/" }}">Pulumi CLI</a> and Pulumi Cloud work in tandem to deliver a
            reliable experience. It's free for individual use, with <a href="{{ relref . "/pricing" }}">features available for teams</a>, and
            <a href="{{ relref . "/docs/concepts/state" }}">self-managed options</a> are also available. Hitting Enter at the prompt opens a browser for you to sign in or sign up.
        </p>
    </div>
</div>
