When developing locally, we recommend that you install the [Google Cloud SDK](https://cloud.google.com/sdk/install)
and then [authorize access with a user account](https://cloud.google.com/sdk/docs/authorizing#authorizing_with_a_user_account).

If `gcloud` is not configured to interact with your Google Cloud project, set it with the `config` command using the project's ID:

```bash
gcloud config set project <YOUR_GCP_PROJECT_ID>
```

Next, Pulumi requires default application credentials to interact with your Google Cloud resources, so run `auth application-default login` command to obtain those credentials.

```bash
gcloud auth application-default login
```
