
<a href="/images/getting-started/console-update.png", target="_blank">
    <img src="/images/getting-started/console-update.png">
</a>

<div class="note note-info" role="alert">
    <div class="note-heading">
        <i class="fas fa-info-circle mr-1"></i>
        <span>Note</span>
    </div>
    <div class="note-body">
        <p>
            If you are using the <a href="{{ relref . "/docs/intro/console" }}" target="_blank">Pulumi Service backend</a>,
            you can follow the "View Live" link displayed in the CLI output.
            This will open the update in the <a href="https://app.pulumi.com/" target="_blank">Pulumi Service</a>,
            where you can view the output and explore detailed information about your stack such as its activity, resources,
            and configuration.
        </p>
    </div>
</div>
