<p class="mt-4">
    Install
    <a href="https://www.python.org/downloads/" target="_blank" rel="noopener">Python version 3.6 or later</a>. To reduce potential issues with setting up your Python environment
    on Windows or macOS, you should install Python through the official Python installer.
</p>

<div class="note note-info" role="alert">
    <div class="note-heading">
        <i class="fas fa-info-circle mr-1"></i>
        <span>Note</span>
    </div>
    <div class="note-body">
        <p>
            <code>pip</code> is required to install dependencies. If you installed Python from source, with an installer from
            <a href="https://python.org/" target="_blank" rel="noopener">python.org</a>, or via <a href="https://brew.sh/" target="_blank" rel="noopener">Homebrew</a> you should
            already have <code>pip</code>. If Python is installed using your OS package manager, you may have to install <code>pip</code> separately, see
            <a href="https://packaging.python.org/guides/installing-using-linux-tools/" target="_blank" rel="noopener">
                Installing pip/setuptools/wheel with Linux Package Managers</a
            >. For example, on Debian/Ubuntu you must run <code>sudo apt install python3-venv python3-pip</code>.
        </p>
    </div>
</div>

<div class="note note-info" role="alert">
    <div class="note-heading">
        <i class="fas fa-info-circle mr-1"></i>
        <span>Note</span>
    </div>
    <div class="note-body">
        <p>
            If you're having trouble setting up Python on your machine, see
            <a href="https://realpython.com/installing-python/">Python 3 Installation & Setup Guide</a> for detailed installation instructions on various operating systems and
            distributions.
        </p>
    </div>
</div>
