<p class="mt-4">
    Install <a href="https://www.oracle.com/java/technologies/downloads" target="_blank">Java 11 or later</a>
    and <a href="https://maven.apache.org/install.html">Apache Maven 3.5 or later</a>.
</p>

<div class="note note-info" role="alert">
    <div class="note-heading">
        <i class="fas fa-info-circle mr-1"></i>
        <span>Note</span>
    </div>
    <div class="note-body">
        <p>
            Pulumi will need the <code>java</code>, <code>javac</code>, and <code>mvn</code> executables in order to build and run your Pulumi Java application. Ensure that these executables can be found on your path after installation.
        </p>
    </div>
</div>
