{{- /* Used to display a language-specific runtime name based on the chosen language. */ -}}
<pulumi-chooser type="language" options="javascript,typescript,python,go,csharp,fsharp,visualbasic" option-style="none" class="inline">
    <pulumi-choosable type="language" value="javascript">Node.js</pulumi-choosable>
    <pulumi-choosable type="language" value="typescript">Node.js</pulumi-choosable>
    <pulumi-choosable type="language" value="python">Python</pulumi-choosable>
    <pulumi-choosable type="language" value="go">Go</pulumi-choosable>
    <pulumi-choosable type="language" value="csharp">.NET</pulumi-choosable>
    <pulumi-choosable type="language" value="fsharp">.NET</pulumi-choosable>
    <pulumi-choosable type="language" value="visualbasic">.NET</pulumi-choosable>
</pulumi-chooser>
