{{- /* Used to display a language-specific filename based on the chosen language. */ -}}
<span class="language-prologue-javascript"></span><code>index.js</code>{{- /*trim*/ -}}
<span class="language-prologue-typescript"></span><code>index.ts</code>{{- /*trim*/ -}}
<span class="language-prologue-python"></span><code>__main__.py</code>{{- /*trim*/ -}}
<span class="language-prologue-go"></span><code>main.go</code>{{- /*trim*/ -}}
<span class="language-prologue-csharp"></span><code>Program.cs</code>{{- /*trim*/ -}}
<span class="language-prologue-fsharp"></span><code>Program.fs</code>{{- /*trim*/ -}}
<span class="language-prologue-visualbasic"></span><code>Program.vb</code>{{- /*trim*/ -}}
