{{- /* Used to display a language-specific filename based on the chosen language. */ -}}
<pulumi-chooser type="language" options="javascript,typescript,python,go,csharp,fsharp,visualbasic,java,yaml" option-style="none" class="inline">
    <pulumi-choosable type="language" value="javascript"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new javascript</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="typescript"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new typescript</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="python"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new python</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="go"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new go</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="csharp"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new csharp</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="fsharp"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new fsharp</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="visualbasic"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new visualbasic</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="java"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new java</code></pre>
        </div></pulumi-choosable
    >
    <pulumi-choosable type="language" value="yaml"
        ><div class="highlight">
            <pre class="chroma"><code class="language-bash">pulumi new yaml</code></pre>
        </div></pulumi-choosable
    >
</pulumi-chooser>
