<pulumi-chooser type="language" options="javascript,typescript,python,go,csharp" option-style="none" class="inline">
    <pulumi-choosable type="language" value="javascript"> Node </pulumi-choosable>
    <pulumi-choosable type="language" value="typescript"> Node </pulumi-choosable>
    <pulumi-choosable type="language" value="python"> Python </pulumi-choosable>
    <pulumi-choosable type="language" value="go"> Go </pulumi-choosable>
    <pulumi-choosable type="language" value="csharp"> .NET </pulumi-choosable>
</pulumi-chooser>
