<pulumi-chooser option-style="none" class="inline">
    <pulumi-choosable class="highlight" type="language" values="javascript,typescript">
        <code class="language-javascript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi/#OutputInstance-apply">apply</a></code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="python">
        <code class="language-python"><a href="/docs/reference/pkg/python/pulumi/#outputs-and-inputs">apply</a></code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="go">
        <code class="language-go"><a href="https://godoc.org/github.com/pulumi/pulumi/sdk/go/pulumi#Output.Apply">Apply</a></code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="csharp">
        <code class="language-csharp">Apply</code>
    </pulumi-choosable>
</pulumi-chooser>
