<pulumi-chooser type="language" options="javascript,typescript,python,go,csharp" option-style="none" class="inline">
    <pulumi-choosable type="language" value="javascript"> JavaScript </pulumi-choosable>
    <pulumi-choosable type="language" value="typescript"> TypeScript </pulumi-choosable>
    <pulumi-choosable type="language" value="python"> Python </pulumi-choosable>
    <pulumi-choosable type="language" value="go"> Go </pulumi-choosable>
    <pulumi-choosable type="language" value="csharp"> C# </pulumi-choosable>
</pulumi-chooser>
