<ul class="p-0 list-none text-gray-700  text-sm">
    <li>
        <i class="fas fa-book text-center w-6 text-gray-500"></i>
        {{ $topicCount := len (.module.CurrentSection.Pages) }}
        {{ $topicCount }} topic{{ if ne $topicCount 1 }}s{{ end }}
    </li>
    <li>
        {{ $timeToComplete := 0 }}
        {{ range .module.CurrentSection.Pages }}
            {{ $timeToComplete = (add $timeToComplete .Params.estimated_time) }}
        {{ end }}
        <i class="fas fa-stopwatch text-center w-6 text-gray-500"></i>
        About {{ $timeToComplete }} minutes
    </li>
</ul>
