            <pre>        ,--,                      ,--,
      ,--.'|    ,----..         ,--.'|
   ,--,  | :   /   /   \     ,--,  | :
,---.'|  : '  /   .     : ,---.'|  : '
;   : |  | ; .   /   ;.  \;   : |  | ;
|   | : _' |.   ;   /  ` ;|   | : _' |
:   : |.'  |;   |  ; \ ; |:   : |.'  |
|   ' '  ; :|   :  | ; | '|   ' '  ; :
\   \  .'. |.   |  ' ' ' :\   \  .'. |
 `---`:  | ''   ;  \; /  | `---`:  | '
      '  ; | \   \  ',  /       '  ; |
      |  : ;  ;   :    /        |  : ;
      '  ,/    \   \ .'         '  ,/
      '--'      `---`           '--'</pre>
            <pre>  o     o        o__ __o        o     o
 &lt;|&gt;   &lt;|&gt;      /v     v\      &lt;|&gt;   &lt;|&gt;
 / &gt;   &lt; \     /&gt;       &lt;\     / &gt;   &lt; \
 \o__ __o/   o/           \o   \o__ __o/
 \|__ __|   &lt;|             |&gt;  \|__ __|
        |    \\           //          |
       &lt;o&gt;     \         /           &lt;o&gt;
        |       o       o             |
       / \      &lt;\__ __/&gt;            / \</pre>
            <pre>    _  ____     _
/\ / |/  _ \/\ / |
\_\| || / \|\_\| |
   | || \_/|   | |
   \_|\____/   \_|</pre>
            <pre> /$$   /$$  /$$$$$$  /$$   /$$
| $$  | $$ /$$$_  $$| $$  | $$
| $$  | $$| $$$$\ $$| $$  | $$
| $$$$$$$$| $$ $$ $$| $$$$$$$$
|_____  $$| $$\ $$$$|_____  $$
      | $$| $$ \ $$$      | $$
      | $$|  $$$$$$/      | $$
      |__/ \______/       |__/</pre>
            <pre>$$\   $$\  $$$$$$\  $$\   $$\
$$ |  $$ |$$$ __$$\ $$ |  $$ |
$$ |  $$ |$$$$\ $$ |$$ |  $$ |
$$$$$$$$ |$$\$$\$$ |$$$$$$$$ |
\_____$$ |$$ \$$$$ |\_____$$ |
      $$ |$$ |\$$$ |      $$ |
      $$ |\$$$$$$  /      $$ |
      \__| \______/       \__|</pre>
            <pre> __    __   ______   __    __
|  \  |  \ /      \ |  \  |  \
| $$  | $$|  $$$$$$\| $$  | $$
| $$__| $$| $$$\| $$| $$__| $$
| $$    $$| $$$$\ $$| $$    $$
 \$$$$$$$$| $$\$$\$$ \$$$$$$$$
      | $$| $$_\$$$$      | $$
      | $$ \$$  \$$$      | $$
       \$$  \$$$$$$        \$$</pre>
            <pre> __    __   ______   __    __
/  |  /  | /      \ /  |  /  |
$$ |  $$ |/$$$$$$  |$$ |  $$ |
$$ |__$$ |$$$  \$$ |$$ |__$$ |
$$    $$ |$$$$  $$ |$$    $$ |
$$$$$$$$ |$$ $$ $$ |$$$$$$$$ |
      $$ |$$ \$$$$ |      $$ |
      $$ |$$   $$$/       $$ |
      $$/  $$$$$$/        $$/</pre>
            <pre>  _  _    ___  _  _
 | || |  / _ \| || |
 | || |_| | | | || |_
 |__   _| | | |__   _|
    | | | |_| |  | |
    |_|  \___/   |_|</pre>
            <pre> .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. |
| |   _    _     | || |     ____     | || |   _    _     | |
| |  | |  | |    | || |   .'    '.   | || |  | |  | |    | |
| |  | |__| |_   | || |  |  .--.  |  | || |  | |__| |_   | |
| |  |____   _|  | || |  | |    | |  | || |  |____   _|  | |
| |      _| |_   | || |  |  `--'  |  | || |      _| |_   | |
| |     |_____|  | || |   '.____.'   | || |     |_____|  | |
| |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'</pre>
            <pre>░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░
       ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░
       ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░
       ░▒▓█▓▒░▒▓████████▓▒░      ░▒▓█▓▒░</pre>
            <pre>  __    ___    __
 /. |  / _ \  /. |
(_  _)( (_) )(_  _)
  (_)  \___/   (_)</pre>
            <pre>.------..------..------.
|4.--. ||0.--. ||4.--. |
| :/\: || :/\: || :/\: |
| :\/: || :\/: || :\/: |
| '--'4|| '--'0|| '--'4|
`------'`------'`------'</pre>
            <pre>.--, .-.--,    _.---.,_   .--, .-.--,
|  |=| -\==\ .'  - , `.-, |  |=| -\==\
|  `-' _|==|/ -  ,  ,_\==\|  `-' _|==|
\     , |==|     .=.   |==\     , |==|
 `--.  -|==| -  :=; : _|==|`--.  -|==|
     \_ |==|     `=` , |==|    \_ |==|
     |  \==\\ _,    - /==/     |  \==\
      \ /==/ `.   - .`=.`       \ /==/
       `--`    ``--'--'          `--`</pre>
            <pre>         _____                                _____
        /    /                               /    /
       /    /                               /    /
      /    /                               /    /
     /    /            .-''` ''-.         /    /
    /    /  __       .'          '.      /    /  __
   /    /  |  |     /              `    /    /  |  |
  /    '   |  |    '                '  /    '   |  |
 /    '----|  |---.|         .-.    | /    '----|  |---.
/          |  |   |.        |   |   ./          |  |   |
'----------|  |---' .       '._.'  / '----------|  |---'
           |  |      '._         .'             |  |
          /____\        '-....-'`              /____\</pre>
            <pre> _  _    ___      _  _
| ||"|  / _"\  u | ||"|
| || |_| / U |/  | || |_
|__   _| \// |,-.|__   _|
  /|_|\ \___/(_/   /|_|\
 u_|||_u //       u_|||_u
 (__)__)(__)      (__)__)</pre>
            <pre>▄  ▗▖▄▀▀▚▖▄  ▗▖
█  ▐▌█  ▐▌█  ▐▌
▀▀▀▜▌█  ▐▌▀▀▀▜▌
   ▐▌▀▄▄▞▘   ▐▌</pre>
            <pre>       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444</pre>
            <pre>   ___ _____    ___
  /   |  _  |  /   |
 / /| | |/' | / /| |
/ /_| |  /| |/ /_| |
\___  \ |_/ /\___  |
    |_/\___/     |_/</pre>
            <pre>     ...           ...           ...
    (- -)         (. .)         (- -)
ooO--(_)--Ooo-ooO--(_)--Ooo-ooO--(_)--Ooo-</pre>
            <pre>    ___    _______     ___
   /   )  (  __   )   /   )
  / /) |  | (  )  |  / /) |
 / (_) (_ | | /   | / (_) (_
(____   _)| (/ /) |(____   _)
     ) (  |   / | |     ) (
     | |  |  (__) |     | |
     (_)  (_______)     (_)</pre>
            <pre>     )     )      )
  ( /(  ( /(   ( /(
  )\()) )\())  )\())
 ((_)\ ((_)\  ((_)\
| | (_)/  (_)| | (_)
|_  _|| () | |_  _|
  |_|  \__/    |_|</pre>
            <pre>     )    )     )
  ( /( ( /(  ( /(
  )\()))\()) )\())
 ((_)\((_)\ ((_)\
| | (_)  (_) | (_)
|_  _| () ||_  _|
  |_| \__/   |_|</pre>
            <pre>      ,---.   .-```````-.       ,---.
     /,--.|  / ,```````. \     /,--.|
    //_  ||  |/ .-./ )  \|    //_  ||
   /_( )_||  || \ '_ .')||   /_( )_||
  /(_ o _)|  ||(_ (_) _)||  /(_ o _)|
 / /(_,_)||_ ||  / .  \ || / /(_,_)||_
/  `-----' ||||  `-'`"` ||/  `-----' ||
`-------|||-'\'._______.'/`-------|||-'
        '-'   '._______.'         '-'</pre>
            <pre>  \\  //    .-.   \\  //
  (o)(o)  (O)_(O) (o)(o)
  / /\ \  / .-. \ / /\ \
  |(__)| / /_|_\ \|(__)|
  \___ | | \___/ |\___ |
     | |_'. `-' .`   | |_
     \___) `-.-'     \___)</pre>
            <pre>    .---.    .----.      .---.
   / .  |   /  ..  \    / .  |
  / /|  |  .  /  \  .  / /|  |
 / / |  |_ |  |  '  | / / |  |_
/  '-'    |'  \  /  '/  '-'    |
`----|  |-' \  `'  / `----|  |-'
     `--'    `---''       `--'</pre>
            <pre>  ___   __    ___
 / _ \ /  \  / _ \
(__  ((  0 )(__  (
  (__/ \__/   (__/</pre>
            <pre>   _____  _______      _____
  /  |  | \   _  \    /  |  |
 /   |  |_/  /_\  \  /   |  |_
/    ^   /\  \_/   \/    ^   /
\____   |  \_____  /\____   |
     |__|        \/      |__|</pre>
            <pre>       _             _            _
   _  /\ \         / /\       _  /\ \
  /\_\\ \ \       / /  \     /\_\\ \ \
 / / / \ \ \     / / /\ \   / / / \ \ \
/ / /   \ \ \   / / /\ \ \ / / /   \ \ \
\ \ \____\ \ \ /_/ /  \ \ \\ \ \____\ \ \
 \ \________\ \\ \ \   \ \ \\ \________\ \
  \/________/\ \\ \ \   \ \ \\/________/\ \
            \ \ \\ \ \___\ \ \         \ \ \
             \ \_\\ \/____\ \ \         \ \_\
              \/_/ \_________\/          \/_/</pre>
            <pre>   .---.   .----.     .---.
  / .  |  /  ..  \   / .  |
 / /|  | |  /  \  . / /|  |
/ '-'  ||'  \  /  '/ '-'  ||
`---|  |' \  `'  / `---|  |'
    `--'   `---''      `--'</pre>
            <pre> ___  ___     ______   ___  ___
(: "||_  |   /    " \ (: "||_  |
|  (__) :|  // ____  \|  (__) :|
 \____  || /  /    ) :)\____  ||
     _\ '|(: (____/ //     _\ '|
    /" \_|\\        /     /" \_|\
   (_______)\"_____/     (_______)</pre>
            <pre>▖▖▄▖▖▖
▙▌▛▌▙▌
 ▌█▌ ▌</pre>
            <pre> _   ___  _______  _   ___
| | |   ||  _    || | |   |
| |_|   || | |   || |_|   |
|       || | |   ||       |
|___    || |_|   ||___    |
    |   ||       |    |   |
    |___||_______|    |___|</pre>
            <pre> _  _    ___  _  _
| || |  / _ \| || |
| || |_| | | | || |_
|__   _| |_| |__   _|
   |_|  \___/   |_|</pre>
            <pre> ___ ___ ___
| | |   | | |
|_  | | |_  |
  |_|___| |_|</pre>
            <pre>   __ __  ____  __ __
  / // / / __ \/ // /
 / // /_/ / / / // /_
/__  __/ /_/ /__  __/
  /_/  \____/  /_/</pre>
            <pre>____________/\\\________/\\\\\\\_______________/\\\____
 __________/\\\\\______/\\\/////\\\___________/\\\\\____
  ________/\\\/\\\_____/\\\____\//\\\________/\\\/\\\____
   ______/\\\/\/\\\____\/\\\_____\/\\\______/\\\/\/\\\____
    ____/\\\/__\/\\\____\/\\\_____\/\\\____/\\\/__\/\\\____
     __/\\\\\\\\\\\\\\\\_\/\\\_____\/\\\__/\\\\\\\\\\\\\\\\_
      _\///////////\\\//__\//\\\____/\\\__\///////////\\\//__
       ___________\/\\\_____\///\\\\\\\/_____________\/\\\____
        ___________\///________\///////_______________\///_____</pre>
            <pre>  _ _   __  _ _
 | | | /  \| | |
 |_  _| () |_  _|
   |_| \__/  |_|</pre>
            <pre>  ____ ___  ____
 / / // _ \/ / /
/_  _/ // /_  _/
 /_/ \___/ /_/</pre>
            <pre>  ,---.  ,--.    ,---.
 /    | /    \  /    |
/  '  ||  ()  |/  '  |
'--|  | \    / '--|  |
   `--'  `--'     `--'</pre>
            <pre>  _  _    ___  _  _
 | || |  / _ \| || |
 | || |_| | | | || |_
 |__   _| |_| |__   _|
    |_|  \___/   |_|</pre>
            <pre> _  _      ___    _  _
| || |    / _ \  | || |
| || |_  | | | | | || |_
|__   _| | | | | |__   _|
   | |   | |_| |    | |
   |_|    \___/     |_|</pre>
            <pre> __   __      ______   __   __
/__/\/__/\   /_____/\ /__/\/__/\
\  \ \: \ \__\:::_ \ \\  \ \: \ \__
 \::\_\::\/_/\\:\ \ \ \\::\_\::\/_/\
  \_:::   __\/ \:\ \ \ \\_:::   __\/
       \::\ \   \:\_\ \ \    \::\ \
        \__\/    \_____\/     \__\/</pre>
            <pre>     ,--.      .-.        ,--.
    /   |    /    \      /   |
   / .' |   |  .-. ;    / .' |
  / / | |   | |  | |   / / | |
 / /  | |   | |  | |  / /  | |
/  `--' |-. | |  | | /  `--' |-.
`-----| |-' | '  | | `-----| |-'
      | |   '  `-' /       | |
     (___)   `.__,'       (___)</pre>
            <pre>   ░████     ░████      ░████
  ░██ ██    ░██ ░██    ░██ ██
 ░██  ██   ░██ ░████  ░██  ██
░██   ██   ░██░██░██ ░██   ██
░█████████ ░████ ░██ ░█████████
     ░██    ░██ ░██       ░██
     ░██     ░████        ░██</pre>
            <pre>┏┓┏┓┏┓
┃┃┃┫┃┃
┗╋┗┛┗╋</pre>
            <pre>  _ _       __    _ _
 | | |     /  \  | | |
 |_  _|   | () | |_  _|
  _|_|_   _\__/   _|_|_
_|"""""|_|"""""|_|"""""|
"`-0-0-'"`-0-0-'"`-0-0-'</pre>
            <pre>   ____     _____      ____
  /\__/\   / ___ \    /\__/\
 / /_ \ \ / /\_/\ \  / /_ \ \
/ /(_)/ // /_/ (_\ \/ /(_)/ /
\/___ \ \\ \ )_/ / /\/___ \ \
     )_) )\ \/_\/ /      )_) )
     \_\/  \ ____/       \_\/</pre>
            <pre>  _  _     ____   _  _
 | || |   / __ \ | || |
 | || |_ | |  | || || |_
 |__   _|| |  | ||__   _|
    | |  | |__| |   | |
    |_|   \____/    |_|</pre>
            <pre> _    _      ____    _    _
| |  | |   .'    '. | |  | |
| |__| |_ |  .--.  || |__| |_
|____   _|| |    | ||____   _|
    _| |_ |  `--'  |    _| |_
   |_____| '.____.'    |_____|</pre>
            <pre> ___   ___  ________  ___   ___
|\  \ |\  \|\   __  \|\  \ |\  \
\ \  \\_\  \ \  \|\  \ \  \\_\  \
 \ \______  \ \  \\\  \ \______  \
  \|_____|\  \ \  \\\  \|_____|\  \
         \ \__\ \_______\     \ \__\
          \|__|\|_______|      \|__|</pre>
            <pre>██  ██  ▄██▄  ██  ██
▀█████ ██  ██ ▀█████
    ██  ▀██▀      ██</pre>
            <pre>██   ██  ██████  ██   ██
██   ██ ██  ████ ██   ██
███████ ██ ██ ██ ███████
     ██ ████  ██      ██
     ██  ██████       ██</pre>
            <pre>██╗  ██╗ ██████╗ ██╗  ██╗
██║  ██║██╔═████╗██║  ██║
███████║██║██╔██║███████║
╚════██║████╔╝██║╚════██║
     ██║╚██████╔╝     ██║
     ╚═╝ ╚═════╝      ╚═╝</pre>
            <pre>   ▄▄     ▄▄▄      ▄▄
   ██   ▄██▀▀▀     ██
  ▄██   ██ ▄▀█▄   ▄██
▄██▀ █  ██   ██ ▄██▀ █
███████ ██  ▄██ ███████
    ██   ▀███▀      ██</pre>
            <pre>▄▄▄  ▄▄▄   ▄▄▄▄   ▄▄▄  ▄▄▄
███  ███ ▄██████▄ ███  ███
███▄▄███ ███  ███ ███▄▄███
 ▀▀▀████ ███▄▄███  ▀▀▀████
    ████  ▀████▀      ████</pre>
            <pre> ▄         ▄   ▄▄▄▄▄▄▄▄▄   ▄         ▄
▐░▌       ▐░▌ ▐░░░░░░░░░▌ ▐░▌       ▐░▌
▐░▌       ▐░▌▐░█░█▀▀▀▀▀█░▌▐░▌       ▐░▌
▐░▌       ▐░▌▐░▌▐░▌    ▐░▌▐░▌       ▐░▌
▐░█▄▄▄▄▄▄▄█░▌▐░▌ ▐░▌   ▐░▌▐░█▄▄▄▄▄▄▄█░▌
▐░░░░░░░░░░░▌▐░▌  ▐░▌  ▐░▌▐░░░░░░░░░░░▌
 ▀▀▀▀▀▀▀▀▀█░▌▐░▌   ▐░▌ ▐░▌ ▀▀▀▀▀▀▀▀▀█░▌
          ▐░▌▐░▌    ▐░▌▐░▌          ▐░▌
          ▐░▌▐░█▄▄▄▄▄█░█░▌          ▐░▌
          ▐░▌ ▐░░░░░░░░░▌           ▐░▌
           ▀   ▀▀▀▀▀▀▀▀▀             ▀</pre>
            <pre>     mmm     mmmm        mmm
    m###    ##""##      m###
   #" ##   ##    ##    #" ##
 m#"  ##   ## ## ##  m#"  ##
 ########  ##    ##  ########
      ##    ##mm##        ##
      ""     """"         ""</pre>
            <pre>    mm   mmmm     mm
   m"#  m"  "m   m"#
  #" #  #  m #  #" #
 #mmm#m #    # #mmm#m
     #   #mm#      #</pre>
            <pre>     ###    .####.       ###
    :###    ######      :###
   .####   :##  ##:    .####
   ##.##   ##:  :##    ##.##
  :#: ##   ##    ##   :#: ##
 .##  ##   ## ## ##  .##  ##
 ##   ##   ## ## ##  ##   ##
 ########  ##    ##  ########
 ########  ##:  :##  ########
      ##   :##  ##:       ##
      ##    ######        ##
      ##    .####.        ##</pre>
            <pre>    ##    ##      ##
   :##  :#  #:   :##
   #.#  #.  :#   #.#
     #  #    #     #
 .#  #  #  # # .#  #
 #:  #  #    # #:  #
 ###### #.  :# ######
     #  :#  #:     #
     #    ##       #</pre>
            <pre>┃ ┃┏━┃┃ ┃
━━┃┃┛┃━━┃
  ┛━━┛  ┛</pre>
            <pre>║ ║╔═║║ ║
══║║╝║══║
  ╝══╝  ╝</pre>
            <pre>╻ ╻┏━┓╻ ╻
┗━┫┃┃┃┗━┫
  ╹┗━┛  ╹</pre>
            <pre>╷ ╷╭─╮╷ ╷
╰─┤│││╰─┤
  ╵╰─╯  ╵</pre>
            <pre>╷ ╷┌─┐╷ ╷
└─┤│││└─┤
  ╵└─┘  ╵</pre>
            <pre>   4   000     4
  44  0   0   44
 4 4  0 0 0  4 4
44444 0   0 44444
   4   000     4</pre>
            <pre>     ▄▄▄     ▄▄▄▄        ▄▄▄
    ▄███    ██▀▀██      ▄███
   █▀ ██   ██    ██    █▀ ██
 ▄█▀  ██   ██ ██ ██  ▄█▀  ██
 ████████  ██    ██  ████████
      ██    ██▄▄██        ██
      ▀▀     ▀▀▀▀         ▀▀</pre>
            <pre>    ▄▄   ▄▄▄▄     ▄▄
   ▄▀█  ▄▀  ▀▄   ▄▀█
  █▀ █  █  ▄ █  █▀ █
 █▄▄▄█▄ █    █ █▄▄▄█▄
     █   █▄▄█      █</pre>
            <pre>░█░█░▄▀▄░█░█
░░▀█░█/█░░▀█
░░░▀░░▀░░░░▀</pre>
            <pre> █████ █████     █████    █████ █████
▒▒███ ▒▒███    ███▒▒▒███ ▒▒███ ▒▒███
 ▒███  ▒███ █ ███   ▒▒███ ▒███  ▒███ █
 ▒███████████▒███    ▒███ ▒███████████
 ▒▒▒▒▒▒▒███▒█▒███    ▒███ ▒▒▒▒▒▒▒███▒█
       ▒███▒ ▒▒███   ███        ▒███▒
       █████  ▒▒▒█████▒         █████
      ▒▒▒▒▒     ▒▒▒▒▒▒         ▒▒▒▒▒</pre>
            <pre>  .m  .m,   .m
  dW  W"W   dW
 ]`W ][ ][ ]`W
.P W ][W][.P W
]WWW[][ ][]WWW[
   W  WmW    W
   "  '"`    "</pre>
            <pre>  m  mm   m
 .T .`', .T
 P] ] ,[ P]
]md,]  []md,
  ]  bd   ]</pre>
            <pre>▌ ▌▞▀▖▌ ▌
▚▄▌▌▞▌▚▄▌
  ▌▛ ▌  ▌
  ▘▝▀   ▘</pre>
            <pre> ⢇⣸ ⣎⣵ ⢇⣸
  ⠸ ⠫⠜  ⠸</pre>
            <pre>  ▗▄  ▗▄▖   ▗▄
  ▟█  █▀█   ▟█
 ▐▘█ ▐▌ ▐▌ ▐▘█
▗▛ █ ▐▌█▐▌▗▛ █
▐███▌▐▌ ▐▌▐███▌
   █  █▄█    █
   ▀  ▝▀▘    ▀</pre>
            <pre>  ▄  ▄▄   ▄
 ▗▜ ▗▘▝▖ ▗▜
 ▛▐ ▐ ▖▌ ▛▐
▐▄▟▖▐  ▌▐▄▟▖
  ▐  ▙▟   ▐</pre>
            <pre>+| (\) +|</pre>
            <pre>    **   ****     **
   */*  *///**   */*
  * /* /*  */*  * /*
 ******/* * /* ******
/////* /**  /*/////*
    /* /*   /*    /*
    /* / ****     /*
    /   ////      /</pre>
            <pre># # ### # #
# # # # # #
### # # ###
  # # #   #
  # ###   #</pre>
            <pre>  dP88   dP"Yb    dP88
 dP 88  dP   Yb  dP 88
d888888 Yb   dP d888888
    88   YbodP      88</pre>
            <pre>             ___
  //___/ / //   ) ) //___/ /
 /____  / //   / / /____  /
     / / //   / /      / /
    / / ((___/ /      / /</pre>
            <pre>        :::      :::::::      :::
      :+:      :+:   :+:    :+:
    +:+ +:+   +:+   +:+   +:+ +:+
  +#+  +:+   +#+   +:+  +#+  +:+
+#+#+#+#+#+ +#+   +#+ +#+#+#+#+#+
     #+#   #+#   #+#       #+#
    ###    #######        ###</pre>
            <pre>    :::      :::::::      :::
   :+:      :+:   :+:    :+:
  +:+ +:+   +:+  :+:+   +:+ +:+
 +#+  +:+   +#+ + +:+  +#+  +:+
+#+#+#+#+#+ +#+#  +#+ +#+#+#+#+#+
      #+#   #+#   #+#       #+#
      ###    #######        ###</pre>
            <pre>4  4  000  4  4
4  4 0  00 4  4
4444 0 0 0 4444
   4 00  0    4
   4  000     4</pre>
            <pre>. . .-. . .
`-| |\| `-|
  ' `-'   '</pre>
            <pre>.:;.;:. .:;S;:. .:;.;:.
   S    S ./' S    S
`:;'    `:;S;:' `:;'</pre>
            <pre>.sSSS s.    .sSSSSs.    .sSSS s.
SSSSS SSSs. SSSSSSSSSs. SSSSS SSSs.
S SSS SSSSS S SSS SSSSS S SSS SSSSS
S  SS SSSSS S  SS SSSSS S  SS SSSSS
S..SSsSSSSS S..SS\SSSSS S..SSsSSSSS
      SSSSS S:::S SSSSS       SSSSS
      SSSSS S;;;S SSSSS       SSSSS
      SSSSS S%%%S SSSSS       SSSSS
      SSSSS `:;SSsSS;:'       SSSSS</pre>
            <pre>|`.  |`.     .'|=|`.   |`.  |`.
|  | |  `. .'  | |  `. |  | |  `.
|__|=|   | |   |/|   | |__|=|   |
     |   | `.  | |  .'      |   |
     |___|   `.|=|.'        |___|</pre>
            <pre>   . .       . .       . .
.+'| |`+. .+'|=|`+. .+'| |`+.
|  | |  | | +' `+ | |  | |  |
`++'=|  | | |\  | | `++'=|  |
     |  | | | \ | |      |  |
     |  | | |  \| |      |  |
     |  | | +. .+ |      |  |
     |.+' `+.|=|.+'      |.+'</pre>
            <pre>.-.   .-.  .-----.  .-.   .-.
| | _ | |  _~~~~~_  | | _ | |
`-'`-'| | | |\  | | `-'`-'| |
      | | | | \ | |       | |
      | |  ~___\_~        | |
      `-'  `-----'        `-'</pre>
            <pre>,'',,'',  ,'',,'',  ,'',,'',
;  ;;  ; ;  ,'',  ; ;  ;;  ;
;  ;;  ; ;  ;  ;  ; ;  ;;  ;
',,';  ; ;  ;\ ;  ; ',,';  ;
    ;  ; ;  ; \;  ;     ;  ;
    ;  ; ;  ',,'  ;     ;  ;
    ',,'  ',,'',,'      ',,'</pre>
            <pre>     &gt;=&gt;        &gt;=&gt;           &gt;=&gt;
    &gt;&gt;=&gt;      &gt;=&gt;  &gt;=&gt;       &gt;&gt;=&gt;
   &gt; &gt;=&gt;    &gt;=&gt;     &gt;=&gt;     &gt; &gt;=&gt;
 &gt;=&gt; &gt;=&gt;    &gt;=&gt;      &gt;=&gt;  &gt;=&gt; &gt;=&gt;
&gt;===&gt;&gt;=&gt;&gt;=&gt;  &gt;=&gt;    &gt;=&gt;  &gt;===&gt;&gt;=&gt;&gt;=&gt;
     &gt;=&gt;       &gt;==&gt;           &gt;=&gt;</pre>
            <pre> ____,  _____,____,
(-/_|_,(-/ /\(-/_|_,
   _|,  _\/_/   _|,
  (    (       (</pre>
            <pre> #         ###   #
 #    #   #   #  #    #
 #    #  #     # #    #
 #    #  #     # #    #
 ####### #     # #######
      #   #   #       #
      #    ###        #</pre>
            <pre>##          #####   ##
##    ##   ##   ##  ##    ##
##    ##  ##     ## ##    ##
##    ##  ##     ## ##    ##
######### ##     ## #########
      ##   ##   ##        ##
      ##    #####         ##</pre>
            <pre>'##::::::::::'#####:::'##::::::::
 ##:::'##:::'##.. ##:: ##:::'##::
 ##::: ##::'##:::: ##: ##::: ##::
 ##::: ##:: ##:::: ##: ##::: ##::
 #########: ##:::: ##: #########:
...... ##::. ##:: ##::...... ##::
:::::: ##:::. #####::::::::: ##::
::::::..:::::.....::::::::::..:::</pre>
            <pre>.##..........#####...##.......
.##....##...##...##..##....##.
.##....##..##.....##.##....##.
.##....##..##.....##.##....##.
.#########.##.....##.#########
.......##...##...##........##.
.......##....#####.........##.</pre>
            <pre>      &gt;&lt;&lt;       &gt;&lt;&lt;           &gt;&lt;&lt;
    &gt; &gt;&lt;&lt;     &gt;&lt;&lt;  &gt;&lt;&lt;      &gt; &gt;&lt;&lt;
   &gt;&lt; &gt;&lt;&lt;   &gt;&lt;&lt;     &gt;&lt;&lt;    &gt;&lt; &gt;&lt;&lt;
 &gt;&lt;&lt;  &gt;&lt;&lt;   &gt;&lt;&lt;      &gt;&lt;&lt; &gt;&lt;&lt;  &gt;&lt;&lt;
&gt;&lt;&lt;&lt;&lt; &gt;&lt; &gt;&lt;&lt; &gt;&lt;&lt;    &gt;&lt;&lt; &gt;&lt;&lt;&lt;&lt; &gt;&lt; &gt;&lt;&lt;
      &gt;&lt;&lt;      &gt;&lt;&lt;&lt;           &gt;&lt;&lt;</pre>
            <pre>  j88D   .d88b.    j88D
 j8~88  .8P  88.  j8~88
j8' 88  88  d'88 j8' 88
V88888D 88 d' 88 V88888D
    88  `88  d8'     88
    VP   `Y88P'      VP</pre>
            <pre>          ___/
 |   |  .'  /\ |   |
 `.__|  |  / | `.__|
     |  |,'  |     |
     |  /`---'     |</pre>
            <pre>____________________________
               __
   /    /    /    )  /    /
--/____/----/----/--/____/--
      /    /    /       /
_____/____(____/_______/____</pre>
            <pre>     ███    ░████░       ███
    ▒███    ██████      ▒███
   ░████   ▒██  ██▒    ░████
   ██░██   ██▒  ▒██    ██░██
  ▒█▒ ██   ██    ██   ▒█▒ ██
 ░██  ██   ██ ██ ██  ░██  ██
 ██   ██   ██ ██ ██  ██   ██
 ████████  ██    ██  ████████
 ████████  ██▒  ▒██  ████████
      ██   ▒██  ██▒       ██
      ██    ██████        ██
      ██    ░████░        ██</pre>
            <pre>    ██   ▓██▓     ██
   ▒██  ▒█  █▒   ▒██
   █░█  █░  ▒█   █░█
  ▓▓ █  █    █  ▓▓ █
 ░█  █  █  █ █ ░█  █
 █▒  █  █    █ █▒  █
 ██████ █░  ▒█ ██████
     █  ▒█  █▒     █
     █   ▓██▓      █</pre>
            <pre>    _
|_|/ \|_|
  |\_/  |</pre>
            <pre>00110100 00110000 00110100</pre>
            <pre> _|  _|      _|    _|  _|
 _|  _|    _|  _|  _|  _|
 _|_|_|_|  _|  _|  _|_|_|_|
     _|    _|  _|      _|
     _|      _|        _|</pre>
            <pre>    d8     ,88~~\       d8
   d88    d888   \     d88
  d888   88888    |   d888
 / 888   88888    |  / 888
/__888__  Y888   /  /__888__
   888     `88__/      888</pre>
            <pre>.-. .-. .---..-. .-.
 \ \| |. .-. .\ \| |
  `-\ }' `-' ' `-\ }
    `-' `---'    `-'</pre>
            <pre>.....##...####.......##.
.##..##..##..##..##..##.
.######..######..######.
.....##..##..##......##.
.....##...####.......##.
........................</pre>
            <pre>   _   ___     _
/_| | / / \ /_| |
  |_| \_\_/   |_|</pre>
            <pre>   _   _   _
  / \ / \ / \
 ( 4 | 0 | 4 )
  \_/ \_/ \_/</pre>
            <pre>      _//       _//           _//
    _ _//     _//  _//      _ _//
   _/ _//   _//     _//    _/ _//
 _//  _//   _//      _// _//  _//
_//// _/ _// _//    _// _//// _/ _//
      _//      _///           _//</pre>
            <pre> _____  ______ _____
|  |  ||      |  |  |
|__    |  --  |__    |
   |__||______|  |__|</pre>
            <pre>      O))       O))           O))
    O O))     O))  O))      O O))
   O) O))   O))     O))    O) O))
 O))  O))   O))      O)) O))  O))
O)))) O) O)) O))    O)) O)))) O) O))
      O))      O)))           O))</pre>
            <pre>   .;  ;'.--. .;  ;'
  .;..;'; .';.;..;'
    .;';.' ;   .;'
   .;' `;;'   .;'</pre>
            <pre>    d8888   .d8888b.      d8888
   d8P888  d88P  Y88b    d8P888
  d8P 888  888    888   d8P 888
 d8P  888  888    888  d8P  888
d88   888  888    888 d88   888
8888888888 888    888 8888888888
      888  Y88b  d88P       888
      888   "Y8888P"        888</pre>
            <pre>88     eeeeee 88
88     8    8 88
88  88 8    8 88  88
88ee88 8    8 88ee88
    88 8    8     88
    88 8eeee8     88</pre>
            <pre>. ,  _, . ,
|_| |.| |_|
  | |_|   |</pre>
            <pre>.....%%...%%%%.......%%.
.%%..%%..%%..%%..%%..%%.
.%%%%%%..%%%%%%..%%%%%%.
.....%%..%%..%%......%%.
.....%%...%%%%.......%%.
........................</pre>
            <pre>   .::            .::
 ,;';;   ,;;,   ,;';;
,[' [[ ,['  [n ,[' [[
$P__$$c$$    $$$P__$$c
`"""88"Y8,  ,8"`"""88"
    MM  "YmmP      MM</pre>
            <pre>  ___ ___ _______ ___ ___
 |   Y   |   _   |   Y   |
 |   |   |.  |   |   |   |
 |____   |.  |   |____   |
     |:  |:  1   |   |:  |
     |::.|::.. . |   |::.|
     `---`-------'   `---'</pre>
            <pre>      __
 /  //  )/  /
'--//  /'--/
  /(__/   /</pre>
            <pre> ,..-. ,.
'-|| |'-|
  '`-'  '</pre>
            <pre>  O   \O    O
  |\   |\   |\
 / \  / \  / \
_\ /__\ /__\ /_</pre>
            <pre>52 48 52</pre>
            <pre>           .                        .
          ,W                       ,W
         i##                      i##
        f###        :            f###
       G####       G#j          G####
     .K#Ki##     .E#G#G       .K#Ki##
    ,W#D.,##    ,W#; ;#E.    ,W#D.,##
   i##E,,i##,  i#K:   :WW:  i##E,,i##,
  ;DDDDDDE##DGi:WW:   f#D. ;DDDDDDE##DGi
         ,##    .E#; G#L          ,##
         ,##      G#K#j           ,##
         .E#       j#;            .E#
           t                        t</pre>
            <pre>      /\\       /\\           /\\
    / /\\     /\\  /\\      / /\\
   /\ /\\   /\\     /\\    /\ /\\
 /\\  /\\   /\\      /\\ /\\  /\\
/\\\\ /\ /\\ /\\    /\\ /\\\\ /\ /\\
      /\\      /\\\           /\\</pre>
            <pre>    /  /.-.  /  /
   /__//   )/__/
     /(   /   /
    /  `-'   /</pre>
            <pre> +-+-+-+
 |4|0|4|
 +-+-+-+</pre>
            <pre> █████ █████     █████    █████ █████
░░███ ░░███    ███░░░███ ░░███ ░░███
 ░███  ░███ █ ███   ░░███ ░███  ░███ █
 ░███████████░███    ░███ ░███████████
 ░░░░░░░███░█░███    ░███ ░░░░░░░███░█
       ░███░ ░░███   ███        ░███░
       █████  ░░░█████░         █████
      ░░░░░     ░░░░░░         ░░░░░</pre>
            <pre>             _         _  _               _
          _ (_)     _ (_)(_) _         _ (_)
       _ (_)(_)    (_)      (_)     _ (_)(_)
    _ (_)   (_)   (_)        (_) _ (_)   (_)
   (_) _  _ (_) _ (_)        (_)(_) _  _ (_) _
   (_)(_)(_)(_)(_)(_)        (_)(_)(_)(_)(_)(_)
            (_)    (_) _  _ (_)          (_)
            (_)       (_)(_)             (_)</pre>
            <pre>  __   ___   __
 /. | |   | /. |
/_  .|| / |/_  .|
  |_| `___'  |_|</pre>
            <pre>404







404</pre>
            <pre>   .                                                                                 .
  /|                   _        _        _        __       __       _               /|
 '-|         /\       |_)      /        | \      |_       |_       /        |_|    '-|
            /--\      |_)      \_       |_/      |__      |        \_?      | |</pre>
            <pre>   .  _    .
  /| / \  /|
 /o|| 0 |/o|
L___|\_/L___|</pre>
            <pre>     .  _     .
   ,'/,' \  ,'/
 ,'o// 0 /,'o/
(___7\_,'(___7</pre>
            <pre>   .  _    .
  /| / \  /|
 /o)( 0 )/o)
/___\\_//___\</pre>
            <pre>  _   ___   _
 /'|  )) ) /'|
((_( ((_( ((_(</pre>
            <pre>   /||   .''',    /||
 // ||   |   |  // ||
//..||.. |   | //..||..
    ||   |   |     ||
    ||   `,,,'     ||</pre>
            <pre>   __   ___    __
  / _| /   |  / _|
_| |_ | () |_| |_
\____||___/ \____|</pre>
            <pre>            font    $    font    $            font    $
        fontfont    $fontfontfont$        fontfont    $
    fontfontfont    $font    font$    fontfontfont    $
fontfont    font    $font    font$fontfont    font    $
font        font    $font    font$font        font    $
fontfontfontfontfont$font    font$fontfontfontfontfont$
            font    $font    font$            font    $
            font    $fontfontfont$            font    $
            font    $    font    $            font    $
                    $            $                    $
                    $            $                    $</pre>
            <pre> /|  /~~\  /|
/_|_|    |/_|_
  |  \__/   |</pre>
            <pre>        xeee        .n~~%x.             xeee
       d888R      x88X   888.          d888R
      d8888R     X888X   8888L        d8888R
     @ 8888R    X8888X   88888       @ 8888R
   .P  8888R    88888X   88888X    .P  8888R
  :F   8888R    88888X   88888X   :F   8888R
 x"    8888R    88888X   88888f  x"    8888R
d8eeeee88888eer 48888X   88888  d8eeeee88888eer
       8888R     ?888X   8888"         8888R
       8888R      "88X   88*`          8888R
    "*%%%%%%**~     ^"==="`         "*%%%%%%**~</pre>
            <pre>  .-.  .--.   .-.
 .'.' : ,. : .'.'
.'.'_ : :: :.'.'_
:_ ` :: :; ::_ ` :
  :_: `.__.'  :_:</pre>
            <pre>          ____
     ,M  6MMMMb       ,M
    ,dM 6M'  `Mb     ,dM
   ,dMM MM    MM    ,dMM
  ,d MM MM    MM   ,d MM
 ,d  MM MM    MM  ,d  MM
,d   MM YM.  ,M9 ,d   MM
MMMMMMMM YMMMM9  MMMMMMMM
     MM               MM
     MM               MM
     MM               MM</pre>
            <pre>     ,AM   ,pP""Yq.       ,AM
    AVMM  6W'    `Wb     AVMM
  ,W' MM  8M      M8   ,W' MM
,W'   MM  YA.    ,A9 ,W'   MM
AmmmmmMMmm `Ybmmd9'  AmmmmmMMmm
      MM                   MM
      MM                   MM</pre>
            <pre>  .'`(    ,,-,,     .'`(
 //`. )  /,--, \   //`. )
//__/(  / \  (  \ //__/(
`--,  ) \  )  \ / `--,  )
    ) \  \ `--`(      ) \
     )/   ``-`)/       )/</pre>
            <pre>  _  ____   _
 / / |   | / /
/_  ]| \ |/_  ]
  |/ |___|  |/</pre>
            <pre>___    _____   ______    ___
  /   |    /   \    /   |
 /    |_  |     |  /    |_
(__    _) |     | (__    _)
  _|  |_  |     |   _|  |_
_(      )__\   /___(      )_</pre>
            <pre>  ,          ,
 /|   /\\   /|
/ |  || || / |
__|_ || || __|_
---- || || ----
  |  || ||   |
 ,_,  \\/   ,_,</pre>
            <pre>.....eeeee....eeeeee.......eeeee...
::::@@@@@@:::@@@@@@@@:::::@@@@@@:::
---%%%-%%%---%%%--%%%----%%%-%%%---
++&amp;&amp;&amp;++&amp;&amp;&amp;+++&amp;&amp;&amp;++&amp;&amp;&amp;+++&amp;&amp;&amp;++&amp;&amp;&amp;+++
*|||||||||||*|||**|||**|||||||||||*
!!!!!!!!!!!!=!!!==!!!=!!!!!!!!!!!!=
#######:::###::::::::########:::###
@@@@@@@...@@@@......@@@@@@@@@...@@@</pre>
            <pre>    _    ___     _
  /  |  / _ \  /  |
 / o |_| | | |/ o |_
/__   _) | | /__   _)
   | | | |_| |  | |
   |_|  \___/   |_|</pre>
            <pre> .-.-. .-.-. .-.-.
( 4 .'( 0 .'( 4 .'
 `.(   `.(   `.(</pre>
            <pre>.-.-. .-.-. .-.-.
'. 4 )'. 0 )'. 4 )
  ).'   ).'   ).'</pre>
            <pre>   _  _      ____    _  _
  FJ  L]    F _  ]  FJ  L]
 J |__| L  J |/ | LJ |__| L
 |____  |  | | /| ||____  |
 L____J J  F  /_J JL____J J
      J__LJ\______/F    J__L
      J__| J______F     J__|</pre>
            <pre>34 30 34</pre>
            <pre>          _       _             _
      _--~/'    /' `\       _--~/'
  _--~  /'    /'     )  _--~  /'
 -~____/__  /'      /' -~____/__
     /'   /'      /'       /'
   /'   /'      /'       /'
 /'    (_____,/'       /'</pre>
            <pre>   __       _____      __
  /_ |    .' ___ '.   /_ |
 //_||__  | (___) |  //_||__
/__   __| '._____.' /__   __|
   |_|                 |_|</pre>
            <pre>    __      _____       __
   | _\   .' ___ '.    | _\
 __||_\\  | (___) |  __||_\\
|__   __\ '._____.' |__   __\
   |_|                 |_|</pre>
            <pre>404


 *



* *</pre>
            <pre> _         __   _
 /   /   /   )  /   /
/___/_  /   /  /___/_
   /   (__ /      /
  /              /</pre>
            <pre>    __
(_//  )(_/
 /(__/  /</pre>
            <pre>  _   _       ____     _   _
 / / / \     / __ \   / / / \
( (__) (___ ( (  ) ) ( (__) (___
 \___   __( ( (  ) )  \___   __(
     ) (    ( (  ) )      ) (
     ) (    ( (__) )      ) (
    /___\    \____/      /___\</pre>
            <pre>   .8  .oPYo.    .8
  d'8  8  .o8   d'8
 d' 8  8 .P'8  d' 8
Pooooo 8.d' 8 Pooooo
    8  8o'  8     8
    8  `YooP'     8
::::..::.....:::::..:
:::::::::::::::::::::
:::::::::::::::::::::</pre>
            <pre>#         ###   #
#    #   #   #  #    #
#    #  #     # #    #
#    #  #     # #    #
####### #     # #######
     #   #   #       #
     #    ###        #</pre>
            <pre>  ,          ,
 /|   /\\   /|
/ |  || || / |
__|_ || || __|_
---- || || ----
  |  || ||   |
 '-'  \\/   '-'</pre>
            <pre> _______ _______ _______
|\     /|\     /|\     /|
| +---+ | +---+ | +---+ |
| |   | | |   | | |   | |
| |4  | | |0  | | |4  | |
| +---+ | +---+ | +---+ |
|/_____\|/_____\|/_____\|</pre>
            <pre>     _____  _________      _____
    (  ___)(  _____  )    (  ___)
 ___| |___ | |_____| | ___| |___
(_________)(_________)(_________)</pre>
            <pre> __ __       __   __ __
/\ \\ \    /'__`\/\ \\ \
\ \ \\ \  /\ \/\ \ \ \\ \
 \ \ \\ \_\ \ \ \ \ \ \\ \_
  \ \__ ,__\ \ \_\ \ \__ ,__\
   \/_/\_\_/\ \____/\/_/\_\_/
      \/_/   \/___/    \/_/</pre>
            <pre>       ___
| |   |  /| | |
 -+-  | + |  -+-
  |   |/  |   |
       ---</pre>
            <pre>  _/  _/      _/    _/  _/
 _/  _/    _/  _/  _/  _/
_/_/_/_/  _/  _/  _/_/_/_/
   _/    _/  _/      _/
  _/      _/        _/</pre>
            <pre>    44    00000      44
   444   00   00    444
 44  4   00   00  44  4
44444444 00   00 44444444
   444    00000     444</pre>
            <pre> ,--..----. ,--.
'-| || || |'-| |
  `-'`----'  `-'</pre>
            <pre>:| :| ,::::,:| :|
:::::|: -- |:::::|
   :| `::::'   :|</pre>
            <pre> /| /=\  /|
&lt;=| |/| &lt;=|
  | \=/   |</pre>
            <pre>      .::       .::           .::
    . .::     .::  .::      . .::
   .: .::   .::     .::    .: .::
 .::  .::   .::      .:: .::  .::
.:::: .: .:: .::    .:: .:::: .: .::
      .::      .:::           .::</pre>
            <pre>   _        _        _
  /\\ _  __/\\__    /\\ _
 / ///\\(_    __)) / ///\\
 \ \/ // /  _  \\  \ \/ //
 _\:.// /:.(_)) \\ _\:.//
(_   _) \  _____//(_   _)
  \//    \//        \//</pre>
            <pre>       _
 |_|_ / \ |_|_
   |  \_/   |</pre>
            <pre>   _  _  ___    _  _
  | || |/ _ \  | || |
 _| || | | | |_| || |
|_   __| |_| |_   __|
  |_|   \___/  |_|</pre>
            <pre>....- ----- ....-</pre>
            <pre>dP   dP  a8888a  dP   dP
88   88 d8' ..8b 88   88
88aaa88 88 .P 88 88aaa88
     88 88 d' 88      88
     88 Y8'' .8P      88
     dP  Y8888P       dP</pre>
            <pre>dP   dP  a8888a  dP   dP
88   88 d8' ..8b 88   88
88aaa88 88 .P 88 88aaa88
     88 88 d' 88      88
     88 Y8'' .8P      88
     dP  Y8888P       dP
ooooooooooooooooooooooooo</pre>
            <pre>      {__       {__           {__
    { {__     {__  {__      { {__
   {_ {__   {__     {__    {_ {__
 {__  {__   {__      {__ {__  {__
{____ {_ {__ {__    {__ {____ {_ {__
      {__      {___           {__</pre>
            <pre>        a8      ,a888a,            a8
      ,d88    ,8P"' `"Y8,        ,d88
     a8P88   ,8P       Y8,      a8P88
   ,d8" 88   88         88    ,d8" 88
  a8P'  88   88         88   a8P'  88
,d8"    88   88         88 ,d8"    88
888888888888 88         88 888888888888
        88   `8b       d8'         88
        88    `8ba, ,ad8'          88
        88      "Y888P"            88</pre>
            <pre>O8
      o88     ooooooo         o88
    o8888   o888  o888o     o8888
  o88 888   888  8  888   o88 888
o888oo888oo 888o8  o888 o888oo888oo
     o888o    88ooo88        o888o</pre>
            <pre>064 060 064</pre>
            <pre>_____ooo____ooo_o_______ooo_
___oo_oo__oo___oo_____oo_oo_
_oo___oo_oo___o_oo__oo___oo_
oooooooo_oo__o__oo_oooooooo_
______oo__ooo__oo________oo_
______oo___oooo__________oo_
__________o_________________</pre>
            <pre> _    _     ____   _    _
(_)  (_)   (____) (_)  (_)
(_)__(_)_ (_)  (_)(_)__(_)_
(________)(_)  (_)(________)
     (_)  (_)__(_)     (_)
     (_)   (____)      (_)</pre>
            <pre>      /^^       /^^           /^^
    / /^^     /^^  /^^      / /^^
   /^ /^^   /^^     /^^    /^ /^^
 /^^  /^^   /^^      /^^ /^^  /^^
/^^^^ /^ /^^ /^^    /^^ /^^^^ /^ /^^
      /^^      /^^^           /^^</pre>
            <pre>     _____/\/\/\______/\/\/\/\________/\/\/\___
    ___/\/\/\/\____/\/\____/\/\____/\/\/\/\___
   _/\/\__/\/\____/\/\__/\/\/\__/\/\__/\/\___
  _/\/\/\/\/\/\__/\/\/\__/\/\__/\/\/\/\/\/\_
 _______/\/\______/\/\/\/\__________/\/\___
__________________________________________</pre>
            <pre>o   O  .oOOo. o   O
O   o  O    o O   o
o   o  o    O o   o
OooOOo o    o OooOOo
    O  O    O     O
    o  o    O     o
    O  `OooO'     O</pre>
            <pre>    _
/_// //_/
 //_/  /</pre>
            <pre>     @@@    @@@@@@@@        @@@
    @@@@   @@@@@@@@@@      @@@@
   @@!@!   @@!   @@@@     @@!@!
  !@!!@!   !@!  @!@!@    !@!!@!
 @!! @!!   @!@ @! !@!   @!! @!!
!!!  !@!   !@!!!  !!!  !!!  !@!
:!!:!:!!:  !!:!   !!!  :!!:!:!!:
!:::!!:::  :!:    !:!  !:::!!:::
     :::   ::::::: ::       :::
     :::    : : :  :        :::</pre>
            <pre> _  _     __    _  _
( )( )  /' _`\ ( )( )
| || |  | ( ) || || |
| || |_ | | | || || |_
(__ ,__)| (_) |(__ ,__)
   (_)  `\___/'   (_)</pre>
            <pre>     _        _        _
   _( )__   _( )__   _( )__
 _|     _|_|     _|_|     _|
(_ 4 _ (_(_ 0 _ (_(_ 4 _ (_
  |_( )__| |_( )__| |_( )__|</pre>
            <pre>  ^    ^    ^
 /4\  /0\  /4\
&lt;___&gt;&lt;___&gt;&lt;___&gt;</pre>
            <pre>  __   _  _____  __   _
 |  | | |/     ||  | | |
 |  |_| ||  /  ||  |_| |
 '----__||_____/'----__|</pre>
            <pre>__________________________________
__/~~~~~\____/~~~~~\_____/~~~~~\__
_/~~\/~~\___/~~\_/~~\___/~~\/~~\__
/~~\_/~~\__/~~\___/~~\_/~~\_/~~\__
/~~~~~~~~\__/~~\_/~~\__/~~~~~~~~\_
_____/~~\____/~~~~~\________/~~\__
__________________________________</pre>
            <pre>\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\////// \\\\////// \\\\\////// \\
\/// /// \\\/// \/// \\\/// /// \\
/// \/// \\/// \\\/// \/// \/// \\
///////// \\/// \/// \\///////// \
\\\\\/// \\\\////// \\\\\\\\/// \\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\</pre>
            <pre>================================
======  =====      ========  ===
=====   ====   ==   ======   ===
====    ====  ====  =====    ===
===  =  ====  ====  ====  =  ===
==  ==  ====  ====  ===  ==  ===
=  ===  ====  ====  ==  ===  ===
=         ==  ====  ==         =
======  ====   ==   =======  ===
======  =====      ========  ===
================================</pre>
            <pre>      .o     .oooo.         .o
    .d88    d8P'`Y8b      .d88
  .d'888   888    888   .d'888
.d'  888   888    888 .d'  888
88ooo888oo 888    888 88ooo888oo
     888   `88b  d88'      888
    o888o   `Y8bd8P'      o888o</pre>
            <pre>   __ ___    __
__|__(___)__|__</pre>
            <pre> _     _  _____  _     _
| |   (_)(_____)| |   (_)
| |_____ _  __ _| |_____
|_____  | |/ /| |_____  |
      | |   /_| |     | |
      |_|\_____/      |_|</pre>
            <pre>  d 888    e88 88e     d 888
 d8 888   d888 888b   d8 888
d88 888e C8888 8888D d88 888e
""" 888"  Y888 888P  """ 888"
    888    "88 88"       888</pre>
            <pre> @@@  @@@  @@@@@@  @@@  @@@
 @@!  @@@ @@!  @@@ @@!  @@@
 @!@!@!@! @!@  !@! @!@!@!@!
      !!! !!:  !!!      !!!
      : :  : : ::       : :</pre>
            <pre>        __
 |  |  /  \ |  |
 |__|_|    ||__|_
    | |    |   |
    |  \__/    |</pre>
            <pre>  __    __    __
 / ,)  /  \  / ,)
(_  _)( () )(_  _)
  (_)  \__/   (_)</pre>
            <pre>  |  |     _ \   |  |
  |  |    |   |  |  |
 ___ __|  |   | ___ __|
    _|   \___/     _|</pre>
            <pre>  ,.  ,-.    ,.
 / | /  /\  / |
'--| | / | '--|
   | \/  /    |
   '  `-'     '</pre>
            <pre>/| /\/|
~|~\/~|~</pre>
            <pre>  #||  #HH|   #||
 #H|| ##  || #H||
## || ## H||## ||
##H|||##H ||##H|||
   ||  #HH|    ||</pre>
            <pre> _  _   ___   _  _
) () ( / _ \ ) () (
 \_  | ))_((  \_  |
   )_( \___/    )_(</pre>
            <pre> ____ ____ ____
||4 |||0 |||4 ||
||__|||__|||__||
|/__\|/__\|/__\|</pre>
            <pre>@@@  @@@  @@@@@@  @@@  @@@
@@@  @@@ @@!  @@@ @@@  @@@
@!@!@!@! @!@  !@! @!@!@!@!
     !!! !!:  !!!      !!!
     : :  : : ::       : :</pre>
            <pre>        _
 |  |  / \ |  |
 |__|_|   ||__|_
    |  \_/    |</pre>
            <pre>  | |    \   | |
 __ _| (  | __ _|
   _| \__/    _|</pre>
            <pre>~|  `~\ ~|
 |  ,_/  |
(_,     (_,</pre>
            <pre>_____ _____________ __
__  // /_  __ \_  // /
_  // /_  / / /  // /_
/__  __/ /_/ //__  __/
  /_/  \____/   /_/</pre>
            <pre> __ __  _____  __ __
/  |  \/  _  \/  |  \
\_    ||  |  |\_    |
  \___/\_____/  \___/</pre>
            <pre>_____________________
7  7  77     77  7  7
|  !  ||  7  ||  !  |
!___  ||  |  |!___  |
   7  ||  !  |   7  |
   !__!!_____!   !__!</pre>
            <pre>  ,  ,--.   ,
 /|  |  |  /|
'-+- |  | '-+-
  `  `--'   `</pre>
            <pre> ,. ,-.  ,.
{_| |/| {_|
  ' `-'   '</pre>
            <pre>      `..       `..           `..
    ` `..     `..  `..      ` `..
   `. `..   `..     `..    `. `..
 `..  `..   `..      `.. `..  `..
`.... `. `.. `..    `.. `.... `. `..
      `..      `...           `..</pre>
            <pre> _  _   __   _  _
| || | /  \ | || |
`._  _| // |`._  _|
   |_| \__/    |_|</pre>
            <pre>   __     ______   __
  / /    / __   | / /
 / /____| | //| |/ /____
|___   _) |// | |___   _)
    | | |  /__| |   | |
    |_|  \_____/    |_|</pre>
            <pre>       __
 |__| /  \ |__|
    | \__/    |</pre>
            <pre>.  .  .-. .  .
|  | :   :|  |
'--|-|   |'--|-
   | :   ;   |
   '  `-'    '</pre>
            <pre>4)   SS  0))))  4)   SS
4)   SS 0)  ))) 4)   SS
4)SSSSS 0) ) )) 4)SSSSS
     4) 0) ) ))      4)
     4) 0))  ))      4)
     4)  0))))       4)</pre>
            <pre>/ |/-|/ |
|-||/||-|
  /|-/  /</pre>
            <pre>`Yb     ,d88b   `Yb
  `8    P   `Y    `8
   8         8     8
   8         8     8
   8         8     8
  .P    b   .8    .P
 .P'    `Y8P'    .P'
 8    b          8    b
 `YbwP'          `YbwP'</pre>
            <pre>  d8 .d88b.   d8
 dP8 8P  Y8  dP8
dPw8 8b  d8 dPw8
   8 `Y88P'    8</pre>
            <pre>|  |,--.|  |
`--||  |`--|
   ||  |   |
   ``--'   `</pre>
            <pre>|_|/X|_|
  |X/  |</pre>
            <pre>_____/\/\/\______/\/\/\/\________/\/\/\___
___/\/\/\/\____/\/\____/\/\____/\/\/\/\___
_/\/\__/\/\____/\/\__/\/\/\__/\/\__/\/\___
_/\/\/\/\/\/\__/\/\/\__/\/\__/\/\/\/\/\/\_
_______/\/\______/\/\/\/\__________/\/\___
__________________________________________</pre>
            <pre>      [..       [..           [..
    [ [..     [..  [..      [ [..
   [. [..   [..     [..    [. [..
 [..  [..   [..      [.. [..  [..
[.... [. [.. [..    [.. [.... [. [..
      [..      [...           [..</pre>
            <pre>o  o  o-o  o  o
|  | o  /o |  |
o--O | / | o--O
   | o/  o    |
   o  o-o     o</pre>
            <pre>   , _    ,
 / |/ \ / |
 ~~|\ / ~~|
   ~ ~    ~</pre>
            <pre>   dBP dBP dBBBBP dBP dBP
      dBP dB'.BP     dBP
 dBBBBBP dB:.BP dBBBBBP
    dBP dB'.BP     dBP
   dBP dBBBBP     dBP</pre>
            <pre>  _    ___      _
 / \ |  |      / \ |
|   \|  |     |   \|
|   /|  |     |   /|
 \_/ | _|__|   \_/ |</pre>
            <pre>      O~~       O~~           O~~
    O O~~     O~~  O~~      O O~~
   O~ O~~   O~~     O~~    O~ O~~
 O~~  O~~   O~~      O~~ O~~  O~~
O~~~~ O~ O~~ O~~    O~~ O~~~~ O~ O~~
      O~~      O~~~           O~~</pre>
            <pre>        ,d8       ,a8888a,             ,d8
      ,d888     ,8P"'  `"Y8,         ,d888
    ,d8" 88    ,8P        Y8,      ,d8" 88
  ,d8"   88    88          88    ,d8"   88
,d8"     88    88          88  ,d8"     88
8888888888888  `8b        d8'  8888888888888
         88     `8ba,  ,ad8'            88
         88       "Y8888P"              88</pre>
            <pre> :::  === :::====  :::  ===
 :::  === :::  === :::  ===
 ======== ===  === ========
      === ===  ===      ===
      ===  ======       ===</pre>
            <pre>      _
/_(_ (.\ /_(_
   )  \_)   )</pre>
            <pre>       __
 /  | /  | /  |
(___|(   |(___|
    )|   )    )
   / |__/    /</pre>
