{{ $text := "PulumiUP: A two-hour virtual event for cloud engineers. Save your spot!" }}
{{ $url := relref . "/pulumi-up" }}
{{ $color := "orange" }}


<div class="mx-auto mb-12">
    <div class="inline-block">
        <a
            href="{{ $url }}"
            class="block p-2 bg-purple-400 hover:bg-purple-300 transition-all items-center text-purple-100 leading-none rounded-full flex md:inline-flex shadow-xl"
        >
            <span class="alert-chicklet flex rounded-full bg-{{ $color }}-700 border-4 border-{{ $color }}-600 uppercase text-white px-2 py-1 text-xs font-bold mr-2">New!</span>
            <span class="alert-content text-left flex-auto text-white text-sm md:text-base leading-normal">
                {{ $text | safeHTML }}
            </span>
            <i class="fill-current fas fa-chevron-right text-xs opacity-75 ml-2 mr-1"></i>
        </a>
    </div>
</div>
