<div class="mx-auto mb-12">
    <div class="inline-block relative overflow-visible">
        <!-- Relatively positioned mascot. Remove or comment this div to run an alert without it. -->
        <div class="absolute top-0 left-0" style="left: -10rem; top: -2rem">
            <img class="w-48" src="/images/mascot/pulumipus.svg" alt="Pulumi mascot">
        </div>
        <a href="{{ relref . "/webinars/pulumi-update-2020-04-29" }}"
            class="block p-2 bg-purple-400 hover:bg-purple-300 transition-all items-center text-purple-100 leading-none rounded-full flex md:inline-flex">
            <span class="flex rounded-full bg-orange-700 border-2 border-orange-600 uppercase text-white px-2 py-1 text-xs font-bold mr-2">New</span>
            <span class="text-left flex-auto text-white text-sm md:text-base leading-normal">
                Join us on April 29 for a fun walk-through of the latest Pulumi features with Corey Quinn.
            </span>
            <i class="fill-current fas fa-chevron-right text-xs opacity-75 ml-2 mr-1"></i>
        </a>
    </div>
</div>
