<section class="content-block content-block-anchors bg-black white-text" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 anchor-container" id="anchor-point">
                <ul class="anchor-list">
                    <li class="anchor-item"><a href="#pulumi-core">Pulumi Core</a></li>
                    <li class="anchor-item"><a href="#pulumi-service">Pulumi Service</a></li>
                    <li class="anchor-item"><a href="#ecosystem">Ecosystem</a></li>
                    <li class="anchor-item"><a href="#integrations">Integrations</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>