{{ $name := "2021Q1-workshops" }}
{{ $summary := "Ready to level-up your engineering skills? Join a Pulumi Workshop." }}
{{ $url := relref . "/resources#upcoming" }}
{{ $label := "Register Now"}}
{{ $external := false }}

{{/* When a banner is dismissed, its `name` property is recorded in localStorage to
prevent it from being shown again, so be sure to name new banners uniquely to prevent them
from being suppressed. */}}
<pulumi-banner name="{{ $name }}" dismissible>
    <div class="content">
        <span class="summary">{{ $summary | safeHTML }}</span>
        <span class="cta">
            <a href="{{ $url }}" {{ if $external }} target="_blank" rel="noopener noreferrer" {{ end }}>{{ $label | safeHTML }}</a>
        </span>
    </div>
</pulumi-banner>
