{{ $summary := "The Platform Engineer's Guide to Secure Infrastructure Automation." }}
{{ $url := "https://hubs.ly/Q03zS1dh0" }}
{{ $label := "Download now." }}

<div class="top-nav-banner-container w-full flex flex-col justify-center items-center rounded p-0.5">
    <div class="w-full top-nav-banner gradient">
        <a href="{{ $url }}" class="top-nav-banner-text w-full block text-center">
            {{ $summary }}
            <span class="underline"> {{ $label }}</span>
        </a>
    </div>
</div>