{{ $summary := "Free IDP Builder course: 3 modules, 6 workshops to build a secure, scalable platform and gain real-world
skills. " }}
{{ $url := "https://hubs.ly/Q03rVGM90" }}
{{ $label := "Register now ⟫" }}

<div class="top-nav-banner-container w-full flex flex-col justify-center items-center rounded p-0.5">
    <div class="w-full top-nav-banner gradient">
        <a href="{{ $url }}" class="top-nav-banner-text w-full block text-center">
            {{ $summary }}
            <span class="underline"> {{ $label }}</span>
        </a>
    </div>
</div>