<section class="content-block content-block-bar bg-purple-mid white-text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xlg-10 col-xlg-offset-1">
                <div class="row cols-with-dividers-md cols-are-spaced-md col-no-top-padding col-no-bottom-padding">
                    <div class="col col-md-6" data-mh="col">
                        <div class="row valign-center-lg cols-are-spaced-lg">
                            <div class="col col-lg-6 text-center-xs text-center-sm text-center-md text-center">
                                <p>Any Cloud</p>
                            </div>
                            <div class="col col-lg-6">
                                <div class="content">
                                    <ul class="logo-roll text-center-xs text-center-sm text-center-md">
                                        <li><a data-tracking-id="partials-cloud-lang-logos-aws" href="/aws"><img src="/logos/tech/logo-aws_white.png?v1" alt="aws" width="47"></a></li>
                                        <li><a data-tracking-id="partials-cloud-lang-logos-azure" href="/azure"><img src="/logos/tech/logo-azure.png?v1" alt="azure" width="39"></a></li>
                                        <li><a data-tracking-id="partials-cloud-lang-logos-gcp" href="/gcp"><img src="/logos/tech/logo-gd.png?v1" alt="gd" width="38"></a></li>
                                        <li><a data-tracking-id="partials-cloud-lang-logos-kubernetes" href="/kubernetes"><img src="/logos/tech/logo-kubernetes.png?v1" alt="kubernetes" width="39"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6" data-mh="col">
                        <div class="row valign-center-lg cols-are-spaced-lg">
                            <div class="col col-lg-6">
                                <div class="content">
                                    <ul class="logo-roll text-center-xs text-center-sm text-center-md">
                                        <li><img src="/logos/tech/logo-js.png?v1" alt="js" width="36"></li>
                                        <li><img src="/logos/tech/logo-python.png?v1" alt="python" width="34"></li>
                                        <li><img src="/logos/tech/logo-golang.png?v1" alt="golang" width="63"></li>
                                        <li><img src="/logos/tech/logo-ts.png?v1" alt="typescript" width="36"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-6 text-center-xs text-center-sm text-center-md text-center">
                                <p>Any Language</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
