<section id="contact" class="py-16 px-4 border-b border-gray-300">
        <div class="md:max-w-2xl md:mx-auto">
            <div class="w-full ">
                <div class="card mt-4 mx-auto md:w-full md:mt-0 p-10 bg-white">
                    <h1 class="heading-1 mb-6">How can we help you?</h1>
                    <div class="w-full">
                        <div class="hs-form hs-form-fg-dark font-normal">
                            <pulumi-contact-us-form
                                items="{{ .Params.form | jsonify }}"
                                label-class="block mb-2 font-normal text-sm"
                                select-class="w-full p-2 text-sm rounded block text-gray-700 border border-gray-300 rounded bg-white focus:outline-none focus:ring focus:ring-violet-primary"
                            ></pulumi-contact-us-form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-16">
                <h2 class="font-overline my-6">Our Address</h2>
                <p class="m-0">
                    Pulumi Corporation<br />
                    601 Union St., Suite 1415<br />
                    Seattle, WA 98101
                </p>
            </div>
        </div>
</section>
