<div>
    <div class="flex flex-row max-w-full">
        <a id="create-account-github" class="btn bg-gray-300 border border-gray-300 hover:bg-gray-200 mb-5 flex justify-center w-1/2 mr-4"
            href="https://app.pulumi.com/signup?reason=pass_through&type=github.com" track-click>
            <img class="h-10 my-auto mr-4" src="/logos/tech/github.svg" alt="GitHub">
            <p class="hero--registration-button my-auto">GitHub</p>
        </a>
        <a id="create-account-gitlab" class="btn bg-gray-300 border border-gray-300 hover:bg-gray-200 mb-5 flex justify-center w-1/2 mr-4"
            href="https://app.pulumi.com/signup?reason=pass_through&type=gitlab.com" track-click>
            <img class="h-10 my-auto mr-4" src="/logos/tech/gitlab.svg" alt="GitLab">
            <p class="hero--registration-button my-auto">GitLab</p>
        </a>
    </div>
    <div class="flex flex-row max-w-full">
        <a id="create-account-bitbucket" class="btn bg-gray-300 border border-gray-300 hover:bg-gray-200 mb-5 flex justify-center w-1/2 mr-4"
            href="https://app.pulumi.com/signup?reason=pass_through&type=bitbucket.org" track-click>
            <img class="h-10 my-auto mr-4" src="/logos/tech/atlassian.svg" alt="BitBucket">
            <p class="hero--registration-button my-auto">Bitbucket</p>
        </a>
        <a id="create-account-email" class="btn bg-gray-300 border border-gray-300 hover:bg-gray-200 mb-5 flex justify-center w-1/2 mr-4"
            href="https://app.pulumi.com/signup/email" track-click>
            <i class="h-10 my-auto mr-4 text-black text-4xl fa fa-envelope"></i>
            <p class="hero--registration-button my-auto">Email</p>
        </a>
    </div>
</div>