<nav class="footer bg-purple-700 py-8 px-4">
    <div class="container mx-auto">
        <footer>
            <div class="md:flex items-top justify-between flex-wrap">

                <div class="mb-6 md:w-4/12">
                    <a data-tracking-id="partials-footer-pulumi-logo" class="block mt-2" href="/">
                        <img class="h-10 opacity-50" src="/images/logo/logo-white.svg" alt="Pulumi logo">
                    </a>
                    <a data-tracking-id="partials-footer-team-email" class="inline-block my-4 opacity-50 text-white text-lg" href="mailto:team@pulumi.com">team@pulumi.com</a>
                    <ul class="flex inline-items text-blue-300 text-2xl">
                        <li class="mr-4"><a data-tracking-id="partials-footer-twitter" class="hover:text-blue-200" href="https://twitter.com/pulumicorp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="mr-4"><a data-tracking-id="partials-footer-linkedin" class="hover:text-blue-200" href="https://www.linkedin.com/company/pulumi/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="mr-4"><a data-tracking-id="partials-footer-github" class="hover:text-blue-200" href="https://github.com/pulumi/" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li class="mr-4"><a data-tracking-id="partials-footer-youtube" class="hover:text-blue-200" href="https://www.youtube.com/channel/UC2Dhyn4Ev52YSbcpfnfP0Mw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a data-tracking-id="partials-footer-slack" class="hover:text-blue-200" href="https://slack.pulumi.com/" target="_blank"><i class="fab fa-slack-hash"></i></a></li>
                    </ul>
                </div>

                <div class="flex flex-wrap items-top md:w-8/12">
                    <ul class="my-4 text-white w-1/2 md:w-3/12">
                        <li class="mb-4"><a data-tracking-id="partials-footer-get-started" href="{{ relref . "/docs/get-started" }}">Get Started</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-install" href="{{ relref . "/docs/get-started/install" }}">Install</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-documentation" href="{{ relref . "/docs/reference" }}">Documentation</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-apis" href="{{ relref . "/docs/reference/pkg" }}">APIs</a></li>
                    </ul>
                    <ul class="my-4 text-white w-1/2 md:w-3/12">
                        <li class="mb-4"><a data-tracking-id="partials-footer-aws" href="{{ relref . "/partner/aws" }}">AWS</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-azure" href="{{ relref . "/partner/azure" }}">Azure</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-gcp" href="{{ relref . "/partner/gcp" }}">Google Cloud</a></li>
                    </ul>
                    <ul class="my-4 text-white w-1/2 md:w-3/12">
                        <li class="mb-4"><a href="{{ relref . "/topics/containers" }}">Containers</a></li>
                        <li class="mb-4"><a href="{{ relref . "/topics/serverless" }}">Serverless</a></li>
                        <li class="mb-4"><a href="{{ relref . "/topics/kubernetes" }}">Kubernetes</a></li>
                    </ul>
                    <ul class="my-4 text-white w-1/2 md:w-3/12">
                        <li class="mb-4"><a data-tracking-id="partials-footer-about-us" href="{{ relref . "/about" }}">About Us</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-contact-us" href="{{ relref . "/contact" }}">Contact Us</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-support" href="{{ relref . "/support" }}">Support</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-careers" href="{{ relref . "/careers" }}">Careers</a></li>
                        <li class="mb-4"><a data-tracking-id="partials-footer-security" href="{{ relref . "/security" }}">Security</a></li>
                    </ul>
                </div>
            </div>

            <div class="text-white opacity-75 text-sm lg:flex items-center border-t border-purple-500 mt-4 pt-4">
                {{/* Note: The "2006" is just how dates are formatted; it will be replaced with the current year. */}}
                <p class="md:w-4/12">&copy; {{ now.Format "2006" }} Pulumi. All rights reserved.</p>

                <ul class="md:w-8/12">
                    {{ range .Site.Menus.legal }}
                        <li class="inline mr-2 lg:mr-4"><a data-tracking-id="partials-footer-legal-{{ .Title }}" href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </footer>
    </div>
</nav>
