<section id="{{ .form.section_id }}" class="py-8 bg-gray-200 px-4 lg:px-0">
    <div class="container mx-auto max-w-6xl py-8 sm:px-10 text-sm relative">
        <div class="mb-8 md:flex md:my-8 md:max-w-32 align-top">
            {{ if isset .form "quote" }}
                <div class="md:w-5/12 md:pt-10 md:mr-8">
                    <h4 class="text-black">
                        {{ .form.quote.title }}
                    </h4>
                    <div class="relative py-8 px-10">
                        <i class="fa fa-quote-left text-white absolute top-0 left-0 ml-4 mt-4 text-5xl z-0"></i>
                        <p class="leading-loose mt-0 z-10 relative text-gray-800 text-sm">
                            {{ .form.quote.content }}
                        </p>
                        <div class="leading-relaxed flex items-start">
                            <div>
                                <div class="text-blue-700 font-semibold text-sm">
                                    {{ .form.quote.name }}
                                </div>
                                <div class="text-blue-500">
                                    {{ .form.quote.name_title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
            <div class="mt-4 mx-auto md:w-7/12 md:mt-0 p-10 bg-white rounded rounded-lg shadow-lg border border-gray-300">
                <h3 class="text-center">{{ .form.headline }}</h3>
                <div class="mx-auto flex justify-center">
                    <div class="hs-form hs-form-fg-dark font-normal">
                        {{ partial "hubspot-form.html" (dict "hubspotFormID" .form.hubspot_form_id "classNames" .form.class_names) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
