<section id="get-started" class="bg-gray-100 py-16 px-4">
    <div class="container mx-auto max-w-5xl md:flex my-8 align-top justify-center text-center">
        <div class="md:w3-/12 mr-4">
            <h2>Get Started with Pulumi</h2>
            <p class="text-xl">
                Use Pulumi's open source SDK to create, deploy, and manage infrastructure on any cloud.
            </p>
        </div>
    </div>
    <div class="container mx-auto max-w-5xl">
        <div class="flex flex-row max-w-full">
            <a class="btn bg-transparent border border-gray-300 hover:bg-gray-200 p-5 mb-5 flex justify-center w-1/2 mr-4"
                href="{{ relref . "/docs/get-started/aws" }}">
                <img class="h-10" src="/logos/tech/aws.svg" alt="AWS">
            </a>
            <a class="btn bg-transparent border border-gray-300 hover:bg-gray-200 p-5 mb-5 flex justify-center w-1/2 ml-4"
                href="{{ relref . "/docs/get-started/azure" }}">
                <img class="h-10" src="/logos/tech/azure.svg" alt="Azure">
            </a>
        </div>
        <div class="flex flex-row max-w-full">
            <a class="btn bg-transparent border border-gray-300 hover:bg-gray-200 p-5 mb-5 flex justify-center w-1/2 mr-4"
                href="{{ relref . "/docs/get-started/gcp" }}">
                <img class="h-10" src="/logos/tech/gcp.svg" alt="Google Cloud">
            </a>
            <a class="btn bg-transparent border border-gray-300 hover:bg-gray-200 p-5 mb-5 flex justify-center w-1/2 ml-4"
                href="{{ relref . "/docs/get-started/kubernetes" }}">
                <img class="h-10" src="/logos/tech/k8s.svg" alt="Kubernetes">
            </a>
        </div>
    </div>
</section>
