{{ if or (hasPrefix .RelPermalink "/docs/") (hasPrefix .RelPermalink "/tutorials/") }}
    {{ partial "docs-top-nav" . }}
    <div class="header-container docs-hero">
        <span class="hide-on-pinned"> </span>
        {{ .Scratch.Set "mode" .Section }}
        {{ partial "docs/search.html" . }}
    </div>
{{ else }}
    <nav class="top-nav-bar transition-all">
        <div class="top-nav-container lg:container lg:px-4 flex-wrap justify-end">
            {{ partial "banner" . }}
            <div class="w-full p-4">
                <ul class="hidden w-full lg:flex justify-end items-center order-first lg:order-last">
                    <li class="github-widget mr-8">
                        <a
                            data-track="header-github-pulumi"
                            class="github-button"
                            href="https://github.com/pulumi/pulumi"
                            data-size="small"
                            data-show-count="true"
                            aria-label="Star pulumi/pulumi on GitHub"
                            >Star</a
                        >
                    </li>
                    <li class="mr-8">
                        <a data-track="header-slack" href="https://slack.pulumi.com/" target="_blank">
                            <i class="fab fa-slack"></i>
                            Slack
                        </a>
                    </li>
                    <li class="mr-8">
                        <a data-track="header-docs" href="/docs/">
                            <i class="fas fa-book mr-0.5"></i>
                            Docs
                        </a>
                    </li>
                    <li class="mr-8">
                        <a data-track="header-registry" href="/registry/">
                            <i class="fas fa-archive mr-0.5"></i>
                            Registry
                        </a>
                    </li>
                    <li class="mr-8">
                        <a data-track="header-ai" href="/ai">
                            <i class="fas fa-robot mr-0.5"></i>
                            Pulumi AI
                        </a>
                    </li>
                    <li class="mr-8">
                        <a data-track="header-contact" href="/contact">
                            <i class="fas fa-comment mr-0.5"></i>
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a data-track="header-console" href="https://app.pulumi.com/" target="_blank">
                            <i class="fas fa-user-circle"></i>
                            {{ partial "top-nav-user-toggle" }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-container">
        <nav class="lg:container lg:mx-auto lg:px-4 py-3">
            <header>
                <div class="flex flex-col lg:flex-row">
                    <div class="logo-container">
                        <a data-track="header-pulumi-logo" class="block" href="/">
                            <img class="normal-logo h-8" src="/images/logo/logo-on-white.svg" alt="Pulumi logo" />
                            <img class="dark-logo hidden h-8" src="/images/logo/logo-on-black.svg" alt="Pulumi logo" />
                        </a>
                    </div>
                    <ul class="desktop-menu">
                        <li class="header-nav-item-drop-down">
                            <span class="dropdown-title">Products</span>
                            <span class="dropdown-menu-caret"></span>
                            <div class="header-nav-drop-down-menu product">
                                <ul>
                                    <div>
                                        <div class="header-nav-drop-down-heading"></div>
                                        <div class="header-nav-drop-down-heading-text w-min">Products</div>
                                    </div>
                                    <div class="header-nav-two-col-drop-down mb-4">
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/infrastructure-as-code/">
                                                    <i class="fas fa-code fa-fw"></i>
                                                    Pulumi IaC
                                                    <div class="list-sub-title">Infrastructure as code for engineers in Node.js, Python, Go, .NET, Java, and YAML</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/secrets-management/">
                                                    <i class="fas fa-key fa-fw"></i>
                                                    Pulumi ESC
                                                    <div class="list-sub-title">Environments, Secrets and Configuration Management</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/pulumi-insights/">
                                                    <span class="mr-2">
                                                        <img src="/icons/magnifying-glass.svg" class="inline opacity-90" />
                                                    </span>
                                                    Pulumi Insights
                                                    <div class="list-sub-title">Asset management, compliance remediation, and AI insights over the cloud</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/pulumi-cloud/">
                                                    <i class="fas fa-cloud fa-fw"></i>
                                                    Pulumi Cloud
                                                    <div class="list-sub-title">Managed service for infrastructure as code and secrets management. Use SaaS or self-host.</div>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                    <div>
                                        <div class="header-nav-drop-down-heading"></div>
                                        <div class="header-nav-drop-down-heading-text w-min">Key Capabilities</div>
                                    </div>
                                    <div class="header-nav-two-col-drop-down mb-4">
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/copilot/">
                                                    <i class="fas fa-robot fa-fw"></i>
                                                    Pulumi Copilot
                                                    <div class="list-sub-title">Generative AI-powered intelligent cloud management
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/crossguard/">
                                                    <i class="fas fa-shield-alt fa-fw"></i>
                                                    Pulumi CrossGuard
                                                    <div class="list-sub-title">Enforce guardrails for security and compliance using policies in standard languages</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/pulumi-deployments/">
                                                    <i class="fas fa-rocket fa-fw"></i>
                                                    Pulumi Deployments
                                                    <div class="list-sub-title">Automate deployment and operational workflows for cloud infrastructure</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- This empty list item is a hack to give the text of the above
                                            item something to wrap against so it only takes up half the menu -->
                                        </li>
                                    </div>
                                    <div>
                                        <div class="header-nav-drop-down-heading"></div>
                                    </div>
                                    <div class="header-nav-two-col-drop-down">
                                        <li>
                                            <div class="list-title">
                                                <a href="/request-a-demo/">
                                                    <i class="fas fa-laptop-code fa-fw"></i>
                                                    Request a demo
                                                    <div class="list-sub-title">See how Pulumi can help you ship infrastructure faster</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- This empty list item is a hack to give the text of the above
                                            item something to wrap against so it only takes up half the menu -->
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </li>
                        <li class="header-nav-item-drop-down">
                            <span class="dropdown-title whitespace-nowrap">Solutions</span>
                            <span class="dropdown-menu-caret"></span>
                            <div class="header-nav-drop-down-menu">
                                <ul>
                                    <div class="header-nav-one-col-drop-down">
                                        <li>
                                            <div class="list-title">
                                                <a href="/testimonials/">
                                                    <i class="fas fa-quote-left fa-fw"></i>
                                                    Engineers love Pulumi
                                                    <div class="list-sub-title pr-2">Hear from engineers why they love Pulumi</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/case-studies/">
                                                    <i class="fas fa-file fa-fw"></i>
                                                    Case Studies
                                                    <div class="list-sub-title">Read how teams increased productivity</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/product/internal-developer-platforms/">
                                                    <i class="fas fa-users fa-fw"></i>
                                                    <span class="list-title-width-hold" title="Pulumi for Platform Engineering">Pulumi for Platform Engineering</span>
                                                    <div class="list-sub-title">Build and scale internal developer platforms</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/solutions/ai/">
                                                    <i class="fas fa-robot fa-fw"></i>
                                                    Pulumi for AI
                                                    <div class="list-sub-title pr-2">Discover, learn, and build infrastructure as code faster with AI</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/compliance/">
                                                    <i class="fas fa-shield-alt fa-fw"></i>
                                                    Cloud Compliance
                                                    <div class="list-sub-title pr-2">Automate PCI DSS, CIS, and ISO 27001 compliance across cloud providers</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/solutions/">
                                                    <i class="fas fa-lightbulb fa-fw"></i>
                                                    Solutions
                                                    <div class="list-sub-title">Explore ways to use Pulumi</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/enterprise/">
                                                    <i class="fas fa-building fa-fw"></i>
                                                    Enterprises
                                                    <div class="list-sub-title pr-2">Learn how Pulumi serves enterprise needs</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/proserv/">
                                                    <i class="fas fa-briefcase fa-fw"></i>
                                                    Professional Services
                                                    <div class="list-sub-title pr-2">Explore our professional services offerings</div>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/pricing/">Pricing</a>
                        </li>
                        <li>
                            <a href="/docs/">Docs</a>
                        </li>
                        <li class="header-nav-item-drop-down">
                            <span class="dropdown-title">Learn</span>
                            <span class="dropdown-menu-caret"></span>
                            <div class="header-nav-drop-down-menu learn">
                                <ul>
                                    <div class="header-nav-two-col-drop-down">
                                        <li>
                                            <div class="list-title">
                                                <a href="/docs/iac/get-started">
                                                    <i class="fas fa-check fa-fw flex-wrap"></i>
                                                    Get started
                                                    <div class="list-sub-title">Follow a step-by-step guide to quickly learn Pulumi</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/pulumi-up/">
                                                    <i class="fas fa-calendar fa-fw flex-wrap"></i>
                                                    Register for PulumiUP 2025
                                                    <div class="list-sub-title">Happening May 6 — real-world platform engineering stories, product launches, and expert insights on cloud, IaC, and security.</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/blog/">
                                                    <i class="fas fa-blog fa-fw"></i>
                                                    Blog
                                                    <div class="list-sub-title">Read product news, best practices, and more</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/templates/">
                                                    <span>
                                                        <img src="/icons/square-foot.svg" class="inline opacity-90" />
                                                    </span>
                                                    Templates
                                                    <div class="list-sub-title ml-0.5">Deploy common architectures on any cloud</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/learn/">
                                                    <span class="mr-0.5">
                                                        <img src="/icons/graduation-cap.svg" class="inline opacity-90" />
                                                    </span>
                                                    Tutorials
                                                    <div class="list-sub-title -ml-0.5">Get hands-on with Pulumi concepts</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/case-studies/">
                                                    <i class="fas fa-file fa-fw"></i>
                                                    Case Studies
                                                    <div class="list-sub-title">Read how customers are innovating faster</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/events#upcoming">
                                                    <i class="fas fa-calendar fa-fw"></i>
                                                    Events and Workshops
                                                    <div class="list-sub-title">Register for upcoming sessions, or watch past sessions on-demand</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/answers/">
                                                    <i class="fas fa-robot mr-0.5"></i>
                                                    Pulumi Answers
                                                    <div class="list-sub-title">Collection of Q&A about how to set up different cloud infrastructures</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/community/">
                                                    <i class="fas fa-comments fa-fw"></i>
                                                    Community
                                                    <div class="list-sub-title">Where to find us</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/what-is/">
                                                    <i class="fas fa-book-reader fa-fw"></i>
                                                    What is ...?
                                                    <div class="list-sub-title">Dive into topics in and around the IaC universe</div>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </li>
                        <li class="header-nav-item-drop-down">
                            <span class="dropdown-title whitespace-nowrap">Company</span>
                            <span class="dropdown-menu-caret"></span>
                            <div class="header-nav-drop-down-menu company">
                                <ul>
                                    <div class="header-nav-one-col-drop-down min-w-40">
                                        <li>
                                            <div class="list-title">
                                                <a href="/about/">
                                                    <i class="fas fa-quote-left fa-fw"></i>
                                                    About us
                                                    <div class="list-sub-title">Our purpose and values</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/careers/">
                                                    <i class="fas fa-briefcase fa-fw"></i>
                                                    Careers
                                                    <div class="list-sub-title">Come work for Pulumi</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/about/newsroom/">
                                                    <i class="fas fa-book-open fa-fw"></i>
                                                    Newsroom
                                                    <div class="list-sub-title">Pulumi in the news</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-title">
                                                <a href="/awards/">
                                                    <i class="fas fa-trophy fa-fw"></i>
                                                    Awards
                                                    <div class="list-sub-title">Recognition from press and analysts</div>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <input class="mobile-menu-toggle" type="checkbox" id="mobile-menu" name="mobile-menu" />
                    <span class="mobile-menu-icon">
                        <label class="mobile-menu-closed" for="mobile-menu">
                            {{ partial "icon" (dict "icon" "hamburger-closed") }}
                        </label>
                        <label class="mobile-menu-open hidden" for="mobile-menu">
                            {{ partial "icon" (dict "icon" "hamburger-open") }}
                        </label>
                    </span>

                    <ul class="mobile-menu">
                        <ul id="mobile-dropdown">
                            <div>
                                <input id="product-mobile-menu" name="nav-menu-checkbox" class="invisible-checkbox" type="checkbox" />
                                <label id="product-menu-label" for="product-mobile-menu" class="mobile-menu-heading">Product<span class="dropdown-menu-caret"></span></label>
                                <hr />
                                <div class="mobile-menu-subitems-product">
                                    <div class="mobile-menu-sub-heading mx-5">
                                        <div>Products</div>
                                    </div>
                                    <li>
                                        <a href="/product/infrastructure-as-code/"> <i class="fas fa-code fa-fw"></i> Pulumi IaC </a>
                                    </li>
                                    <li>
                                        <a href="/product/secrets-management/"> <i class="fas fa-key fa-fw"></i> Pulumi ESC </a>
                                    </li>
                                    <li>
                                        <a href="/product/pulumi-insights/"> <span class="ml-1.5 mr-1.5">
                                            <img src="/icons/magnifying-glass.svg" class="inline opacity-90 h-5" />
                                        </span> Pulumi Insights </a>
                                    </li>
                                    <li>
                                        <a href="/product/pulumi-cloud/"> <i class="fas fa-cloud fa-fw"></i> Pulumi Cloud </a>
                                    </li>
                                    <div class="mobile-menu-sub-heading mx-5 mt-2">
                                        <div>Key Capabilities</div>
                                    </div>
                                    <li>
                                        <a href="/product/copilot/"> <i class="fas fa-robot fa-fw"></i> Pulumi Copilot </a>
                                    </li>
                                    <li>
                                        <a href="/crossguard/"> <i class="fas fa-shield-alt fa-fw"></i> Pulumi CrossGuard </a>
                                    </li>
                                    <li>
                                        <a href="/product/pulumi-deployments/"> <i class="fas fa-rocket fa-fw"></i> Pulumi Deployments </a>
                                    </li>
                                    <div class="mobile-menu-sub-heading mx-5 mt-2">
                                    </div>
                                    <li>
                                        <a href="/request-a-demo/"> <i class="fas fa-laptop-code fa-fw"></i> Request a demo </a>
                                    </li>
                                    <hr />
                                </div>
                            </div>
                            <div>
                                <input id="why-pulumi-mobile-menu" name="nav-menu-checkbox" class="invisible-checkbox" type="checkbox" />
                                <label id="why-pulumi-menu-label" for="why-pulumi-mobile-menu" class="mobile-menu-heading"
                                    >Solutions<span class="dropdown-menu-caret"></span
                                ></label>
                                <hr />
                                <div class="mobile-menu-subitems-why-pulumi">
                                    <li>
                                        <a href="/testimonials/"> <i class="fas fa-quote-left fa-fw"></i> Engineers love Pulumi </a>
                                    </li>
                                    <li>
                                        <a href="/case-studies/"> <i class="fas fa-file fa-fw"></i> Case Studies </a>
                                    </li>
                                    <li>
                                        <a href="/product/internal-developer-platforms/"> <i class="fas fa-users fa-fw"></i> Pulumi for Platform Engineering </a>
                                    </li>
                                    <li>
                                        <a href="/solutions/ai/"> <i class="fas fa-robot fa-fw"></i> Pulumi for AI </a>
                                    </li>
                                    <li>
                                        <a href="/compliance/"> <i class="fas fa-shield-alt fa-fw"></i> Cloud Compliance </a>
                                    </li>
                                    <li>
                                        <a href="/solutions/"> <i class="fas fa-lightbulb fa-fw"></i> Solutions </a>
                                    </li>
                                    <li>
                                        <a href="/enterprise/"> <i class="fas fa-building fa-fw"></i> Enterprises </a>
                                    </li>
                                    <li>
                                        <a href="/proserv/"> <i class="fas fa-briefcase fa-fw"></i> Professional Services </a>
                                    </li>
                                    <hr />
                                </div>
                            </div>

                            <li class="mobile-menu-item"><a href="/pricing/">Pricing</a></li>
                            <hr />
                            <li class="mobile-menu-item"><a href="/docs/">Docs</a></li>
                            <hr />
                            <div>
                                <input id="learn-mobile-menu" name="nav-menu-checkbox" class="invisible-checkbox" type="checkbox" />
                                <label id="learn-menu-label" for="learn-mobile-menu" class="mobile-menu-heading">Learn<span class="dropdown-menu-caret"></span></label>

                                <hr />
                                <div class="mobile-menu-subitems-learn">
                                    <li>
                                        <a href="/pulumi-up/"> <i class="fas fa-calendar fa-fw"></i> Register for PulumiUP 2025 </a>
                                    </li>
                                    <li>
                                        <a href="/blog/"> <i class="fas fa-blog fa-fw"></i> Blog </a>
                                    </li>
                                    <li>
                                        <a href="/templates/"><span> <img src="/icons/square-foot.svg" class="inline h-8 opacity-90" /> </span>Templates
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/learn/"> <span class="ml-1 mr-1">
                                            <img src="/icons/graduation-cap.svg" class="inline opacity-90 h-5" />
                                        </span> Tutorials </a>
                                    </li>
                                    <li>
                                        <a href="/case-studies/"> <i class="fas fa-file fa-fw"></i> Case Studies </a>
                                    </li>
                                    <li>
                                        <a href="/events#upcoming"> <i class="fas fa-calendar fa-fw"></i> Events and Workshops </a>
                                    </li>
                                    <li>
                                        <a href="/answers/"> <i class="fas fa-robot mr-0.5"></i> Pulumi Answers </a>
                                    </li>
                                    <li>
                                        <a href="/community/"> <i class="fas fa-comments fa-fw"></i> Community </a>
                                    </li>
                                    <li>
                                        <a href="/what-is/"> <i class="fas fa-book-reader fa-fw"></i> What is ...? </a>
                                    </li>
                                </div>
                            </div>
                            <div>
                                <input id="company-mobile-menu" name="nav-menu-checkbox" class="invisible-checkbox" type="checkbox" />
                                <label id="company-menu-label" for="company-mobile-menu" class="mobile-menu-heading"
                                    >Company<span class="dropdown-menu-caret"></span
                                ></label>
                                <hr />
                                <div class="mobile-menu-subitems-company">
                                    <li>
                                        <a href="/about/"> <i class="fas fa-quote-left fa-fw"></i> About us </a>
                                    </li>
                                    <li>
                                        <a href="/careers/"> <i class="fas fa-briefcase fa-fw"></i> Careers </a>
                                    </li>
                                    <li>
                                        <a href="/about/newsroom/"> <i class="fas fa-book-open fa-fw"></i> Newsroom </a>
                                    </li>
                                    <li>
                                        <a href="/awards/"> <i class="fas fa-trophy fa-fw"></i> Awards </a>
                                    </li>
                                    <hr />
                                </div>
                            </div>
                        </ul>
                        <div class="mobile-menu-footer">
                            <div class="flex flex-wrap space-x-2 items-center justify-around py-4 px-2 border-t my-4 mx-2 border-gray-200">
                                <a class="mb-2" href="https://github.com/pulumi/pulumi">GitHub</a>
                                <a class="mb-2" href="https://slack.pulumi.com/">Slack</a>
                                <a class="mb-2" href="/docs/">Docs</a>
                                <a class="mb-2" href="/registry/">Registry</a>
                                <a class="mb-2" href="/ai">Pulumi AI</a>
                                <a class="mb-2" href="/contact">Contact Us</a>
                                <a class="mb-2" href="https://app.pulumi.com/">
                                    {{ partial "top-nav-user-toggle" }}
                                </a>
                            </div>
                            <div class="text-center bg-violet-600 text-white get-started">
                                <a class="block" data-track="header-signup-mobile" href="https://app.pulumi.com/signup" title="Sign up for Pulumi Cloud"> Sign Up </a>
                            </div>
                        </div>
                    </ul>

                    <div class="cta-container my-2">
                        <header-cta button-class="header-btn-primary"></header-cta>
                    </div>
                </div>
            </header>
        </nav>
    </div>
{{ end }}
