<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-site-verification" content="j-Opn93zR4YQcV5bbYN99BmNc48BT5mzd2VpzKaW9YY" />

    {{ if isset .Params "redirect_to" }}
        <meta http-equiv="refresh" content="0; url={{ .Params.redirect_to }}" />
    {{ end }}

    <!--
        Metadata tags for OpenGraph and Twitter.
    -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="pulumi">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@PulumiCorp">

    {{ if isset .Params "meta_twitter_creator" }}
        <meta name="twitter:creator" content="{{ .Params.meta_twitter_creator }}">
    {{ else if isset .Params "authors" }}
        {{ range $idx, $authorName := .Param "authors" }}
            {{ $authorData := index $.Site.Data.team.team $authorName }}
            {{ with $authorData.social }}
                {{ with .twitter }}
                    <meta name="twitter:creator" content="@{{ . }}">
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if isset .Params "meta_title" }}
        <meta property="og:title" content="{{ .Params.meta_title }}">
    {{ else if isset .Params "title" }}
        <meta property="og:title" content="{{ .Params.title }}">
    {{ else }}
        <meta property="og:title" content="{{ .Site.Title }}">
    {{ end }}

    {{ if isset .Params "meta_desc" }}
        <meta name="description" content="{{ .Params.meta_desc }}">
        <meta property="og:description" content="{{ .Params.meta_desc }}">
    {{ else if isset .Params "summary" }}
        <meta name="description" content="{{ .Params.summary }}">
        <meta property="og:description" content="{{ .Params.summary }}">
    {{ else if ne .Summary "" }}
        <meta name="description" content="{{ .Summary }}">
        <meta property="og:description" content="{{ .Summary }}">
    {{ else }}
        {{ $defaultDescription := "Pulumi provides a cloud development model for serverless functions, container apps, and data infrastructure for any cloud." }}
        <meta name="description" content="{{ $defaultDescription }}">
        <meta property="og:description" content="{{ $defaultDescription }}">
    {{ end }}

    {{ $image := "/social/pulumi.png" }}
    {{ if isset .Params "meta_image" }}
        {{ if eq .Section "blog" }}
            {{ $image = (.Resources.GetMatch .Params.meta_image).RelPermalink }}
        {{ else }}
            {{ $image = .Params.meta_image }}
        {{ end }}
    {{ end }}
    <meta property="og:image" content="{{ $image | absURL }}">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - Pulumi{{ end }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <!--
        The canonical URL for the website. In all cases, this should be the public-facing
        production URL of the site, to avoid SEO penalties for duplicate content.
        https://support.google.com/webmasters/answer/139066?hl=en
        https://en.wikipedia.org/wiki/Canonical_link_element
    -->
    <link rel="canonical" href="{{ .Site.Params.canonicalURL }}{{ .RelPermalink }}" >

    <!-- RSS link for the blog. -->
    <link rel="alternate" type="application/rss+xml" href="{{ "/blog/rss.xml" | absURL }}" title="Pulumi Blog" />

    <!--
        Build Sass. Generated file will contain content hash in filename,
        so no need to add query param to cache bust.
    -->
    {{ $toCSS := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $postCSS := (dict "config" "assets/config/postcss.config.js") }}
    {{ $styles := resources.Get "sass/styles.scss" | resources.ToCSS $toCSS | resources.PostCSS $postCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {{- if eq hugo.Environment "production" }}
    <!--Segment tracking-->
    <script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("UK90Ofwacetj5VCPJ7cUgkbNcKLSHO3u");
    analytics.page();
    }}();
    </script>
    {{- end }}

    <!-- Apply anchor links to headings in the docs, blog and taxonomy pages. -->
    {{ if and (not .IsHome) (.Section) (in "docs blog authors tags" .Section) }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                anchors.add("h1:not(.no-anchor), h2:not(.no-anchor), h3:not(.no-anchor), h4:not(.no-anchor), h5:not(.no-anchor), h6:not(.no-anchor)");
            });
        </script>
    {{ end }}

    {{/* Tests to enforce required frontmatter for certain content types. */}}
    {{ if eq .Type "blog" }}
        {{ if not (isset .Page.Params "authors") }}
            {{ errorf "Blog posts require authors: %s" .File.Path }}
        {{ else }}
            {{ range $authorID := .Page.Params.authors }}
                {{ if not (index $.Site.Data.team.team $authorID) }}
                    {{ errorf "Blog posts author (%s) not found: %s" $authorID $.Page.File.Path }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if not (isset .Page.Params "tags") }}
            {{ errorf "Blog posts require tags: %s" .File.Path }}
        {{ end }}
    {{ end }}
</head>
