<section id="case-study" class="py-16 px-4">
    <div class="container mx-auto max-w-5xl">
        <h6 class="text-gray-500 uppercase">Featured Customer</h6>
        <h2 class="mt-0">Learning Machine</h2>
        <p>
            <a href="https://www.learningmachine.com/" target="_blank">Learning
            Machine</a>, a blockchain SaaS company faced two challenges with their
            cloud infrastructure:
        </p>
        <ul class="list-disc pl-5">
            <li>Skills gaps between Dev and DevOps creating silos, and fragility.</li>
            <li>The need to more rapidly provision their expanding roster of new customers.</li>
        </ul>
        <p>
            By moving to Pulumi, Learning Machine were able to solve both challenges
            with significant increases in capability:
        </p>
        <div class="md:flex my-8 md:max-w-32">
            <figure class="md:w-1/2">
                <img class="mb-4" src="/images/customers/learning_machine_info-1.svg">
                <figcaption class="text-gray-600 text-xs">
                    25,000 Lines of CloudFormation reduced to 500 Lines of JavaScript
                </figcaption>
            </figure>
            <figure class="md:w-1/2">
                <img class="mb-4" src="/images/customers/learning_machine_info-2.svg">
                <figcaption class="text-gray-600 text-xs">
                    New customer provisioning time reduced from 3 weeks to 1 hour
                </figcaption>
            </figure>
        </div>
        <blockquote class="border-l-4 rounded border-orange-300 px-4 py-1">
            <p class="italic">
                Pulumi has given our team the tools and framework to achieve a unified
                development and DevOps model, boosting productivity and taking our
                business to any cloud environment that our customers need. We retired
                25,000 lines of complex code that few team members understood and
                replaced it with 100s of lines in a real programming language.
            </p>
            <p>
                &mdash; Kim Hamilton, CTO
                <a class="link" href="https://www.learningmachine.com/" target="_blank">Learning Machine</a>
            </p>
        </blockquote>
    </div>
</section>
