<section id="newsroom" class="py-16 px-4 md:px-0">
    <div class="container md:mx-auto md:flex md:max-w-5xl">
        <div class="md:w-1/2">
            <h3 class="text-center mb-8">Press Releases</h3>
            <ul class="list-none">
                {{ range $.Site.Data.newsroom.releases }}
                    <li class="text-sm mb-8 pb-8 border-b border-gray-200">
                        <h6>{{ .date }}</h6>
                        <h5>{{ .title }}</h5>
                        <p>
                            {{ .summary }}
                        </p>
                        <a href="{{ .url }}">Read more</a> &raquo;
                    </li>
                {{ end }}
            </ul>
        </div>

        <div class="md:w-1/2 md:ml-8">
            <h3 class="text-center mb-8">Recent News</h3>
            <ul class="list-none">
                {{ range $.Site.Data.newsroom.coverage }}
                    <li class="text-sm mb-8 pb-8 border-b border-gray-200">
                        <h6>{{ .date }}</h6>
                        <div class="md:flex items-start">
                            <img class="w-12 mr-4 mt-2" src="{{ .img }}" alt="Source">
                            <div>
                                <h5>{{ .title }}</h5>
                                <a href="{{ .url }}">Read more</a> &raquo;
                            </div>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
