<ul class="social-channels {{ with .classes }}{{ . }}{{ end }}">
    <li><a href="https://twitter.com/pulumicorp" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://github.com/pulumi/" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UC2Dhyn4Ev52YSbcpfnfP0Mw" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://www.linkedin.com/company/pulumi/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://slack.pulumi.io/" target="_blank"><i class="fab fa-slack-hash"></i></a></li>
</ul>
