<section class="py-16">
    <div class="container mx-auto text-center">
        <h2 class="mb-4">Find Pulumi on</h2>
        <ul class="inline-flex flex-wrap justify-center list-none text-5xl p-0">
            <li class="mx-12">
                <a class="text-violet-primary hover:text-violet-800" href="https://x.com/pulumicorp" target="_blank">{{ partial "icon.html" (dict "name" "brand/x") }}</a>
            </li>
            <li class="mx-12">
                <a class="text-violet-primary hover:text-violet-800" href="https://github.com/pulumi/" target="_blank">{{ partial "icon.html" (dict "name" "brand/github") }}</a>
            </li>
            <li class="mx-12">
                <a class="text-violet-primary hover:text-violet-800" href="https://www.youtube.com/channel/UC2Dhyn4Ev52YSbcpfnfP0Mw" target="_blank">{{ partial "icon.html" (dict "name" "brand/youtube") }}</a>
            </li>
            <li class="mx-12">
                <a class="text-violet-primary hover:text-violet-800" href="https://www.linkedin.com/company/pulumi/" target="_blank">{{ partial "icon.html" (dict "name" "brand/linkedin") }}</a>
            </li>
            <li class="mx-12">
                <a class="text-violet-primary hover:text-violet-800" href="https://slack.pulumi.com/" target="_blank">{{ partial "icon.html" (dict "name" "brand/slack") }}</a>
            </li>
        </ul>
    </div>
</section>
