<!--
3 rows of customer logos carousel - data looks like
    logos:
        - name: name1
        - name: name2
        - name: name3
        ...
-->

<!-- divide the list into thirds to make the 3 rows -->
{{ $length := .logos | len }}
{{ $row_size := div $length 3 }}
{{ $first_row := first $row_size .logos }}
{{ $second_row := first $row_size (after $row_size .logos) }}
{{ $third_row := after (mul 2 $row_size) .logos }}

<div class="stacked-carousel-container relative mx-auto">
    <div class="carousel-left-primary">
        {{ range $first_row }}
            <div class="w-24 h-12 m-4">{{ partial "customer-logo.html" (dict "logo" .name) }}</div>
        {{ end }}
    </div>
    <div class="carousel-left-primary carousel-left-secondary">
        {{ range $first_row }}
            <div class="w-24 h-12 m-4">{{ partial "customer-logo.html" (dict "logo" .name) }}</div>
        {{ end }}
    </div>
    <div class="carousel-right-primary top-20">
        {{ range $second_row }}
            <div class="w-24 h-12 m-4">{{ partial "customer-logo.html" (dict "logo" .name) }}</div>
        {{ end }}
    </div>
    <div class="carousel-right-primary carousel-right-secondary top-20">
        {{ range $second_row }}
            <div class="w-24 h-12 m-4">{{ partial "customer-logo.html" (dict "logo" .name) }}</div>
        {{ end }}
    </div>
    <div class="carousel-left-primary top-40">
        {{ range $third_row }}
            <div class="w-24 h-12 m-4">{{ partial "customer-logo.html" (dict "logo" .name) }}</div>
        {{ end }}
    </div>
    <div class="carousel-left-primary carousel-left-secondary top-40">
        {{ range $third_row }}
            <div class="w-24 h-12 m-4">{{ partial "customer-logo.html" (dict "logo" .name) }}</div>
        {{ end }}
    </div>
</div>