<section class="content-block">
    <div class="content-header text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="content">
                        <h2>Companies Innovating with Pulumi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xlg-8 col-xlg-offset-2">
                <div class="testimonials-wrapper">
                    <div class="testimonials-dots text-center margin-bottom-50"></div>
                    <div class="testimonials row text-center">
                        <div class="item col-md-4 h-100 testimonial">
                            <img src="/logos/customers/tableau_logo.png">
                        </div>
                        <div class="item col-md-4 h-100 testimonial">
                            <img src="/logos/customers/mercedes-benz-RDNA_logo.png">
                        </div>
                        <div class="item col-md-4 h-100 testimonial">
                            <img src="/logos/customers/mindbody_logo.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="content">
                        <blockquote>
                            We have hundreds of microservices on-premises, and we are in the process of migrating them
                            to the cloud. Pulumi is solving the multi-cloud problem exactly the way I was looking for.
                            We want to empower our teams to think and act for themselves and Pulumi helps development
                            teams build cloud infrastructure using a language of their choice and allows infrastructure
                            engineering teams to build scalable reusable modules that can be leveraged by other teams.
                            So far, it’s proving to be much easier to develop and I like the ability for different teams
                            to collaborate on infrastructure code. Our team really enjoys working with the Pulumi team
                            and working on the actual Pulumi product.
                        </blockquote>
                        <p><strong>Dinesh Ramamurthy, Engineering Manager<br>
                            <a href="http://mbrdna.com/" target="_blank">
                                Mercedes-Benz Research &amp; Development North America</a></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
