<li class="w-full m-0 p-2{{ cond (eq .Params.featured true) " order-first" "" }}">
    {{ if eq .Params.featured true }}
        <p class="hidden text-2xl font-bold lg:block">FEATURED</p>
    {{ end }}
    <article class="rounded shadow-md bg-white border border-gray-200 mb-10 flex flex-col lg:flex-row mx-auto">
        <div class="w-full {{ cond (eq .Params.featured true) "lg:w-5/12" "lg:w-4/12" }}">
            {{ if .Params.external }}
            <a href="{{ .Params.url_slug }}">
            {{ else }}
            <a class="text-2xl" href="/webinars/{{ .Params.url_slug }}/">
            {{ end }}
                <img class="w-full h-full" src="{{ .Params.preview_image }}" />
            </a>
        </div>
        <div class="w-full {{ cond (eq .Params.featured true) "lg:w-7/12" "lg:w-8/12" }} p-3 ml-3">
            <div class="">
                {{ if .Params.external }}
                    <a class="text-xl md:text-2xl font-bold" target="_blank" rel="noopener noreferrer" href="{{ .Params.url_slug }}">
                        {{ .Params.title }}
                        <i class="text-sm ml-2 fas fa-external-link-alt"></i>
                    </a>
                {{ else }}
                    <a class="text-xl md:text-2xl font-bold" href="/webinars/{{ .Params.url_slug }}/">
                        {{ .Params.title }}
                    </a>
                {{ end }}
                <p class="mb-5">
                    {{ .Params.meta_desc }}
                </p>
                {{ if eq .Params.pre_recorded false}}
                    <p class="webinar-datetime my-0 text-lg">
                        <i class="fas fa-calendar mr-2"></i>
                        <span data-datetime="{{ .Params.main.sortable_date }}">{{ .Params.main.datetime }}</span>
                    </p>
                {{ end }}
                <p class="my-0 text-lg">
                    <i class="fas fa-clock mr-2"></i>
                    {{ .Params.main.duration }}
                </p>
            </div>
        </div>
    </article>
    {{ if eq .Params.featured true }}
        {{ $listHeaderText := cond (eq .Params.pre_recorded true) "LATEST" "UPCOMING"}}
        <p class="hidden text-2xl font-bold lg:block mt-20">{{ $listHeaderText }}</p>
    {{ end }}
</li>
