{{ define "hero" }}
    {{ if eq .Params.aws_dev_day true }}
        <header class="aws-dev-day-header relative w-full py-32 px-16 overflow-hidden">
            <div class="flex flex-col justify-center items-center">
                <img src="/images/webinar/aws-dev-day/devdaywhite.png" alt="AWS Dev Day" />
                <h1 class="text-white">{{ .Params.hero.title }}</h1>
            </div>
        </header>
    {{ else }}
        {{ partial "hero.html" (dict "title" .Params.hero.title "small_title" "true") }}
    {{ end }}
{{ end }}

{{ define "main" }}
    <section id="webinarLandingPage" class="px-4">
        <div class="container mx-auto max-w-6xl pt-16 pb-8 md:flex">
            {{ if .Params.gated }}
                {{ $buttonText := (cond (eq .Params.pre_recorded true) "WATCH NOW" "REGISTER NOW") }}
                {{ $multipleSessions := isset .Params "multiple" }}
                <div class="md:w-1/2 md:mx-8">
                    {{ $preRecorded := .Params.pre_recorded }}
                    {{ with .Params.main }}
                        <h4>Overview</h4>
                        <p><a href="#webinarRegistrationForm" class="btn md:hidden">{{ $buttonText }}</a></p>
                        {{ if eq $preRecorded true }}
                            <span class="uppercase text-orange text-sm font-bold">On Demand | Recorded on:</span>
                        {{ end }}
                        {{ if $multipleSessions }}
                            <span>Multiple sessions available. Check the registration form for dates and times.</span>
                        {{ else }}
                            <h6 class="mt-4"><pulumi-datetime class="uppercase text-orange text-sm font-bold" date="{{ .sortable_date }}"></pulumi-datetime></h6>
                        {{ end }}
                        <h6 class="mt-2">Duration: {{ .duration }}</h6>
                        {{ if .youtube_url }}
                            <div class="my-8">
                                <a href="{{ .youtube_url }}" target="_blank" rel="noopener noreferrer" class="btn-secondary">WATCH NOW</a>
                            </div>
                        {{ end }}
                        <div class="description text-gray-600">
                            {{ .description | markdownify }}
                        </div>
                        <h4>Presenters</h4>
                        <ul class="list-none p-0">
                            {{ range .presenters }}
                                <li class="mb-4">
                                    <div class="text-purple">{{ .name }}</div>
                                    <div class="text-sm">{{ .role }}</div>
                                </li>
                            {{ end }}
                        </ul>
                        {{ if isset . "learn" }}
                            <h4 class="text-orange">Join us to learn:</h4>
                            <ul class="text-gray-600">
                                {{ range .learn }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
                </div>
                <div id="webinarRegistrationForm" class="mt-10 md:mt-0 md:w-1/2 md:mx-8 bg-gray-200 rounded p-6">
                    {{ if .Params.unlisted }}
                        <h4 class="text-orange">Recording Coming Soon!</h4>
                        <p>
                            This live webinar is no longer available. The recording will be posted to this page when it is available.
                        </p>
                    {{ else }}
                        {{ $formHeader := (cond (eq .Params.pre_recorded true) "Watch The Recording Now" "Register Here") }}
                        {{ if isset .Params.form "header" }}
                            {{ $formHeader = .Params.form.header }}
                        {{ end }}
                        <h4 class="text-orange">{{ $formHeader }}</h4>
                        {{ if $multipleSessions }}
                            <pulumi-webinar-form-select
                                label-class="block mb-2 font-normal text-sm"
                                select-class="w-full px-2 py-1 text-sm rounded block text-gray-700 border border-gray-300 rounded bg-white focus:outline-none focus:ring"
                                sessions="{{ .Params.multiple | jsonify }}"
                            ></pulumi-webinar-form-select>
                        {{ else }}
                            <pulumi-hubspot-form form-id="{{ .Params.form.hubspot_form_id }}" go-to-webinar-key="{{ .Params.form.gotowebinar_key }}"></pulumi-hubspot-form>
                        {{ end }}
                    {{ end }}
                </div>
            {{ else }}
                <div class="md:mx-auto w-full">
                    {{ $topLevelContext := . }}
                    {{ with .Params.main }}
                        <!-- Rendered with Hugo's YouTube shortcode: https://gohugo.io/content-management/shortcodes/#youtube -->
                        <div class="rounded shadow-md mb-10" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                            <iframe src="{{ .youtube_url }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen=""></iframe>
                        </div>
                        <div class="my-10 flex">
                            <a href="#gettingStartedList" class="btn-primary mr-4">Get Started With Pulumi</a>
                            <a href="{{ relref $topLevelContext "/resources" }}" class="btn-secondary">More Resources</a>
                        </div>
                        <span class="text-sm font-bold">Recorded on:</span>
                        <time class="webinar-datetime text-sm font-bold">
                            <span data-datetime="{{ .sortable_date }}">{{ .datetime }}</span>
                        </time>
                        <p class="description text-gray-600">
                            {{ .description | markdownify }}
                        </p>
                        <h4>Presenters</h4>
                        <ul class="list-none p-0">
                            {{ range .presenters }}
                                <li class="mb-4">
                                    <div class="text-purple">{{ .name }}</div>
                                    <div class="text-sm">{{ .role }}</div>
                                </li>
                            {{ end }}
                        </ul>
                        {{ if isset . "learn" }}
                            <h4>What you will learn:</h4>
                            <ul class="text-gray-600">
                                {{ range .learn }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
                    {{ if .Params.transcript }}
                        <div class="mt-10">
                            <h4>Transcript</h4>
                            <p class="description">{{ .Params.transcript | markdownify }}</p>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </section>

    <section id="gettingStartedList" class="px-4">
        <div class="container mx-auto max-w-6xl pb-16">
            {{ if .Params.gated }}
                <div class="md:mx-8">
            {{ else }}
                <div>
            {{ end }}
                <h4 class="text-orange">Get Started with Pulumi</h4>
                <ul class="text-gray-600">
                    <li><strong><a class="link" href="{{ relref . "/docs/get-started/aws" }}">Create an AWS S3 Bucket</a></strong> then modify the bucket to host a static website.</li>
                    <li><strong><a class="link" href="{{ relref . "/docs/get-started/azure" }}">Create an Azure Resource Group and Storage Account</a></strong>, then export the storage account’s connection string.</li>
                    <li><strong><a class="link" href="{{ relref . "/docs/get-started/gcp" }}">Create a Google Cloud Storage Bucket</a></strong> and apply labels to that bucket.</li>
                    <li><strong><a class="link" href="{{ relref . "/docs/get-started/kubernetes" }}">Create a Kubernetes NGINX deployment</a></strong> and add a config value for MiniKube deployments.</li>
                    <li><strong><a class="link" href="{{ relref . "/docs/tutorials" }}">More topics and tutorials.</a></strong></li>
                </ul>
            </div>
        </div>
    </section>

    {{ partial "learnmore-contactus.html" . }}
{{ end }}
