{{ define "hero" }}
    <header class="header-hero">
        <div class="container mx-auto">
            <div class="mx-auto text-center">
                <h1>Pulumi is hiring.</h1>
                <section class="max-w-4xl container mx-auto text-center text-lg">
                    <p>
                        Pulumi is reinventing how people build modern cloud applications,
                        with a unique platform that combines deep systems and infrastructure innovation
                        with elegant programming models and developer tools.
                    </p>
                    <p>
                        Our team is a diverse and talented group of individuals, with backgrounds in
                        distributed cloud systems, programming languages, developer tools, and operating
                        systems, from companies from all corners of the industry. Our culture is
                        one of technical excellence, passion for teamwork, and customer obsession.
                    </p>
                </section>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <section class="max-w-4xl container mx-auto py-8 px-4 text-center text-lg">
        <h2 class="text-center mt-8">Apply Below 👇</h2>
        <div class="hire-jobs"></div>
        <script id="hire-embed-loader" async defer src="https://hire.withgoogle.com/s/embed/hire-jobs.js?company=pulumicom"></script>
    </section>
{{ end }}
