{{ define "hero" }}
    <header class="home-page-hero">
        <div class="home-page-hero-background border-b border-gray-300">
            <div class="flex">
                <div class="w-full p-6 home-page-hero-text lg:pt-8">
                    <h1 class="flex flex-col items-center">
                        <span class="inline-block mb-3 text-center" data-text="{{ index (.Params.hero.title) 0 }}"><span class="rainbow-text">{{ index (.Params.hero.title) 0 }}</span></span>
                        <span class="inline-block text-center" data-text="{{ index (.Params.hero.title) 1 }}">{{ index (.Params.hero.title) 1 }}</span>
                    </h1>

                    <p class="mt-6 text-center leading-7 text-xl">{{ .Params.hero.description | markdownify }}</p>

                    <div class="relative z-10 overlay-middle mt-8 flex text-center justify-center items-center flex-col mx-auto lg:mx-0 md:flex-row">
                        <a class="home-hero-btn-primary mr-0 md:mr-4 mb-3 md:mb-0" href="{{ .Params.hero.cta_link }}">{{ .Params.hero.cta_text }}</a>
                        <a class="btn-secondary home-hero-btn-secondary rounded-full cursor-pointer" href="{{ .Params.hero.secondary_cta_link }}">{{ .Params.hero.secondary_cta_text }}</a>
                    </div>
                </div>

                <!--<div class="hidden lg:block lg:w-1/2 p-6 flex justify-center align-center">
                    <img src="/images/home/dancing-music.svg" />
                </div>-->
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{ $pageContext := . }}
    <!-- Logos carousel -->
    <section class="container mx-auto text-center overflow-hidden px-3 mt-12" style="margin-bottom: -35px;">
        <h3 class="text-center text-xl">
            <a href="/case-studies" class="hover:underline">{{ .Params.customer_logos.title }}</a>
        </h3>
        <div class="mb-6">
            {{ partial "stacked-carousel.html" (dict "logos" .Params.customer_logos.logos "single_row" true "gray_hover" true ) }}
        </div>
    </section>

    <!-- 3 pillars -->
    <section id="benefits" 
        class="text-center my-6">
        <div class="container mx-auto flex flex-wrap justify-content items-stretch text-left p-8">
            {{ range $item := .Params.pillars.items }}
                <div class="w-full lg:w-1/3 p-3">
                    <div class="h-full card shadow-xl border-2 border-gray-200 bg-white p-12">
                        <div class="flex flex-row items-center justify-left">
                            <div class="icon-section text-center">
                                {{ partial "color-icon.html" (dict "icon" $item.icon "icon_color" $item.icon_color) }}
                            </div>
                            <div class="ml-4">
                                <h5>{{ $item.title }}</h5>
                            </div>
                        </div>
                        <div class="mt-6">
                            <p>{{ $item.description | markdownify }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

    <!--  IDP  -->
    <section class="py-12 my-12 px-6 lg:px-0 home-page-section bg-gradient-to-r from-white from-0% via-violet-200 via-50% to-white to-100%">
        <div class="container mx-auto z-10">
            <div class="w-full flex flex-col lg:flex-row items-center justify-center mx-auto">
                <div class="w-full lg:w-1/2 z-10 px-8">
                    <h3>{{ .Params.idp.title }}</h3>
                    <p class="text-lg">{{ .Params.idp.description | markdownify }}</p>
                    <div class="mt-8">
                        <span class="text-lg">Learn more: </span>
                        <a href="/product/internal-developer-platforms" class="underline text-lg">Pulumi IDP<i class="fa fa-arrow-right ml-2"></i></a>
                    </div>
                </div>

                <div class="flex items-center justify-center w-full lg:w-1/2">
                    <img class="h-96" src="{{ .Params.idp.image }}" />
                </div>
            </div>
        </div>
    </section>

    <!-- CLEAR quote -->
    <section class="w-full md:w-2/3 lg:w-1/2 mx-auto mt-16 px-6">
        {{ partial "home/quote.html" (dict "quote" .Params.customer_quotes.clear) }}
    </section>

    <!-- Code and ship faster -->
    <section class="my-12 p-6 lg:px-0 home-page-section bg-gradient-to-r from-white from-0% via-violet-200 via-50% to-white to-100%">
        <div class="container mx-auto z-10">
            <div class="w-full flex flex-col lg:flex-row items-center justify-center mx-auto">
                <div class="w-full lg:w-4/12">
                    <h3>{{ .Params.code_faster.title | markdownify }}</h3>
                    <p class="text-lg">{{ .Params.code_faster.description | markdownify }}</p>
                    {{ range $item := .Params.code_faster.items }}
                        <h6>{{ $item.title }}</h6>
                        <p>{{ $item.description | markdownify }}</p>
                    {{ end }}
                    <div class="my-8">
                        <span class="text-lg">Learn more: </span>
                        <a href="/product/" class="underline text-lg">Pulumi IaC<i class="fa fa-arrow-right ml-2"></i></a>
                    </div>
                </div>
                <div class="hidden lg:block w-1/12">
                    <!-- empty div to get flex to behave -->
                </div>
                <div class="w-full lg:w-7/12 xl:w-6/12 xxl:w-5/12 card bg-white shadow-xl p-6 block">
                    <div>
                        <pulumi-chooser type="language" options="typescript,python,go,csharp,java,yaml">
                            <pulumi-choosable type="language" class="highlight" value="typescript">
                                <img
                                    class="mx-auto w-full"
                                    src="/images/home/typescript.svg"
                                    alt="Pulumi code being written in TypeScript showing autocomplete for creating a new S3 bucket"
                                />
                            </pulumi-choosable>

                            <pulumi-choosable type="language" class="highlight" value="python">
                                <img class="mx-auto w-full" src="/images/home/python.svg" alt="Pulumi code being written in Python showing autocomplete for creating a new S3 bucket" />
                            </pulumi-choosable>

                            <pulumi-choosable type="language" class="highlight" value="go">
                                <img class="mx-auto w-full" src="/images/home/go.svg" alt="Pulumi code being written in GO showing autocomplete for creating a new S3 bucket" />
                            </pulumi-choosable>

                            <pulumi-choosable type="language" class="highlight" value="csharp">
                                <img class="mx-auto w-full" src="/images/home/c-sharp.svg" alt="Pulumi code being written in C# showing autocomplete for creating a new S3 bucket" />
                            </pulumi-choosable>

                            <pulumi-choosable type="language" class="highlight" value="java">
                                <img class="mx-auto w-full" src="/images/home/java.svg" alt="Pulumi code being written in Java showing autocomplete for creating a new S3 bucket" />
                            </pulumi-choosable>

                            <pulumi-choosable type="language" class="highlight" value="yaml">
                                <img class="mx-auto w-full" src="/images/home/yaml.svg" alt="Pulumi code being written in YAML showing autocomplete for creating a new S3 bucket" />
                            </pulumi-choosable>
                        </pulumi-chooser>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Panther quote -->
    <section class="w-full md:w-2/3 lg:w-1/2 mx-auto mt-16 px-6">
        {{ partial "home/quote.html" (dict "quote" .Params.customer_quotes.panther) }}
    </section>

    <!-- Tame configuration and secrets sprawl -->
    <section class="py-12 my-12 px-6 lg:px-0 home-page-section bg-gradient-to-r from-white from-0% via-violet-200 via-50% to-white to-100%">
            <div class="container mx-auto z-10">
                <div class="w-full flex flex-col lg:flex-row items-center justify-center mx-auto">
                    <div class="w-full lg:w-1/2 z-10 px-8">
                        <h3>{{ .Params.secrets.title }}</h3>
                        <p class="text-lg">{{ .Params.secrets.description | markdownify }}</p>
                        <div class="mt-8">
                            <span class="text-lg">Learn more: </span>
                            <a href="/product/esc" class="underline text-lg">Pulumi ESC<i class="fa fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>

                    <div class="flex items-center justify-center mt-8 w-full lg:w-1/2">
                        <img src="{{ .Params.secrets.image }}" alt="{{ .Params.secrets.alt }}" />
                    </div>
                </div>
            </div>
    </section>

    <!-- Starburst quote -->
    <section class="w-full md:w-2/3 lg:w-1/2 mx-auto mt-16 px-6">
        {{ partial "home/quote.html" (dict "quote" .Params.customer_quotes.starburst) }}
    </section>

    <!-- Insights -->
    <section class="py-12 my-12 px-6 lg:px-0 relative home-page-section bg-gradient-to-r from-white from-0% via-violet-200 via-50% to-white to-100%">
        <div class="container mx-auto z-10 relative">
            <div class="w-full flex flex-col lg:flex-row items-center justify-center  mx-auto">
                <div class="w-full lg:w-5/12 z-10 px-8">
                    <h3>{{ .Params.insights.title }}</h3>
                    <div class="text-lg text-black">{{ .Params.insights.description | markdownify }}</div>
                    <div class="mt-8">
                        <span class="text-lg">Learn more: </span>
                        <a href="/product/pulumi-insights/" class="underline text-lg">Pulumi Insights<i class="fa fa-arrow-right ml-2"></i></a>
                    </div>
                </div>

                <div class="flex items-center justify-center mt-8 px-8 w-full lg:w-7/12">
                    <div class="p-6">
                        <img src="{{ .Params.insights.image }}" alt="{{ .Params.insights.alt }}" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Snowflake quote -->
    <section class="w-full md:w-2/3 lg:w-1/2 mx-auto mt-16 px-6">
        {{ partial "home/quote.html" (dict "quote" .Params.customer_quotes.snowflake) }}
    </section>

    <!-- Built by engineers + tweets -->
    <section class="mt-16 mb-36 relative flex flex-col">
        <div class="container mx-auto px-3 overflow-hidden lg:overflow-visible">
            <div class="w-full bg-violet-600 rounded-xl shadow p-16 lg:pb-56 align-top">
                <h2 class="text-white text-center">Open source. Built by engineers for engineers.</h2>
                <div class="flex flex-col lg:flex-row items-center justify-center mb-4">
                    <a class="text-white text-lg bold underline flex self-start lg:self-auto mt-4 lg:mt-0 mx-auto lg:mx-0 lg:pr-1" href="https://slack.pulumi.com/"
                        >Join the Pulumi community,</a>
                    <p class="text-white text-lg mx-auto my-0 lg:mx-0 lg:my-auto"> and let’s build together.</p>
                </div>
            </div>

            <div class="w-full order-first lg:hidden">
                <pulumi-swiper slides="1" centered-slides="true" initial-slide="3" loop="true" autoplay="true" autoplay-delay="5000" speed="1000">
                    {{ range $tweet := .Params.get_started.tweets }}
                        <pulumi-swipeable>
                            <div class="w-full px-4">
                                <div class="flex flex-col card p-6 bg-white">
                                    <p class="text-left mt-0 overflow-hidden">{{ $tweet.text }}</p>
                                    <div class="flex flex-grow items-end">
                                        <div>
                                            <img class="rounded-full w-12 h-12" src="{{ $tweet.avatar }}" />
                                        </div>
                                        <p class="ml-4 text-gray-600">{{ $tweet.username }}</p>
                                        <div class="flex-grow flex justify-end my-4">
                                            <img class="h-6" src="/logos/tech/x.svg" alt="X" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </pulumi-swipeable>
                    {{ end }}
                </pulumi-swiper>
            </div>
            <div class="large-container mx-auto absolute -bottom-12 left-0 pt-12 hidden lg:block">
                <pulumi-swiper slides="3" centered-slides="true" initial-slide="3" loop="true" autoplay="true" autoplay-delay="4000" speed="1000">
                    {{ range $tweet := .Params.get_started.tweets }}
                        <pulumi-swipeable>
                            <div class="w-full px-4 text-left">
                                <div class="flex flex-col card p-6 bg-white h-60">
                                    <p class="flex-grow mt-0">{{ $tweet.text }}</p>
                                    <div class="flex items-center w-full pb-1">
                                        <a href="{{ $tweet.link }}" target="_blank" rel="noopener noreferrer">
                                            <!-- If the browser fails to load the Twitter avatar, just hide it. -->
                                            <div class="rounded-full border-none w-12 h-12 mr-4 overflow-hidden">
                                                <img src="{{ $tweet.avatar }}" onerror="$(this).hide();" />
                                            </div>
                                        </a>
                                        <a href="{{ $tweet.link }}" class="flex-grow text-gray-600 hover:text-gray-600 hover:underline" target="_blank" rel="noopener noreferrer">
                                            {{ $tweet.username }}
                                        </a>

                                        {{ if eq $tweet.source "twitter" }}
                                            <img class="w-8 h-8" src="/logos/tech/x.svg" alt="Twitter" />
                                        {{ end }}

                                        {{ if eq $tweet.source "reddit" }}
                                            <img class="w-8 h-8" src="/logos/tech/reddit.svg" alt="Reddit" />
                                        {{ end }}

                                        {{ if eq $tweet.source "linkedin" }}
                                            <img class="w-8 h-8" src="/logos/tech/linkedin.svg" alt="LinkedIn" />
                                        {{ end }}

                                        {{ if eq $tweet.source "blog" }}
                                            <i class="fas fa-blog text-gray-500 text-2xl"></i>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </pulumi-swipeable>
                    {{ end }}
                </pulumi-swiper>
            </div>
        </div>
    </section>

    <!-- CTAs -->
    <section class="container mx-auto my-24 px-6">
        <div class="flex justify-center">
            <div class="card ready-cta w-full rounded-xl p-0.5 gradient">
                <div class="flex justify-center rounded-xl bg-purple-100">
                    <div class="p-8 md:p-16 lg:pt-28 lg:pb-28 inline-flex flex-col items-center">
                        <h2 class="mb-12 text-center">Ready to try Pulumi?</h2>
                        <div class="flex flex-col lg:flex-row self-stretch items-center lg:justify-between">
                            <div class="flex flex-col justify-center align-center text-center lg:ml-14 lg:mr-4 mb-14 lg:mb-0 z-0">
                                <a href="/docs/get-started/" class="btn-primary py-3">Get Started</a>
                                <p class="text-xs pt-1 my-0">Follow the step-by-step guide</p>
                            </div>
                            <div class="flex flex-col justify-center align-center text-center lg:mr-14 lg:ml-4">
                                <a href="docs/install/" class="btn-secondary py-3 px-6 whitespace-nowrap">Download Open Source</a>
                                <p class="text-xs pt-1 my-0">Download our open source SDK</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
