{{ define "hero" }}
    <header class="header-hero header-hero-glow-bottom">
        <div class="container mx-auto">
            <div class="mx-auto text-center">
                <h1>{{ .Title }}</h1>
                <p class="text-2xl">Infrastructure As Code With Pulumi</p>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <div class="flex flex-col md:flex-row p-10 md:px-20">
        <div class="w-full order-last md:order-first md:w-6/12 lg:w-8/12 mx-auto md:py-12">
            <div>
                <i class="fas fa-globe-americas inline-block text-xl"></i>
                <span class="my-0 text-xl">
                    <a href="https://maps.google.com/?q={{ .Params.event.location }}" target="_blank" class="text-blue-500">{{ .Params.event.location }}</a>
                </span>
            </div>

            <div>
                <i class="fas fa-calendar inline-block text-xl"></i>
                <span class="my-0 text-xl">
                    {{ if eq .Params.event.start_date .Params.event.end_date }}
                        {{ dateFormat "Mon, Jan 2" .Params.event.start_date }}
                    {{ else }}
                        {{ dateFormat "Mon, Jan 2" .Params.event.start_date }} - {{ dateFormat "Mon, Jan 2" .Params.event.end_date }}
                    {{ end }}
                </span>
            </div>

            <div>
                <i class="fas fa-clock inline-block text-xl"></i>
                <span class="my-0 text-xl">{{ .Params.event.time }}</span>
            </div>

            <div>
                <i class="fas fa-ticket-alt inline-block text-xl"></i>
                <span class="my-0 text-xl">{{ .Params.event.cost }}</span>
            </div>
            {{ .Content }}
        </div>
        <div class="w-full order-first md:order-last md:w-6/12 lg:w-4/12 mx-auto">
            <!-- Calendly inline widget begin -->

            <div id="calendly-widget" class="calendly-inline-widget" data-url="{{ .Params.event.calendly_url }}&hide_event_type_details=1&primary_color=512668"></div>

            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

            <!-- Calendly inline widget end -->
        </div>
    </div>
{{ end }}
