_vendor
node_modules
/resources
/assets/css/bundle.css
themes/*/resources
public
.idea
.vscode
.DS_Store
yarn-error.log
.hugo_build.lock
*.md
.github/devcontainer
themes/default/theme
themes/default/assets
themes/default/layouts
