{{ with .File }}
    <p class="text-gray-500 text-xs">Share this post</p>
    <ul class="p-0 list-none">
        <li>
            <a data-track="share-x" class="mr-2" href="https://x.com/intent/post?text=={{ $.Page.Title }}&tw_p=tweetbutton&url={{ $.Page.Permalink }}" target="_blank">
                <i class="fab fa-x-twitter text-xl"></i>
            </a>
            <a data-track="share-linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ $.Page.Permalink }}" target="_blank">
                <i class="fab fa-linkedin text-xl"></i>
            </a>
        </li>
    </ul>
{{ end }}
