<!--
    Blog sidebar, showing a list of tags, and a quick intro for context.
-->
<aside class="md:pr-8">

    <!-- Sidebar menu toggle for mobile. -->
    <div class="md:hidden">
        <button class="blog-sidebar-toggle items-center px-3 py-2 border rounded text-purple border-purple">
            <i class="fas fa-bars"></i>
        </button>
        <a href="{{relref . "/blog" }}">🍹 Pulumi Blog</a>
    </div>

    <h3 class="no-anchor hidden md:flex">
        <a href="{{relref . "/blog" }}">🍹 Pulumi Blog</a>
    </h3>

    <!-- Sidebar content. Hidden on smaller displays unless toggled. -->
    <div class="blog-sidebar-content hidden md:block">
        <div class="bg-gray-100 rounded-lg p-4 my-8 text-gray-700">
            <h5 class="no-anchor text-gray-700">Program the Cloud</h5>
            <p class="text-sm my-0">
                Create, deploy, and manage cloud infrastructure using your favorite language.
            </p>
        </div>

        <ul class="list-none p-0 md:mr-8">
            {{ $title := .Title | lower }}
            {{ range $tag, $_ := .Site.Taxonomies.tags }}
                {{ if $tag }}
                    <li class="inline-flex">
                        {{ $classes := "bg-white border border-gray-200 text-blue-600 hover:border-blue-600" }}
                        {{ if eq $tag $title }}
                            {{ $classes = "border-blue-600 bg-blue-600 text-white" }}
                        {{ end }}
                        <a class="px-1 text-xs rounded transition-all {{ $classes }}" href="{{ .Page.Permalink }}">
                            {{ $tag }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>

    <div class="md:hidden pb-4">
        <!-- Vertical spacer, for mobile layouts. -->
    </div>
</aside>
