<!--
    Blog sidebar, showing a list of tags, and a quick intro for context.
-->
<aside>
    <h3 class="no-anchor">🍹 Pulumi Blog</h3>
    <h4>Program the Cloud</h4>
    <p>Create, deploy, and manage cloud infrastructure using your favorite language.</p>
    <h5>Tags</h5>
    <ul class="list-none p-0">
        {{ range .Site.Taxonomies.tags }}
            {{ if .Page.Title }}
                <li class="inline-flex mx-1 my-1 ">
                    <a class="bg-gray-100 text-gray-700 py-1 px-2 text-sm rounded" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</aside>
