.cols-with-dividers {
    .col {
        margin-bottom: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        
        &:not(:last-child){
            border-right: 1px solid #2F2F2F;
        }
    }
}

.cols-with-dividers-md {
    .col {
        margin-bottom: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        
        &:not(:last-child){
            
            border-bottom: 1px solid #2F2F2F;
            
            @media(min-width: $screen-md){
                border-bottom: 0;
                border-right: 1px solid #2F2F2F;
            }
        }
    }
    
}

.cols-with-dividers-lg {
    .col {
        margin-bottom: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        
        &:not(:last-child){
            
            border-bottom: 1px solid #2F2F2F;
            
            @media(min-width: $screen-lg){
                border-bottom: 0;
                border-right: 1px solid #2F2F2F;
            }
        }
    }
    
}