.newsletter-signup {
    h2 {
        
        @media(min-width: $screen-md){
            margin-right: 16px;
            float: left;
            margin-bottom: 0;
            line-height: 60px; 
        }
    }
    
    .form-wrapper {
        @media(min-width: $screen-sm){
            overflow: hidden;
            position: relative;
            min-height: 60px;
        }
    }
    
    .hbspt-form {
        
        form {
            
            @media(min-width: $screen-sm){
                padding-right: calc(41% + 16px);
            }
            
        }
        .field > label {
            display: none;
        }
        
        input[type="submit"]{
            margin: 0;
            margin-top: 18px;
            width: 100%;
            
            @media(min-width: $screen-sm){
                margin: 0;
                position: absolute;
                width: 41%;
                top: 0;
                right: 0;
            }
        }
        
        ul {
            li {
                padding-left: 0;
                
                &:before {
                    display: none;
                }
            }
        }
        
        .hs-error-msgs {
            margin: 0;
            background: rgba($red, 0.5);
            border-radius: 0 0 3px 3px;
            margin-top: -3px;
            padding: 7px 0 4px;
            text-align: center;
            
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            label {
                font-size: 14px;
                line-height: 1.357;
                margin-bottom: 0;
            }
        }
        
        .hs_error_rollup {
            display: none;
        }
        
        .submitted-message {
            @media(min-width: $screen-sm){
                display: flex;
                align-items: center;
                text-align: center;
                min-height: 60px;
                
                p {
                    margin-bottom: 0;
                    text-align: center;
                    width: 100%;
                }
            }
            
        }
    }
}