.content-block-shadow-boxed {
    .content-content {
        .col {
            @media(max-width: $screen-sm-max){
                margin-bottom: 0; 
            }
        }
    }
}
.shadow-boxed {
    box-shadow: 0 3px 25px 0 rgba(0,0,0,0.5);
    padding: 45px 20px 38px;
    height: 100%;
}