<div id="carousel-ide" class="text-left">
    <div class="bg-gray-400 rounded-t border-r-2 border-gray-500">
        <div class="flex p-2">
            <div class="bg-red-600 rounded-full h-3 w-3"></div>
            <div class="bg-yellow-600 rounded-full h-3 w-3 mx-2"></div>
            <div class="bg-green-600 rounded-full h-3 w-3"></div>
        </div>
    </div>
    <div class="bg-gray-900 rounded-b text-gray-100 font-mono overflow-x-hidden relative" style="height: 400px;">
        <div class="flex items-center h-8">
            <div class="bg-gray-900 h-8 w-40 px-4 flex items-center">
                <div class="bg-orange-300 rounded-full h-1 w-1"></div>
                <span class="ml-2 font-body text-gray-500">index.ts</span>
            </div>
            <div class="bg-black h-8 w-full"></div>
        </div>
        <div class="p-4 whitespace-no-wrap">
            <div class="line typed">
                <span class="text-purple-300">import</span>
                <span class="text-blue-400">*</span>
                <span class="text-purple-300">as</span>
                <span class="text-blue-200">pulumi</span>
                <span class="text-purple-300">from</span>
                <span class="text-orange-300">"@pulumi/pulumi"</span><span>;</span>
            </div>
            <div class="line typed">
                <span class="text-purple-300">import</span>
                <span class="text-blue-400">*</span>
                <span class="text-purple-300">as</span>
                <span class="text-blue-200">aws</span>
                <span class="text-purple-300">from</span>
                <span class="text-orange-300">"@pulumi/aws"</span><span>;</span>
            </div>
            <div class="my-8"></div>
            <div>
                <div class="line typed">
                    <div class="flex-1">
                        <span class="text-blue-400">const</span>
                        <span>bucket</span>
                        <span>=</span>
                        <span class="text-blue-400">new</span>
                        <span class="text-green-300"><span>aws</span><span class="text-white">.</span><span class="text-green-300">s3</span><span class="text-white">.</span></span>
                    </div>
                </div>
                <div class="relative" style="top: -6px; left: 188px;">
                    <div class="menu opacity-0 absolute">
                        <div class="bg-gray-800 p-1 text-white border border-gray-600 w-56 shadow">
                            <div class="row bg-gray-600 px-2">AccountPublicAccessBlock</div>
                            <div class="row px-2">Bucket</div>
                            <div class="row px-2">BucketEventSubscription</div>
                            <div class="row px-2">BucketMetric</div>
                            <div class="row px-2">BucketNotification</div>
                            <div class="row px-2">BucketObject</div>
                        </div>
                    </div>
                    <div class="menu opacity-0 absolute" data-delay="1200" style="top: 14px; left: 138px;">
                        <div class="bg-gray-800 p-1 shadow text-white border border-gray-600 whitespace-normal" style="width: 242px;">
                            <div class="font-sans">
                                <div class="mb-2">Create a Bucket resource with the given name, arguments, and options.</div>
                                <div>
                                    <span class="text-blue-400">@param</span>
                                    <span class="font-mono bg-gray-800 text-orange-200">name</span>
                                    <span>The name of the resource.</span>
                                </div>
                                <div>
                                    <span class="text-blue-400">@param</span>
                                    <span class="font-mono bg-gray-800 text-orange-200">args</span>
                                    <span>The arguments for this resource's properties.</span>
                                </div>
                                <div>
                                    <span class="text-blue-400">@param</span>
                                    <span class="font-mono bg-gray-800 text-orange-200">opts</span>
                                    <span>A bag of options for this resource's behavior.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-3 absolute bottom-0 left-0 right-0 bg-blue-800 rounded-b"></div>
    </div>
</div>
