{{ if .quote.link }}
    <a href={{ .quote.link }} class="container text-center mx-auto">
        <p class="text-lg text-gray-700 italic">{{ .quote.text | markdownify }}</p>
        <p class="text-base text-gray-600 font-semibold mt-2">{{ .quote.author }}</p>
        <div class="h-16 mt-4">{{ partial "customer-logo.html" (dict "logo" .quote.logo) }}</div>
    </a>
{{ else }}
    <div class="container text-center mx-auto">
        <p class="text-lg text-gray-700 italic">{{ .quote.text | markdownify }}</p>
        <p class="text-base text-gray-600 font-semibold mt-2">{{ .quote.author }}</p>
        <div class="h-16 mt-4">{{ partial "customer-logo.html" (dict "logo" .quote.logo) }}</div>
    </div>
{{ end }}
