.main-footer {
    background-color: $purple-mid;
    padding: 32px 0 0;

    .logo {
        width: 112px;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    .social {
        list-style-type: none;

        li {
            display: inline;
            margin-right: 16px;
            font-size: 24px;

            a {
                color: $blue;
            }
        }
    }

    .legal {
        border-top: 1px solid $purple;
        padding-top: 16px;

        p, a {
            font-size: 14px;
            line-height: 1.357;
            color: #ccc;
        }

        ul {
            margin: 0 0 16px 0;

            li {
                display: inline;
                padding-left: 0;

                &:not(:last-of-type) {
                    margin-right: 16px;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .footer-info {
        margin-bottom: 32px;
        border-bottom: 1px solid $purple;

        @media(min-width: $screen-md){
            padding-bottom: 0;
            margin-bottom: 32px;
            border-bottom: none;
        }
    }

    li {
        position: static;
        padding-left: 0;

        &:before {
            content: "";
        }
    }
}

.footer-nav {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    li {
        padding: 0;
        margin: 0;
        margin-bottom: 8px;

        &:before {
            display: none;
        }

        a {
            color: white;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.357;
            text-decoration: none;
        }
    }
}
