{{ define "main" }}
    {{ $authorData := index site.Data.team.team .Data.Term }}

    {{ partial "blog/header.html" (dict "title" "Author" "url" .RelPermalink "context" .) }}

    <div class="container mx-auto px-4 py-6 lg:py-12">
        {{ with $authorData }}
            <div class="card mb-10 flex items-center gap-8 p-8">
                <img class="size-32 shrink-0 rounded-full bg-violet-200 object-cover p-1" src="/images/team/{{ .id }}.jpg" alt="{{ .name }}" />
                <div class="flex flex-col gap-2">
                    <h2 class="heading-1 m-0!">{{ .name }}</h2>
                    <div class="flex flex-wrap items-center gap-2">
                        {{ if eq .status "guest" }}<span class="badge badge-brand">Guest</span>{{ end }}
                        {{ with .title }}<span class="font-overline-sm">{{ . }}</span>{{ end }}
                    </div>
                    {{ with .social }}{{ partial "widgets/social-icons.html" (dict "social" .) }}{{ end }}
                </div>
            </div>
        {{ end }}

        {{ $posts := where .Data.Pages "Section" "blog" }}
        {{ $paginator := .Paginate $posts.ByDate.Reverse }}
        <div data-post-list class="flex flex-col">
            {{ range $paginator.Pages }}{{ partial "blog/card/list-row.html" (dict "page" .) }}{{ end }}
        </div>
        {{ partial "blog/paginator.html" . }}
    </div>
{{ end }}
