{{ define "main" }}
    {{- /* Tag term page. Blog series live in their own `series` taxonomy
        (/blog/series/<slug>/, see layouts/taxonomy/series.html), so tags are
        purely the topical axis here. */ -}}
    {{ $term := .Data.Term }}
    {{ partial "blog/header.html" (dict "title" (printf "Tag: %s" ($term | humanize | lower)) "url" .RelPermalink "context" .) }}
    <div class="container mx-auto px-4 py-8 lg:py-12">
        {{ $posts := (where .Data.Pages "Section" "blog").ByDate.Reverse }}
        {{ $paginator := .Paginate $posts }}
        {{ partial "blog/interleaved-list.html" (dict "paginator" $paginator "pages" $posts) }}
        {{ partial "blog/paginator.html" . }}
    </div>
{{ end }}
