<h4 class="pdoc-member-header" id="{{AnchorName}}">
<a class="pdoc-child-name" href="{{{RepoURL}}}/{{URLPath}}">{{{Label}}} <b>{{{Name}}}</b></a>
</h4>

{{#IsDeprecated}}
{{>deprecated}}
{{/IsDeprecated}}
{{#CodeDetails}}
<pre class="highlight"><code>{{{CodeDetails}}}</code></pre>
{{/CodeDetails}}
{{#Signatures}}

{{#IsDeprecated}}
{{>deprecated}}
{{/IsDeprecated}}
<pre class="highlight"><code>{{{Label}}}</code></pre>

{{#Comment.ShortText}}

{{{Comment.ShortText}}}

{{#Comment.Text}}
{{{Comment.Text}}}
{{/Comment.Text}}
{{/Comment.ShortText}}
{{#Parameters}}
{{#Comment.ShortText}}
* `{{Name}}` {{Comment.ShortText}}
{{/Comment.ShortText}}
{{/Parameters}}
{{/Signatures}}
{{^Signatures}}
{{#Comment.ShortText}}

{{{Comment.ShortText}}}

{{#Comment.Text}}
{{{Comment.Text}}}
{{/Comment.Text}}
{{/Comment.ShortText}}
{{/Signatures}}
{{#Children}}
{{>child}}
{{/Children}}
