<div class="note note-deprecated">
<i class="fas fa-exclamation-triangle pr-2"></i><strong>DEPRECATED</strong>
{{#DeprecatedMessage}}{{DeprecatedMessage}}{{/DeprecatedMessage}}{{^DeprecatedMessage}}This API is now deprecated.{{/DeprecatedMessage}}
</div>
