.timer-wrapper {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    border:5px solid transparent;
    position: relative;
    width:100%;
    height: 100%;
    background: linear-gradient(#fff, #fff) content-box no-repeat, conic-gradient(#b6d7e4 calc(var(--p)*1%), 0, #ededed 100% ) border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

