{% for current_toc in site.tocs %}
    {% if found_toc %}
        {% break %}
    {% else %}
        {% assign toc=site.data[current_toc] %}
        {% include toc_select.html tree=toc.toc toc=toc %}
    {% endif %}
{% endfor %}

<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body>
        {% include header.html tree=toc.toc %}

        <main id="main-content">
            <section class="content-block bg-white">
                <div class="content-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 hidden-xs hidden-sm">
                                {% include toc.html tree=toc.toc %}
                            </div>
                            <div class="col-md-9">
                                <div class="edit-this-page">
                                    <a href="{{site.github.repository_url}}/edit/{{site.github.branch}}/{{page.path}}">
                                        <i class="fab fa-github"></i>
                                        Edit This Page
                                    </a>
                                </div>
                                {% if page.title != nil and page.title != '' %}
                                    <h1>{{ page.title }}</h1>
                                {% endif %}

                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {% include footer.html %}

        {% include intercom.html %}
        {% include scripts.html %}
    </body>
</html>
