{% for current_toc in site.tocs %}
  {% if found_toc %}
    {% break %}
  {% else %}
    {% assign toc=site.data[current_toc] %}
    {% include tocsearch.html tree=toc.toc toc=toc %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}

    <div class="pa3 mw8 center">
    
    <p><a href="/{{toc.nav_section}}">{{toc.nav_section}}</a> &gt; <b>{{page.title}}</b></p>
    <h1>{{page.title}}</h1>

    <div id="docsToc">
        {% include tree.html tree=toc.toc %}
    </div> <!-- /docsToc -->

    <div id="docsContent"> 
    {{ content }}
    </div>

    {% include footer.html %}
</body>
</html>
