{{/* Article Schema for Documentation - Optimized for AI and technical content */}}

{{ $image := .Params.meta_image | default "/images/docs/meta-images/docs-meta.png" }}
{{ if not (hasPrefix $image "http") }}
  {{ $image = printf "https://www.pulumi.com%s" $image }}
{{ end }}

{{/* Get aggregated content using the content aggregator */}}
{{ $aggregatedContent := partial "schema/utils/content-aggregator.html" . }}
{{ $effectiveContent := $aggregatedContent.content }}
{{ $effectiveWordCount := $aggregatedContent.wordCount }}
{{ $cloudServicesFromOverview := $aggregatedContent.cloudServices }}

{{/* Auto-detect programming languages from content */}}
{{ $languages := slice }}
{{ $content := $effectiveContent | plainify }}
{{ $rawContent := .Content }}
{{ if or (in $rawContent "```typescript") (in $rawContent "```ts") (in $rawContent "```javascript") (in $rawContent "```js") }}
  {{ $languages = $languages | append "TypeScript" }}
{{ end }}
{{ if or (in $rawContent "```python") (in $rawContent "```py") }}
  {{ $languages = $languages | append "Python" }}
{{ end }}
{{ if in $rawContent "```go" }}
  {{ $languages = $languages | append "Go" }}
{{ end }}
{{ if or (in $rawContent "```csharp") (in $rawContent "```cs") }}
  {{ $languages = $languages | append "C#" }}
{{ end }}
{{ if in $rawContent "```java" }}
  {{ $languages = $languages | append "Java" }}
{{ end }}
{{ if or (in $rawContent "```yaml") (in $rawContent "```yml") }}
  {{ $languages = $languages | append "YAML" }}
{{ end }}

{{/* Override with frontmatter if provided */}}
{{ with .Params.languages }}
  {{ $languages = . }}
{{ end }}

{{/* Auto-detect proficiency level */}}
{{ $level := "Intermediate" }}
{{ $titleLower := lower .Title }}
{{ if or (in $titleLower "getting started") (in $titleLower "introduction") (in $titleLower "basics") (in $titleLower "beginner") }}
  {{ $level = "Beginner" }}
{{ else if or (in $titleLower "advanced") (in $titleLower "expert") (in $titleLower "optimization") (in $titleLower "deep dive") }}
  {{ $level = "Advanced" }}
{{ end }}
{{ with .Params.skill_level }}
  {{ $level = . }}
{{ end }}

{{/* Get technology entities with Wikipedia/Wikidata links */}}
{{ $mentions := partial "schema/utils/technology-entities.html" . }}

{{/* Get related content relationships */}}
{{ $relatedContent := partial "schema/utils/related-content.html" . }}

{{/* Detect cloud providers */}}
{{ $cloudProviders := partial "schema/utils/cloud-provider-detector.html" . }}

{{/* Extract cloud resource types and services */}}
{{ $cloudResources := partial "schema/utils/resource-type-extractor.html" . }}

{{/* Detect infrastructure patterns */}}
{{ $infraPatterns := partial "schema/utils/infrastructure-patterns.html" . }}

{{/* Enhanced date handling with fallbacks */}}
{{ $publishDate := .Date }}
{{ $modifiedDate := or .Lastmod .Date }}

{{/* Handle invalid/zero dates with fallbacks */}}
{{ if or (not $publishDate) (eq ($publishDate.Format "2006-01-02") "0001-01-01") }}
  {{ if and .GitInfo .GitInfo.AuthorDate }}
    {{ $publishDate = .GitInfo.AuthorDate }}
  {{ else }}
    {{ $publishDate = now }}
  {{ end }}
{{ end }}

{{ if or (not $modifiedDate) (eq ($modifiedDate.Format "2006-01-02") "0001-01-01") }}
  {{ if and .GitInfo .GitInfo.AuthorDate }}
    {{ $modifiedDate = .GitInfo.AuthorDate }}
  {{ else }}
    {{ $modifiedDate = $publishDate }}
  {{ end }}
{{ end }}

{{ $schema := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "@id" (printf "%s#article" .Permalink)
  "headline" (or .Params.h1 .Title)
  "description" (or .Params.meta_desc .Summary (printf "Learn about %s with Pulumi Infrastructure as Code" .Title))
  "datePublished" ($publishDate.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" ($modifiedDate.Format "2006-01-02T15:04:05Z07:00")
  "author" (dict "@id" "https://www.pulumi.com/#organization")
  "publisher" (dict "@id" "https://www.pulumi.com/#organization")
  "image" (slice $image)
  "mainEntityOfPage" (dict
    "@type" "WebPage"
    "@id" .Permalink
  )
  "articleBody" (substr $content 0 5000)
  "wordCount" $effectiveWordCount
  "inLanguage" "en-US"
  "speakable" (dict
    "@type" "SpeakableSpecification"
    "cssSelector" (slice "h1" "h2" "p:first-of-type")
  )
  "about" (dict
    "@type" "SoftwareApplication"
    "@id" "https://www.pulumi.com/#pulumi-cli"
  )
}}

{{/* Add keywords based on tags or auto-generate */}}
{{ $keywords := "infrastructure as code, cloud, devops, automation" }}
{{ with .Params.tags }}
  {{ $keywords = delimit . ", " }}
{{ else }}
  {{ if $languages }}
    {{ $keywords = printf "infrastructure as code, %s, cloud, devops" (delimit $languages ", ") }}
  {{ end }}
{{ end }}
{{ $schema = merge $schema (dict "keywords" $keywords) }}

{{/* Add programming languages if detected */}}
{{ if $languages }}
  {{ $schema = merge $schema (dict "programmingLanguage" $languages) }}
{{ end }}

{{/* Proficiency level is not a standard schema.org property - removed for compliance */}}

{{/* Add technology entity mentions with Wikipedia/Wikidata links */}}
{{ $allMentions := $mentions }}
{{ if $cloudResources.cloudServices }}
  {{ $allMentions = $allMentions | append $cloudResources.cloudServices }}
{{ end }}
{{ if $infraPatterns }}
  {{ $allMentions = $allMentions | append $infraPatterns }}
{{ end }}

{{/* Deduplicate mentions by @id or name */}}
{{/* 
  Deduplication Algorithm:
  1. Combine mentions from multiple sources (technology entities, cloud services, infrastructure patterns)
  2. Use @id as primary identifier (preferred for schema.org entities with Wikidata links)
  3. Fall back to name for entities without @id
  4. Build a seen set to track uniqueness
  5. Only include first occurrence of each entity
*/}}
{{ $seenIds := slice }}
{{ $uniqueMentions := slice }}

{{ range $allMentions }}
  {{/* Use @id as primary identifier, fall back to name */}}
  {{ $identifier := or (index . "@id") .name }}
  
  {{/* Only add if not seen before */}}
  {{ if not (in $seenIds $identifier) }}
    {{ $seenIds = $seenIds | append $identifier }}
    {{ $uniqueMentions = $uniqueMentions | append . }}
  {{ end }}
{{ end }}

{{/* Add mentions/about if there are any unique mentions */}}
{{ if $uniqueMentions }}
  {{ $schema = merge $schema (dict "mentions" $uniqueMentions) }}
{{ end }}

{{/* Add infrastructure patterns as keywords */}}
{{/* Infrastructure patterns now handled in mentions section for semantic accuracy */}}

{{/* Cloud provider information moved to mentions for semantic accuracy */}}

{{/* Add learning resource schema for tutorials/guides */}}
{{ if or (in .Section "tutorials") (in .Section "guides") (in .Params.tags "tutorial") }}
  {{ $schema = merge $schema (dict
    "@type" (slice "Article" "LearningResource")
    "learningResourceType" "Tutorial"
    "educationalLevel" $level
  ) }}
{{ end }}

{{/* Add related content (prerequisites, next steps) */}}
{{ if $relatedContent }}
  {{ $schema = merge $schema (dict "citation" $relatedContent) }}
{{ end }}

{{/* Add citation for documentation authority */}}
{{ $schema = merge $schema (dict "citation" (dict
  "@type" "CreativeWork"
  "name" "Pulumi Official Documentation"
  "url" "https://www.pulumi.com/docs/"
  "publisher" (dict "@id" "https://www.pulumi.com/#organization")
)) }}

{{/* Add time to complete for tutorials */}}
{{ with .Params.estimated_time }}
  {{ $schema = merge $schema (dict "timeRequired" (printf "PT%dM" .)) }}
{{ else }}
  {{/* Auto-estimate based on word count */}}
  {{ $minutes := div $effectiveWordCount 200 }}
  {{ if lt $minutes 1 }}{{ $minutes = 1 }}{{ end }}
  {{ $schema = merge $schema (dict "timeRequired" (printf "PT%dM" $minutes)) }}
{{ end }}

{{/* Add Pulumi Resources if detected */}}
{{ if $cloudResources.pulumiResources }}
  {{ $pulumiServices := slice }}
  {{ range $cloudResources.pulumiResources }}
    {{ $pulumiServices = $pulumiServices | append (dict
      "@type" "SoftwareSourceCode"
      "name" (printf "pulumi.%s.%s" .provider .resource)
      "programmingLanguage" $languages
      "codeRepository" .repository
    ) }}
  {{ end }}
  {{ if $pulumiServices }}
    {{ $schema = merge $schema (dict "hasPart" $pulumiServices) }}
  {{ end }}
{{ end }}

<script type="application/ld+json">
{{ $schema | jsonify (dict "prefix" "" "indent" "  ") | safeJS }}
</script>
