{{/* SoftwareSourceCode Schema for Code Examples */}}

{{/* Detect code blocks in content */}}
{{ $hasCode := false }}
{{ $codeLanguages := slice }}

{{/* Check for fenced code blocks */}}
{{ if in .Content "```" }}
  {{ $hasCode = true }}

  {{/* Extract programming languages from code blocks */}}
  {{ $codeBlocks := findRE "```([a-zA-Z0-9#+_-]+)" .Content }}
  {{ range $codeBlocks }}
    {{ $lang := replaceRE "```([a-zA-Z0-9#+_-]+)" "$1" . }}
    {{ if and $lang (not (in $codeLanguages $lang)) }}
      {{ $codeLanguages = $codeLanguages | append $lang }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Generate SoftwareSourceCode schema if code exists */}}
{{ if $hasCode }}
  {{ $schemas := slice }}

  {{/* Map language identifiers to proper names */}}
  {{ $languageMap := dict
    "typescript" "TypeScript"
    "ts" "TypeScript"
    "javascript" "JavaScript"
    "js" "JavaScript"
    "python" "Python"
    "py" "Python"
    "go" "Go"
    "golang" "Go"
    "csharp" "C#"
    "cs" "C#"
    "java" "Java"
    "yaml" "YAML"
    "yml" "YAML"
    "json" "JSON"
    "bash" "Bash"
    "sh" "Shell"
    "shell" "Shell"
    "hcl" "HCL"
    "terraform" "HCL"
    "dockerfile" "Dockerfile"
    "docker" "Dockerfile"
    "makefile" "Makefile"
    "make" "Makefile"
    "pulumi" "Pulumi"
  }}

  {{/* Create primary code schema */}}
  {{ $primaryLang := "" }}
  {{ $primaryLangName := "" }}

  {{/* Determine primary language */}}
  {{ if gt (len $codeLanguages) 0 }}
    {{ $primaryLang = index $codeLanguages 0 }}
    {{ $primaryLangName = index $languageMap (lower $primaryLang) | default $primaryLang }}
  {{ else }}
    {{/* Try to detect from content */}}
    {{ if in .Content "new pulumi." }}
      {{ $primaryLangName = "TypeScript" }}
    {{ else if in .Content "pulumi." }}
      {{ $primaryLangName = "Pulumi" }}
    {{ else if in .Content "import " }}
      {{ $primaryLangName = "Python" }}
    {{ else if in .Content "const " }}
      {{ $primaryLangName = "JavaScript" }}
    {{ end }}
  {{ end }}

  {{/* Build schema */}}
  {{ if $primaryLangName }}
    {{ $schema := dict
      "@context" "https://schema.org"
      "@type" "SoftwareSourceCode"
      "@id" (printf "%s#code" .Permalink)
      "name" (printf "%s Code Example" .Title)
      "description" (or .Params.meta_desc .Summary (printf "Code example for %s" .Title))
      "programmingLanguage" (dict
        "@type" "ComputerLanguage"
        "name" $primaryLangName
      )
      "codeSampleType" "code snippet"
      "isBasedOn" (dict "@id" "https://www.pulumi.com/#software")
      "targetProduct" (dict
        "@type" "SoftwareApplication"
        "name" "Pulumi"
      )
    }}

    {{/* Add code repository if it's an example */}}
    {{ if or (in .RelPermalink "/examples/") (in .RelPermalink "/templates/") }}
      {{ $repoPath := "" }}

      {{/* Try to detect GitHub repo */}}
      {{ if .Params.github_repo }}
        {{ $repoPath = .Params.github_repo }}
      {{ else if in .Content "github.com/pulumi/examples" }}
        {{ $repoPath = "https://github.com/pulumi/examples" }}
      {{ else if in .Content "github.com/pulumi/templates" }}
        {{ $repoPath = "https://github.com/pulumi/templates" }}
      {{ end }}

      {{ if $repoPath }}
        {{ $schema = merge $schema (dict "codeRepository" $repoPath) }}
      {{ end }}
    {{ end }}

    {{/* Add runtime platform based on language */}}
    {{ $runtime := "" }}
    {{ if or (eq $primaryLangName "TypeScript") (eq $primaryLangName "JavaScript") }}
      {{ $runtime = "Node.js" }}
    {{ else if eq $primaryLangName "Python" }}
      {{ $runtime = "Python Runtime" }}
    {{ else if eq $primaryLangName "C#" }}
      {{ $runtime = ".NET" }}
    {{ else if eq $primaryLangName "Java" }}
      {{ $runtime = "JVM" }}
    {{ else if eq $primaryLangName "Go" }}
      {{ $runtime = "Go Runtime" }}
    {{ end }}

    {{ if $runtime }}
      {{ $schema = merge $schema (dict "runtimePlatform" $runtime) }}
    {{ end }}

    {{/* Add operating system compatibility */}}
    {{ $schema = merge $schema (dict "operatingSystem" (slice "Windows" "macOS" "Linux")) }}

    {{/* Add software requirements if Pulumi code */}}
    {{ if or (in .Content "pulumi") (in .Content "Pulumi") }}
      {{ $requirements := slice "Pulumi CLI" }}

      {{/* Add cloud provider SDKs if detected */}}
      {{ if in .Content "@pulumi/aws" }}
        {{ $requirements = $requirements | append "AWS SDK" }}
      {{ end }}
      {{ if in .Content "@pulumi/azure" }}
        {{ $requirements = $requirements | append "Azure SDK" }}
      {{ end }}
      {{ if in .Content "@pulumi/gcp" }}
        {{ $requirements = $requirements | append "Google Cloud SDK" }}
      {{ end }}
      {{ if in .Content "@pulumi/kubernetes" }}
        {{ $requirements = $requirements | append "Kubernetes Client" }}
      {{ end }}

      {{ $schema = merge $schema (dict "softwareRequirements" (delimit $requirements ", ")) }}
    {{ end }}

    <script type="application/ld+json">
    {{ $schema | jsonify | safeJS }}
    </script>

    {{/* If multiple languages, create additional schemas */}}
    {{ if gt (len $codeLanguages) 1 }}
      {{ range $index, $lang := (after 1 $codeLanguages) }}
        {{ $langName := index $languageMap (lower $lang) | default $lang }}
        {{ if $langName }}
          {{ $additionalSchema := dict
            "@context" "https://schema.org"
            "@type" "SoftwareSourceCode"
            "@id" (printf "%s#code%d" $.Permalink (add $index 2))
            "name" (printf "%s %s Code Example" $.Title $langName)
            "description" (or $.Params.meta_desc $.Summary)
            "programmingLanguage" (dict
              "@type" "ComputerLanguage"
              "name" $langName
            )
            "codeSampleType" "code snippet"
            "isBasedOn" (dict "@id" "https://www.pulumi.com/#software")
          }}

          <script type="application/ld+json">
          {{ $additionalSchema | jsonify | safeJS }}
          </script>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}