{{/* Consolidated Event Schema - Handles workshops, webinars, and exhibitions */}}

{{/* Only process if not external */}}
{{ if not .Params.external }}
  {{/* Get event data from various possible locations */}}
  {{ $eventData := or .Params.event_data .Params.exhibition_data .Params.main }}
  
  {{ if $eventData }}
    {{/* Determine event type */}}
    {{ $eventType := "Event" }}
    {{ if .Params.exhibition_data }}
      {{ $eventType = "ExhibitionEvent" }}
    {{ else if eq $eventData.event_type "workshop" }}
      {{ $eventType = "EducationalEvent" }}
    {{ end }}
    
    {{/* Build base schema */}}
    {{ $schema := dict
      "@context" "https://schema.org"
      "@type" $eventType
      "@id" (printf "%s#event" .Permalink)
      "name" (or $eventData.name $eventData.title .Title)
      "description" (or $eventData.description .Params.meta_desc .Summary)
      "url" .Permalink
      "eventStatus" "https://schema.org/EventScheduled"
      "organizer" (dict "@id" "https://www.pulumi.com/#organization")
      "performer" (dict "@id" "https://www.pulumi.com/#organization")
      "inLanguage" "en-US"
    }}
    
    {{/* Add start date */}}
    {{ with or $eventData.start_date $eventData.sortable_date }}
      {{ $schema = merge $schema (dict "startDate" .) }}
    {{ end }}
    
    {{/* Add end date */}}
    {{ with $eventData.end_date }}
      {{ $schema = merge $schema (dict "endDate" .) }}
    {{ end }}
    
    {{/* Process duration */}}
    {{ with $eventData.duration }}
      {{ $isoDuration := . }}
      {{/* Convert common formats to ISO 8601 */}}
      {{ if eq . "30 minutes" }}{{ $isoDuration = "PT30M" }}
      {{ else if eq . "45 minutes" }}{{ $isoDuration = "PT45M" }}
      {{ else if eq . "60 minutes" }}{{ $isoDuration = "PT60M" }}
      {{ else if eq . "90 minutes" }}{{ $isoDuration = "PT90M" }}
      {{ else if eq . "1 hour" }}{{ $isoDuration = "PT1H" }}
      {{ else if eq . "2 hours" }}{{ $isoDuration = "PT2H" }}
      {{ else if eq . "1 day" }}{{ $isoDuration = "P1D" }}
      {{ else if eq . "2 days" }}{{ $isoDuration = "P2D" }}
      {{ else if eq . "3 days" }}{{ $isoDuration = "P3D" }}
      {{ else if eq . "4 days" }}{{ $isoDuration = "P4D" }}
      {{ end }}
      {{ $schema = merge $schema (dict "duration" $isoDuration) }}
    {{ end }}
    
    {{/* Handle location */}}
    {{ if and .Params.exhibition_data $eventData.location }}
      {{/* Physical exhibition with full address */}}
      {{ $schema = merge $schema (dict
        "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
        "location" (dict
          "@type" "Place"
          "name" $eventData.location.name
          "address" (dict
            "@type" "PostalAddress"
            "streetAddress" $eventData.location.address.street
            "addressLocality" $eventData.location.address.locality
            "addressRegion" $eventData.location.address.region
            "postalCode" $eventData.location.address.postal_code
            "addressCountry" $eventData.location.address.country
          )
        )
      ) }}
      
      {{/* Add booth number if exhibition */}}
      {{ with $eventData.booth }}
        {{ $schema = merge $schema (dict "boothNumber" .) }}
      {{ end }}
      
    {{ else if eq $eventData.location "virtual" }}
      {{/* Virtual event */}}
      {{ $schema = merge $schema (dict
        "eventAttendanceMode" "https://schema.org/OnlineEventAttendanceMode"
        "location" (dict
          "@type" "VirtualLocation"
          "url" (or $eventData.url .Permalink)
        )
      ) }}
      
    {{ else if $eventData.location }}
      {{/* Physical event with simple location (e.g., "Las Vegas, NV") */}}
      {{ $locationParts := split $eventData.location ", " }}
      {{ $schema = merge $schema (dict
        "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
        "location" (dict
          "@type" "Place"
          "name" $eventData.location
          "address" (dict
            "@type" "PostalAddress"
            "addressLocality" (index $locationParts 0)
            "addressRegion" (or (index $locationParts 1) "")
          )
        )
      ) }}
    {{ else }}
      {{/* Default to virtual if no location specified */}}
      {{ $schema = merge $schema (dict
        "eventAttendanceMode" "https://schema.org/OnlineEventAttendanceMode"
        "location" (dict
          "@type" "VirtualLocation"
          "url" .Permalink
        )
      ) }}
    {{ end }}
    
    {{/* Add offers for gated/ticketed events */}}
    {{ if or .Params.gated (eq $eventType "ExhibitionEvent") }}
      {{ $schema = merge $schema (dict "offers" (dict
        "@type" "Offer"
        "price" "0"
        "priceCurrency" "USD"
        "availability" "https://schema.org/InStock"
        "url" .Permalink
        "validFrom" (.Date.Format "2006-01-02")
      )) }}
    {{ end }}
    
    {{/* Add image */}}
    {{ with or .Params.meta_image $eventData.image }}
      {{ $image := . }}
      {{ if not (hasPrefix $image "http") }}
        {{ $image = printf "https://www.pulumi.com%s" $image }}
      {{ end }}
      {{ $schema = merge $schema (dict "image" $image) }}
    {{ end }}
    
    {{/* Add keywords for better discovery */}}
    {{ $keywords := slice }}
    {{ if eq $eventType "EducationalEvent" }}
      {{ $keywords = slice "workshop" "tutorial" "infrastructure as code" "cloud computing" }}
    {{ else if eq $eventType "ExhibitionEvent" }}
      {{ $keywords = slice "conference" "exhibition" "cloud computing" "devops" }}
    {{ else }}
      {{ $keywords = slice "webinar" "online event" "infrastructure as code" }}
    {{ end }}
    {{ with .Params.tags }}
      {{ $keywords = . }}
    {{ end }}
    {{ $schema = merge $schema (dict "keywords" (delimit $keywords ", ")) }}
    
    {{/* Add about property for context */}}
    {{ $schema = merge $schema (dict "about" (dict
      "@type" "Thing"
      "name" "Infrastructure as Code"
    )) }}
    
    <script type="application/ld+json">
    {{ $schema | jsonify | safeJS }}
    </script>
  {{ end }}
{{ end }}