pulumi-banner {
    @apply hidden text-white font-body text-base text-center py-3 px-4 shadow;

    background-image: linear-gradient(77.95deg, #F6BF28 0.06%, #F2707E 48.58%, #BF4E86 95.36%);

    &[visible] {
        @apply block;
    }

    .dismiss {
        top: 1.5rem;
        right: .4rem;

        @screen md {
            top: 50%;
            transform: translateY(-50%);
        }

        span {
            @apply text-2xl inline-block text-blue-100 mr-2;

            &:hover {
                @apply text-white;
                @include transition;
                transform: scale(1.1);
            }
        }
    }

    .content {
        @apply flex flex-col items-center justify-center;

        @screen md {
            @apply flex-row;
        }
    }

    .summary {
        @apply mx-4 font-bold;

        @screen md {
            @apply mr-1;
        }
    }

    .cta {
        @apply cursor-pointer mx-2 w-full rounded-full font-bold bg-blue-500 px-4 py-2 text-sm uppercase mt-4 mb-2 flex items-center justify-center;
        @include transition;
        @include fa-glyph("\f054");

        &:after {
            @apply opacity-75 ml-2 text-xs;
        }

        a {
            @apply font-body;
        }

        @screen md {
            @apply my-0 w-auto;
        }

        &:hover {
            @apply bg-blue-400;
        }
    }
}
