pulumi-convert {

    #editors {
        @apply flex flex-col;

        @screen xl {
            @apply flex-row;

            .CodeMirror {
                ~ .CodeMirror {
                    @apply ml-4;
                }
            }
        }

        .btn-convert {
            @apply hidden btn bg-blue-500 border-blue-500 flex items-center w-full text-sm justify-center mt-8 mb-4 py-3 text-white;

            .icon {
                @apply ml-2;
                @extend .fas;
                @extend .fa-arrow-circle-right;
            }

            &.converting {
                .icon {
                    @extend .fa;
                    @extend .fa-cog;
                    @extend .fa-spin;
                }
            }

            &[disabled] {
                @apply cursor-default bg-blue-800 border-blue-800 text-gray-400;
            }

            @screen xl {
                @apply hidden w-auto text-xs justify-start mt-0 mb-0 py-2;
            }
        }

        .editor {
            @apply mb-8;

            @screen xl {
                @apply p-2 mb-0 w-1/2;
            }

            .editor-heading {
                @apply mb-10 max-w-xl mx-auto;

                h3 {
                    @apply m-0 text-center text-3xl;

                    @screen xl {
                        @apply text-left;
                    }

                    .editor-step {
                        @apply text-lg mx-auto w-12 h-12 my-4 border-2 border-blue-500 rounded-full bg-blue-500 text-white font-body flex items-center justify-center;

                        @screen xl {
                            @apply absolute -mx-12 w-8 h-8 mt-1;
                        }
                    }
                }

                p {
                    a {
                        @apply text-blue-600;

                        &:hover {
                            @apply underline;
                        }
                    }
                }
            }

            .editor-container {
                @apply shadow-lg;
            }

            .window-bar {
                @apply bg-gray-800 rounded-t p-1;

                .window-bar-buttons {
                    @apply flex p-2;

                    .window-bar-button {
                        @apply  rounded-full h-3 w-3 bg-gray-700;

                        &:nth-of-type(2) {
                            @apply mx-2;
                        }
                    }
                }
            }

            .tabs {
                @apply bg-black shadow-md p-0 flex items-center overflow-x-scroll relative;

                pulumi-tooltip {
                    display: none;
                }

                @screen xl {
                    @apply overflow-visible;

                    pulumi-tooltip {
                        display: inherit;
                    }
                }

                .tab {
                    @apply p-4 my-0 flex items-center text-sm cursor-pointer;

                    &:hover {
                        @apply bg-gray-900;
                    }

                    .label {
                        @apply mx-2 font-body text-gray-500 whitespace-nowrap overflow-hidden;
                    }

                    .indicator {
                        @apply ml-1 mr-2 rounded-full h-2 w-2 bg-transparent;

                        @screen xl {
                            @apply block;
                        }
                    }

                    &.active {
                        @apply bg-gray-900;

                        .indicator {
                            @apply bg-yellow-300;
                        }
                    }

                    // Hide fourth (and greater) tabs until we have enough screen width to use them.
                    &:nth-of-type(n + 4) {
                        @apply hidden;

                        @screen xl {
                            @apply flex;
                        }
                    }
                }

                .actions {
                    @apply flex justify-end px-2 absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    .btn-convert {
                        @screen xl {
                            @apply block;
                        }
                    }

                    .btn-download, .btn-copy {
                        @apply ml-2 btn bg-gray-800 border-gray-800 text-xs;

                        &:hover {
                            @apply bg-gray-700 border-gray-700;
                        }
                    }

                    .btn-download {
                        @extend .fas;
                        @extend .fa-download;
                    }

                    .btn-copy {
                        @extend .fas;
                        @extend .fa-copy;
                    }
                }
            }

            .status-bar {
                @apply py-1 px-4 bg-gray-700 rounded-b relative text-white text-xs;

                &.error {
                    @apply text-red-100 bg-red-800;
                }

                .icon {
                    @apply mr-2;
                }

                &.converting {
                    .icon {
                        @apply text-blue-200;
                        @extend .fa;
                        @extend .fa-cog;
                        @extend .fa-spin;
                    }
                }

                &.success {
                    .icon {
                        @apply text-green-300;
                        @extend .fas;
                        @extend .fa-check-circle;
                    }
                }

                .alert {
                    @apply hidden absolute right-0 left-0 z-10 text-sm rounded-t border-2 py-2 px-4 max-h-25 overflow-y-scroll;
                    bottom: 100%;

                    p {
                        @apply p-0 my-2;

                        a {
                            @apply underline;
                        }
                    }
                }

                &.error {
                    .icon {
                        @extend .fas;
                        @extend .fa-times;
                    }

                    .alert-error {
                        @apply block bg-red-100 border-red-800 text-red-800 ;
                    }
                }

                &.warn {
                    .icon {
                        @apply text-yellow-300;
                        @extend .fas;
                        @extend .fa-exclamation-triangle;
                    }

                    .alert-warn {
                        @apply block bg-yellow-100 border-yellow-800 text-yellow-800 ;
                    }
                }
            }

            .CodeMirror {
                @apply px-2 py-4 font-mono text-sm bg-gray-900 w-full relative;
                height: 36rem;

                &-gutters{
                    @apply bg-gray-900;
                }
            }

            &.editor-output {
                .editor-spinner {
                    @apply text-gray-700 absolute z-10 m-6 hidden;
                    @extend .fa;
                    @extend .fa-cog;
                    @extend .fa-spin;
                    @extend .fa-2x;
                }

                &.converting {
                    .editor-spinner {
                        @apply block;
                    }

                    .CodeMirror-scroll {
                        @apply opacity-0;
                    }
                }
            }

            .diagnostics {
                @apply mt-4 p-2 rounded bg-gray-100;

                .details {
                    @apply font-mono py-0 text-xs whitespace-pre overflow-scroll;
                }
            }
        }
    }
}
