pulumi-install {
    @apply inline-block;

    > div {
        @apply flex;
    }

    .command-text {
        @apply bg-black py-4 px-6 rounded-l-md flex-1 min-w-0 px-8 py-4;

        p {
            @apply text-xl m-0 font-mono text-left;

            @screen md {
                @apply text-2xl;
            }

            span {
                @apply text-white;
            }
        }
    }

    .copy-button  {
        button {
            @apply border-2 border-black rounded-r-md text-black h-full;

            &:hover {
                @apply bg-black text-white;
            }

            i {
                @apply text-2xl ml-5 mr-5;
            }
        }

        .tooltip-content {
            @apply w-auto whitespace-nowrap;
        }
    }
}
