pulumi-slot-machine {
    @apply w-full;
    height: 18rem;

    ul {
        @apply flex h-full w-full;
        list-style: none !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;

        li {
            @apply w-1/3 h-full;
            transform: rotate(180deg);

            @screen lg {
                @apply mx-4;
            }

            pulumi-swipeable {
                img {
                    @apply w-full m-12;
                    transform: rotate(180deg);

                    @screen sm {
                        @apply m-12;
                    }

                    @screen md {
                        @apply m-12;
                    }

                    @screen lg {
                        @apply m-12;
                    }
                }
            }
        }
    }
}
