<section id="benefits" class="container mx-auto py-16 px-4">
    <h2>Benefits of Pulumi</h2>

    <div class="md:flex my-8">
        <div>
            <img class="h-12 mb-2" src="/icons/realCode_icon.svg" />
            <h3>Modern Programming Languages</h3>
            <p>
                Pulumi is infrastructure as modern code. This means you get all the benefits of a modern language for provisioning cloud infrastructure: code completion, error
                checking, versioning, IDE support, and general productivity gains &mdash; without the need to manage YAML and DSL syntax.
            </p>
        </div>
        <div class="md:mx-8">
            <img class="h-12 mb-2" src="/icons/reusable-component.svg" />
            <h3>Reusable Components</h3>
            <p>
                As Pulumi is code, you can build up a library of packages to further enhance efficiency. Build repeatable practices through versioned packages such as: standard
                policies, network best practices, architecture blueprints &mdash; and deploy them to your team.
            </p>
        </div>
        <div>
            <img class="h-12 mb-2" src="/icons/immutable_infastrc_icon.svg" />
            <h3>Immutable Infrastructure</h3>
            <p>
                Pulumi provides the computation of necessary cloud resources with a 'Cloud Resource DAG' ensuring successful deployment of cloud infrastructure &mdash; efficiently
                building, updating, and destroying cloud resources as required.
            </p>
        </div>
    </div>
</section>
