<nav class="footer">
    <div class="w-full h-16 lg:h-32">
        <div class="dot-background no-animate"></div>
    </div>

    <div class="container mx-auto">
        <div class="footer-nav-container">
            <div class="hidden md:w-1/12"></div>
            <ul>
                <li><a data-track="footer-get-started" href="{{ relref . "/docs/get-started" }}" class="link">Get Started</a></li>
                <li><a data-track="footer-install" href="{{ relref . "/docs/get-started/install" }}" class="link">Install</a></li>
                <li><a data-track="footer-documentation" href="{{ relref . "/docs/reference" }}" class="link">Documentation</a></li>
                <li><a data-track="footer-apis" href="{{ relref . "/registry" }}" class="link">Registry</a></li>
                <li><a data-track="public-roadmap" href="https://github.com/orgs/pulumi/projects/44" class="link">Public Roadmap</a></li>
            </ul>

            <ul>
                <li><a data-track="footer-aws" href="{{ relref . "/partner/aws" }}" class="link">AWS</a></li>
                <li><a data-track="footer-azure" href="{{ relref . "/partner/azure" }}" class="link">Azure</a></li>
                <li><a data-track="footer-gcp" href="{{ relref . "/partner/gcp" }}" class="link">Google Cloud</a></li>
                <li><a href="{{ relref . "/topics/containers" }}" class="link">Containers</a></li>
                <li><a href="{{ relref . "/topics/serverless" }}" class="link">Serverless</a></li>
                <li><a href="{{ relref . "/topics/kubernetes" }}" class="link">Kubernetes</a></li>
            </ul>

            <ul>
                <li><a data-track="footer-about-us" href="{{ relref . "/about" }}" class="link">About Us</a></li>
                <li><a data-track="footer-contact-us" href="{{ relref . "/contact.md" }}" class="link">Contact Us</a></li>
                <li><a data-track="footer-support" href="https://support.pulumi.com/" class="link">Support</a></li>
                <li><a data-track="footer-careers" href="{{ relref . "/careers" }}" class="link">Careers</a></li>
            </ul>

            <ul>
                <li><a data-track="footer-events" href="{{ relref . "/resources" }}" class="link">Resources</a></li>
                <li><a data-track="footer-events" href="{{ relref . "/case-studies" }}" class="link">Case Studies</a></li>
                <li><a data-track="footer-events" href="{{ relref . "/awards" }}" class="link">Awards &amp; Recognitions</a></li>
                <li><a data-track="footer-brand" href="{{ relref . "/brand" }}" class="link">Brand Resources</a></li>
                <li><a data-track="footer-security" href="{{ relref . "/security" }}" class="link">Security</a></li>
            </ul>
        </div>

        <div class="border my-16"></div>

        <div class="text-center">
            <p class="text-black mb-8">&copy; {{ now.Format "2006" }} Pulumi</p>

            <ul class="flex inline-items text-2xl justify-center">
                <li class="mr-8">
                    <a data-track="footer-twitter" href="https://twitter.com/pulumicorp" target="_blank">
                        <img class="h-6" src="/logos/tech/twitter.svg" alt="Pulumi Twitter" />
                    </a>
                </li>

                <li class="mr-8">
                    <a data-track="footer-slack" href="https://slack.pulumi.com/" target="_blank">
                        <img class="h-6" src="/logos/tech/slack.svg" alt="Pulumi Slack" />
                    </a>
                </li>

                <li class="mr-8">
                    <a data-track="footer-linkedin" href="https://www.linkedin.com/company/pulumi/" target="_blank">
                        <img class="h-6" src="/logos/tech/linkedin.svg" alt="Pulumi LinkedIn" />
                    </a>
                </li>

                <li class="mr-8">
                    <a data-track="footer-youtube" href="https://www.youtube.com/channel/UC2Dhyn4Ev52YSbcpfnfP0Mw" target="_blank">
                        <img class="h-6" src="/logos/tech/youtube.svg" alt="Pulumi YouTube" />
                    </a>
                </li>

                <li>
                    <a data-track="footer-github" href="https://github.com/pulumi/" target="_blank">
                        <img class="h-6" src="/logos/tech/github.svg" alt="Pulumi Github" />
                    </a>
                </li>
            </ul>
        </div>

        <ul class="my-16 flex flex-col text-center md:text-left md:flex-row md:justify-center">
            {{ range .Site.Menus.legal }}
                <li class="mr-2 mb-4 lg:mb-0 lg:mr-8 font-semibold">
                    <a class="link" data-track="footer-legal-{{ .Title | urlize }}" href="{{ .URL }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</nav>
