<section id="community" class="min-w-full my-0 py-16 bg-blue-600">
    <div class="container mx-auto px-4 text-white text-left">
        <h3 class="text-white">Virtual Developer Communities</h3>
        <p class="text-white">Connect with us. Ask questions, find answers, and share your knowledge and grow with us.</p>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-wrap flex-row justify-center pt-8">
            <div class="w-full md:w-1/3 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://archive.pulumi.com/" target="_blank">
                        <img src="/images/kubecon/search.png" class="h-12 mx-auto" />
                        <h5 class="mt-2">Search for an answer</h5>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/3 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://slack.pulumi.com/" target="_blank">
                        <img src="/logos/tech/slack.svg" class="h-12 mx-auto" />
                        <h5 class="mt-2">Ask a question</h5>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/3 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://github.com/pulumiverse" target="_blank">
                        <img src="/images/kubecon/pulumiverse.png" class="h-12 mx-auto" />
                        <h5 class="mt-2">Contribute to Pulumiverse</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap flex-row justify-center">
            <div class="w-1/2 md:w-1/4 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://twitter.com/PulumiCorp" target="_blank" class="flex flex-row justify-center">
                        <img src="/logos/tech/twitter.svg" class="h-8" />
                        <span class="flex items-center"><h6 class="mb-0">&nbsp;Twitter</h6></span>
                    </a>
                </div>
            </div>
            <div class="w-1/2 md:w-1/4 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://www.linkedin.com/company/pulumi/" target="_blank" class="flex flex-row justify-center">
                        <img src="/logos/tech/linkedin.svg" class="h-8" />
                        <span class="flex items-center"><h6 class="mb-0">&nbsp;LinkedIn</h6></span>
                    </a>
                </div>
            </div>
            <div class="w-1/2 md:w-1/4 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://www.youtube.com/@PulumiTV" target="_blank" class="flex flex-row justify-center">
                        <img src="/logos/tech/youtube.svg" class="h-8" />
                        <span class="flex items-center"><h6 class="mb-0">&nbsp;YouTube</h6></span>
                    </a>
                </div>
            </div>
            <div class="w-1/2 md:w-1/4 py-2">
                <div class="h-full bg-white py-4 mx-2 text-center">
                    <a href="https://github.com/pulumi/pulumi/discussions" target="_blank" class="flex flex-row justify-center">
                        <img src="/logos/tech/github.svg" class="h-8" />
                        <span class="flex items-center"><h6 class="mb-0">&nbsp;GitHub</h6></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
