{{ $providerName := .Get 0 }}
{{ $packagePath := printf "/docs/reference/pkg/%s" $providerName }}

{{- /* Not all providers have resource docs, so we check to make sure they do before trying to link to them. */ -}}
{{ if fileExists (printf "%s/_index.md" $packagePath) }}
    <div class="note note-info">
        <p>
            <strong class="mr-1">
                <i class="fas fa-info-circle mr-1"></i>
                Building something with {{ .Get 0 }}?
            </strong>
            You probably want the <a href="{{ relref . $packagePath }}">resource documentation</a>.
        </p>
        <p>
            This page documents the {{ .Get 0 }} API, but it doesn't go into much detail about how to use
            it in a Pulumi program. If you're looking for help using the resources in this
            package, be sure to <a href="{{ relref . $packagePath }}">check out the resource docs</a> for
            examples and usage.
        </p>
    </div>
{{ end }}
