<h2 id="prerequisites">Prerequisites</h2>

<ol>
    <li><a id="cta-aws-eks-prereq-install-pulumi" href="{{ relref . "/docs/get-started/install" }}" track-click>Install Pulumi</a></li>
    <li><a id="cta-aws-eks-prereq-install-nodejs" href="https://nodejs.org/en/download/" track-click>Install Node.js</a></li>
    <li>Install a package manager for Node.js, such as <a id="cta-aws-eks-prereq-install-npm" href="https://www.npmjs.com/get-npm" track-click>npm</a> or <a id="cta-aws-eks-prereq-install-yarn" href="https://yarnpkg.com/en/docs/install" track-click>Yarn</a>.</li>
    <li><a id="cta-aws-eks-prereq-configure-aws" href="{{ relref . "/docs/intro/cloud-providers/aws/setup.md" }}" track-click>Configure AWS credentials</a></li>
    <li><a id="cta-aws-eks-prereq-install-aws-ami" href="https://docs.aws.amazon.com/eks/latest/userguide/install-aws-iam-authenticator.html" track-click>Install AWS IAM Authenticator for Kubernetes</a></li>
</ol>
