<div class="note note-info">
    <div class="icon-and-line">
        <i class="fas fa-info-circle"></i>
        <div class="line"></div>
    </div>
    <div class="content">
        <p>
            If you do not already have an AWS account, you can <a href="https://aws.amazon.com/free/">create a free AWS account</a>. Most resources in our examples fall within the
            AWS Free Tier, but we encourage you to follow the cleanup steps at the end of each section to avoid paying for resources you aren't using.
        </p>
    </div>
</div>
