{{ $version := .Get "version" }}
{{ if not $version }}
    {{ errorf "missing value for param 'version': %s" .Position }}
{{ end }}
{{ $flatVersion := replace $version "." "" }}

{{ $date := .Get "date" }}
{{ if not $date }}
    {{ errorf "missing value for param 'date': %s" .Position }}
{{ end }}
{{ if ne (len (split $date "-")) 3 }}
    {{ errorf "invalid number of components for param 'date': %s" .Position }}
{{ end }}

{{ $exclude := split (.Get "exclude") "," }}
{{ if not (in $exclude "linux") }}{{ .Scratch.Add "platforms" (slice (slice "linux" "Linux")) }}{{ end }}
{{ if not (in $exclude "mac") }}{{ .Scratch.Add "platforms" (slice (slice "darwin" "macOS")) }}{{ end }}
{{ if not (in $exclude "windows") }}{{ .Scratch.Add "platforms" (slice (slice "windows" "Windows")) }}{{ end }}

<tr>
    <td><a href="https://github.com/pulumi/pulumi/blob/master/CHANGELOG.md#{{ $flatVersion }}-{{ $date }}">{{ $version }}</a></td>
    <td>{{ $date }}</td>
    <td>
        <table class="w-full border-collapse">
            <tbody>
                <tr>
                    {{ $platforms := .Scratch.Get "platforms" }}
                    {{ $lastIndex := sub (len $platforms) 1 }}
                    {{ range $i := $platforms }}
                        <td class="w-1/3{{ if ne $i $lastIndex }} border-l-2{{ end }}">
                            <a href="https://get.pulumi.com/releases/sdk/pulumi-v{{ $version }}-{{ index . 0 }}-x64.tar.gz">{{ index . 1 }}</a>
                        </td>
                    {{ end }}
                </tr>
            </tbody>
        </table>
    </td>
</tr>
