<div class="note note-info">
    <div class="icon-and-line">
        <i class="fas fa-info-circle"></i>
        <div class="line"></div>
    </div>
    <div class="content">
        If this is your first time running Pulumi, you will be prompted to log into Pulumi Cloud. This is a free
        but optional service that makes IaC easy by safely and securely managing state for you.
        <a href="{{ relref . "/docs/pulumi-cloud/get-started/what-is-it/" }}">This guide</a> explains what Pulumi
        Cloud is and <a href="{{ relref . "/docs/iac/concepts/state-and-backends" }}">this topic</a> describes
        alternative Pulumi backend options.
    </div>
</div>
