<div class="note note-info">
    <p>
            <i class="fas fa-info-circle pr-2"></i>
            If this is your first time running <code>pulumi new</code> or most other <code>pulumi</code> commands,
            you will be prompted to log in to the <a id="cta-cli-note-app.pulumi.com" href="https://app.pulumi.com" target="_blank" track-click>Pulumi service</a>.
            The <a id="cta-cli-note-cli-reference" href="{{ relref . "/docs/reference/cli" }}" track-click>Pulumi CLI</a> works in tandem with the Pulumi service in
            order to deliver a reliable experience. It is free for individual use, with <a id="cta-cli-note-pricing" href="{{ relref . "/pricing" }}" target="_blank" track-click>
            features available for teams</a>. Hitting <code>ENTER</code> at the prompt opens up a web browser allowing you to either sign in
            or sign up.
    </p>
</div>
