<div class="mdl-tabs cloud-tab-tabs">
    <div class="mdl-tabs__tab-dir cloud-tab-tabstrip">
        <a id="cta-cloudchoose-aws" class="mdl-tabs__tab cloud-tab is-active" track-click>AWS</a>
        <a id="cta-cloudchoose-aws" class="mdl-tabs__tab cloud-tab" track-click>Azure</a>
        <a id="cta-cloudchoose-gcp" class="mdl-tabs__tab cloud-tab" track-click>GCP</a>
    </div>
</div>

{{/*
.mdl-tabs__tab uses floats, so we need to use clearfix to avoid
wrapping/indenting the subsequent element containing the code snippet.
*/}}
<div class="clearfix"></div>
