{{- /* Used to display a language-specific filename based on the chosen language. */ -}}
<pulumi-chooser type="language" options="javascript,typescript,python,go,csharp,fsharp,visualbasic,java,yaml" option-style="none" class="inline">
    <pulumi-choosable type="language" value="javascript"><code>website.js</code></pulumi-choosable>
    <pulumi-choosable type="language" value="typescript"><code>website.ts</code></pulumi-choosable>
    <pulumi-choosable type="language" value="python"><code>website.py</code></pulumi-choosable>
    <pulumi-choosable type="language" value="go"><code>website.go</code></pulumi-choosable>
    <pulumi-choosable type="language" value="csharp"><code>Website.cs</code></pulumi-choosable>
    <pulumi-choosable type="language" value="java"><code>Website.java</code></pulumi-choosable>
</pulumi-chooser>
