<div class="note note-info">
    <div class="icon-and-line">
        {{ partial "icon.html" (dict "name" "info" "weight" "fill") }}
        <div class="line"></div>
    </div>
    <div class="content">
        Use the ESC SDK to retrieve environment values from your application
        workloads at runtime and to manage environments programmatically. If you
        want to consume an environment from within a Pulumi IaC program, use
        <a href="{{ relref . "/docs/esc/guides/integrate-with-pulumi-iac/" }}">config</a>
        instead of the SDK.
    </div>
</div>
