<section id="get-started" class="py-16 px-4">
    <div class="container mx-auto max-w-5xl md:flex my-8 align-top justify-center text-center">
        <div class="md:w3-/12 mr-4">
            <h2>Get Started with Pulumi</h2>
            <p>{{ "Use Pulumi ESC to easily centralize and manage environments, secrets, and configurations. Follow our [Get Started guide](/docs/esc/get-started/) for ESC to begin. If you want to use Vault or any other secrets manager with ESC, follow the below guides to import secrets from existing secrets managers into ESC environments." | markdownify }}</p>
        </div>
    </div>

    <div class="mx-auto max-w-4xl">
        <div class="tiles flex-wrap mt-4">
            <div class="pb-4 md:pr-4 md:w-1/2">
                <a class="tile p-8" href="/docs/pulumi-cloud/esc/providers/aws-secrets/">
                    <img class="h-10 mx-auto" src="/logos/tech/aws.svg" alt="AWS" />
                </a>
            </div>
            <div class="pb-4 md:w-1/2">
                <a class="tile p-8" href="/docs/pulumi-cloud/esc/providers/azure-secrets/">
                    <img class="h-10 mx-auto" src="/logos/tech/azure.svg" alt="Azure" />
                </a>
            </div>
            <div class="pb-4 md:pr-4 md:w-1/2">
                <a class="tile p-8" href="/docs/pulumi-cloud/esc/providers/gcp-secrets/">
                    <img class="h-10 mx-auto" src="/logos/tech/gcp.svg" alt="Google Cloud" />
                </a>
            </div>
            <div class="pb-4 md:w-1/2">
                <a class="tile p-8" href="/docs/pulumi-cloud/esc/providers/vault-secrets/">
                    <img class="h-10 mx-auto" src="/logos/tech/vault-2.png" alt="Vault" />
                </a>
            </div>
        </div>
    </div>
</section>
