<div class="my-4 bg-gray-100 border-t border-b border-gray-300 md:flex justify-between items-center px-4 py-2 max-w-6xl">
    <a data-tracking-id="shortcodes-identities-atlassian" class="block rounded hover:bg-gray-200 transition-all my-2 py-4 text-center px-6" href="https://id.atlassian.com/login"target="_blank">
        <img class="inline-block h-8 w-auto -mb-2" src="/logos/tech/atlassian.svg">
        <p>Atlassian</p>
    </a>
    <a data-tracking-id="shortcodes-identities-github" class="block rounded hover:bg-gray-200 transition-all my-2 text-center md:mx-2 py-4 px-6" href="https://github.com/login" target="_blank">
        <img class="inline-block h-8 w-auto" src="/logos/tech/github.svg" alt="GitHub">
        <p>GitHub</p>
    </a>
    <a data-tracking-id="shortcodes-identities-gitlab" class="block rounded hover:bg-gray-200 transition-all my-2 text-center md:mx-2 py-4 px-6" href="https://gitlab.com/users/sign_in" target="_blank">
        <img class="inline-block h-8 w-auto" src="/logos/tech/gitlab.svg">
        <p>GitLab</p>
    </a>
    <a data-tracking-id="shortcodes-identities-saml" class="block rounded hover:bg-gray-200 transition-all my-2 py-4 text-center px-6" href="{{ relref . "/docs/guides/saml" }}" target="_blank">
        <img class="inline-block h-8 w-auto" src="/logos/tech/saml.svg">
        <p>SAML 2.0</p>
    </a>
</div>
