<div class="mdl-tabs inputkind-tab-tabs">
    <div class="mdl-tabs__tab-dir inputkind-tab-tabstrip">
        <a data-choice="url" data-track="inputkindchoose-url" class="mdl-tabs__tab inputkind-tab">URL</a>
        <a data-choice="code" data-track="inputkindchoose-code" class="mdl-tabs__tab inputkind-tab">Code</a>
        <a data-choice="upload" data-track="inputkindchoose-upload" class="mdl-tabs__tab inputkind-tab">Upload</a>
    </div>
</div>

{{/*
.mdl-tabs__tab uses floats, so we need to use clearfix to avoid
wrapping/indenting the subsequent element containing the code snippet.
*/}}
<div class="clearfix"></div>
