<p class="mt-4">
    Install <strong><a data-tracking-id="shortcodes-install-dotnet-download"
    href="https://dotnet.microsoft.com/download" target="_blank">.NET Core 3.0 SDK or later</a></strong>.
</p>

<div class="note note-info" role="alert">
    <p>
        <i class="fas fa-question-circle pr-2"></i>
        Pulumi will need the <code>dotnet</code> executable in order to build and run your Pulumi .NET
        application. Ensure that the <code>dotnet</code> executable can be found on your path after
        installation.
    </p>
</div>
