<pulumi-chooser type="os" options="macos,linux,windows">
    <pulumi-choosable type="os" value="macos">
        <div class="highlight">
            <pre class="chroma"><code class="language-bash" data-lang="bash" data-track="install-pulumi-macos">$ brew install pulumi/tap/pulumi</code></pre>
        </div>
    </pulumi-choosable>
    <pulumi-choosable type="os" value="linux">
        <div class="highlight">
            <pre class="chroma"><code class="language-bash" data-lang="bash" data-track="install-pulumi-linux">$ curl -fsSL https://get.pulumi.com | sh</code></pre>
        </div>
    </pulumi-choosable>
    <pulumi-choosable type="os" value="windows">
        {{- .Inner -}}
        <div class="highlight">
            <pre class="chroma"><code class="language-bat" data-lang="bat" data-track="install-pulumi-windows"><span class="p">&gt;</span> choco install pulumi</code></pre>
        </div>
    </pulumi-choosable>
</pulumi-chooser>

<div class="note note-info">
    <div class="icon-and-line">
        <i class="fas fa-info-circle"></i>
        <div class="line"></div>
    </div>
    <div class="content">
        Other installation options <a href="/docs/install/" target="_blank" rel="noopener">are available</a>.
    </div>
</div>

<p>
    Test your new installation by running the `pulumi version` command:
</p>
<pulumi-choosable type="os" value="macos">
    <div class="highlight">
        <pre class="chroma"><code class="language-bash" data-lang="bash">$ pulumi version
v{{ readFile "static/latest-version" }}</code></pre>
    </div>
    <p>
        If this doesn't work, you may need to restart your terminal to ensure the directory containing
        the <code>pulumi</code> command is on your <code>PATH</code>.
    </p>
</pulumi-choosable>
<pulumi-choosable type="os" value="linux">
    <div class="highlight">
        <pre class="chroma"><code class="language-bash" data-lang="bash">$ pulumi version
v{{ readFile "static/latest-version" }}</code></pre>
    </div>
    <p>
        If this doesn't work, you may need to restart your terminal to ensure the directory containing
        the <code>pulumi</code> command is on your <code>PATH</code>.
    </p>
</pulumi-choosable>
<pulumi-choosable type="os" value="windows">
    <div class="highlight">
        <pre class="chroma"><code class="language-bat" data-lang="bat"><span class="p">&gt;</span> pulumi version
v{{ readFile "static/latest-version" }}</code></pre>
    </div>
    <p>
        If this doesn't work, you may need to restart your terminal to ensure the directory containing
        the <code>pulumi.exe</code> command is on your <code>PATH</code>.
    </p>
</pulumi-choosable>
