<p class="mt-4">
    Install <strong><a id="cta-install-python" href="https://www.python.org/downloads/" target="_blank" track-click>Python
            version 3.6 or later</a></strong>.
</p>

<div class="note note-info" role="alert">
    <p>
        <i class="fas fa-question-circle pr-2"></i>
        If you're having trouble setting up Python on your machine, see <a id="cta-install-python-guide"
            href="https://realpython.com/installing-python/" track-click>Python
            3 Installation & Setup Guide</a> for detailed installation instructions on
        various operating systems and distributions.
    </p>
</div>
