<div class="mdl-tabs k8s-language-tab-tabs">
    <div class="mdl-tabs__tab-dir k8s-language-tab-tabstrip">
        <a data-tracking-id="shortcodes-k8s-language-typescript" class="mdl-tabs__tab k8s-language-tab is-active">typescript</a>
        {{ if not (eq (.Get 0) "typescript-only") }}
            {{ if not (eq (.Get 0) "noyaml") }}<a data-tracking-id="shortcodes-k8s-language-yaml" class="mdl-tabs__tab k8s-language-tab">yaml</a>{{ end }}
            {{ if not (eq (.Get 0) "nokx") }}<a data-tracking-id="shortcodes-k8s-language-typescript-kx" class="mdl-tabs__tab k8s-language-tab">typescript-kx</a>{{ end }}
        {{ end }}
    </div>
</div>

{{/*
.mdl-tabs__tab uses floats, so we need to use clearfix to avoid
wrapping/indenting the subsequent element containing the code snippet.
*/}}
<div class="clearfix"></div>
