{{/* Specify `nopreview` to hide preview badges. */}}
{{ $nopreview := false }}

{{ $typescript := true }}
{{ $javascript := true }}
{{ $python := true }}
{{ $go := true }}
{{ $csharp := false }}
{{ $fsharp := false }}
{{ $visualbasic := false }}

{{ range .Params }}
    {{ if eq . "nopreview" }}
        {{ $nopreview = true }}
    {{ else if eq . "nogo" }}
        {{ $go = false }}
    {{ else if eq . "nodeonly" }}
        {{ $typescript = true }}
        {{ $javascript = true }}
        {{ $python = false }}
        {{ $go = false }}
        {{ $csharp = false }}
        {{ $fsharp = false }}
        {{ $visualbasic = false }}
    {{ else if eq . "dotnetonly" }}
        {{ $typescript = false }}
        {{ $javascript = false }}
        {{ $python = false }}
        {{ $go = false }}
        {{ $csharp = true }}
        {{ $fsharp = true }}
        {{ $visualbasic = true }}
    {{ else if eq . "csharp" }}
        {{ $csharp = true }}
    {{ else if eq . "fsharp" }}
        {{ $fsharp = true }}
    {{ else if eq . "visualbasic" }}
        {{ $visualbasic = true }}
    {{ end }}
{{ end }}

<div class="mdl-tabs language-tab-tabs">
    <div class="mdl-tabs__tab-dir language-tab-tabstrip">
        {{ if $typescript }}<a id="cta-langchoose-typescript" class="mdl-tabs__tab language-tab is-active" track-click>TypeScript</a>{{ end }}
        {{ if $javascript }}<a id="cta-langchoose-javascript" class="mdl-tabs__tab language-tab" track-click>JavaScript</a>{{ end }}
        {{ if $python }}<a id="cta-langchoose-python" class="mdl-tabs__tab language-tab" track-click>Python</a>{{ end }}
        {{ if $go }}<a id="cta-langchoose-go" class="mdl-tabs__tab language-tab" data-choice="go" track-click>Go{{ if not $nopreview }} <span class="badge badge-preview">PREVIEW</span>{{ end }}</a>{{ end }}
        {{ if $csharp }}<a id="cta-langchoose-csharp" class="mdl-tabs__tab language-tab" data-choice="csharp" track-click>C#{{ if not $nopreview }} <span class="badge badge-preview">PREVIEW</span>{{ end }}</a>{{ end }}
        {{ if $fsharp }}<a id="cta-langchoose-fsharp" class="mdl-tabs__tab language-tab" data-choice="fsharp" track-click>F#{{ if not $nopreview }} <span class="badge badge-preview">PREVIEW</span>{{ end }}</a>{{ end }}
        {{ if $visualbasic }}<a id="cta-langchoose-visualbasic" class="mdl-tabs__tab language-tab" data-choice="visualbasic" track-click>VB{{ if not $nopreview }} <span class="badge badge-preview">PREVIEW</span>{{ end }}</a>{{ end }}
    </div>
</div>

{{/*
.mdl-tabs__tab uses floats, so we need to use clearfix to avoid
wrapping/indenting the subsequent element containing the code snippet.
*/}}
<div class="clearfix"></div>
