{{- /* Used to display a language-specific filename based on the chosen language. */ -}}
<pulumi-chooser type="language" option-style="none" class="inline langfile">
<pulumi-choosable type="language" value="javascript"><code>index.js</code></pulumi-choosable>
<pulumi-choosable type="language" value="typescript"><code>index.ts</code></pulumi-choosable>
<pulumi-choosable type="language" value="python"><code>__main__.py</code></pulumi-choosable>
<pulumi-choosable type="language" value="go"><code>main.go</code></pulumi-choosable>
<pulumi-choosable type="language" value="csharp"><code>MyStack.cs</code></pulumi-choosable>
<pulumi-choosable type="language" value="fsharp"><code>Program.fs</code></pulumi-choosable>
<pulumi-choosable type="language" value="visualbasic"><code>MyStack.vb</code></pulumi-choosable>
</pulumi-chooser>
