{{ $type := default "info" (.Get "type") }}
{{ $size := .Get "size" }}
{{ $icon := "info" }}

{{ if eq $type "tip" }}
    {{ $icon = "lightbulb" }}
{{ end }}

{{ if eq $type "warning" }}
    {{ $icon = "warning" }}
{{ end }}


<div class="note note-{{ $type }}{{ if $size }} note-{{ $size }}{{ end }}">
    <div class="icon-and-line">
        {{ partial "icon.html" (dict "name" $icon "weight" "fill") }}
        <div class="line"></div>
    </div>
    <div class="content">
        {{- .Inner | markdownify -}}
    </div>
</div>
