<span class="highlight"><code class="language-javascript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi/#Input">Input</a></code></span>
<span class="highlight hidden"><code class="language-typescript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi/#Input">Input&lt;T&gt;</a></code></span>
<span class="highlight hidden"><code class="language-python"><a href="/docs/reference/pkg/python/pulumi/#outputs-and-inputs">Input[T]</a></code></span>
<span class="highlight hidden"><code class="language-go">Input</code></span>
<span class="highlight hidden"><code class="language-csharp">Input&lt;T&gt;</code></span>
