<span class="highlight"><code class="language-javascript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi#secret">secret</a></code></span>
<span class="highlight hidden"><code class="language-typescript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi#secret">pulumi.secret</a></code></span>
<span class="highlight hidden"><code class="language-python"><a href="/docs/reference/pkg/python/pulumi/#pulumi.Output.secret">Output.secret</a></code></span>
<span class="highlight hidden"><code class="language-go">NewSecret</code></span>
<span class="highlight hidden"><code class="language-csharp">CreateSecret</code></span>
