<pulumi-chooser option-style="none" class="inline">
    <pulumi-choosable class="highlight" type="language" value="javascript">
        <code class="language-javascript">Output</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="typescript">
        <code class="language-typescript">Output&lt;T&gt;</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="python">
        <code class="language-python">Output[T]</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="go">
        <code class="language-go">Output</code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="csharp">
        <code class="language-csharp">Output&lt;T&gt;</code>
    </pulumi-choosable>
</pulumi-chooser>
