<pulumi-chooser option-style="none" class="inline">
    <pulumi-choosable class="highlight" type="language" value="javascript,typescript">
        <code class="language-javascript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi/#ComponentResource-registerOutputs">registerOutputs</a></code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="python">
        <code class="language-python"><a href="/docs/reference/pkg/python/pulumi/#pulumi.ComponentResource.register_outputs">register_outputs</a></code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="go">
        <code class="language-go"><a href="https://godoc.org/github.com/pulumi/pulumi/sdk/go/pulumi#ComponentResource">RegisterOutputs</a></code>
    </pulumi-choosable>
    <pulumi-choosable class="highlight" type="language" value="csharp">
        <code class="language-csharp">RegisterOutputs</code>
    </pulumi-choosable>
</pulumi-chooser>
