<span class="highlight"><code class="language-javascript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi#Config">Config</a></code></span>
<span class="highlight hidden"><code class="language-typescript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi#Config">Config</a></code></span>
<span class="highlight hidden"><code class="language-python"><a href="/docs/reference/pkg/python/pulumi/#pulumi.Config">Config</a></code></span>
<span class="highlight hidden"><code class="language-go"><a href="https://godoc.org/github.com/pulumi/pulumi/sdk/go/pulumi/config">config</a></code></span>
<span class="highlight hidden"><code class="language-csharp">Config</code></span>
