<span class="highlight"><code class="language-javascript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi/#Output">Output</a></code></span>
<span class="highlight" style="display: none"><code class="language-typescript"><a href="/docs/reference/pkg/nodejs/pulumi/pulumi/#Output">Output&lt;T&gt;</a></code></span>
<span class="highlight" style="display: none"><code class="language-python"><a href="/docs/reference/pkg/python/pulumi/#outputs-and-inputs">Output[T]</a></code></span>
<span class="highlight" style="display: none"><code class="language-go"><a href="https://godoc.org/github.com/pulumi/pulumi/sdk/go/pulumi#Output">Output</a></code></span>
<span class="highlight" style="display: none"><code class="language-csharp">Output&lt;T&gt;</code></span>
