<div class="md:flex flex-wrap mt-4">
    <a class="w-1/2 p-4" href="{{ relref . "/docs/quickstart/aws" }}"><img src="/images/docs/quickstart/aws-purple.png"></a>
    <a class="w-1/2 p-4" href="{{ relref . "/docs/quickstart/kubernetes" }}"><img src="/images/docs/quickstart/k8s-purple.png"></a>
    <a class="w-1/2 p-4" href="{{ relref . "/docs/quickstart/azure" }}"><img src="/images/docs/quickstart/azure-purple.png"></a>
    <a class="w-1/2 p-4" href="{{ relref . "/docs/quickstart/gcp" }}"><img src="/images/docs/quickstart/gcp-purple.png"></a>
    <a class="w-1/2 p-4" href="{{ relref . "/docs/quickstart/cloudfx" }}"><img src="/images/docs/quickstart/cloudfx-purple.png"></a>
    <a class="w-1/2 p-4" href="{{ relref . "/docs/quickstart/openstack" }}"><img src="/images/docs/quickstart/openstack-purple.png"></a>
</div>
