<div id="carousel-cli" class="text-left">
    <div class="bg-gray-400 rounded-t border-r-2 border-gray-500">
        <div class="flex p-2">
            <div class="bg-red-600 rounded-full h-3 w-3"></div>
            <div class="bg-yellow-600 rounded-full h-3 w-3 mx-2"></div>
            <div class="bg-green-600 rounded-full h-3 w-3"></div>
        </div>
    </div>
    <div class="bg-gray-900 rounded-b text-gray-100 font-mono p-4 overflow-x-hidden" style="height: 400px;">
        <span class="text-green-400">&rarr;</span>
        <span class="line typed">
            <span>pulumi up</span>
        </span>
        <div data-delay="1000" class="line full text-purple-200 my-4">Updating (dev):</div>
        <div data-delay="1000" class="line full"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0 text-blue-500">    Type                 Name                Status</pre></div>
        <div data-delay="200" class="line full"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0 text-white"><span class="text-green-400">+</span>   pulumi:pulumi:Stack  aws-typescript-dev  <span class="text-green-400">created</span></pre></div>
        <div data-delay="0" class="line full"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0 text-white"><span class="text-green-400">+</span>   <span class="text-gray-500">└─</span> aws:s3:Bucket     my-bucket           <span class="text-green-400">created</span></pre></div>
        <div data-delay="3000" class="line full text-purple-200 mt-4">Outputs:</div>
        <div data-delay="0" class="line full text-green-400 mb-4"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0 text-green-400">  bucketName: "my-bucket-9dfc488"</pre></div>
        <div data-delay="500" class="line full text-purple-200">Resources:</div>
        <div data-delay="0" class="line full text-green-400 mb-4"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0 text-green-400">  + 2 created</pre></div>
        <div data-delay="200" class="line full text-purple-200">Duration:</div>
        <div data-delay="0" class="line full text-white mb-4"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0">  8s</pre></div>
        <div data-delay="500" class="line full text-purple-200">Permalink:</div>
        <div data-delay="0" class="line full text-blue-500 mb-4"><pre class="overflow-x-hidden bg-transparent border-none p-0 m-0">  <a class="cursor-pointer underline" href="https://app.pulumi.com/signup" target="_blank">https://app.pulumi.com/my-org/aws-typescript/dev/updates/1</a></pre></div>
    </div>
</div>
