
h3.pdoc-module-header {
    @apply pb-1 border-b border-gray-400;
}

// Indent all elements preceded by this header.
h3.pdoc-module-header ~ * {
    @apply ml-4;
}

// ...except equal or larger headers.
h3.pdoc-module-header ~ h3,
h3.pdoc-module-header ~ h2 {
    @apply ml-0;
}

// We want visually recognizable links here.
.highlight {
    a {
        @apply text-blue-600;

        &:hover {
            @apply text-blue-700;
        }
    }
}

h3.api {
    &.resource {
        &:before {
            content: "Resource "
        }
    }
}

ul.api {
    @apply list-none p-0 m-0 overflow-hidden;

    columns: 3 220px;

    li {
        @apply truncate mt-0;

        a {
            @apply btn truncate bg-transparent inline-block p-1;

            max-width: 250px;

            &:hover {
                @apply rounded bg-gray-200;
            }
        }

        .symbol {
            &:before {
                @apply text-white text-xs rounded mr-2 px-1 text-center inline-block;
                width: 19px;
            }

            &.module {
                &:before {
                    content: "M";
                    @apply bg-green-700;
                }
            }

            &.package {
                &:before {
                    content: "P";
                    @apply bg-purple-700;
                }
            }

            &.resource {
                &:before {
                    content: "R";
                    @apply bg-blue-700;
                }
            }

            &.datasource, // TODO: Remove `datasource` when it's no longer referenced anywhere.
            &.function {
                &:before {
                    content: "F";
                    @apply bg-red-700;
                }
            }

            &.api {
                &:before {
                    content: "A";
                    @apply bg-gray-700;
                }
            }
        }
    }
}
