@import "colors";

$tab-group-height: 60px;
$tab-highlight-color: $brand-purple;
$tab-text-color: $black;
$tab-active-text-color: $black;
$tab-border-color: map-get($gray, 100);
$tab-font-size: 14px !default;

.mdl-tabs {
    display: block;
    width: 100%;
}

.mdl-tabs__tab-bar {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-content   : space-between;
    align-items     : flex-start;

    height          : 48px;
    padding         : 0 0 0 0;
    margin          : 0;
    border-bottom   : 1px solid $tab-border-color;
}

.mdl-tabs__tab {
    margin: 0;
    border: none;
    padding: 0 24px 0 24px;

    float: left;
    position: relative;
    display: block;

    text-decoration: none;
    height: 48px;
    line-height: 48px;

    text-align: center;
    font-weight: 500;
    font-size: $tab-font-size;
    text-transform: uppercase;

    color: $tab-text-color;
    overflow: hidden;

    .mdl-tabs.is-upgraded &.is-active {
        color: $tab-active-text-color;
    }

    .mdl-tabs.is-upgraded &.is-active:after {
        height: 2px;
        width: 100%;
        display: block;
        content: " ";
        bottom: 0px;
        left: 0px;
        position: absolute;
        background: $tab-highlight-color;
        animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) alternate forwards;
        transition: all 1s cubic-bezier(0.4, 0.0, 1, 1);
    }

    & .mdl-tabs__ripple-container {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        z-index: 1;
        overflow: hidden;

        & .mdl-ripple {
            background: $tab-highlight-color;
        }
    }
}

.mdl-tabs__panel {
    display: block;

    .mdl-tabs.is-upgraded & {
        display: none;
    }

    .mdl-tabs.is-upgraded &.is-active {
        display: block;
    }
}

@keyframes border-expand {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

.mdl-tabs__tab {
    height: $tab-group-height;
    line-height: $tab-group-height;
}

.mdl-tabs__tab.is-active {
    color: $brand-purple;
    border-bottom: 2px solid $brand-purple;
}

.mdl-tabs__tab.language-tab,
.mdl-tabs__tab.os-tab,
.mdl-tabs__tab.cloud-tab {
    cursor: pointer;
}

.language-tab-tabs {
    // Remove the top margin from code snippets under lang chooser tabs so the tabs sit directly on top.
    ~ .highlight > .chroma {
        margin-top: 0;
    }
}

// Hide adjacent siblings of .language-prologue-* classes from the outset, so they don't all initially
// show as visible before all but the selected language are hidden.
.language-prologue-javascript + *,
.language-prologue-typescript + *,
.language-prologue-python + *,
.language-prologue-go + *,
.language-prologue-csharp + *,
.language-prologue-fsharp + *,
.language-prologue-visualbasic + *,
.os-prologue-linux + *,
.os-prologue-macos + *,
.os-prologue-windows + *,
.k8s-language-prologue-aws + *,
.k8s-language-prologue-azure + *,
.k8s-language-prologue-gcp + *,
.cloud-prologue-aws + *,
.cloud-prologue-azure + *,
.cloud-prologue-gcp + * {
    display: none;
}
