.cloud-engineering-build-card {
    @apply p-6 max-w-md mx-auto bg-white mb-16;

    @screen lg {
        @apply p-16 absolute mx-0 mb-0;
        left: 2rem;
        top: -12rem;
    }
}

.cloud-engineering-use-cases {
    @apply flex flex-wrap justify-center items-center;

    :nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4) {
        @apply border-b-2;
    }

    h5 {
        @apply border-none;
    }

    @screen lg {
        :nth-child(1) {
            @apply border-b-2;
        }

        :nth-child(2) {
            @apply border-l-2 border-b-2 border-r-2;
        }

        :nth-child(3) {
            @apply border-b-2;
        }

        :nth-child(4) {
            @apply border-r-2 border-b-0;
        }
    }
}

.cloud-engineering-summit-speaker-wall {
    .sessionize-loader {
        @apply hidden;
    }

    .sz-speakers--wall {
        @apply flex flex-wrap list-none;

        li {
            @apply w-1/3;

            img {
                @apply rounded-full;
            }
        }
    }
}

#sessionize.sessionize-wrapper .sz-speakers--wall {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}
