@import "pygments";

code {
    @apply bg-gray-100 rounded py-1 px-2 text-sm break-words;
}

h1, h2, h3, h4, h5, h6 {
    code {
        font-size: 0.9em;
    }
}

pre, .code-max-h {
    @apply rounded my-4;
}

pre {
    @apply bg-gray-100 py-4 px-5 pr-8 overflow-x-auto leading-normal;

    .code-mode-dark & {
        @apply bg-gray-900 border-none shadow-md;
    }

    .code-chrome & {
        @apply mt-0 rounded-t-none;
    }

    > code {
        @apply bg-transparent p-0;
    }

    .code-plain & {
        @apply text-gray-800;
    }

    .code-plain.code-mode-dark & {
        @apply text-gray-300;
    }

    code {
        @apply break-normal;
    }

    .code-max-h & {
        @apply border-none my-0;
    }

    // For code samples that contain tabs (e.g., Go), limit them to four spaces, to make
    // better use of horizontal space.
    tab-size: 4;
}

.code-max-h {
    @apply relative;

    > [class*="max-h-"] {
        @apply overflow-y-auto;
    }
}

:not(.no-copy) > .highlight {
    @apply relative;

    .code-max-h & {
        @apply static;
    }
}

.typed {
    .char {
        @apply opacity-0;
    }

    .cursor {
        @extend .blink;

        &:after{
            @apply text-white;
			content: "|";
		}
    }
}

.line[data-delay] {
    @apply opacity-0;
}

.code-tabbed {
    @apply shadow-lg;

    .code-tabbed-tabs {
        @apply bg-black shadow-md p-0 flex items-center overflow-hidden;

        .code-tabbed-tab {
            @apply p-2 my-0 flex items-center text-sm cursor-pointer;

            .code-tabbed-tab-label {
                @apply mx-2 font-body text-gray-500;
            }

            .code-tabbed-tab-indicator {
                @apply ml-1 mr-2 bg-orange-300 rounded-full h-2 w-2 invisible hidden;

                @screen md {
                    @apply block;
                }
            }

            @screen md {
                @apply w-40;
            }

            &:hover {
                .code-tabbed-tab-label {
                    @apply text-gray-400;
                }
            }

            &.active {
                @apply bg-gray-900;

                .code-tabbed-tab-label {
                    @apply text-white;
                }

                .code-tabbed-tab-indicator {
                    @apply visible;
                }
            }

            &:last-of-type {
                @apply w-full;
            }
        }
    }

    .code-tabbed-content {
        height: 440px;
        @apply bg-gray-900 overflow-auto relative p-4 text-sm;

        .code-tabbed-content-item {
            @apply hidden opacity-0 pointer-events-none;

            .highlight {
                @apply absolute;

                top: 16px;
                right: 16px;
                bottom: 16px;
                left: 16px;

                pre {
                    @apply p-0 border-none shadow-none overflow-visible;

                    code {
                        @apply text-sm;
                    }
                }

                .copy-button-container {
                    display: none;
                }
            }

            &.active {
                @apply pointer-events-auto block opacity-100;
            }
        }
    }

    .code-tabbed-status {
        @apply h-3 bg-blue-800 rounded-b;
    }
}
