
// Widget showing a nicely formatted logo grid of our supported CI/CD platforms.
// Widget showing a nicely formatted logo grid of our supported CI/CD platforms.
.supported-cicd-platforms {
    @apply flex flex-row flex-wrap justify-around content-around;

    > a {
        @apply btn whitespace-normal bg-transparent border border-gray-300 p-2 m-2;
        @apply flex flex-col justify-between text-center;

        flex: 0 0 150px;

        &:hover {
            @apply bg-gray-200;
        }

        img {
            max-height: 120px;
            max-width: 120px;
        }

        h4 {
            @apply m-0;
        }
    }
}