@import "mixins";

.copy-button-container {
    @apply absolute top-0 right-0 mt-px mr-px pt-1 pb-0 pt-2 pr-2 rounded bg-gray-100;

    .code-mode-dark & {
        @apply bg-gray-900;
    }

    // Use a slightly narrower tooltip for these.
    pulumi-tooltip {
        .tooltip-content {
            @apply w-auto whitespace-nowrap;
        }
    }
}

.copy-button {
    @include transition;

    @apply text-gray-500;

    &:hover {
        @apply text-gray-600;
    }

    .code-mode-dark & {
        @apply text-gray-600;

        &:hover {
            @apply text-gray-500;
        }
    }
}
