.pulumi-event-list-container {
    .event-list-filter a {
        @apply text-gray-600;

        &:hover {
            @apply text-violet-400;
        }

        &[href="#all"] {
            @apply text-violet-600;
        }
    }

    @each $filter-name in "all" "featured" "upcoming" "videos" "pulumitv" "whitepaper" {
        ##{$filter-name}:target {
            @if $filter-name != "all" {
                ~ .event-list-filter li[data-filter-name="all"] a {
                    @apply text-gray-600;
                }

                ~ h3[data-filter-title="all"] {
                    @apply hidden;
                }
            }

            ~ .event-list-filter li[data-filter-name="#{$filter-name}"] a {
                @apply text-violet-600;
            }

            ~ h3[data-filter-title="#{$filter-name}"] {
                @apply block;
            }

            // When the page is loaded without a hash in the URL (a selected filter) we load
            // all the elements in the list and mark the 'all' filter as active. Because in this
            // case all the elements are visible and are not rendered with a 'hidden' class, we need
            // to apply the 'hidden' class to all the elements in the list. Then we will apply the
            // 'block' class to the elements containing the selected filter.
            ~ ul li {
                @apply hidden;
            }

            ~ ul li[data-filters~="#{$filter-name}"] {
                @apply block;
            }
        }
    }
}

.event-list-item {
    article {
        height: 320px;
    }
}
