.top-nav-bar {
    @apply text-sm;

    @screen lg {
        @apply pt-6 pb-3 px-4;
    }

    .top-nav-container {
        @apply flex flex-col mx-auto;

        @screen lg {
            @apply flex-row;
        }

        ul li {
            white-space: nowrap;
        }

        .top-nav-banner-cta-container {
            @apply w-full text-right;

            @screen lg {
                @apply flex-grow justify-start mt-0 text-left mr-4;
            }

            .top-nav-banner-cta {
                @apply px-3 py-2 text-left;

                @screen lg {
                    @apply rounded inline-block;
                }

                // TODO: update color
                background-color: rgba(77, 91, 217, 0.15);

                .top-nav-banner-cta-text {
                    // TODO: update color
                    color: #4D5BD9;
                }
            }
        }
    }
}

.header-container {
    @apply sticky z-50 bg-white py-6;
    top: -1px;

    @screen lg {
        @apply py-3 mt-0;
    }

    &.is-pinned {
        @apply shadow;
    }

    .logo-container {
        @apply px-4 pb-2;

        @screen lg {
            @apply flex items-center justify-start pl-0;
        }
    }

    .cta-container {
        @apply hidden;

        @screen lg {
            @apply flex items-center justify-end;
        }

        .header-btn-primary {
            @include gradient-button;
            @apply py-3 px-6;

            @screen xl {
                @apply text-lg;
            }
        }
    }

    .desktop-menu {
        @apply hidden;

        @screen lg {
            @apply flex items-center flex-grow justify-evenly mx-8;

            li {
                a {
                    @apply block w-full;
                }
            }

            li:not(.header-dropdown-item) {
                @apply flex items-center ;

                a {
                    @apply block px-4 my-1 transition-all;
                }

                .dropdown-title {
                    @apply pl-4 pr-8;
                }

                &:hover {
                    a, .dropdown-title {
                        @apply opacity-50;
                    }
                }

                &.header-nav-item-drop-down {
                    @apply relative cursor-pointer;

                    .header-nav-drop-down-menu {
                        @apply w-full absolute hidden min-w-max pt-6 top-0;

                        ul {
                            @apply bg-white text-left rounded shadow-xl py-2 whitespace-nowrap;

                            li {
                                @apply my-1;
                            }

                            a {
                                &:hover {
                                    @apply opacity-100;
                                }
                            }
                        }
                    }

                    .dropdown-menu-caret {
                        @apply w-0 h-0 m-1 absolute right-2;
                        content: "";
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid black;
                    }

                    &:hover {
                        .dropdown-menu-caret {
                            transform: rotate(180deg);
                            @apply opacity-50;
                        }

                        .header-nav-drop-down-menu {
                            @apply block;
                        }
                    }
                }
            }
        }
    }

    .mobile-menu-toggle {
        @apply hidden;
    }

    .mobile-menu-toggle:checked + .mobile-menu-icon {
        .mobile-menu-closed {
            @apply hidden;
        }

        .mobile-menu-open {
            @apply block;
        }
    }

    .mobile-menu {
        @apply hidden w-full;

        @screen lg {
            @apply hidden;
        }

        ul {
            @apply m-4;

            li {
                a {
                    @apply block;
                }
            }

            .mobile-menu-item {
                @apply text-xl font-display text-gray-800;

                &:not(:first-of-type) {
                    @apply mt-6;
                }
            }

            .mobile-menu-subitem {
                @apply ml-6 mt-4 text-base;

                a {
                    @apply text-gray-700;
                }
            }
        }
    }

    .mobile-menu-toggle:checked + .mobile-menu-icon + .mobile-menu {
        @apply block;

        @screen lg {
            @apply hidden;
        }
    }

    .mobile-menu-icon {
        @apply absolute right-4;

        @screen lg {
            @apply hidden;
        }

        label {
            @apply cursor-pointer;
        }
    }
}
