#hubspot-messages-iframe-container {
    z-index: 100000000 !important;
}

.hs-form {
    @apply text-sm;

    &.hs-demo-form {
        max-width: 500px;
        @apply mx-auto;
    }

    fieldset {
        @apply block;
        margin: 1rem 0 !important;

        &:not(.form-columns-1) > .field:first-child {
            @apply pr-2;
        }

        label {
            @apply block mb-2 font-normal;
        }

        .hs-input {
            @apply block text-gray-700;
            width: 100% !important;
        }

        .legal-consent-container .hs-form-booleancheckbox-display .hs-input {
            width: auto !important;
            margin-top: 4px;
        }

        .hs-form-required {
            @apply ml-1 text-red-500;
        }

        .hs-richtext p {
            @apply opacity-50 text-xs font-normal my-0;

            a {
                @apply underline;
            }
        }

        input, textarea, select {
            @apply border border-gray-300 rounded p-2 bg-white;
            &:focus {
                @apply outline-none ring;
            }
        }

        select {
            @apply py-1 px-3;
        }
    }

    input[type="submit"] {
        @include gradient-button;
        @apply py-3 px-6;
    }

    .hs-error-msgs {
        @apply list-none mt-2 p-0 text-red-500 text-xs;

        label {
            @apply mb-0;
        }
    }

    .hs_error_rollup {
        @apply hidden;
    }

    &-fg-light {
        @apply text-gray-100;

        a {
            @apply text-gray-100;
        }
    }

    &-fg-dark {
        @apply text-gray-700;
    }

    &.newsletter {
        @apply flex items-start;

        label:not(.hs-error-msg) {
            @apply hidden;
        }

        input {
            @apply block py-3 px-4 rounded-full border;

            @screen md {
                @apply w-56;
            }

            &.hs-button {
                @apply block btn btn-lg btn border-none py-3 px-6 rounded-full w-auto bg-violet-600 ml-2;
            }

            &:focus {
                @apply outline-none;
            }
        }

        &.newsletter-wide input {
            @apply w-full;

            @screen lg {
                width: 24rem;
            }

            &[type="submit"] {
                @apply w-auto;
            }
        }
    }

    .hs-recaptcha {
        @apply mb-5;
    }

    .legal-consent-container ul {
        @apply list-none pl-0;
    }
}
