$fa-font-path: "/fonts/fontawesome";

@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";
@import "fontawesome/fa-regular.scss";
@import "fontawesome/fa-brands.scss";

@each $icon in "team" "abstract-shapes" "accordion-closed" "accordion-open" "alert" "buildings" "clipboard" "clode-with-nodes" "cloud-with-nodes" "cloud" "clouds" "code-window" "code" "collab" "cycle" "download-from-cloud" "exchange" "eye" "gavel" "gear" "global" "guage" "hamburger-closed" "hamburger-open" "lightning" "lock" "monitor" "nodes-and-rays" "nodes" "pen" "program" "puzzle" "security" "shield" "type-cursor" {
    .icon-#{ $icon } {
        @apply rounded-full inline-block p-4 w-20 h-20;

        &-black {
            @apply bg-white;

            svg * {
                stroke: black;
            }
        }

        &-yellow {
            @apply bg-yellow-100;

            svg * {
                stroke: theme("colors.yellow.600");
            }
        }

        &-salmon {
            @apply bg-salmon-100;

            svg * {
                stroke: theme("colors.salmon.600");
            }
        }

        &-fuchsia {
            @apply bg-fuchsia-100;

            svg * {
                stroke: theme("colors.fuchsia.600");
            }
        }

        &-purple {
            @apply bg-purple-100;

            svg * {
                stroke: theme("colors.purple.600");
            }
        }

        &-violet {
            @apply bg-violet-100;

            svg * {
                stroke: theme("colors.violet.600");
            }
        }

        &-blue {
            @apply bg-blue-100;

            svg * {
                stroke: theme("colors.blue.600");
            }
        }
    }
}

@each $icon in  "clouds" "rocketship" {
    .icon-#{ $icon } {
        @apply rounded-full inline-block p-4 w-20 h-20;

        &-black {
            @apply bg-white;

            svg * {
                stroke: black;
                fill: black;
            }
        }

        &-yellow {
            @apply bg-yellow-100;

            svg * {
                stroke: theme("colors.yellow.600");
                fill: theme("colors.yellow.600") !important;
            }
        }

        &-salmon {
            @apply bg-salmon-100;

            svg * {
                stroke: theme("colors.salmon.600");
                fill: theme("colors.salmon.600") !important;
            }
        }

        &-fuchsia {
            @apply bg-fuchsia-100;

            svg * {
                stroke: theme("colors.fuchsia.600");
                fill: theme("colors.fuchsia.600") !important;
            }
        }

        &-purple {
            @apply bg-purple-100;

            svg * {
                stroke: theme("colors.purple.600");
                fill: theme("colors.purple.600");
            }

            svg rect {
                fill: theme("colors.purple.600");
            }
        }

        &-violet {
            @apply bg-violet-100;

            svg * {
                stroke: theme("colors.violet.600");
                fill: theme("colors.violet.600") !important;
            }
        }

        &-blue {
            @apply bg-blue-100;

            svg * {
                stroke: theme("colors.blue.600");
                fill: theme("colors.blue.600") !important;
            }
        }
    }
}

@each $icon in  "code-window" {
    .icon-#{ $icon } {
        @apply rounded-full inline-block p-4 w-20 h-20;

        &-black {
            @apply bg-white;

            svg * {
                stroke: black;
            }

            svg rect {
                fill: black;
            }
        }

        &-yellow {
            @apply bg-yellow-100;

            svg * {
                stroke: theme("colors.yellow.600");
            }

            svg rect {
                fill: theme("colors.yellow.600");
            }
        }

        &-salmon {
            @apply bg-salmon-100;

            svg * {
                stroke: theme("colors.salmon.600");
            }

            svg rect {
                fill: theme("colors.salmon.600");
            }
        }

        &-fuchsia {
            @apply bg-fuchsia-100;

            svg * {
                stroke: theme("colors.fuchsia.600");
            }

            svg rect {
                fill: theme("colors.fuchsia.600");
            }
        }

        &-purple {
            @apply bg-purple-100;

            svg * {
                stroke: theme("colors.purple.600");
            }

            svg rect {
                fill: theme("colors.purple.600");
            }
        }

        &-violet {
            @apply bg-violet-100;

            svg * {
                stroke: theme("colors.violet.600");
            }

            svg rect {
                fill: theme("colors.violet.600");
            }
        }

        &-blue {
            @apply bg-blue-100;

            svg * {
                stroke: theme("colors.blue.600");
            }

            svg rect {
                fill: theme("colors.blue.600");
            }
        }
    }
}
