.section-docs {
    .footer-dots-container {
        @apply hidden;
    }
}

body:not(.section-docs):not(.section-blog):not(.section-learn):not(.section-authors):not(.section-tags):not(.section-legal) {
    @apply overflow-x-hidden;

    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-base;
    }

    h1, h2, h3, h4, h5, h6 {
        // Tailwind v2 makes some changes to line-heights, one of which is that headings
        // now get line-heights of 1. This is generally a good thing, but it makes the
        // headings in our marketing pages lose some intentional vertical spacing. So we
        // override it here to avoid having to sprinkle `leading-*` utilities everywhere.
        @apply leading-snug #{!important};
    }

    p {
        @apply text-gray-700;

        &.text-white {
            // NB: Don't even try changing this to `@apply text-white`, unless you love
            // debugging memory leaks.
            color: $white !important;
        }
    }

    .large-container {
        max-width: 1680px;
    }

    .description a, a.link {
        @apply text-black font-semibold;

        &:hover {
            @apply underline;
        }

        &.btn-primary {
            @apply text-white;
        }
    }

    // Buttons
    a[class^="btn-"], a[class*=" btn-"] {
        @apply text-lg py-3 px-8 rounded-full;

        &:hover {
            @apply no-underline;
        }

        &.disabled {
            @apply cursor-default pointer-events-none;
        }
    }

    .btn-primary, .btn-secondary {
        @apply whitespace-normal;
    }

    .btn-primary {
        @include gradient-button;
    }

    .btn-secondary {
        @apply bg-white text-violet-600 border-2 border-violet-600;
        @include transition;

        &.disabled {
            opacity: 0.3rem;
        }

        &:hover {
            @apply bg-violet-100;
        }

        &:focus {
            @apply bg-violet-200;
        }
    }

    // Make the borders transparent when the button is over a background of the same color.
    .bg-violet-600 .btn-secondary {
        @apply border-transparent;
    }

    @screen md {
        h1 {
            @apply text-7xl;

            &.small-title {
                @apply text-5xl;
            }
        }
        h2 {
            @apply text-5xl;
        }
        h3 {
            @apply text-4xl;
        }
        h4 {
            @apply text-3xl;
        }
        h5 {
            @apply text-2xl;
        }
        h6 {
            @apply text-lg;
        }
    }
}
