.note {
    @apply my-4 rounded border-2 text-sm;

    .note-heading {
        @apply mb-2 font-semibold text-xs;
    }

    .note-heading, .note-body {
        @apply px-3 py-2;
    }

    .note-body {
        a {
            @apply underline;
        }
    }

    p {
        @apply leading-relaxed;

        &:first-child {
            @apply mt-0;
        }

        &:last-child {
            @apply mb-0;
        }
    }

    &.note-info {
        @apply border-blue-600;

        .note-heading {
            @apply bg-blue-600 text-white;
        }
    }

    &.note-warning {
        @apply border-fuchsia-600;

        .note-heading {
            @apply bg-fuchsia-600 text-white;
        }
    }

    &.note-deprecated {
        @apply border-fuchsia-600;

        .note-heading {
            @apply bg-fuchsia-600 text-white;
        }
    }
}
