.note {
    p {
        @apply leading-relaxed;
    }

    span {
           @apply font-bold;
    }

    &.note-info {
        @apply bg-blue-100 text-blue-800 my-4 px-4 rounded border border-blue-200;

        a {
            @apply text-blue-900 underline;
        }

    }

    &.note-warning {
        @apply bg-yellow-200 text-yellow-900 my-4 px-4 rounded border border-l-4 border-yellow-200;


        a {
            @apply text-yellow-900 underline;
        }

        code {
               @apply bg-orange-200;
        }

    }

    &.note-deprecated {
        @apply bg-orange-200 text-orange-600 my-4 px-5 py-4 rounded;

        code {
            @apply bg-orange-300;
        }
    }
}
