nav {

    &.nav-section-sticky {
        @apply bg-black text-base text-white px-4;

        @screen md {
            @apply px-0 sticky top-0;
        }

        ul {
            @apply flex list-none justify-around items-center flex-wrap text-sm py-2 p-0;

            @screen md {
                @apply text-base py-0;
            }

            li {
                > a {
                    @apply block py-2 px-4 text-white text-center;

                    @screen md {
                        @apply py-4;
                    }

                    &:hover {
                        @apply text-gray-300;
                    }
                }
            }
        }
    }
}
