.shape-background {
    @apply w-full h-full absolute top-0 left-0 overflow-visible pointer-events-none hidden;
    z-index: -1;

    @screen lg {
        @apply block;
    }

    div {
        z-index: -1;
    }

    .shape-container {
        @apply relative w-full h-full mx-auto;
        max-width: 1680px;
    }

    &.home-build-section {
        .circle-left, .circle-center, .circle-right {
            @apply rounded-full absolute bg-yellow-600;
        }

        .circle-left {
            @apply w-32 h-32 top-0;
            left: -4rem;

        }

        .circle-center {
            @apply w-32 h-32;
            left: 34%;
            bottom: -4rem;
        }

        .circle-right {
            width: 20.25rem;
            height: 20.25rem;
            right: -1.5rem;
            top: 6.125rem;
        }
    }

    &.home-deploy-section {
        .dot-background-container {
            @apply w-1/3 relative;
            height: 60%;

            .dot-background-overlay {
                @apply w-full h-full absolute top-0 left-0;
                background-color: rgba(255,255,255,0.5);
                z-index: 0;
            }

            .dot-background {
                @apply absolute top-0 left-0;
            }
        }

        .circle-left {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.25rem;
            height: 20.25rem;
            left: -1.5rem;
            bottom: 4rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-salmon-600 top-0;
            width: 10.5rem;
            height: 10.5rem;
            right: -5.25rem;
        }
    }

    &.home-manage-section {
        .dot-background-container {
            @apply w-1/3 h-full relative float-right;

            .dot-background-overlay {
                @apply w-full h-full absolute top-0 left-0;
                background-color: rgba(255,255,255,0.5);
                z-index: 0;
            }

            .dot-background {
                @apply absolute top-0 right-0;
            }
        }

        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 10.5rem;
            height: 10.5rem;
            left: -5.25rem;
            top: 8rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-purple-600;
            width: 20.25rem;
            height: 20.25rem;
            right: -1.5rem;
            bottom: 12rem;
        }
    }

    &.home-benefits-section {
        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 13.25rem;
            height: 13.25rem;
            left: -1rem;
            top: -5rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.625rem;
            height: 20.625rem;
            right: -2.5rem;
            bottom: 30%;
        }
    }

    &.home-video-section {
        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 13.75rem;
            height: 13.75rem;
            left: 2rem;
            bottom: 50%;
        }

        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 16.125rem;
            height: 16.125rem;
            right: 1rem;
            bottom: 10%;
        }
    }

    &.cloud-engineering-small-dots {
        .dot-background-container {
            @apply w-1/4 h-full relative;

            .dot-background-overlay {
                @apply w-full h-full absolute top-0 left-0;
                background-color: rgba(255,255,255,0.5);
                z-index: 0;
            }

            .dot-background {
                @apply absolute left-0 top-0;
            }
        }

        &-build {
            .dot-background-container {
                @apply w-1/4 relative;
                height: calc(100% + 10rem);

                .dot-background-overlay {
                    @apply w-full h-full absolute left-0;
                    background-color: rgba(255,255,255,0.5);
                    top: -10rem;
                    z-index: 0;
                }

                .dot-background {
                    @apply absolute left-0;
                    top: -10rem;
                }
            }
        }
    }

    &.cloud-engineering-build-section {
        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 20.25rem;
            height: 20.25rem;
            left: -10rem;
            top: -21rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-yellow-600;
            width: 8.313rem;
            height: 8.313rem;
            right: 8rem;
            bottom: 25rem;
        }
    }

    &.cloud-engineering-deploy-section {
        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.25rem;
            height: 20.25rem;
            left: 5rem;
            top: -10rem;
        }

        .circle-left {
            @apply rounded-full absolute bg-salmon-600;
            width: 8.313rem;
            height: 8.313rem;
            left: -4rem;
            bottom: 11rem;
        }
    }

    &.cloud-engineering-manage-section {
        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 20.25rem;
            height: 20.25rem;
            left: -10rem;
            bottom: -4rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-purple-600;
            width: 8.313rem;
            height: 8.313rem;
            right: 6rem;
            bottom: 22rem;
        }
    }

    &.cloud-engineering-benefits-section {
        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 13.25rem;
            height: 13.25rem;
            left: 12rem;
            bottom: -5rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.625rem;
            height: 20.625rem;
            right: 8rem;
            top: 4rem;
        }
    }

    &.cloud-engineering-use-cases-section {
        .circle-right {
            @apply rounded-full absolute bg-purple-600;
            width: 13.25rem;
            height: 13.25rem;
            right: -6.125rem;
            bottom: -6.125rem;
        }
    }

    &.cloud-engineering-case-studies-section {
        .circle-left {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.625rem;
            height: 20.625rem;
            top: 0;
            left: -10.3125rem;
        }
    }

    &.product-overview-section {
        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 27.75rem;
            height: 27.75rem;
            right: 0rem;
            bottom: -13rem;
        }
    }

    &.product-graphic-section {
        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 19rem;
            height: 19rem;
            left: -0.875rem;
            bottom: -8.5rem;
        }
    }

    &.product-features-section {
        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 19rem;
            height: 19rem;
            right: -8.5rem;
            bottom: 40%;
        }

        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 12.75rem;
            height: 12.75rem;
            left: -6.375rem;
            bottom: 5%;
        }
    }

    &.product-stats-section {
        .dot-background-container {
            @apply w-full h-full relative;

            .dot-background-overlay {
                @apply w-full h-full absolute bottom-0 left-0;
                background-color: rgba(255,255,255,0.5);
                z-index: 0;
                height: 71%;
            }

            .dot-background {
                @apply absolute bottom-0 left-0;
                height: 71%;
            }
        }
    }

    &.product-get-started-section {
        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 19rem;
            height: 19rem;
            right: -2.313rem;
            top: -2.125rem;
        }

        .circle-center {
            @apply rounded-full absolute bg-yellow-600;
            width: 7.5rem;
            height: 7.5rem;
            left: 48%;
            bottom: 0rem;
        }
    }

    &.solutions-page {
        .dot-background-container {
            @apply w-full relative float-right;
            height: 50%;

            .dot-background-overlay {
                @apply w-full h-full absolute left-0;
                background-color: rgba(255,255,255,0.5);
                z-index: 0;
                top: 80%;
            }

            .dot-background {
                @apply absolute left-0;
                top: 80%;
            }
        }

        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 19rem;
            height: 19rem;
            left: 0rem;
            top: -8.5rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.25rem;
            height: 20.25rem;
            right: 2rem;
            bottom: 50%;
        }
    }

    &.get-started-install-section {
        .circle-right {
            @apply rounded-full absolute bg-yellow-600;
            width: 10rem;
            height: 10rem;
            right: -11rem;
        }
    }

    &.get-started-step-2-section {
        .circle-left {
            @apply rounded-full absolute bg-salmon-600;
            width: 25rem;
            height: 25rem;
            left: -12rem;
            bottom: 15rem;
        }
    }

    &.pricing-small-dots {
        .dot-background-container {
            @apply w-24 h-full relative;

            .dot-background-overlay {
                @apply w-full h-full absolute top-0 left-0 z-0;
                background-color: rgba(255,255,255,0.5);
            }

            .dot-background {
                @apply absolute left-1 top-0;
            }
        }

        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 19rem;
            height: 19rem;
            left: -9.5rem;
            top: -9.5rem;
        }
    }

    &.pricing-compare {
        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 12.5rem;
            height: 12.5rem;
            right: -6.25rem;
            top: 6.25rem;
        }

        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 12.5rem;
            height: 12.5rem;
            left: -6.25rem;
            bottom: 25rem;
        }
    }

    &.cloud-engineering-summit-big-dots {
        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 12.5rem;
            height: 12.5rem;
            right: -6.25rem;
        }

        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 12.5rem;
            height: 12.5rem;
            left: -6.25rem;
            bottom: -10rem;
        }
    }

    &.cloud-engineering-summit-small-dots {
        .dot-background-container {
            @apply w-1/5 relative;
            height: calc(100% - 15rem);

            .dot-background-overlay {
                @apply w-full h-full absolute left-0;
                background-color: rgba(255,255,255,0.5);
                top: 15rem;
                z-index: 0;
            }

            .dot-background {
                @apply absolute left-0;
                top: 15rem;
            }
        }
    }

    &.what-is-dots {
        .dot-background-container {
            @apply w-1/4 h-full relative;

            .dot-background-overlay {
                @apply w-full absolute left-0 top-0;
                background-color: rgba(255,255,255,0.5);
                z-index: 0;
                height: calc(100% - 18rem);
            }

            .dot-background {
                @apply absolute left-0 top-0;
                height: calc(100% - 18rem);
                top: 18rem;
            }
        }

        .circle-top {
            @apply rounded-full absolute bg-yellow-600;
            width: 20.25rem;
            height: 20.25rem;
            top: 0;
            left: -1.5rem;
        }

        .circle-middle {
            @apply rounded-full absolute bg-salmon-600;
            width: 8.313rem;
            height: 8.313rem;
            top: 50%;
            bottom: 50%;
            left: 4.5rem;
        }

        .circle-bottom {
            @apply rounded-full absolute bg-purple-600;
            width: 20.25rem;
            height: 20.25rem;
            bottom: -2rem;
            left: -1.5rem;
        }
    }

    &.automation-scenarios {
        height: 48rem;

        .circle-right {
            @apply rounded-full absolute bg-blue-600;
            width: 19rem;
            height: 19rem;
            right: -8.5rem;
            bottom: 30%;
        }

        .circle-left {
            @apply rounded-full absolute bg-purple-600;
            width: 12.75rem;
            height: 12.75rem;
            left: -6.375rem;
            bottom: 0;
        }
    }

    &.automation-benefits-section {
        .circle-left {
            @apply rounded-full absolute bg-yellow-600;
            width: 13.25rem;
            height: 13.25rem;
            left: 5.5rem;
            top: 1rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-salmon-600;
            width: 20.625rem;
            height: 20.625rem;
            right: 2.5rem;
            bottom: 30%;
        }
    }

    &.automation-video {
        .circle-left {
            @apply rounded-full absolute bg-violet-600;
            width: 5rem;
            height: 5rem;
            left: -2.5rem;
            bottom: -2.5rem;
        }

        .circle-right {
            @apply rounded-full absolute bg-fuchsia-600;
            width: 8rem;
            height: 8rem;
            right: -4rem;
            top: -4rem;
        }
    }
}
