@tailwind base;
@tailwind components;

@import "colors";
@import "mixins";

@import "accordion";
@import "animation";
@import "api-nodejs";
@import "api-python";
@import "badges";
@import "benefits";
@import "breadcrumb";
@import "buttons";
@import "card";
@import "cloud-engineering";
@import "code";
@import "container";
@import "copy-button";
@import "continuous-delivery";
@import "customer-logo";
@import "event-list";
@import "fonts";
@import "footer";
@import "glossary";
@import "header";
@import "hero";
@import "hubspot";
@import "icons";
@import "learn";
@import "lists";
@import "no-select";
@import "on-this-page";
@import "marketing";
@import "notes";
@import "pagination";
@import "pricing";
@import "product";
@import "pulumi-up";
@import "search";
@import "section-nav";
@import "shape-backgrounds";
@import "slot-machine";
@import "tables";
@import "tiles";
@import "toc";
@import "toggle";
@import "tooltip";
@import "404";

@import "components/banner";
@import "components/chooser";
@import "components/choosable";
@import "components/convert";
@import "components/greenhouse-jobs-list";
@import "components/install";
@import "components/examples";
@import "components/audio";
@import "components/swiper";
@import "components/slot-machine";

h1, h2, h3, h4, h5, h6 {
    @apply font-display text-gray-800 mb-2;

    &:not(:first-child) {

        // Don't apply top margin when one's being specified.
        &:not([class*="mt-"]):not([class*="m-"]) {
            @apply mt-8;
        }
    }
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-sm;
}

p {
    @apply mb-4 leading-normal my-4;
}

body {
    @apply font-body text-gray-800;

    figure {
        figcaption {
            clear: left;
            margin: .75em 0;
            text-align: center;
            font-style: italic;
            line-height: 1.5em;
        }
    }
}

.nav-main {
    a {
        @include transition;
    }
}

main {
    @apply text-gray-800;

    p, li, blockquote, table {

        a {
            @apply text-blue-600 break-words;

            &:hover {
                @apply text-blue-700;

                .section-docs &, .section-blog &, .section-authors &, .section-tags & {
                    @apply underline;
                }
            }
        }

        strong {
            @apply font-semibold;
        }
    }

    ul, ol {
        @apply pl-5;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply my-2 leading-normal;
    }

    blockquote {
        @apply border-l-4 rounded border-blue-100 px-4 py-1 text-sm my-4;

        p {
            @apply my-1 leading-relaxed;
        }
    }
}

.link {
    @apply text-blue-700;
}

.tag {
    @apply text-sm lowercase border border-blue-200 rounded py-1 px-2 mr-1;

    &.tag-blog {
        @apply bg-gray-100 text-blue-600;

        &:hover {
            @apply border-blue-300 text-blue-700 no-underline;
        }

        &.active {
            @apply border-blue-600 bg-blue-600 text-white;

            &:hover {
                @apply text-white;
            }
        }
    }
}

.popup-overlay {
    @apply flex w-full h-full fixed inset-0 z-50;
    background-color: rgba(44, 44, 44, 0.6);
}

.transition-all {
    @include transition(all);

    &-200 {
        @include transition($duration: 200ms);
    }
}

.github-widget {
    > span {
        @apply flex;
    }
}

// Custom css for the Calendly iframe we use on the event registration pages.
#calendly-widget {
    min-width: 270px;
    height: 600px;

    @screen md {
        min-width: 320px;
        height: 750px;
    }

    .booking-container {
        background-color: green;
        max-width: initial !important;
    }
}

// This little trick prepends anchor targets with a pseudoelement that the browser picks
// up as the anchor target, allowing us to position the actual target below the fixed
// navbar. Only necessary at medium and up.
@screen md {
    :target {
        &::before {
            content: " ";
            display: block;

            // 106px is the navbar height (90px) plus a 16px offset for some vertical padding.
            height: 106px;
            margin-top: -106px;
        }
    }
}

.sticky-sidebar {
    @screen lg {
        @apply sticky self-start overflow-y-auto;
        max-height: 90vh;
        top: 112px;
    }
}

.resource-deprecated {
    @apply text-yellow-700 py-2 px-4 rounded border border-yellow-600;
}

.aws-reinvent-blog-image {
    img {
        @apply mb-0;

        @screen lg {
            @apply mb-8;
        }
    }
}

.section-docs {
    // Hide the language-specific SDK-docs tables until we've removed them from the provider builds.
    main .container dl.package-details + p + dl.tabular {
        @apply hidden;
    }
    // Hide input and output type notes as well.
    #supporting-types ~ h4 ~ div pulumi-choosable .active blockquote {
        @apply hidden;
    }
}

// New Styles
.rainbow-text {
    background: linear-gradient(90deg, #F7BF2A 0%, #F26E7E 18.23%, #BE5188 38.02%, #8A3391 53.65%, #805AC3 74.48%, #7682F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    text-shadow: none;
}

#architectures {
    @apply text-center;

    h2 {
        @apply pl-2 pr-2 inline;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

@tailwind utilities;
