{{ define "hero" }}
    <header class="header-hero header-hero-glow">
        <div class="header-hero-items container mx-auto">
            <div class="header-hero-item">
                <h1>GitHub Actions with Pulumi</h1>
                <p>
                    Pulumi and GitHub Actions combine to provide the easiest, most
                    capable, and friction-free way to achieve continuous delivery of cloud
                    applications and infrastructure.
                </p>
                <div class="header-hero-actions">
                    <a class="btn btn-lg" href="{{ relref . "/docs/guides/continuous-delivery/github-actions" }}">
                        Get Started
                    </a>
                    <a class="btn btn-lg btn-orange-translucent" href="{{ relref . "/blog/continuous-delivery-to-any-cloud-using-github-actions-and-pulumi" }}">
                        Read the Blog
                    </a>
                </div>
            </div>
            <div class="header-hero-item">
                <iframe class="rounded shadow-md max-w-full"
                    width="560" height="315"
                    src="https://www.youtube.com/embed/59SxB2uY9E0?rel=0&amp;showinfo=0"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <nav class="nav-section-sticky">
        <div class="container mx-auto">
            <ul>
                <li><a href="#continuous-delivery">Continuous Delivery </a></li>
                <li><a href="#gitops">GitOps</a></li>
            </ul>
        </div>
    </nav>

    <section id="continuous-delivery" class="py-16 px-4">
        <div class="container mx-auto max-w-4xl">
            <div class="mx-auto md:flex items-center justify-between max-w-4xl mb-8">
                <div class="md:pr-8">
                    <h2 class="mb-4 text-black">Continuous Delivery</h2>
                    <p class="text-xl leading-loose text-gray-600">
                        In this end-to-end example, see how we use Pulumi and GitHub actions
                        to continuously deploy a Ruby on Rails application, packaged with
                        Docker, to a Kubernetes cluster.
                    </p>
                </div>
                <div class="flex-shrink-0">
                    <a class="inline-block btn btn-lg btn-blue" href="{{ relref . "/docs/guides/continuous-delivery/github-actions" }}">
                        Get Started
                    </a>
                </div>
            </div>

            <div class="mb-12">
                <iframe class="mx-auto rounded shadow-md max-w-full"
                    width="840" height="441"
                    src="https://www.youtube.com/embed/1Et2TkuxqJg?rel=0&amp;showinfo=0"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>

            <div class="md:flex md:max-w-4xl text-sm">
                <div class="md:w-1/2">
                    <h5 class="md:mt-0">Build Apps</h5>
                    <p>
                        Pulumi uses an existing Dockerfile to build and package the Ruby on
                        Rails app.
                    </p>
                </div>
                <div class="md:w-1/2 md:mx-8">
                    <h5 class="md:mt-0">Deploy Infrastructure</h5>
                    <p>
                        Pulumi provisions a Kubernetes cluster and a hosted PostgreSQL
                        database.
                    </p>
                </div>
                <div class="md:w-1/2">
                    <h5 class="md:mt-0">Deploy on Commit</h5>
                    <p>
                        On a commit, Pulumi can provide a preview, and then automatically
                        deploy the complete environment.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="gitops" class="bg-gray-200 py-16 px-4">
        <div class="container mx-auto max-w-4xl">
            <div class="mx-auto md:flex items-center justify-between mb-8">
                <div class="md:pr-8">
                    <h2 class="mb-4 text-black">GitOps with Pulumi</h2>
                    <p class="text-xl leading-loose text-gray-600">
                        Commit a code change, and see how Pulumi and GitHub Actions can
                        then deploy your apps and infrastructure to any cloud or
                        cloud-native environment.
                    </p>
                </div>
                <div class="flex-shrink-0">
                    <a class="inline-block btn btn-lg btn-blue" href="{{ relref . "/docs/guides/continuous-delivery/github-actions" }}">
                        Get Started
                    </a>
                </div>
            </div>

            <div class="mb-12">
                <iframe class="mx-auto rounded shadow-md max-w-full"
                    width="840" height="441"
                    src="https://www.youtube.com/embed/MKbDVDBuKUA?rel=0&amp;showinfo=0"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>

            <div class="md:flex md:max-w-4xl text-sm">
                <div class="md:w-1/2">
                    <h5 class="md:mt-0">Commit Code</h5>
                    <p>
                        Pulumi code sits alongside application code and so a change to
                        either can trigger a deployment of the full stack.
                    </p>
                </div>
                <div class="md:w-1/2 md:mx-8">
                    <h5 class="md:mt-0">Preview Changes</h5>
                    <p>
                        Pulumi provides a preview of changes that will be made as part of
                        a Pull Request.
                    </p>
                </div>
                <div class="md:w-1/2">
                    <h5 class="md:mt-0">Merge Pull Request</h5>
                    <p>
                        Once a merge is performed, GitHub Actions and Pulumi will deploy
                        the full application and infrastructure stack.
                    </p>
                </div>
            </div>
        </div>
    </section>

{{ end }}
