permissions: write-all # Equivalent to default permissions + id-token: write
name: Add issues to project
on:
  issues:
    types:
      - opened
      - reopened
jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Add to Docs
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/pulumi/projects/79
          github-token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_GHA_MARKETING }}
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-docs
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
