permissions: write-all # Equivalent to default permissions + id-token: write
jobs:
  automerge:
    if: (github.event.pull_request.user.login == 'pulumi-bot') && (github.event.pull_request.head.repo.full_name == github.repository)
    name: Automerge Workflow
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - if: env.GITHUB_TOKEN != null
        env:
          GITHUB_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
          LOG: "TRACE"
          MERGE_COMMIT_MESSAGE: pull-request-title
          MERGE_FORKS: "false"
          MERGE_LABELS: automation/merge
          MERGE_METHOD: squash
          MERGE_REMOVE_LABELS: automation/merge
          MERGE_RETRIES: "50"
          MERGE_RETRY_SLEEP: "60000"
          MERGE_FILTER_AUTHOR: "pulumi-bot"
          UPDATE_LABELS: automation/update
          UPDATE_METHOD: rebase
        name: Automerge
        uses: pascalgn/automerge-action@v0.16.4
  notify:
    if: failure()
    name: Send slack notification
    runs-on: ubuntu-latest
    needs: [automerge]
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Slack Notification
        uses: docker://sholung/action-slack-notify:v2.3.0
        env:
          SLACK_CHANNEL: docs-ops
          SLACK_COLOR: "#F54242"
          SLACK_MESSAGE: "automerge failure in pulumi/docs repo :meow_sad:"
          SLACK_USERNAME: docsbot
          SLACK_WEBHOOK: ${{ steps.esc-secrets.outputs.SLACK_WEBHOOK_URL }}
          SLACK_ICON: https://www.pulumi.com/logos/brand/avatar-on-white.png
name: Automerge workflow
"on":
  check_suite:
    types:
      - completed
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  status: {}
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-docs
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
