name: Build and deploy
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  buildSite:
    env:
      GOPATH: ${{ github.workspace }}
    name: Install deps and build site
    runs-on: ubuntu-latest
    steps:

      # Turnstyle is used to prevent multiple push jobs from running at the same time. We
      # limit it to push jobs to allow PR jobs to run concurrently.
      - name: Turnstyle
        if: ${{ github.event_name == 'push' }}
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.55.4'
          extended: true

      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x

      - name: Install assume-role
        run: go get -u github.com/remind101/assume-role

      - name: Add GOBIN to PATH
        run: echo "::add-path::$(go env GOPATH)/bin"

      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1

      - name: Build and deploy
        run: make ci_${GITHUB_EVENT_NAME}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CI_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_AWS_SECRET_ACCESS_KEY }}
          # AWS_SESSION_TOKEN is optional.
          AWS_SESSION_TOKEN: ${{ secrets.CI_AWS_SESSION_TOKEN }}
          CI_ASSUME_ROLE_ARN: ${{ secrets.CI_ASSUME_ROLE_ARN }}
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          PULUMI_STACK_NAME: ${{ secrets.PULUMI_STACK_NAME }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: browser-test-results
          path: cypress/videos

      - name: Archive bucket metadata
        uses: actions/upload-artifact@v2
        with:
          name: origin-bucket-metadata
          path: origin-bucket-metadata.json

      - name: Archive Sentry release
        if: ${{ github.repository == 'pulumi/docs' }}
        uses: actions/upload-artifact@v2
        with:
          name: sentry-release
          path: sentry-release
