name: "Scheduled jobs: Check links"
on:
  schedule:
    # * is a special character in YAML so you have to quote this string.
    # Run every day at 3:00PM UTC.
    - cron:  '0 15 * * *'
  workflow_dispatch:
jobs:
  all:
    env:
      GOPATH: ${{ github.workspace }}/go
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - name: "force failure"
        run: exit 1
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.96.0'
          extended: true
      - name: Run make check_links
        run: make check_links
        env:
            SLACK_ACCESS_TOKEN: ${{ secrets.SLACK_ACCESS_TOKEN }}
  notify:
    if: failure()
    name: Send slack notification
    runs-on: ubuntu-latest
    needs: [all]
    steps:
      - name: Slack Notification
        uses: sean1588/action-slack-notify@master
        env:
          SLACK_CHANNEL: sean-ops-test
          SLACK_COLOR: "#F54242"
          SLACK_MESSAGE: "link checker failure in pulumi/docs repo :meow_sad:"
          SLACK_USERNAME: docsbot
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_ICON: https://www.pulumi.com/logos/brand/avatar-on-white.png
