name: Scheduled jobs
on:
  schedule:
    # * is a special character in YAML so you have to quote this string.
    # Run every day at 12:00AM UTC.
    - cron:  '0 0 * * *'
jobs:
  buildSite:
    env:
      GOPATH: ${{ github.workspace }}
    name: Install deps and build site
    runs-on: ubuntu-latest
    steps:
      # Turnstyle is used to prevent multiple push jobs from
      # running at the same time.
      - name: Turnstyle
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Check links
        run: make ci_schedule
        env:
            SLACK_ACCESS_TOKEN: ${{ secrets.SLACK_ACCESS_TOKEN }}
