permissions: write-all # Equivalent to default permissions + id-token: write
name: "Scheduled jobs: Check search URLs"
on:
  # Schedule disabled due to rate limiting issues - see https://github.com/pulumi/docs/issues/17245
  # schedule:
  #   # * is a special character in YAML so you have to quote this string.
  #   # Run every day at 3:00PM UTC.
  #   - cron: '0 15 * * *'
  workflow_dispatch: null
jobs:
  all:
    env:
      GOPATH: ${{ github.workspace }}/go
    name: Check search URLs
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - uses: actions/checkout@v6

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.154.5'
          extended: true

      - uses: algolia/setup-algolia-cli@master

      - name: Run make check_search_urls
        run: make check_search_urls
        env:
            SLACK_ACCESS_TOKEN: ${{ steps.esc-secrets.outputs.SLACK_ACCESS_TOKEN }}
            ALGOLIA_APP_ID: ${{ vars.ALGOLIA_APP_ID }}
            ALGOLIA_APP_SEARCH_KEY: ${{ vars.ALGOLIA_APP_SEARCH_KEY }}
            ALGOLIA_APP_ADMIN_KEY: ${{  steps.esc-secrets.outputs.ALGOLIA_APP_ADMIN_KEY }}
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-docs
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
