permissions:
  id-token: write
name: "Scheduled jobs: Check links"
on:
  schedule:
    # * is a special character in YAML so you have to quote this string.
    # Run every day at 3:00PM UTC.
    - cron: '0 15 * * *'
  workflow_dispatch: null
jobs:
  all:
    env:
      GOPATH: ${{ github.workspace }}/go
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'
      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.135.0'
          extended: true
      - name: Run make check_links
        run: make check_links
        env:
            SLACK_ACCESS_TOKEN: ${{ steps.esc-secrets.outputs.SLACK_ACCESS_TOKEN }}
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: imports/github-secrets
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
