name: Close PR
on:
  pull_request:
    types:
      - closed
jobs:
  do_cleanup:
    name: Do cleanup
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - uses: actions/setup-go@v2
        with:
          go-version: 1.13.x

      - name: Install assume-role
        run: go get -u github.com/remind101/assume-role

      - name: Remove unused resources
        run: make ci_pull_request_closed
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CI_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_AWS_SECRET_ACCESS_KEY }}
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
