name: Close PR

on:
  pull_request:
    types:
      - closed

jobs:
  clean_up:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Clean up
      run: make ci_pull_request_closed
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.CI_AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_AWS_SECRET_ACCESS_KEY }}
        PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
