name: Close PR
on:
  pull_request:
    types:
      - closed
permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
jobs:
  do_cleanup:
    # Only run this job for events that originate on this repository.
    if: github.event.pull_request.head.repo.full_name == github.repository
    name: Do cleanup
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/go
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - uses: actions/setup-go@v2
        with:
          go-version: 1.20.x

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::571684982431:role/ContinuousDelivery
          role-session-name: docs-cleanup
          role-duration-seconds: 7200
          aws-region: us-west-2

      - name: Remove unused resources
        run: make ci_pull_request_closed
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
