name: Close PR
on:
  pull_request:
    types:
      - closed
jobs:
  do_cleanup:
    name: Do cleanup
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/go
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - uses: actions/setup-go@v2
        with:
          go-version: 1.19.x

      - name: Configure Git
        run: |
          git config --global url."https://${{ secrets.PULUMI_BOT_TOKEN }}:x-oauth-basic@github.com/pulumi/pulumi-hugo-internal".insteadOf "https://github.com/pulumi/pulumi-hugo-internal"

      - name: Install assume-role
        run: go install github.com/remind101/assume-role@latest

      - name: Remove unused resources
        run: make ci_pull_request_closed
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CI_AWS_ACCESS_KEY_ID_NEW }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_AWS_SECRET_ACCESS_KEY_NEW }}
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
