permissions: write-all # Equivalent to default permissions + id-token: write
name: "Scheduled Jobs: Upgrade Examples"
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch: {}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AWS_REGION: "us-west-2"
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: imports/github-secrets
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: PULUMI_ACCESS_TOKEN=PULUMI_ACCESS_TOKEN

jobs:
  upgrade:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform:
          - ubuntu-latest
        go-version:
          - 1.21.x
        node-version:
          - 18.x
        python-version:
          - 3.8
        dotnet-version:
          - 6.0.x
        java-version:
          - 11

    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@v1
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Install DotNet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.135.0"
          extended: true

      - name: Install Pulumi
        uses: pulumi/actions@v4

      - name: Check out the code
        uses: actions/checkout@v3
        with:
          token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-region: ${{ env.AWS_REGION }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-duration-seconds: 14400 # 4 hours
          role-session-name: pulumi-docs-examples@githubActions
          role-to-assume: ${{ steps.esc-secrets.outputs.AWS_CI_ROLE_ARN }}

      - name: Upgrade and test example programs
        run: make upgrade-programs test-programs

      - name: Create a pull request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: examples/upgrade
          author: Pulumi Bot <bot@pulumi.com>
          committer: Pulumi Bot <bot@pulumi.com>
          title: Upgrade Go module dependencies in example programs
          # labels: "automation/merge"
          commit-message: Upgrade Go module dependencies in example programs
          token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
          body: |
            Upgrades Go module dependencies in example programs to their latest versions.
