name: Update pulumi-hugo
on:
  schedule:
    - cron:  '*/60 * * * *'
jobs:
  merge:
    name: Update Hugo theme
    runs-on: ubuntu-18.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.81.0'
          extended: true

      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PULUMI_BOT_TOKEN }}

      - name: Configure Git
        run: |
          git config --global url."https://${{ secrets.PULUMI_BOT_TOKEN }}:x-oauth-basic@github.com/pulumi/pulumi-hugo".insteadOf "https://github.com/pulumi/pulumi-hugo"

      - name: Update the pulumi-hugo module
        run: hugo mod get -u

      - name: Create a pull request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: pulumi-hugo/refresh
          author: Pulumi Bot <bot@pulumi.com>
          committer: Pulumi Bot <bot@pulumi.com>
          title: Update pulumi-hugo
          commit-message: Update the module reference for pulumi/pulumi-hugo
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
          body: |
            Updates the Hugo module reference to bring the latest from https://github.com/pulumi/pulumi-hugo.
