name: "Scheduled jobs: Update Hugo modules"
on:
  schedule:
    - cron:  '*/60 * * * *'
jobs:
  merge:
    name: Update Hugo theme
    runs-on: ubuntu-18.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.92.0'
          extended: true

      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PULUMI_BOT_TOKEN }}

      - name: Configure Git
        run: |
          git config --global url."https://${{ secrets.PULUMI_BOT_TOKEN }}:x-oauth-basic@github.com/pulumi/pulumi-hugo-internal".insteadOf "https://github.com/pulumi/pulumi-hugo-internal"

      - name: Update Hugo modules
        run: |
          hugo mod get github.com/pulumi/pulumi-hugo/themes/default
          hugo mod get github.com/pulumi/theme@release
          hugo mod get github.com/pulumi/registry/themes/default

      - name: Identify relevant commits
        run: |
            make ensure
            echo 'NEW_COMMITS<<EOF' >> $GITHUB_ENV
            node scripts/get-module-diff-details.js >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV

      - name: Create a pull request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: pulumi-hugo/refresh
          author: Pulumi Bot <bot@pulumi.com>
          committer: Pulumi Bot <bot@pulumi.com>
          title: Update Hugo modules
          labels: "automation/tfgen-provider-docs"
          commit-message: Update Hugo module references
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
          body: |
            Brings in the latest content from Hugo module repos, including:

            ${{ env.NEW_COMMITS }}
